3-→-categorize-emails-→-summarize-[oakwoodrg]-AN6FeaEMWiRhD8dL.json
{"createdAt":"2025-03-25T12:20:33.647Z","updatedAt":"2025-04-01T10:07:05.005Z","id":"AN6FeaEMWiRhD8dL","name":"Email Assistant Chatbot 1/3 → categorize emails → summarize [oakwoodrg]","active":true,"isArchived":false,"nodes":[{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"You are my helpful, intelligent administrative assistant.","role":"system"},{"content":"=Your task is to categorize incoming emails into the following labels:\n\n1. Investor Relations\nThis includes:\n- Questions from current investors\n- Potential investor inquiries\n- Investor updates & reporting\n\n2. Property Management\nThis includes:\n- Maintenance requests\n- Tenant complaints or issues\n- Inspection reports\n- Utility and services communication\n\n3. Tenant Communication\nThis includes:\n- Lease inquiries\n- Rent payment confirmations/issues\n- Move-in/move-out notices\n- Renewal requests\n\n4. Deal Flow\nThis includes:\n- New property listings/opportunities\n- Broker emails\n- Market intelligence\n- Underwriting documents\n\n5. Legal\nThis includes:\n- Contract reviews\n- Legal disputes or notices\n- HOA or city regulation updates\n\n6. finance and accounting\nThis includes:\n- Bank statements\n- Tax documents\n- Bookkeeping updates\n- Payment confirmations\n\n7. Internal Communication\nThis includes:\n- Updates from employees or contractors\n- Meeting notes\n- HR-related topics\n\n8. marketing and pr\nThis includes:\n- Press/media inquiries\n- Branding or website updates\n- Partnership proposals\n\n9. Vendors and Contractors\nThis includes:\n- Bids & quotes\n- Project updates\n- Invoices & payment follow-ups\n\n10. cold email\nThis includes:\n- Spam\n- Cold sales emails\n\n11. miscellaneous\n- emails you are unsure off which category they would fit\n\nReturn your answer in JSON as follows:\n\n{\"category\":\"category goes here\"}\n\nUse precise category names.\n\nRules:\n- I’m Jack, the CEO & Founder of Oakwood Capital, a real estate investment firm. I get a lot of emails—some important, many not. I need this assistant to triage my inbox, so I only see what truly matters. I want clear categories that help me focus and delegate.\n- If the email is from a current or potential investor and discusses topics like fund performance, capital calls, project updates, ROI, or requests for investor reports—categorize it as Investor Relations.\n- If the email is about issues related to building operations—such as maintenance requests, property inspections, tenant complaints, or communication from utility companies—categorize it as Property Management.\n- If the email comes from a tenant or prospective tenant and it discusses lease terms, rent payments, move-in or move-out processes, or lease renewals—categorize it as Tenant Communication.\n- If the email is sharing a real estate investment opportunity, a brokered property listing, underwriting documents, or market insights related to potential acquisitions—categorize it as Deal Flow & Acquisitions.\n- If the email contains legal documents, contract discussions, updates on lawsuits or disputes, HOA communications, or changes in city or government regulations—categorize it as Legal & Compliance.\n- If the email includes financial information such as bank statements, tax filings, bookkeeping updates, invoices, or payment confirmations—categorize it as Finance & Accounting.\n- If the email is from an internal team member or contractor and contains project updates, HR communications, meeting notes, or coordination on internal operations—categorize it as Internal / Team Communication.\n- If the email is about branding, website updates, media coverage, public relations opportunities, podcast invites, or anything marketing-related—categorize it as Marketing & PR.\n- If the email is from a third-party service provider or contractor and includes bids, quotes, work updates, or invoice/payment discussions—categorize it as Vendors & Contractors.\n- If the email is an unsolicited message from someone trying to sell a product or service, appears to be spam, or doesn’t clearly fit into any of the above categories—categorize it as Cold Outreach & Miscellaneous."},{"content":"Subject: Q2 Distribution Timeline\n\nHi Jack,\n\nI hope you're doing well. I just wanted to check when the Q2 investor distributions will be processed. Also, will the updated property portfolio be included in this quarter's report?\n\nBest regards,\nEmily – Peak Partners Capital"},{"content":"{\"category\":\"Investor Relations\"}","role":"assistant"},{"content":"Subject: AC Unit Down – Urgent Repair Needed\n\nHi,\nThe AC unit in the lobby of the Parkview building has stopped working. Tenants have been complaining all morning. Can we get a technician out today?\n\nRegards,\nDerek – Building Supervisor"},{"content":"{\"category\":\"Property Management\"}","role":"assistant"},{"content":"Subject: Question About Rent Payment\n\nHello,\nI submitted my rent payment through the portal on the 1st, but it still shows as pending. Can someone confirm it was received?\n\nThank you,\nLisa M. – Tenant at Riverside Lofts"},{"content":"{\"category\":\"Tenant Communication\"}","role":"assistant"},{"content":"Subject: New Off-Market Multifamily Deal – Chicago\n\nJack,\nI’ve got a 36-unit building on the west side of Chicago that just came across my desk. It’s off-market, 7.1% cap, and fully occupied. Want me to send over the OM and financials?\n\nBest,\nRyan – Slate Brokerage"},{"content":"{\"category\":\"Deal Flow\"}","role":"assistant"},{"content":"Subject: New City Regulation on Fire Safety Systems\n\nHi Jack,\nThe city just passed a new ordinance requiring updated fire suppression systems in all multi-unit buildings over 20 units. You’ll need to ensure compliance by November 15th. Let me know if you want help coordinating legal review.\n\nSincerely,\nAmanda – Legal Counsel"},{"content":"{\"category\":\"Legal\"}","role":"assistant"},{"content":"Subject: Wire Transfer Confirmation – Closing Funds\n\nHi,\nThe $250,000 wire transfer for the closing of the Oak Ridge property has been completed. Attached is the confirmation from the bank. Let me know if anything else is needed.\n\nThanks,\nNatalie – CFO"},{"content":"{\"category\":\"finance and accounting\"}","role":"assistant"},{"content":"Subject: Weekly Project Recap – Eastside Renovation\n\nJack,\nHere’s a quick recap of this week’s progress at Eastside: plumbing rough-in is complete, drywall goes up Monday. We’re still tracking for a mid-April completion. I’ll update the Gantt chart accordingly.\n\nMark\n"},{"content":"{\"category\":\"Internal Communication\"}","role":"assistant"},{"content":"Subject: Press Feature Opportunity – Urban Real Estate Weekly\n\nHi Jack,\nI’m writing from Urban Real Estate Weekly—we’re running a piece on developers who are transforming downtown districts, and Oakwood Capital came up multiple times. Would you be open to a quick interview this week?\n\nCheers,\nTara L. – Features Editor"},{"content":"{\"category\":\"marketing and pr\"}","role":"assistant"},{"content":"Subject: Updated Bid for Landscaping – Willow Park\n\nJack,\nPlease find attached our revised bid for monthly landscaping services at Willow Park. The updated scope includes seasonal flower beds and weekly lawn care. Let me know if you'd like to proceed.\n\nBest,\nKevin – GreenScape Contractors"},{"content":"{\"category\":\"Vendors and Contractors\"}","role":"assistant"},{"content":"Subject: We Help Real Estate Firms Save 40% on Ops Costs\n\nHey Jack,\nI noticed Oakwood Capital is growing fast. At RE OpsPro, we help firms like yours outsource admin and back-office tasks so you can focus on deals. Would you be open to a quick chat this week?\n\nCheers,\nAlex – RE OpsPro"},{"content":"{\"category\":\"cold email\"}","role":"assistant"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[20,-460],"id":"5a97c609-5a77-4281-9e71-40984b100dbf","name":"Categorize Email","credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-420,-460],"id":"569af9fc-6d8e-48c6-a631-ed93a61ffe22","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"iX8qfUXdQMjweLGs","name":"ONECLICK Gmail account"}}},{"parameters":{"operationMode":"nodeInputBinary","options":{"binaryDataKey":"={{ $('Gmail Trigger').item.json.snippet }}","summarizationMethodAndPrompts":{"values":{"combineMapPrompt":"=Write a concise summary of the following in max 100 words:\n\n\"{{ $('Gmail Trigger').item.json.snippet }}\"\n\nDo not enter the total number of words used.","prompt":"=Write a concise summary of the following in max 100 words:\n\n\"{{ $('Gmail Trigger').item.json.snippet }}\"\n\nDo not enter the total number of words used."}}}},"id":"a095ba47-5007-4afb-b2d4-7fb427e41dd5","name":"Email Summarization Chain","type":"@n8n/n8n-nodes-langchain.chainSummarization","position":[772,-460],"typeVersion":2},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-200,-460],"id":"ee4210fe-ec27-41d8-9b38-909389736c88","name":"Loop Over Items"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[860,-240],"id":"84838e06-4ac2-4c9b-a88e-77493d9b18a3","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"operation":"toText","sourceProperty":"response.text","options":{"fileName":"={{ $('Source name').item.json.message.content['sender name'] }} - {{ $('Categorize Email').item.json.message.content.category }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1148,-460],"id":"c5dece43-fa46-415a-9f7a-042e1ba54a19","name":"Convert to File"},{"parameters":{"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1pvvVVscULh211Waiam4YmFmYx_sQgwtq","mode":"list","cachedResultName":"email-summaries-OAKWOOD","cachedResultUrl":"https://drive.google.com/drive/folders/1pvvVVscULh211Waiam4YmFmYx_sQgwtq"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1360,-460],"id":"10f0fa44-a892-4565-b21a-83eb8089b2c8","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"Oneclick Google Drive"}}},{"parameters":{"content":"## On Received Email – Trigger Workflow\n\nWhen an email is received, it goes into a loop so no email is lost.  \nThe email is categorized, allowing AI to apply labels that indicate the importance of each message.\n","height":340,"width":780,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-460,-600],"typeVersion":1,"id":"17b64a3f-a861-490c-a540-383a57fa81c7","name":"Sticky Note"},{"parameters":{"content":"## Sourcing the name from the sender","height":340,"width":360},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[360,-600],"id":"d74fd45f-fbac-45f0-8a25-8e7ffb13f7b1","name":"Sticky Note1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a helpful assistant, your job is to source the sender name from an email\n\nOutput the sender name in JSON format:\n{\"sender name\":\"firstName lastName\"}","role":"system"},{"content":"={{ $('Loop Over Items').item.json.From }}"},{"content":"{\"sender name\":\"Staš from OneClick\"}","role":"assistant"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[400,-460],"id":"64b646a4-02cf-4322-9457-ec940989dd89","name":"Source name","credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"content":"## Email summary","height":340,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[760,-600],"id":"c464af5c-f91e-4285-8723-e3d5ef2424f1","name":"Sticky Note2"},{"parameters":{"content":"## Convert to TXT file and upload to Google Drive","height":340,"width":460,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1120,-600],"id":"11353b1b-b5d0-400e-8172-75b1b79359af","name":"Sticky Note3"}],"connections":{"Categorize Email":{"main":[[{"node":"Source name","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Categorize Email","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Email Summarization Chain","type":"ai_languageModel","index":0}]]},"Email Summarization Chain":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Source name":{"main":[[{"node":"Email Summarization Chain","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1750888158,"possibleDuplicates":["197a911176045ba8","197a90c4a8a04fbd"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8531ea0f-019a-4b74-ac07-59306829b8e9","triggerCount":1,"tags":[{"createdAt":"2025-03-25T12:13:04.017Z","updatedAt":"2025-03-25T12:13:04.017Z","id":"N5BOzfqwjme8NGP7","name":"Oakwod org"}]}