3-→-retrieve-docs-from-vdb-→-chat-ui-[oakwoodrg]-7BXK4bFW46redQeA.json
{"createdAt":"2025-03-25T12:13:27.513Z","updatedAt":"2025-04-01T10:06:57.389Z","id":"7BXK4bFW46redQeA","name":"Email Assistant Chatbot 2/3 → retrieve docs from vDB → Chat UI [oakwoodrg]","active":true,"isArchived":false,"nodes":[{"parameters":{"model":"gpt-4o","options":{"temperature":0.8}},"id":"fe4c4097-5505-4d4f-93b9-ea65ba0fda66","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1000,40],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"model":"gpt-4o","options":{}},"id":"d7b3ec01-8b78-4923-bac8-f4b2ec1bdf90","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-180,-20],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').item.json.file_id }}"}]}}},"id":"1514f0e5-570a-497d-8fc8-87f6fcdda270","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-40,520]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"2ad7a75c-4e1b-4428-b483-b5363787da27","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-200,520],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"name":"user_documents","description":"Contains all the user's documents that you can check for context to answer user questions.","topK":15},"id":"99cbd13f-a2d1-4a27-986a-d6aa4d15e53d","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-400,-200]},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"f7e65621-f3fb-4836-9ba6-03d08224602f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-580,-320]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":671.8877842322804,"width":2070.8894079025763,"color":5},"id":"657387e8-dd21-4cda-8e9d-66f1ed2043a8","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1800,220]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"53f15e39-33db-4b31-ac2b-af560e52b3e3","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-700,400],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"Oneclick Google Drive"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1pvvVVscULh211Waiam4YmFmYx_sQgwtq","mode":"list","cachedResultName":"email-summaries-OAKWOOD","cachedResultUrl":"https://drive.google.com/drive/folders/1pvvVVscULh211Waiam4YmFmYx_sQgwtq"},"event":"fileCreated","options":{}},"id":"48337d97-233b-4070-96ed-60b428dd9331","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1740,300],"credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"Oneclick Google Drive"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1pvvVVscULh211Waiam4YmFmYx_sQgwtq","mode":"list","cachedResultName":"email-summaries-OAKWOOD","cachedResultUrl":"https://drive.google.com/drive/folders/1pvvVVscULh211Waiam4YmFmYx_sQgwtq"},"event":"fileUpdated","options":{}},"id":"f1f3b38f-976d-4039-a657-a3e2ee26c733","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1740,520],"credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"Oneclick Google Drive"}}},{"parameters":{"operation":"text","options":{}},"id":"ebd3e100-b477-4e6a-8880-ec5813843cc0","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-440,400],"alwaysOutputData":true},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"f6ef5598-f3c0-4104-848e-485a832fb29f","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-360,80],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"tableName":"chat_history_oakwood_email"},"id":"b21c1ce7-eb5b-4150-8a07-75b492014b9e","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-860,40],"notesInFlow":false,"credentials":{"postgres":{"id":"k9zhdBNZqYVHhO1c","name":"ONECLICK-Postgres"}}},{"parameters":{"chunkSize":800,"chunkOverlap":400,"options":{}},"id":"8e1a5f19-b41e-4cfe-a091-0e7ab297e193","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-40,720]},{"parameters":{"operation":"delete","tableId":"oakwood_email_storage","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"1f1b0033-29c8-4578-aa8e-d42a435a1da9","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1000,400],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"L5uqTMSc5f8WvP9K","name":"ONECLICK-Main"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"ab9daaf9-f8bb-4072-96f6-a17a4abe86b1","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,400]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":692.7866482806627},"id":"7df06b12-067d-4266-84e7-e1a5238ea727","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,-260]},{"parameters":{"public":true,"authentication":"basicAuth","initialMessages":"Hi Jack! 👋\nHow can I help you today?","options":{}},"id":"a6737ef9-3017-4418-b11e-64624a150469","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1220,-180],"webhookId":"b551f782-bdeb-4813-8383-c8d2e6bbb0c4","credentials":{"httpBasicAuth":{"id":"93kfIqy5XiRcYrM8","name":"Jack's assistant - credentials"}}},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"You are a helpful and knowledgeable personal email assistant for Jack.\n\nYour job is to monitor the database and read all incoming text files - these are summaries of emails jack has received, then you need to provide concise, accurate, and direct answers to user questions about new emails, updates, and any important emails received. If there are multiple emails list them all to Jack.\n\nYou have access to the last 30 days of emails for Jack, reference the database to provide him with concise and accurate summaries on any new emails.\n\nAnswer specific questions if Jack needs to remember what was in his emails.\n\nMaintain a tone that is:\n\n    Friendly, yet focused\n\n    Supportive, yet efficient\n\n    Calm, and clear\n\nAlways acknowledge user concerns or confusion. Then give straight-to-the-point help.\nAvoid small talk, filler, or unnecessary explanations unless clarification is requested.\n\nIf you're not sure, say so briefly and suggest the next best step.\n\nUser: \"Any new messages?\"\nAgent: Yes, Emily wanted to check when the Q2 investor distributions will be processed. Also, will the updated property portfolio be included in this quarter's report?.\n\nUser: \"Anything else?\"\nAgent: Let me check Jack. Yes there are 5 new messages.\n- Tara is asking if you would you be open to a quick interview this week\n- Kevin is asking about a revised bid for monthly landscaping services at Willow Park\n- Mark sent a weekly recap of the progress at Eastside.\n\nNeed details on any of these?"}},"id":"1d511f20-c428-4dba-8b2f-2ed3a841ac5a","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-900,-180]},{"parameters":{"tableName":{"__rl":true,"value":"oakwood_email_storage","mode":"list","cachedResultName":"oakwood_email_storage"},"options":{"queryName":"match_oakwood_email_storage"}},"id":"697470d2-91bc-49ea-92e3-ceb2a08787ef","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-520,-40],"credentials":{"supabaseApi":{"id":"L5uqTMSc5f8WvP9K","name":"ONECLICK-Main"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"oakwood_email_storage","mode":"list","cachedResultName":"oakwood_email_storage"},"options":{"queryName":"match_oakwood_email_storage"}},"id":"7d27b40c-ded3-4c32-a65f-703accecec91","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-160,300],"credentials":{"supabaseApi":{"id":"L5uqTMSc5f8WvP9K","name":"ONECLICK-Main"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File Created":{"lastTimeChecked":"2025-06-10T21:31:23Z"},"node:File Updated":{"lastTimeChecked":"2025-06-10T21:31:23Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"35bea4a0-c794-4397-8711-a066bf8f739e","triggerCount":3,"tags":[{"createdAt":"2025-03-25T12:13:04.017Z","updatedAt":"2025-03-25T12:13:04.017Z","id":"N5BOzfqwjme8NGP7","name":"Oakwod org"}]}