5-→-respond-to-emails-vCUR0Imd4udOSFxG.json
{"createdAt":"2025-03-31T08:49:18.132Z","updatedAt":"2025-03-31T08:49:21.887Z","id":"vCUR0Imd4udOSFxG","name":"Outreach agent prototype 5/5 → respond to emails","active":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1knUa8NVJfRECvmNFezLMhykfRQBM_itAET8VkENmusk","mode":"list","cachedResultName":"LINKEDIN CONNECTION TRACKER (STABLE) ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1knUa8NVJfRECvmNFezLMhykfRQBM_itAET8VkENmusk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1knUa8NVJfRECvmNFezLMhykfRQBM_itAET8VkENmusk/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Email","lookupValue":"={{ $json.body.from_attendee.identifier }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1300,420],"id":"e09cc880-609b-4aac-90ec-40d7f7a4ddec","name":"Get Person","notes":"This gets the person from the stable sheet.\n\nIf the person is not on the sheet this person won't be outreached (Because we did not emailed him in the first place). This is done so we don't reply to emails from other people such as newsletter"},{"parameters":{"promptType":"define","text":"=Subject: {{ $('Webhook').item.json.body.subject }}\n\nBody: {{ $json.output.Response }}","hasOutputParser":true,"options":{"systemMessage":"=You are a professional LinkedIn outreach assistant. Your goal is to respond to recipients who have replied to your initial message, engage in a meaningful conversation to understand their situation, and encourage them to book a call using a provided calendar link. Follow these guidelines:  \n\n1. **Acknowledge Their Reply**: Start by thanking them for responding and referencing something specific from their message.  \n2. **Ask Open-Ended Questions**: Show genuine interest in their situation by asking thoughtful questions to learn more about their goals, challenges, or interests.  \n3. **Provide Value**: Highlight how a call could benefit them based on what they’ve shared.  \n4. **Suggest a Call**: Transition naturally to suggesting a call and share the calendar link in a polite, non-pushy way.  \n5. **Be Professional and Friendly**: Maintain a polite, respectful, and conversational tone throughout.  \n\n**Example Workflow:**  \n1. **Acknowledge and Engage**:  \n   *\"Hi [Name], thanks for getting back to me! It’s great to hear about [specific detail from their reply]. Could you tell me more about [specific topic]?\"*  \n\n2. **Ask Follow-Up Questions**:  \n   *\"That’s really interesting! How are you currently approaching [specific challenge or goal]?\"*  \n\n3. **Transition to a Call**:  \n   *\"It sounds like [specific insight]. I’d love to explore this further and see how I can help. Would you be open to a quick 15-minute call? Here’s my calendar link: https://calendly.com/ygdaienterprises/hire-my-agency. Feel free to pick a time that works best for you!\"*  \n\n4. **Handle Objections or Questions**:  \n   If they hesitate or ask for more details, respond politely and provide clarity.  \n   *\"I completely understand! On the call, we can discuss [specific benefit or topic]. Let me know if that works for you!\"*  \n\n5. **Follow Up If Needed**:  \n   If they don’t book a call, send a polite follow-up after a few days:  \n   *\"Hi John, just checking in to see if you’d like to connect. Let me know if you’d like to schedule a quick chat. Here’s my calendar link again: https://calendly.com/ygdaienterprises/hire-my-agency . Looking forward to hearing from you!\"*  \n\nFocus on building rapport, understanding their needs, and making it easy for them to book a call.\n\n--- \n\n- Always sing emails as \"Yiannis\"\n- Always write the emails in HTML\n\n\nAdditional Info: \n\nAttendies name: {{ $('Webhook').item.json.body.from_attendee.display_name }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-460,420],"id":"ebf943c1-2b39-45df-893e-cb5e86ca56e6","name":"AI Agent"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json['Origin Spredsheet id'] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $json['Origin Sheet id'] }}","mode":"id"},"filtersUI":{"values":[{"lookupColumn":"email","lookupValue":"={{ $('Webhook').item.json.body.from_attendee.identifier }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-1080,420],"id":"0508a114-1c69-4cdb-9871-d35624d1d4e4","name":"Google Sheets"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Webhook').item.json.body.from_attendee.identifier }}","tableName":"n8n_chat_histories_email"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-340,660],"id":"564831dd-94d3-4e6c-ace5-8258d58c8293","name":"Postgres Chat Memory"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-500,660],"id":"5969d9e4-582b-42ee-99d0-45c869f8d930","name":"OpenRouter Chat Model"},{"parameters":{"amount":"={{ $json.RandomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[140,420],"id":"e1f11d24-cf31-4734-b357-72f005cb223c","name":"Wait","webhookId":"f7008106-b3b1-41e6-a5be-6531df1cf6c8"},{"parameters":{"httpMethod":"POST","path":"77a6389f-957e-4ec1-89f2-08358c31599c","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1540,420],"id":"132edbeb-2e27-4615-841f-18f8f86dac8f","name":"Webhook","webhookId":"77a6389f-957e-4ec1-89f2-08358c31599c"},{"parameters":{"jsonSchemaExample":"{\n\t\"Subject\": \"California\",\n\t\"Body\": \"Hey John, Thanks for geeting back to me\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-180,640],"id":"0150dc3d-00d9-458c-8edc-31e22a40800a","name":"Structured Output Parser"},{"parameters":{"method":"POST","url":"http://api9.unipile.com:13986/api/v1/emails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"YDoTcQ7d.Iy+oe8Jhf1PyY2qyZhGEjMik11LluiiH58d0NnbmcEI="}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"account_id","value":"={{ $('Webhook').item.json.body.account_id }}"},{"name":"subject","value":"={{ $('AI Agent').item.json.output.Subject }}"},{"name":"body","value":"={{ $('AI Agent').item.json.output.Body }}"},{"name":"reply_to","value":"={{ $('Webhook').item.json.body.email_id }}"},{"name":"to","value":"=[ \t{ \t\t\"display_name\": \"{{ $('Webhook').item.json.body.from_attendee.display_name }}\", \t\t\"identifier\": \"{{ $('Webhook').item.json.body.from_attendee.identifier }}\" \t} ]"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"id":"32a0849c-457f-4c61-b2b8-7fa99a581ed1","name":"Send The Email","disabled":true},{"parameters":{"jsCode":"items[0].json.RandomNumber = Math.floor(Math.random() * 91) + 5;\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-60,420],"id":"6b4a443d-3858-442b-932d-071ade2a2a83","name":"Get Random Number"},{"parameters":{"method":"POST","url":"https://api9.unipile.com:13986/api/v1/emails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"DIhzbOqy.57Xzrt/uKv8kxpVsjheSOLRQ9NbiHDkX6pnDsBiOAKA="}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"account_id","value":"66xws-j9TNOHvrniZ3K-TQ"},{"name":"subject","value":"={{ $('AI Agent').item.json.output.Subject }}"},{"name":"body","value":"={{ $('AI Agent').item.json.output.Body }}"},{"name":"to","value":"=[ \t{ \t\t\"display_name\": \"{{ $('Webhook').item.json.body.from_attendee.display_name }}\", \t\t\"identifier\": \"{{ $('Webhook').item.json.body.from_attendee.identifier }}\" \t} ]"},{"name":"reply_to","value":"={{ $('Webhook').item.json.body.email_id }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[340,420],"id":"b0a33d33-a637-43cc-9089-dacbf3dc9285","name":"Send First Email1"},{"parameters":{"text":"={{ $('Webhook').item.json.body.body_plain }}","attributes":{"attributes":[{"name":"Response","description":"Everything before On Wed, Feb 1, 2024 at 9:45 PM yiannisbf4@gmail.com <yiannisbf4@gmail.com> wrote: "}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[-860,420],"id":"da03c199-7b74-4774-9480-3551c0d09746","name":"Information Extractor"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1020,700],"id":"db2f8342-4e7b-4fbf-8ce9-43acc88c99a3","name":"OpenAI Chat Model"}],"connections":{"Get Person":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Get Random Number","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Send First Email1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get Person","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Get Random Number":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{"headers":{"host":"yiannisgdem.app.n8n.cloud","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 12_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36","content-length":"1746","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","accept-language":"en-US","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"51.159.195.149","cf-ew-via":"15","cf-ipcountry":"FR","cf-ray":"91a3c1a094a1d124-CDG","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","sec-ch-ua":"\"Not=A?Brand\";v=\"99\", \"Chromium\";v=\"118\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Linux\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"51.159.195.149, 172.71.126.192","x-forwarded-host":"yiannisgdem.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-5-6fbf5bdbfc-kpdb4","x-is-trusted":"yes","x-real-ip":"51.159.195.149"},"params":{},"query":{},"body":{"event":"mail_received","email_id":"CQF6vwAgUxWYzGZclGM6Kw","account_id":"66xws-j9TNOHvrniZ3K-TQ","webhook_name":"N8N - GMAIL ","date":"2025-03-02T20:48:12.000Z","from_attendee":{"display_name":"Vasislav","identifier":"vasislav7000@gmail.com","identifier_type":"EMAIL_ADDRESS"},"to_attendees":[{"display_name":"yiannisbf4@gmail.com","identifier":"yiannisbf4@gmail.com","identifier_type":"EMAIL_ADDRESS"}],"cc_attendees":[],"bcc_attendees":[],"reply_to_attendees":[],"subject":"Re: Impressed by your event innovation & UNICEF impact, Matthew","body":"<div dir=\"ltr\">Hey man thanks, would like to participate</div><br><div class=\"gmail_quote gmail_quote_container\"><div dir=\"ltr\" class=\"gmail_attr\">On Sun, Mar 2, 2025 at 9:45 PM <a href=\"mailto:yiannisbf4@gmail.com\">yiannisbf4@gmail.com</a> &lt;<a href=\"mailto:yiannisbf4@gmail.com\">yiannisbf4@gmail.com</a>&gt; wrote:<br></div><blockquote class=\"gmail_quote\" style=\"margin:0px 0px 0px 0.8ex;border-left:1px solid rgb(204,204,204);padding-left:1ex\"><div>Re: Impressed by your event innovation &amp; UNICEF impact, Matthew</div>\r\n</blockquote></div>\r\n","body_plain":"Hey man thanks, would like to participate\r\n\r\nOn Sun, Mar 2, 2025 at 9:45 PM yiannisbf4@gmail.com <yiannisbf4@gmail.com>\r\nwrote:\r\n\r\n> Re: Impressed by your event innovation & UNICEF impact, Matthew\r\n>\r\n","message_id":"<CAAS5-THEwzjaSbzK5-fLfQTHVAGxvUmBPh067cEHBbBg_cE=zw@mail.gmail.com>","provider_id":"195589dcfa0da56e","read_date":null,"is_complete":true,"has_attachments":false,"attachments":[],"folders":["INBOX","UNREAD"],"role":"inbox","origin":"external","in_reply_to":{"message_id":"<CAEquAV2jtjxpAS2ifSHomV2G01AmzksaC0z3RzSWq+1AKfTxsA@mail.gmail.com>","id":"Gm-oBd--UuCBdyyBAh_b8g"}},"webhookUrl":"https://yiannisgdem.app.n8n.cloud/webhook/77a6389f-957e-4ec1-89f2-08358c31599c","executionMode":"production"}}]},"versionId":"1555d14f-d13c-4a90-9d4e-5b4fec8ff92e","triggerCount":0,"tags":[{"createdAt":"2025-03-31T08:42:55.021Z","updatedAt":"2025-03-31T08:42:55.021Z","id":"Ajdrvo3Lktb90nw4","name":"Syrvi"}]}