5-→-send-linkedin-connection-→-send-email-F5omkDKQxL3sSUUb.json
{"createdAt":"2025-03-31T08:45:34.215Z","updatedAt":"2025-04-01T10:08:30.744Z","id":"F5omkDKQxL3sSUUb","name":"Outreach agent prototype 2/5 → send LinkedIn connection → send email","active":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Spreadsheet id:"},{"name":"Sheetid","type":"any"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-720,20],"id":"8fd11140-e2a2-40a0-922b-ede48435cd0a","name":"When Executed by Another Workflow"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json['Spreadsheet id:'] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $json.Sheetid }}","mode":"id"},"filtersUI":{"values":[{"lookupColumn":"LN Invitation Sent","lookupValue":"NO"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-500,20],"id":"924a905f-82ea-4ab8-b986-968e1295c0fc","name":"Get Data"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[0,0],"id":"6b207ad4-f5de-46b3-81df-f0a982475881","name":"Loop Over Items"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $('When Executed by Another Workflow').item.json['Spreadsheet id:'] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('When Executed by Another Workflow').item.json.Sheetid }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"Linkedin public_identifier":"={{ $('Get Data').item.json['Linkedin public_identifier'] }}","LN Invitation Sent":"={{ $now }}"},"matchingColumns":["Linkedin public_identifier"],"schema":[{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"personal_emails/0","displayName":"personal_emails/0","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"personal_emails/1","displayName":"personal_emails/1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"seniority","displayName":"seniority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"facebook_url","displayName":"facebook_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"twitter_url","displayName":"twitter_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization/name","displayName":"organization/name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization/linkedin_url","displayName":"organization/linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization/phone","displayName":"organization/phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization/primary_domain","displayName":"organization/primary_domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization/twitter_url","displayName":"organization/twitter_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization/website_url","displayName":"organization/website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email_domain_catchall","displayName":"email_domain_catchall","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email_status","displayName":"email_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"extrapolated_email_confidence","displayName":"extrapolated_email_confidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"col_25","displayName":"col_25","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Research","displayName":"Research","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Ice Breaker ","displayName":"Email Ice Breaker ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Subject","displayName":"Email Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Body","displayName":"Email Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Linkedin Ice Breaker ","displayName":"Linkedin Ice Breaker ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Linkedin Subject","displayName":"Linkedin Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Linkedin Body","displayName":"Linkedin Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Linkedin public_identifier","displayName":"Linkedin public_identifier","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Linkedin provider_id","displayName":"Linkedin provider_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LN Invitation Sent","displayName":"LN Invitation Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LN Invitation Accepted","displayName":"LN Invitation Accepted","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LN Message Sent","displayName":"LN Message Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Sent","displayName":"Email Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Replied","displayName":"Email Replied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[580,20],"id":"6ecd5e54-a42d-4095-8a3b-e13c94f5eebf","name":"Update Invitation Sent"},{"parameters":{"amount":"={{ $json.RandomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1900,20],"id":"45761b27-6d6f-4a0d-9986-86ee018beff2","name":"Wait","webhookId":"cca25fd9-4eb2-4ca2-a374-57eb7c7928d9"},{"parameters":{"jsCode":"items[0].json.RandomNumber = Math.floor(Math.random() * 8);\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,20],"id":"9c00fea8-5398-4c74-b9a0-945b969cd71f","name":"Randomizer"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_linkedin","mode":"list","cachedResultName":"n8n_chat_linkedin"},"columns":{"mappingMode":"defineBelow","value":{"message":"={   \"type\": \"ai\",   \"content\": \"{{ $json['Linkedin Ice Breaker '] }}\",   \"tool_calls\": [],   \"additional_kwargs\": {},   \"response_metadata\": {},   \"invalid_tool_calls\": [] }","session_id":"={{ $json['Linkedin provider_id'] }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true},{"id":"cREATED","displayName":"cREATED","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1020,20],"id":"4c3d16c2-760e-4c32-a7ab-43a2ad64c99b","name":"Add Ice Breaker To Memory"},{"parameters":{"method":"POST","url":"https://api9.unipile.com:13986/api/v1/users/invite","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"YDoTcQ7d.Iy+oe8Jhf1PyY2qyZhGEjMik11LluiiH58d0NnbmcEI="},{"name":"accept","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"provider_id","value":"={{ $json['Linkedin provider_id'] }}"},{"name":"account_id","value":"pwnu6LpERMKP3c76oTkmPw"},{"name":"message","value":"={{ $json['Linkedin Ice Breaker '] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[380,20],"id":"8fbe5593-a24d-4645-b26d-635fe3a8520b","name":"LN Send Invite"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_histories_email","mode":"list","cachedResultName":"n8n_chat_histories_email"},"columns":{"mappingMode":"defineBelow","value":{"message":"={   \"type\": \"ai\",   \"content\": \"{{ $('Get Data').item.json['Email Body'].replace(/\\n/g, '') }}\",   \"tool_calls\": [],   \"additional_kwargs\": {},   \"response_metadata\": {},   \"invalid_tool_calls\": [] }","session_id":"={{ $('Get Data').item.json.email }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1460,20],"id":"e4f19e5d-c7ac-4869-9192-4d6900db5e54","name":"Email: Add First Message to memory"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1knUa8NVJfRECvmNFezLMhykfRQBM_itAET8VkENmusk","mode":"list","cachedResultName":"LINKEDIN CONNECTION TRACKER (STABLE) ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1knUa8NVJfRECvmNFezLMhykfRQBM_itAET8VkENmusk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13wGqJF98lcVv9ALSdEBztDLJXRT-Dh2OXyFX_2C0UdQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"first_name":"={{ $('Get Data').item.json.first_name }}","last_name":"={{ $('Get Data').item.json.last_name }}","linkedin_url":"={{ $('Get Data').item.json.linkedin_url }}","Linkedin public_identifier":"={{ $('Get Data').item.json['Linkedin public_identifier'] }}","Linkedin provider_id":"={{ $('Get Data').item.json['Linkedin provider_id'] }}","LN Invitation Sent":"YES","LN Invitation Accepted":"NO","LN Message Sent":"NO","Email Sent":"NO","Email Replied":"NO","Origin Spredsheet id":"={{ $('When Executed by Another Workflow').item.json['Spreadsheet id:'] }}","Origin Sheet id":"={{ $('When Executed by Another Workflow').item.json.Sheetid }}","# OF MESSAGES LN":"0","Email":"={{ $('Get Data').item.json.email }}"},"matchingColumns":["Linkedin provider_id"],"schema":[{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Linkedin public_identifier","displayName":"Linkedin public_identifier","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Linkedin provider_id","displayName":"Linkedin provider_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LN Invitation Sent","displayName":"LN Invitation Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LN Invitation Accepted","displayName":"LN Invitation Accepted","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LN Message Sent","displayName":"LN Message Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email Sent","displayName":"Email Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email Replied","displayName":"Email Replied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Origin Spredsheet id","displayName":"Origin Spredsheet id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Origin Sheet id","displayName":"Origin Sheet id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"# OF MESSAGES LN","displayName":"# OF MESSAGES LN","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Time of Last Message Sent","displayName":"Time of Last Message Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Last Response Time","displayName":"Last Response Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[800,20],"id":"7c36ea6d-5651-4643-930c-ed7af48d2a6f","name":"Update Linkedin invitations (STABLE TRACKER)"},{"parameters":{"method":"POST","url":"https://api9.unipile.com:13986/api/v1/emails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"DIhzbOqy.57Xzrt/uKv8kxpVsjheSOLRQ9NbiHDkX6pnDsBiOAKA="}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"account_id","value":"66xws-j9TNOHvrniZ3K-TQ"},{"name":"subject","value":"={{ $('Get Data').item.json['Email Subject'] }}"},{"name":"body","value":"={{ $('Get Data').item.json['Email Body'] }}"},{"name":"to","value":"=[ \t{ \t\t\"display_name\": \"{{ $('Get Data').item.json.first_name }} {{ $('Get Data').item.json.last_name }}\", \t\t\"identifier\": \"{{ $('Get Data').item.json.email }}\" \t} ]"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1220,20],"id":"dfbcc28a-b277-4494-8747-0a438ba9afc3","name":"Send First Email1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b8d03662-4dc4-4b31-b5f0-eedcce0bc878","leftValue":"={{ $json['Email Ice Breaker '] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"8d6af6dd-386d-4fb6-b4ab-ce0fb271e1a9","leftValue":"={{ $json['Email Subject'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"9c87c1e1-08af-4452-92ea-df8e839a974e","leftValue":"={{ $json['Email Body'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"0abf63e8-9f13-4be3-b2d4-ea81786d6435","leftValue":"={{ $json['Linkedin Body'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-280,20],"id":"7fed3217-e834-4658-9871-a1953ea06fc7","name":"Are all the fields present?"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get Data","type":"main","index":0}]]},"Get Data":{"main":[[{"node":"Are all the fields present?","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"LN Send Invite","type":"main","index":0}]]},"Update Invitation Sent":{"main":[[{"node":"Update Linkedin invitations (STABLE TRACKER)","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Randomizer":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Add Ice Breaker To Memory":{"main":[[{"node":"Send First Email1","type":"main","index":0}]]},"LN Send Invite":{"main":[[{"node":"Update Invitation Sent","type":"main","index":0}]]},"Email: Add First Message to memory":{"main":[[{"node":"Randomizer","type":"main","index":0}]]},"Update Linkedin invitations (STABLE TRACKER)":{"main":[[{"node":"Add Ice Breaker To Memory","type":"main","index":0}]]},"Send First Email1":{"main":[[{"node":"Email: Add First Message to memory","type":"main","index":0}]]},"Are all the fields present?":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"Spreadsheet id:":"1Vq_vAF366uEgrTgrnDJQNpLw0hOPqwGrUsSp0az_Yio","Sheetid":1288741494}}]},"versionId":"b53ea07f-20c7-4d8c-8d31-57e9ff5bffb1","triggerCount":0,"tags":[{"createdAt":"2025-03-31T08:42:55.021Z","updatedAt":"2025-03-31T08:42:55.021Z","id":"Ajdrvo3Lktb90nw4","name":"Syrvi"}]}