5-→-find,-scrape,-personalize-→-send-to-workflow-2-3-73Jrgh6TrNaDBuV3.json
{"createdAt":"2025-03-31T08:42:44.428Z","updatedAt":"2025-04-03T08:21:58.959Z","id":"73Jrgh6TrNaDBuV3","name":"Outreach agent prototype 1/5 → Find, scrape, personalize → send to workflow 2-3","active":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-5640,1260],"id":"0b171aae-daf1-4a7c-9313-76fde14c0fa1","name":"Telegram Trigger","webhookId":"428f4be4-66f8-4b41-8933-0e2f328e33aa"},{"parameters":{"method":"POST","url":"=https://api.apify.com/v2/acts/{{ $json.actor_id }}/runs","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $json.Api }}"},{"name":"memory","value":"8192"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.Json }}","options":{}},"id":"3198e9c2-31c6-4072-89e8-52b4b1690a21","name":"Run Actor","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3540,1260]},{"parameters":{"url":"=https://api.apify.com/v2/actor-runs/{{ $json.data.id }}?waitForFinish=1000","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('Set Aify').item.json.Api }}"}]},"options":{}},"id":"0b668174-4c30-4e20-bc4d-7dd1eee296cd","name":"Actor Completed?","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3360,1260]},{"parameters":{"content":"# Apify V3","height":260,"width":860},"type":"n8n-nodes-base.stickyNote","position":[-3740,1180],"typeVersion":1,"id":"fba88240-575d-4774-906d-204e551494f9","name":"Sticky Note"},{"parameters":{"documentId":{"__rl":true,"value":"16uBKyfzvN588n-znS8aNtg32LznxYQ7dpsqGnG45__g","mode":"list","cachedResultName":"Apollo Leads Template","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16uBKyfzvN588n-znS8aNtg32LznxYQ7dpsqGnG45__g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1261571408,"mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16uBKyfzvN588n-znS8aNtg32LznxYQ7dpsqGnG45__g/edit#gid=1261571408"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange","firstDataRow":1}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-4360,1260],"id":"c3471b82-740a-4324-9b08-52d0b9f89fc3","name":"Get Headers1","executeOnce":false},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Create Empty Spreadsheet (Origin) ').item.json.spreadsheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"spreadsheetId","displayName":"spreadsheetId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"properties","displayName":"properties","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"sheets","displayName":"sheets","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"spreadsheetUrl","displayName":"spreadsheetUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-4180,1260],"id":"39b86fd0-60e4-495a-980e-a8765f0482fe","name":"Add Headers1","executeOnce":false},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"={{ $('Create Empty Spreadsheet (Origin) ').item.json.spreadsheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Create Empty Spreadsheet (Origin) ').item.json.sheets[0].properties.sheetId }}","mode":"id"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-4020,1260],"id":"d286f8bc-9676-4044-8c00-d02dc63ec381","name":"Remove First Row1"},{"parameters":{},"id":"b3390b25-ce31-422c-9175-70ebc342d0dc","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-5640,1080]},{"parameters":{"promptType":"define","text":"={{ $json.text }}","hasOutputParser":true,"options":{"systemMessage":"=To generate a direct link for a specific search in Apollo, follow this format:\n\n---\n\n### **Steps to Create a Direct Link**\n\n1. **Email Status**:  \n   - Set to **Verified** to include only contacts with verified email addresses.  \n   - Use: `contactEmailStatusV2[]=verified`  \n\n2. **Job Titles**:  \n   - Specify the job title(s) you want to include. For example: **Owner**, **Manager**, or **CEO**.  \n   - Use: `personTitles[]=job_title` (replace `job_title` with the desired title).  \n\n3. **Location**:  \n   - Specify the location(s) you want to target. For example: **United States**, **United Kingdom**, or **Germany**.  \n   - Use: `personLocations[]=location` (replace `location` with the desired location).  \n\n4. **Industry & Keywords**:  \n   - Specify the industry or industries you want to include. For example: **Marketing & Advertising**, **Construction**, or **Hospitality**.  \n   - Use: `organizationIndustryTagIds[]=industry_code` (replace `industry_code` with the desired code).  \n\n5. **Number of Employees**:  \n   - Specify the employee range for the organization. For example: **Minimum: 997, Maximum: 999997**.  \n   - Use: `organizationNumEmployeesRanges[]=997%2C999997`  \n\n6. **Pagination**:  \n   - Start with the first page of results.  \n   - Use: `page=1`  \n\n7. **Sorting**:  \n   - Use default sorting (no specific sorting field).  \n   - Use: `sortAscending=false&sortByField=%5Bnone%5D`  \n\n---\n\n### **Industry Codes**\n\nHere are some common industry codes you can use:\n- **Marketing & Advertising**: `5567cd467369644d39040000`  \n- **Construction**: `5567cd4773696439dd350000`  \n- **Hospitality**: `5567ce9d7369643bc19c0000`  \n- **Computer Software**: `5567cd4e7369643b70010000`\n- **Professional Training & Coaching**: `5567cd49736964541d010000`\n- **Staffing & Recruiting**: `5567e09973696410db020800`\n\n---\n\n### **Examples**\n\n#### **Example 1: Owners of Marketing Agencies in the USA with Employee Range**\nTo find **owners of marketing agencies in the USA with 997 to 999997 employees**, use this link:\n\nhttps://app.apollo.io/#/people?contactEmailStatusV2[]=verified&personTitles[]=owner&personLocations[]=United%20States&organizationIndustryTagIds[]=5567cd467369644d39040000&organizationNumEmployeesRanges[]=997%2C999997&page=1&sortAscending=false&sortByField=%5Bnone%5D\n\n\n#### **Example 2: Managers in the Construction Industry in Germany with Employee Range**\nTo find **managers in the construction industry in Germany with 997 to 999997 employees**, use this link:\n\nhttps://app.apollo.io/#/people?contactEmailStatusV2[]=verified&personTitles[]=manager&personLocations[]=Germany&organizationIndustryTagIds[]=5567cd4773696439dd350000&organizationNumEmployeesRanges[]=997%2C999997&page=1&sortAscending=false&sortByField=%5Bnone%5D\n\n\n#### **Example 3: CEOs in the Hospitality Industry in the United Kingdom with Employee Range**\nTo find **CEOs in the hospitality industry in the United Kingdom with 997 to 999997 employees**, use this link:\n\nhttps://app.apollo.io/#/people?contactEmailStatusV2[]=verified&personTitles[]=CEO&personLocations[]=United%20Kingdom&organizationIndustryTagIds[]=5567ce9d7369643bc19c0000&organizationNumEmployeesRanges[]=997%2C999997&page=1&sortAscending=false&sortByField=%5Bnone%5D\n\n\n#### **Example 4: Students in the Computer Software Industry in the United Arab Emirates with Employee Range**\nTo find **students in the computer software industry in the United Arab Emirates with 997 to 999997 employees**, use this link:\n\nhttps://app.apollo.io/#/people?contactEmailStatusV2[]=verified&personTitles[]=student&personLocations[]=United%20Arab%20Emirates&organizationIndustryTagIds[]=5567cd4e7369643b70010000&organizationNumEmployeesRanges[]=997%2C999997&page=1&sortAscending=false&sortByField=%5Bnone%5D\n\n\n#### **Example 5: Owners in Multiple Industries in the USA with Employee Range**\nTo find **owners in multiple industries (Marketing & Advertising, Construction, Hospitality) in the USA with 997 to 999997 employees**, use this link:\n\nhttps://app.apollo.io/#/people?contactEmailStatusV2[]=verified&personTitles[]=owner&personLocations[]=United%20States&organizationIndustryTagIds[]=5567cd467369644d39040000&organizationIndustryTagIds[]=5567cd4773696439dd350000&organizationIndustryTagIds[]=5567ce9d7369643bc19c0000&organizationNumEmployeesRanges[]=997%2C999997&page=1&sortAscending=false&sortByField=%5Bnone%5D\n\n\n---\n\n### **How to Customize the Link**\n\n1. Replace `job_title` with the desired job title(s).  \n2. Replace `location` with the desired location(s).  \n3. Replace `industry_code` with the desired industry code(s).  \n4. Replace `997%2C999997` with your desired employee range.  \n5. Add or remove filters as needed.  \n\n---\n\n#RULES:\n- Only output the link, my job depends on it\n\n#Notes:\n- if not specified limit is 100\n- if not specified by the user do not include Number of Employees\n- I also want you to include \"query this is basicly the name of the search\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-4940,1260],"id":"d7a01713-7959-4bfc-b4ef-a8cad80ee97f","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-5020,1680],"id":"9966d82b-1c23-43d4-9126-f73923a1b3dd","name":"OpenAI Chat Model"},{"parameters":{"options":{"prompt":"Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[-4880,1500],"id":"4e3382b3-e331-4794-8b7d-f32a58e025ef","name":"Auto-fixing Output Parser"},{"parameters":{"jsonSchemaExample":"{\n  \"URL\": \"https://app.apollo.io/#/people?page=1&contactEmailStatusV2[]=verified&personTitles[]=CEO&personLocations[]=United%20Arab%20Emirates&organizationIndustryTagIds[]=5567cd4e7369643b70010000&sortAscending=false&sortByField=%5Bnone%5D&contactEmailExcludeCatchAll=true\",\n  \"Query\": \"Owners of marketing agency USA\",\n  \"Limit\": \"100\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-4840,1680],"id":"0ba8570b-09d1-4f53-9f53-3bab595b9954","name":"Structured Output Parser"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-5640,1440],"id":"3b543c3c-6ed2-48b2-81cc-9774dc8695fa","name":"When chat message received","webhookId":"02b8cc68-dc48-497b-b4b0-4dae813aee84"},{"parameters":{"assignments":{"assignments":[{"id":"bb6746a1-365b-4326-9aaa-63cccb19a760","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5420,1260],"id":"61364914-8825-476c-9516-f2b6d2464aa8","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"bb6746a1-365b-4326-9aaa-63cccb19a760","name":"text","value":"={{ $json.chatInput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5420,1440],"id":"81bb6f40-1602-41be-b469-a28db39a7a76","name":"Edit Fields4"},{"parameters":{"assignments":{"assignments":[{"id":"e5406c83-b66a-4b53-8606-73884babce09","name":"text","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5180,1260],"id":"6d0e6b67-965c-40ff-b521-1ab432479bfc","name":"Edit Fields5"},{"parameters":{"assignments":{"assignments":[{"id":"1b05fdbd-62c2-4c46-91c2-354e0d22187f","name":"Api","value":"apify_api_3on2deKMBGYW5Fx6O2Liy8f7Jz3fzg3swexZ","type":"string"},{"id":"9e5a20d6-c6b2-4097-806e-d74c0d362d19","name":"actor_id","value":"gKvEpKx3i3zlRj2G9","type":"string"},{"id":"95b6a410-3cdf-4b80-879e-17e96c5cbf0c","name":"Json","value":"={\n    \"getPersonalEmails\": true,\n    \"getWorkEmails\": true,\n    \"totalRecords\": {{ $('AI Agent').item.json.output.Limit }},\n    \"url\": \"{{ $('AI Agent').item.json.output.URL }}\"\n}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3700,1260],"id":"73bb7f38-ce16-4b26-bae1-342b804270e0","name":"Set Aify"},{"parameters":{"url":"=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items?format=json","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('Set Aify').item.json.Api }}"}]},"options":{}},"id":"f80f6a68-2afc-4962-93a9-8c7299bbf047","name":"Get Data","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3020,1260],"executeOnce":true},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2820,1520],"id":"198d99eb-5a46-44ec-a420-c1cbd8d7306b","name":"Wait4","webhookId":"874c517c-bf9c-4d5e-902f-cf94a8e5be89"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3445f8ee-1f39-4cc6-9cde-91059bb55415","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2820,1260],"id":"4bc50019-7dc9-46fb-b73c-3506b7187a5c","name":"Retry if failed1"},{"parameters":{"assignments":{"assignments":[{"id":"f3e4fa80-9cda-4a08-a764-dc2aa3570f4b","name":"data.defaultDatasetId","value":"={{ $('Run Actor').item.json.data.defaultDatasetId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3160,1260],"id":"100222af-4466-49bf-99ce-7d3f76e7d9b9","name":"Set Output ID"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('Create Empty Spreadsheet (Origin) ').item.json.spreadsheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Create Empty Spreadsheet (Origin) ').item.json.sheets[0].properties.sheetId }}","mode":"id"},"columns":{"mappingMode":"defineBelow","value":{"first_name":"={{ $('Get Data').item.json.first_name }}","last_name":"={{ $('Get Data').item.json.last_name }}","email":"={{ $('Get Data').item.json.email }}","headline":"={{ $('Get Data').item.json.headline }}","seniority":"={{ $('Get Data').item.json.seniority }}","title":"={{ $('Get Data').item.json.title }}","linkedin_url":"={{ $('Get Data').item.json.linkedin_url }}","facebook_url":"={{ $('Get Data').item.json.facebook_url }}","twitter_url":"={{ $('Get Data').item.json.twitter_url }}","city":"={{ $('Get Data').item.json.city }}","state":"={{ $('Get Data').item.json.state }}","country":"={{ $('Get Data').item.json.country }}","email_domain_catchall":"={{ $json.email_domain_catchall }}","email_status":"={{ $('Get Data').item.json.email_status }}","extrapolated_email_confidence":"={{ $('Get Data').item.json.extrapolated_email_confidence }}","Research":"={{ $('Perplexity Get Personal Info').item.json.choices[0].message.content }}","Email Ice Breaker ":"={{ $('Ice breaker').item.json.output.EmailIceBreaker }}","Linkedin Ice Breaker ":"={{ $('Ice breaker').item.json.output.LinkedInIceBreaker }}","Email Subject":"={{ $('Generate Email & LN First message').item.json.output.email['subject Line'] }}","Email Body":"={{ $('Generate Email & LN First message').item.json.output.email['email body'] }}","Linkedin Body":"={{ $('Generate Email & LN First message').item.json.output.linkedin_message.body }}","Linkedin provider_id":"={{ $json.provider_id }}","Linkedin public_identifier":"={{ $('Get Data').item.json.linkedin_url.split('/in/')[1] }}","LN Invitation Sent":"No","LN Invitation Accepted":"No","LN Message Sent":"No","Email Sent":"No","Email Replied":"No"},"matchingColumns":[],"schema":[{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"personal_emails/0","displayName":"personal_emails/0","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"personal_emails/1","displayName":"personal_emails/1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"seniority","displayName":"seniority","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"facebook_url","displayName":"facebook_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"twitter_url","displayName":"twitter_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization/name","displayName":"organization/name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization/linkedin_url","displayName":"organization/linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization/phone","displayName":"organization/phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization/primary_domain","displayName":"organization/primary_domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization/twitter_url","displayName":"organization/twitter_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"organization/website_url","displayName":"organization/website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email_domain_catchall","displayName":"email_domain_catchall","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email_status","displayName":"email_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"extrapolated_email_confidence","displayName":"extrapolated_email_confidence","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"col_25","displayName":"col_25","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Research","displayName":"Research","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Ice Breaker ","displayName":"Email Ice Breaker ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Subject","displayName":"Email Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Body","displayName":"Email Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Linkedin Ice Breaker ","displayName":"Linkedin Ice Breaker ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Linkedin Subject","displayName":"Linkedin Subject","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Linkedin Body","displayName":"Linkedin Body","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Linkedin public_identifier","displayName":"Linkedin public_identifier","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Linkedin provider_id","displayName":"Linkedin provider_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LN Invitation Sent","displayName":"LN Invitation Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LN Invitation Accepted","displayName":"LN Invitation Accepted","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LN Message Sent","displayName":"LN Message Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Sent","displayName":"Email Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Replied","displayName":"Email Replied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-60,1220],"id":"da043785-3d81-44d6-a6ea-cbf1d8163fc4","name":"Add To Google Sheet"},{"parameters":{"assignments":{"assignments":[{"id":"bb6746a1-365b-4326-9aaa-63cccb19a760","name":"text","value":"={{ $json.query }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5420,1080],"id":"ace21343-999f-40ed-86c5-dcb1a9abe70d","name":"Set"},{"parameters":{"content":"# Combine input","height":920,"width":720},"type":"n8n-nodes-base.stickyNote","position":[-5760,800],"typeVersion":1,"id":"3e8da162-6379-4ba3-84fa-67a782a1e42c","name":"Sticky Note1"},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"llama-3.1-sonar-small-128k-online\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a research specialist. I want you to research a person and give me usefull information that can be used for ice breaker in an email. IMPORTANT: output only the information of the person without any suggestions\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Linkedin Profile URL: {{ $json.linkedin_url }} Company: {{ $json.organization.name }} Position: {{ $json.seniority }}\"\n    }\n  ]\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1600,1220],"id":"5e60846a-f296-4942-8b0f-6523c77af78a","name":"Perplexity Get Personal Info","onError":"continueErrorOutput"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2060,1220],"id":"f9e53c59-284d-45cb-8dcf-362ab360567b","name":"Loop Over Items","executeOnce":false},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-1500,1880],"id":"da4dbe59-5473-492e-9c31-45ba6b6e76a1","name":"OpenAI Chat Model1"},{"parameters":{"options":{"prompt":"Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[-1480,1680],"id":"010f1f4d-28b2-4ea6-912b-9e7464933335","name":"Auto-fixing Output Parser1"},{"parameters":{"jsonSchemaExample":"{\n\"EmailIceBreaker\": \"Icebreaker\",\n\"LinkedInIceBreaker\": \"Icebreaker\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-1340,1880],"id":"7c1089c2-daa8-429c-8bfa-c2b40ee7b296","name":"Structured Output Parser1"},{"parameters":{"promptType":"define","text":"=Here is the information of the person:\nPerson name: {{ $('Loop Over Items').item.json.name }}\nLinkedin Profile URL: {{ $('Loop Over Items').item.json.linkedin_url }}\nCompany: {{ $('Loop Over Items').item.json.organization.name }}\nPossition: {{ $('Loop Over Items').item.json.seniority }}\n\nResearch information: {{ $json.choices[0].message.content }}","hasOutputParser":true,"options":{"systemMessage":"You are a cold outreach specialist.\n\nI want you to output an Ice Breaker first line for Email and for Linkedin in separate fields.\n\n- Only output the Icebreaker and nothing else\n- Use the research information to create the ice breaker\n- The ice breaker should be one line\n- Write it as a human and use simple language\n- Create the IceBreaker in a way that allows for continuation with an offer\n- Make the LinkedIn Icebreaker maximum 180 characters this includes all the spaces and signs"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1360,1220],"id":"42a24e5c-e0df-49fb-a6d0-ceff890f30dd","name":"Ice breaker","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"url":"=https://api9.unipile.com:13986/api/v1/users/{{ $('Get Data').item.json.linkedin_url.split('/in/')[1] }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"account_id","value":"pwnu6LpERMKP3c76oTkmPw"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"YDoTcQ7d.Iy+oe8Jhf1PyY2qyZhGEjMik11LluiiH58d0NnbmcEI="},{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,1220],"id":"84b9a5b5-17cc-49a0-b7b4-f05ad0d10dd7","name":"Get Provider ID","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d03b924e-cef0-4274-b00b-75c837dcc482","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"43fdd556-33fe-4e4c-b98c-db616fc7a3ff","leftValue":"={{ $json.email_status }}","rightValue":"verified","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"ebf717aa-6ff8-4321-8ac6-1cb1f358d86e","leftValue":"={{ $json.linkedin_url }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2540,1240],"id":"9b305b69-659a-4976-8f06-18095ea33f48","name":"Check For Email & Linkedin"},{"parameters":{"content":"# Create a Gsheet with headings","height":260,"width":860},"type":"n8n-nodes-base.stickyNote","position":[-4620,1180],"typeVersion":1,"id":"8eab3998-e3be-4b04-b4ae-7bba5c4e0e58","name":"Sticky Note2"},{"parameters":{"amount":"={{ $json.RandomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-440,1220],"id":"cbf0205b-23fa-42b6-a17b-d271756c8c52","name":"Wait","webhookId":"cca25fd9-4eb2-4ca2-a374-57eb7c7928d9"},{"parameters":{"jsCode":"items[0].json.RandomNumber = Math.floor(Math.random() * 8);\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-640,1220],"id":"efe692d7-1f6b-42dc-be4b-ade8152e0360","name":"Randomizer"},{"parameters":{"model":"anthropic/claude-3.5-sonnet","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-1840,1660],"id":"d1fc541f-fcb9-4fbc-88d9-507864c2a928","name":"OpenRouter Chat Model"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-1600,1020],"id":"b5d3f449-5a8f-4ecb-b988-a47d41a24a6b","name":"Limit"},{"parameters":{"promptType":"define","text":"=Here is the information of the person:\nPerson name: {{ $('Loop Over Items').item.json.name }}\nLinkedin Profile URL: {{ $('Loop Over Items').item.json.linkedin_url }}\nCompany: {{ $('Loop Over Items').item.json.organization.name }}\nPosition: {{ $('Loop Over Items').item.json.seniority }}\nLinkedin Ice Breaker: {{ $json.output.LinkedInIceBreaker }}\n\nResearch information: {{ $('Perplexity Get Personal Info').item.json.choices[0].message.content }}\n\nIce Breaker for email: {{ $json.output.EmailIceBreaker }}\n\nIce Breaker for Linkedin:{{ $json.output.LinkedInIceBreaker }}","hasOutputParser":true,"options":{"systemMessage":"You are a cold outreach specialist.\n\nYour task is to create a Personalized Email (in HTML format) and a Personalized LinkedIn Message in separate JSON fields.\n\nYou are selling AI automation services for agencies.\nUse the provided research information to craft the messages.\nRephrase the icebreaker at the beginning of the message to make it engaging and ensure a smooth continuation into the body.\nWrite in a natural, conversational tone, as if written by a human, using simple and clear language.\nEnsure the LinkedIn message body flows naturally from the icebreaker and does not simply repeat it. Use phrases like \"as I mentioned.\"\nThe email body must be formatted as valid HTML, ensuring proper structure (e.g., <p> tags paragraphs, `<strong for emphasis, etc.).\nEnsure that any JSON included in the email or LinkedIn message is properly escaped to prevent breaking the output.\nSign both the Email and LinkedIn Message as Yiannis.\nOnly output the messages in the following JSON format and nothing else:\njson\n\nHere is an example structure :\n{\n  \"email\": {\n    \"subject Line\": \"Subject Line\",\n    \"email body\": \"<HTML-form body>\"\n  },\n  \"linkedin_message\": {\n    \"body\": \"Hi Sarah,\\n\\nSarah, your 20+ years of experience in HR and mediation is impressive – especially your work with entrepreneurs and newcomers. I'm reaching out because I think our AI automation services could really complement your expertise at SARE.\\n\\nOur abilities can handle routine tasks, freeing up more of your time for the complex, human-centered work you excel at. Interested in learning how AI could boost your coaching and conflict resolution services?\\n\\nLet me know if you'd like to connect for a brief discussion.\\n\\nThanks,\\nYiannis\"\n  }\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-1000,1220],"id":"0fff762f-8d99-455e-9c6b-4cca37c40249","name":"Generate Email & LN First message","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"zcHIV0hvws1QX0q9","mode":"list","cachedResultName":"#2.1 - OUTREACH ON LINKEDIN + EMAIL (UNIPILE)"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Spreadsheet id:":"={{ $('Create Empty Spreadsheet (Origin) ').item.json.spreadsheetId }}","Sheetid":"={{ $('Create Empty Spreadsheet (Origin) ').item.json.sheets[0].properties.sheetId }}"},"matchingColumns":[],"schema":[{"id":"Spreadsheet id:","displayName":"Spreadsheet id:","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Sheetid","displayName":"Sheetid","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-1180,1020],"id":"f640ee62-84ba-407f-a19f-abe0f0bc582b","name":"Execute Linkedin Send Request Workflow"},{"parameters":{"resource":"spreadsheet","title":"={{ $json.output.Query }} {{ $now.toFormat('yyyy-MM-dd HH:mm') }}","sheetsUi":{"sheetValues":[{"title":"Sheet1"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-4560,1260],"id":"73379d1b-a730-4f19-a0e3-858ab6d1b736","name":"Create Empty Spreadsheet (Origin) ","executeOnce":false},{"parameters":{"maxItems":20},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2300,1220],"id":"ff069613-79d2-4b26-9e05-25e789c544dd","name":"Limit (FOR TESTING)"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"email\": {\n    \"subject Line\": \"Subject Line\",\n    \"email body\": \"<HTML-form body>\"\n  },\n  \"linkedin_message\": {\n    \"body\": \"Hi Sarah,\\n\\nSarah, your 20+ years of experience in HR and mediation is impressive – especially your work with entrepreneurs and newcomers. I'm reaching out because I think our AI automation services could really complement your expertise at SARE.\\n\\nOur abilities can handle routine tasks, freeing up more of your time for the complex, human-centered work you excel at. Interested in learning how AI could boost your coaching and conflict resolution services?\\n\\nLet me know if you'd like to connect for a brief discussion.\\n\\nThanks,\\nYiannis\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[0,0],"id":"74c5e07f-c555-4c2e-92b3-ddc617410a0f","name":"Structured Output Parser2"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"email\": {\n    \"subject Line\": \"Subject Line\",\n    \"email body\": \"<HTML-form body>\"\n  },\n  \"linkedin_message\": {\n    \"body\": \"Hi Sarah,\\n\\nSarah, your 20+ years of experience in HR and mediation is impressive – especially your work with entrepreneurs and newcomers. I'm reaching out because I think our AI automation services could really complement your expertise at SARE.\\n\\nOur abilities can handle routine tasks, freeing up more of your time for the complex, human-centered work you excel at. Interested in learning how AI could boost your coaching and conflict resolution services?\\n\\nLet me know if you'd like to connect for a brief discussion.\\n\\nThanks,\\nYiannis\"\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-900,1660],"id":"ce9689f4-0d5b-4e5e-b937-4c3a96c7986b","name":"Structured Output Parser3"}],"connections":{"Run Actor":{"main":[[{"node":"Actor Completed?","type":"main","index":0}]]},"Actor Completed?":{"main":[[{"node":"Set Output ID","type":"main","index":0}]]},"Get Headers1":{"main":[[{"node":"Add Headers1","type":"main","index":0}]]},"Add Headers1":{"main":[[{"node":"Remove First Row1","type":"main","index":0}]]},"Remove First Row1":{"main":[[{"node":"Set Aify","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Set","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0},{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Create Empty Spreadsheet (Origin) ","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Set Aify":{"main":[[{"node":"Run Actor","type":"main","index":0}]]},"Get Data":{"main":[[{"node":"Retry if failed1","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Set Output ID","type":"main","index":0}]]},"Retry if failed1":{"main":[[{"node":"Check For Email & Linkedin","type":"main","index":0}],[{"node":"Wait4","type":"main","index":0}]]},"Set Output ID":{"main":[[{"node":"Get Data","type":"main","index":0}]]},"Add To Google Sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Set":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Perplexity Get Personal Info":{"main":[[{"node":"Ice breaker","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"Perplexity Get Personal Info","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser1","type":"ai_languageModel","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser1","type":"ai_outputParser","index":0}]]},"Auto-fixing Output Parser1":{"ai_outputParser":[[{"node":"Ice breaker","type":"ai_outputParser","index":0}]]},"Ice breaker":{"main":[[{"node":"Generate Email & LN First message","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Get Provider ID":{"main":[[{"node":"Add To Google Sheet","type":"main","index":0}]]},"Check For Email & Linkedin":{"main":[[{"node":"Limit (FOR TESTING)","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get Provider ID","type":"main","index":0}]]},"Randomizer":{"main":[[{"node":"Wait","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Ice breaker","type":"ai_languageModel","index":0},{"node":"Generate Email & LN First message","type":"ai_languageModel","index":0}]]},"Limit":{"main":[[{"node":"Execute Linkedin Send Request Workflow","type":"main","index":0}]]},"Generate Email & LN First message":{"main":[[{"node":"Randomizer","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Create Empty Spreadsheet (Origin) ":{"main":[[{"node":"Get Headers1","type":"main","index":0}]]},"Limit (FOR TESTING)":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Structured Output Parser3":{"ai_outputParser":[[{"node":"Generate Email & LN First message","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Edit Fields4":[{"json":{"text":"Give me managers of marketing agencyes in bulgaria"}}],"Telegram Trigger":[{"json":{"update_id":121911631,"message":{"message_id":2,"from":{"id":7961611494,"is_bot":false,"first_name":"Vas","username":"vasislav","language_code":"en"},"chat":{"id":7961611494,"first_name":"Vas","username":"vasislav","type":"private"},"date":1739991145,"text":"give me 100 marketing agency owners in the United Arab Emirates and the number of employees is between 10 and 1 million"}}}],"AI Agent":[{"json":{"output":{"URL":"https://app.apollo.io/#/people?contactEmailStatusV2[]=verified&personTitles[]=owner&personLocations[]=United%20Arab%20Emirates&organizationIndustryTagIds[]=5567cd467369644d39040000&organizationNumEmployeesRanges[]=10%2C1000000&page=1&sortAscending=false&sortByField=%5Bnone%5D","Query":"100 marketing agency owners in the United Arab Emirates with 10 to 1 million employees","Limit":"100"}}}]},"versionId":"41b6cb6f-aaee-47fe-b7da-cf04444494d5","triggerCount":0,"tags":[{"createdAt":"2025-03-31T08:42:55.021Z","updatedAt":"2025-03-31T08:42:55.021Z","id":"Ajdrvo3Lktb90nw4","name":"Syrvi"}]}