5-→-respond-to-linkedin-messages-uzAPEHrHf0SqRjLk.json
{"createdAt":"2025-03-31T08:48:34.711Z","updatedAt":"2025-04-01T10:08:17.340Z","id":"uzAPEHrHf0SqRjLk","name":"Outreach agent prototype 4/5 → respond to LinkedIn messages","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1knUa8NVJfRECvmNFezLMhykfRQBM_itAET8VkENmusk","mode":"list","cachedResultName":"LINKEDIN CONNECTION TRACKER (STABLE) ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1knUa8NVJfRECvmNFezLMhykfRQBM_itAET8VkENmusk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13wGqJF98lcVv9ALSdEBztDLJXRT-Dh2OXyFX_2C0UdQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Linkedin public_identifier":"={{ $('Google Sheets').item.json['Linkedin public_identifier'] }}","# OF MESSAGES":"={{ $json.updatedMessages }}"},"matchingColumns":["Linkedin public_identifier"],"schema":[{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Linkedin public_identifier","displayName":"Linkedin public_identifier","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Linkedin provider_id","displayName":"Linkedin provider_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN Invitation Sent","displayName":"LN Invitation Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN Invitation Accepted","displayName":"LN Invitation Accepted","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN Message Sent","displayName":"LN Message Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Sent","displayName":"Email Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Replied","displayName":"Email Replied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Origin Spredsheet id","displayName":"Origin Spredsheet id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Origin Sheet id","displayName":"Origin Sheet id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"# OF MESSAGES","displayName":"# OF MESSAGES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1380,0],"id":"9064f784-1445-47b5-9465-cf3aabad65e6","name":"Messages#: Update Tracking SheetTracker"},{"parameters":{"jsCode":"// Get the current value of '# OF MESSAGES'\nlet currentMessages = $('Get Person').item.json['# OF MESSAGES'];\n\n// Ensure the value is a number (in case it's a string or undefined)\ncurrentMessages = currentMessages ? Number(currentMessages) : 0;\n\n// Increment the value by 1\nlet updatedMessages = currentMessages + 1;\n\n// Return the result as an array of objects\nreturn [\n  {\n    updatedMessages: updatedMessages // Include the updated value in the output object\n  }\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1180,0],"id":"3d27ba9b-1d83-4564-b207-32da6ac2f640","name":"Code1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ac965929-582f-4e37-911e-7f9c81bacbb1","leftValue":"={{ $json['# OF MESSAGES'] }}","rightValue":1,"operator":{"type":"number","operation":"gte"}},{"id":"89303f35-f1dd-4887-b70f-8c452d1b14d8","leftValue":"={{ $('Message Received').item.json.body.attendees[0].attendee_provider_id }}","rightValue":"={{ $('Message Received').item.json.body.sender.attendee_provider_id }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-260,20],"id":"98a545bd-9ff1-4e18-a640-690881dccca0","name":"If"},{"parameters":{"documentId":{"__rl":true,"value":"13wGqJF98lcVv9ALSdEBztDLJXRT-Dh2OXyFX_2C0UdQ","mode":"list","cachedResultName":"Linkedin Connections Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13wGqJF98lcVv9ALSdEBztDLJXRT-Dh2OXyFX_2C0UdQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13wGqJF98lcVv9ALSdEBztDLJXRT-Dh2OXyFX_2C0UdQ/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Linkedin provider_id","lookupValue":"={{ $json.body.attendees[0].attendee_provider_id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-440,20],"id":"7c72fad4-76bf-4834-afe7-1fe4b20e8fe5","name":"Get Person"},{"parameters":{"promptType":"define","text":"={{ $('Message Received').item.json.body.message }}","options":{"systemMessage":"=You are a professional LinkedIn outreach assistant. Your goal is to respond to recipients who have replied to your initial message, engage in a meaningful conversation to understand their situation, and encourage them to book a call using a provided calendar link. Follow these guidelines:  \n\n1. **Acknowledge Their Reply**: Start by thanking them for responding and referencing something specific from their message.  \n2. **Ask Open-Ended Questions**: Show genuine interest in their situation by asking thoughtful questions to learn more about their goals, challenges, or interests.  \n3. **Provide Value**: Highlight how a call could benefit them based on what they’ve shared.  \n4. **Suggest a Call**: Transition naturally to suggesting a call and share the calendar link in a polite, non-pushy way.  \n5. **Be Professional and Friendly**: Maintain a polite, respectful, and conversational tone throughout.  \n\n**Example Workflow:**  \n1. **Acknowledge and Engage**:  \n   *\"Hi [Name], thanks for getting back to me! It’s great to hear about [specific detail from their reply]. Could you tell me more about [specific topic]?\"*  \n\n2. **Ask Follow-Up Questions**:  \n   *\"That’s really interesting! How are you currently approaching [specific challenge or goal]?\"*  \n\n3. **Transition to a Call**:  \n   *\"It sounds like [specific insight]. I’d love to explore this further and see how I can help. Would you be open to a quick 15-minute call? Here’s my calendar link: https://calendly.com/ygdaienterprises/hire-my-agency. Feel free to pick a time that works best for you!\"*  \n\n4. **Handle Objections or Questions**:  \n   If they hesitate or ask for more details, respond politely and provide clarity.  \n   *\"I completely understand! On the call, we can discuss [specific benefit or topic]. Let me know if that works for you!\"*  \n\n5. **Follow Up If Needed**:  \n   If they don’t book a call, send a polite follow-up after a few days:  \n   *\"Hi [Name], just checking in to see if you’d like to connect. Let me know if you’d like to schedule a quick chat. Here’s my calendar link again: [Insert Link]. Looking forward to hearing from you!\"*  \n\nFocus on building rapport, understanding their needs, and making it easy for them to book a call.\n\n--- \n\nThis prompt ensures the agent responds thoughtfully and transitions naturally to booking a call.\n\n\nAdditional Info: \n\nAttendies name: {{ $('Message Received').item.json.body.attendees[0].attendee_name }}\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[240,0],"id":"833fa73a-1f16-492a-85b2-9b3e8fbc5da6","name":"AI Agent"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json['Origin Spredsheet id'] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $json['Origin Sheet id'] }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[0,0],"id":"1ed04bef-a704-4e7f-bcd4-3137391ec5ab","name":"Google Sheets"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Message Received').item.json.body.attendees[0].attendee_provider_id }}","tableName":"n8n_chat_linkedin"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[320,280],"id":"719801ee-e134-4e2e-a627-ba2959d26284","name":"Postgres Chat Memory"},{"parameters":{"jsCode":"items[0].json.RandomNumber = Math.floor(Math.random() * 91) + 5;\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[580,0],"id":"05283811-e9b3-4551-ae8b-e16ce7dbbddd","name":"Randomizer"},{"parameters":{"amount":"=5"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[780,0],"id":"61568e4d-b6f7-431f-9466-4af5ed990f13","name":"Wait","webhookId":"3d461bf6-e20c-4ae5-b004-242eb3e34ea0"},{"parameters":{"method":"POST","url":"http://api9.unipile.com:13986/api/v1/chats","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"YDoTcQ7d.Iy+oe8Jhf1PyY2qyZhGEjMik11LluiiH58d0NnbmcEI="},{"name":"accept","value":"application/json"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"attendees_ids","value":"={{ $('Message Received').item.json.body.attendees[0].attendee_provider_id }}"},{"name":"account_id","value":"pwnu6LpERMKP3c76oTkmPw"},{"name":"text","value":"={{ $('AI Agent').item.json.output }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[980,0],"id":"686a4dcb-d307-4348-ad4e-e07bc15a4436","name":"Send Message"},{"parameters":{"httpMethod":"POST","path":"47838d04-9b93-4acd-b50a-4baa389c7414","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-720,20],"id":"6a1cf7ac-4b84-4577-a2b5-09fbe645b9a4","name":"Message Received","webhookId":"47838d04-9b93-4acd-b50a-4baa389c7414"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[140,200],"id":"f6d28ab2-2760-4be8-bd05-6ccaef6eac60","name":"OpenAI Chat Model"}],"connections":{"Code1":{"main":[[{"node":"Messages#: Update Tracking SheetTracker","type":"main","index":0}]]},"Get Person":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Randomizer":{"main":[[{"node":"Wait","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Randomizer","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Send Message","type":"main","index":0}]]},"Send Message":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Message Received":{"main":[[{"node":"Get Person","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Message Received":[{"json":{"headers":{"host":"n8n.alphastreammarketing.com","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 12_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36","content-length":"1071","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","accept-language":"en-US","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"51.159.110.129","cf-ipcountry":"FR","cf-ray":"9167085edea0d676-CDG","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json","priority":"u=1, i","sec-ch-ua":"\"Not=A?Brand\";v=\"99\", \"Chromium\";v=\"118\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Linux\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"172.71.130.65","x-forwarded-host":"n8n.alphastreammarketing.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"9ab61cb33d03","x-real-ip":"172.71.130.65"},"params":{},"query":{},"body":{"event":"message_received","account_id":"fxMyhUpRTLOew3bWEx1kIg","account_type":"LINKEDIN","account_info":{"type":"LINKEDIN","feature":"classic","user_id":"ACoAADUHcmgBG-2MLNDYBZdZ-yTBm2mT5gMDxK0"},"webhook_name":"N8N1","chat_id":"mIHsNDM6XwmrxFPAkulelQ","attendees":[{"attendee_id":"Axox389RU-WUs1YRyby5iA","attendee_provider_id":"ACoAAFgGFgQBmsw_TxxAqr5lnoS8Xm65Ss8K2Is","attendee_name":"Vasislav Damenliev","attendee_profile_url":"https://www.linkedin.com/in/ACoAAFgGFgQBmsw_TxxAqr5lnoS8Xm65Ss8K2Is"}],"sender":{"attendee_id":"Axox389RU-WUs1YRyby5iA","attendee_provider_id":"ACoAAFgGFgQBmsw_TxxAqr5lnoS8Xm65Ss8K2Is","attendee_name":"Vasislav Damenliev","attendee_profile_url":"https://www.linkedin.com/in/ACoAAFgGFgQBmsw_TxxAqr5lnoS8Xm65Ss8K2Is"},"subject":null,"message":"Hey","message_id":"2SjV7zWvUzO1pLPhcuRZAw","timestamp":"2025-02-23T11:56:26.701Z","attachments":[],"provider_chat_id":"2-MzliM2VhZGQtMDdmMS00ZjJlLTkwNTAtYjU2MmUxN2IxMTc1XzEwMA==","provider_message_id":"2-MTc0MDMxMTc4NjU2MGIxMjI5MC0xMDAmMzliM2VhZGQtMDdmMS00ZjJlLTkwNTAtYjU2MmUxN2IxMTc1XzEwMA=="},"webhookUrl":"https://n8n.alphastreammarketing.com/webhook/47838d04-9b93-4acd-b50a-4baa389c7414","executionMode":"production"}}]},"versionId":"99233f5b-1033-4d1b-93c9-3a6bd972f509","triggerCount":0,"tags":[{"createdAt":"2025-03-31T08:42:55.021Z","updatedAt":"2025-03-31T08:42:55.021Z","id":"Ajdrvo3Lktb90nw4","name":"Syrvi"}]}