5-→-if-connection-accepted-→-send-message-JoQyO5VFyXXYyxsR.json
{"createdAt":"2025-03-31T08:47:06.571Z","updatedAt":"2025-04-01T10:08:24.029Z","id":"JoQyO5VFyXXYyxsR","name":"Outreach agent prototype 3/5 → if connection accepted → send message","active":false,"nodes":[{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1knUa8NVJfRECvmNFezLMhykfRQBM_itAET8VkENmusk","mode":"list","cachedResultName":"LINKEDIN CONNECTION TRACKER (STABLE) ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1knUa8NVJfRECvmNFezLMhykfRQBM_itAET8VkENmusk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13wGqJF98lcVv9ALSdEBztDLJXRT-Dh2OXyFX_2C0UdQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"LN Invitation Accepted":"YES","Linkedin provider_id":"={{ $json['Linkedin provider_id'] }}"},"matchingColumns":["Linkedin provider_id"],"schema":[{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Linkedin public_identifier","displayName":"Linkedin public_identifier","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Linkedin provider_id","displayName":"Linkedin provider_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LN Invitation Sent","displayName":"LN Invitation Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN Invitation Accepted","displayName":"LN Invitation Accepted","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LN Message Sent","displayName":"LN Message Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Sent","displayName":"Email Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Replied","displayName":"Email Replied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Origin Spredsheet id","displayName":"Origin Spredsheet id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Origin Sheet id","displayName":"Origin Sheet id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"# OF MESSAGES","displayName":"# OF MESSAGES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[0,0],"id":"0e35852b-afa9-41a4-a3b2-cd3be2f750ea","name":"Update Invitation LinkedIn Connections Tracker"},{"parameters":{"jsCode":"items[0].json.RandomNumber = Math.floor(Math.random() * 91) + 5;\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0],"id":"d65b2f6e-c3ef-4d3c-8f68-733f87c23f7b","name":"Randomizer"},{"parameters":{"amount":"={{ $json.RandomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[420,0],"id":"ba9f1390-cd89-477d-9a5d-cc61b1f25650","name":"Wait","webhookId":"3d461bf6-e20c-4ae5-b004-242eb3e34ea0"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ac965929-582f-4e37-911e-7f9c81bacbb1","leftValue":"={{ $json['# OF MESSAGES LN'] }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-260,20],"id":"c49ebed6-36dc-46b3-b9c5-c625b63d4769","name":"If"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $('Get Person').item.json['Origin Spredsheet id'] }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $('Get Person').item.json['Origin Sheet id'] }}","mode":"id"},"filtersUI":{"values":[{"lookupColumn":"Linkedin provider_id","lookupValue":"={{ $('Get Person').item.json['Linkedin provider_id'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[620,0],"id":"93829ed4-ec45-4baa-9596-3e327f83c38d","name":"Get First Message"},{"parameters":{"documentId":{"__rl":true,"value":"1knUa8NVJfRECvmNFezLMhykfRQBM_itAET8VkENmusk","mode":"list","cachedResultName":"LINKEDIN CONNECTION TRACKER (STABLE) ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1knUa8NVJfRECvmNFezLMhykfRQBM_itAET8VkENmusk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1knUa8NVJfRECvmNFezLMhykfRQBM_itAET8VkENmusk/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-460,20],"id":"adc86e9e-1fe9-49bf-98f6-72081199c10e","name":"Get Person"},{"parameters":{"httpMethod":"POST","path":"47838d04-9b93-4acd-b50a-4baa389c7414","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-960,20],"id":"0f4a2fd9-6e27-4f88-b8e3-0320e21c226f","name":"Message Received","webhookId":"83ab549f-6307-4540-9518-041dcbee2b74"},{"parameters":{"amount":97,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-680,20],"id":"41a10f8a-c2ba-468f-ba56-5971e383c873","name":"Wait1","webhookId":"884f68b1-4d10-41ee-86f6-27562d42cce3","disabled":true},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"n8n_chat_linkedin","mode":"list","cachedResultName":"n8n_chat_linkedin"},"columns":{"mappingMode":"defineBelow","value":{"message":"={   \"type\": \"ai\",   \"content\": \"{{ $('Get First Message').item.json['Linkedin Body'].replace(/\\n/g, '') }}\",   \"tool_calls\": [],   \"additional_kwargs\": {},   \"response_metadata\": {},   \"invalid_tool_calls\": [] }","session_id":"={{ $('Message Received').item.json.body.attendees[0].attendee_provider_id }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"session_id","displayName":"session_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"message","displayName":"message","required":true,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1040,0],"id":"1ca977e6-45d3-41e6-b889-74f748980994","name":"LN: Add First Message to memory"},{"parameters":{"method":"POST","url":"https://api11.unipile.com:14131/api/v1/chats","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"xYpnWQ+p.pVmP80xuPgDmsiCvafEFEf55MT/fsqLak/No3zUusMg="},{"name":"accept","value":"application/json"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"attendees_ids","value":"={{ $('Message Received').item.json.body.attendees[0].attendee_provider_id }}"},{"name":"account_id","value":"fxMyhUpRTLOew3bWEx1kIg"},{"name":"text","value":"={{ $json['Linkedin Body'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[820,0],"id":"121c0931-2a88-4d1b-97f9-7513797422d1","name":"Send Message"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"13wGqJF98lcVv9ALSdEBztDLJXRT-Dh2OXyFX_2C0UdQ","mode":"list","cachedResultName":"Linkedin Connections Tracker","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13wGqJF98lcVv9ALSdEBztDLJXRT-Dh2OXyFX_2C0UdQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13wGqJF98lcVv9ALSdEBztDLJXRT-Dh2OXyFX_2C0UdQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"# OF MESSAGES":"=1","Linkedin provider_id":"={{ $('Get Person').item.json['Linkedin provider_id'] }}"},"matchingColumns":["Linkedin provider_id"],"schema":[{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Linkedin public_identifier","displayName":"Linkedin public_identifier","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Linkedin provider_id","displayName":"Linkedin provider_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LN Invitation Sent","displayName":"LN Invitation Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN Invitation Accepted","displayName":"LN Invitation Accepted","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"LN Message Sent","displayName":"LN Message Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Sent","displayName":"Email Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email Replied","displayName":"Email Replied","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Origin Spredsheet id","displayName":"Origin Spredsheet id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Origin Sheet id","displayName":"Origin Sheet id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"# OF MESSAGES","displayName":"# OF MESSAGES","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1280,0],"id":"5f99ef25-f1d1-4468-8bfc-dc913ecdedea","name":"UPDATE # OF MESSAGES (STABLE)"}],"connections":{"Randomizer":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Update Invitation LinkedIn Connections Tracker":{"main":[[{"node":"Randomizer","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Get First Message","type":"main","index":0}]]},"If":{"main":[[{"node":"Update Invitation LinkedIn Connections Tracker","type":"main","index":0}]]},"Get First Message":{"main":[[{"node":"Send Message","type":"main","index":0}]]},"Get Person":{"main":[[{"node":"If","type":"main","index":0}]]},"Message Received":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Get Person","type":"main","index":0}]]},"LN: Add First Message to memory":{"main":[[{"node":"UPDATE # OF MESSAGES (STABLE)","type":"main","index":0}]]},"Send Message":{"main":[[{"node":"LN: Add First Message to memory","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Message Received":[{"json":{"headers":{"host":"n8n.alphastreammarketing.com","user-agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 12_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.0.0 Safari/537.36","content-length":"1079","accept":"application/json, text/plain, */*","accept-encoding":"gzip, br","accept-language":"en-US","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"51.159.110.129","cf-ipcountry":"FR","cf-ray":"9159541c4ec26f0f-CDG","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json","priority":"u=1, i","sec-ch-ua":"\"Not=A?Brand\";v=\"99\", \"Chromium\";v=\"118\"","sec-ch-ua-mobile":"?0","sec-ch-ua-platform":"\"Linux\"","sec-fetch-dest":"empty","sec-fetch-mode":"cors","sec-fetch-site":"cross-site","x-forwarded-for":"172.69.223.110","x-forwarded-host":"n8n.alphastreammarketing.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"9ab61cb33d03","x-real-ip":"172.69.223.110"},"params":{},"query":{},"body":{"event":"message_received","account_id":"fxMyhUpRTLOew3bWEx1kIg","account_type":"LINKEDIN","account_info":{"type":"LINKEDIN","feature":"classic","user_id":"ACoAADUHcmgBG-2MLNDYBZdZ-yTBm2mT5gMDxK0"},"webhook_name":"On message Received","chat_id":"1UE7vzoBXq2XEW2bXgG9FA","attendees":[{"attendee_id":"4Bl5fdiPWBquLxKMKrX4Hw","attendee_provider_id":"ACoAACdfpAABi5xWGM9BaPI_3CHnnPbXuBbmU7c","attendee_name":"Miguel Martins","attendee_profile_url":"https://www.linkedin.com/in/ACoAACdfpAABi5xWGM9BaPI_3CHnnPbXuBbmU7c"}],"sender":{"attendee_id":"4Bl5fdiPWBquLxKMKrX4Hw","attendee_provider_id":"ACoAACdfpAABi5xWGM9BaPI_3CHnnPbXuBbmU7c","attendee_name":"Miguel Martins","attendee_profile_url":"https://www.linkedin.com/in/ACoAACdfpAABi5xWGM9BaPI_3CHnnPbXuBbmU7c"},"subject":null,"message":"Okay","message_id":"_h61dK1FWqu4GsZJyWu6tA","timestamp":"2025-02-21T20:01:28.310Z","attachments":[],"provider_chat_id":"2-MTE4OGRlZGQtYzY3Mi00MzgxLThmZWYtYWRmMWZhMzY5NThkXzEwMA==","provider_message_id":"2-MTc0MDE2ODA4ODE3MmIxMzEzMi0xMDAmMTE4OGRlZGQtYzY3Mi00MzgxLThmZWYtYWRmMWZhMzY5NThkXzEwMA=="},"webhookUrl":"https://n8n.alphastreammarketing.com/webhook/83ab549f-6307-4540-9518-041dcbee2b74","executionMode":"production"}}]},"versionId":"0b6bec7b-3a36-420a-9bef-91f21022ccb4","triggerCount":0,"tags":[{"createdAt":"2025-03-31T08:42:55.021Z","updatedAt":"2025-03-31T08:42:55.021Z","id":"Ajdrvo3Lktb90nw4","name":"Syrvi"}]}