agentic-rag-for-oa-rNHbPuPmGq8xvIra.json
{"createdAt":"2025-04-15T07:53:53.174Z","updatedAt":"2025-04-15T09:35:02.023Z","id":"rNHbPuPmGq8xvIra","name":"Agentic RAG for OA","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"gpt-4o","options":{}},"id":"e14938af-89fb-4832-b188-c5c2b0208608","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-740,360],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').first().json.file_id }}"},{"name":"file_title","value":"={{ $('Set File ID').first().json.file_title }}"}]}}},"id":"6e91b5bb-8079-4a44-b6ea-5e65d427522f","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1000,1140]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"56ddecda-7988-450d-9b4c-8a56d6e76720","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[760,1140],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"ef684f34-6917-4aa5-8468-90434ab38aa7","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":867,"width":3073,"color":5},"id":"b9c24bfe-384e-41aa-8a64-c87d79adcfe6","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1740,540]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"ca2fff0f-1748-454d-ad44-6c3e9920c5e2","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-660,820],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"ONECLICK - Google Drive"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1t2MvdaTNYDw7Yar_lXsbTu0xkgkCCQtO","mode":"list","cachedResultName":"OA asistent","cachedResultUrl":"https://drive.google.com/drive/folders/1t2MvdaTNYDw7Yar_lXsbTu0xkgkCCQtO"},"event":"fileCreated","options":{}},"id":"ed2ab8f5-c9c6-40b9-b1f3-7ab2c941e079","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1680,660],"credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"ONECLICK - Google Drive"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1t2MvdaTNYDw7Yar_lXsbTu0xkgkCCQtO","mode":"list","cachedResultName":"OA asistent","cachedResultUrl":"https://drive.google.com/drive/folders/1t2MvdaTNYDw7Yar_lXsbTu0xkgkCCQtO"},"event":"fileUpdated","options":{}},"id":"1ca5c652-78e5-4227-91ba-d744fcc00512","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1680,820],"credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"ONECLICK - Google Drive"}}},{"parameters":{"operation":"text","options":{}},"id":"2e281249-dd5f-430a-b5ae-2b3ef1a2b597","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[200,1140],"alwaysOutputData":true},{"parameters":{"tableName":"oa_chat_histories"},"id":"d3c77f7a-09d2-4ed6-bb24-45f3464931db","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-600,360],"notesInFlow":false,"credentials":{"postgres":{"id":"k9zhdBNZqYVHhO1c","name":"ONECLICK-Postgres"}}},{"parameters":{"operation":"delete","tableId":"oadocuments","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"0fd629fd-01d4-4f53-bd8c-d88aebabdbf7","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1140,660],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"L5uqTMSc5f8WvP9K","name":"ONECLICK - Main"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"},{"id":"77d782de-169d-4a46-8a8e-a3831c04d90f","name":"file_title","value":"={{ $json.name }}","type":"string"},{"id":"9bde4d7f-e4f3-4ebd-9338-dce1350f9eab","name":"file_url","value":"={{ $json.webViewLink }}","type":"string"}]},"options":{}},"id":"451e2db6-138b-456e-9211-8b1c22220a6f","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,820]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":1035.6381264595484},"id":"06b2e9f0-438b-4075-a4a5-695a11e8c20d","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1040,60]},{"parameters":{"options":{}},"id":"cb42d98b-07da-460d-859a-baf0d4f3a864","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-180,140]},{"parameters":{"assignments":{"assignments":[{"id":"9a9a245e-f1a1-4282-bb02-a81ffe629f0f","name":"chatInput","value":"={{ $json?.chatInput || $json.body.chatInput }}","type":"string"},{"id":"b80831d8-c653-4203-8706-adedfdb98f77","name":"sessionId","value":"={{ $json?.sessionId || $json.body.sessionId}}","type":"string"}]},"options":{}},"id":"b6da4d4c-f3bf-44f5-a82a-c77c4f3b4312","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-740,140]},{"parameters":{"public":true,"options":{}},"id":"17b620cc-1418-4516-8e17-3895ec5f6f27","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1000,140],"webhookId":"4140c896-542e-4b36-9b1d-2caca7cb5854"},{"parameters":{"httpMethod":"POST","path":"8116b52f-801f-4cf6-bcbd-cee56def5f89","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"7238f666-5de1-44e9-9fa4-131b6c05e915","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1000,340],"webhookId":"8116b52f-801f-4cf6-bcbd-cee56def5f89"},{"parameters":{"operation":"pdf","options":{}},"id":"29073e7f-186e-4d6d-b009-2c5f0707e297","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[200,580]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"a4269286-e3e6-4d96-8e15-85a35525dd72","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[240,760]},{"parameters":{},"id":"6b51fc57-65f6-4f8c-a8dc-a7321f2b307e","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[900,1260]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"d5d5048b-d5e8-444b-a0ec-73a11fdcd7f4","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[440,840]},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are a personal assistant who helps answer questions from a corpus of documents. The documents are either text based (Txt, docs, extracted PDFs, etc.) or tabular data (CSVs or Excel documents).\n\nYou are given tools to perform RAG in the 'documents' table, look up the documents available in your knowledge base in the 'document_metadata' table, extract all the text from a given document, and query the tabular files with SQL in the 'document_rows' table.\n\nAlways start by performing RAG unless the question requires a SQL query for tabular data (fetching a sum, finding a max, something a RAG lookup would be unreliable for). If RAG doesn't help, then look at the documents that are available to you, find a few that you think would contain the answer, and then analyze those.\n\nAlways tell the user if you didn't find the answer. Don't make something up just to please them."}},"id":"3966177c-5013-4a89-8e00-20a8c330e1fe","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-520,140]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"=application/vnd.google-apps.spreadsheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b69f5605-0179-4b02-9a32-e34bb085f82d","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":3}},"id":"c2bdaf4d-6bec-471f-836e-3dba7cc90065","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-460,800]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"oadocuments","mode":"list","cachedResultName":"oadocuments"},"options":{"queryName":"match_oadocuments"}},"id":"798746a5-4ec0-430b-859d-6e29b706aca6","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[920,920],"credentials":{"supabaseApi":{"id":"L5uqTMSc5f8WvP9K","name":"ONECLICK - Main"}}},{"parameters":{"operation":"xlsx","options":{}},"id":"3cc23c0f-f2c5-4d86-9218-953eaf1963d3","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[20,760]},{"parameters":{"assignments":{"assignments":[{"id":"f422e2e0-381c-46ea-8f38-3f58c501d8b9","name":"schema","value":"={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}","type":"string"},{"id":"bb07c71e-5b60-4795-864c-cc3845b6bc46","name":"data","value":"={{ $json.concatenated_data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,700],"id":"9237b886-4806-42b7-bfc5-d4278b383a84","name":"Set Schema"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[20,940],"id":"60d40da9-6a81-4fc3-b483-3f528244403c","name":"Extract from CSV"},{"parameters":{"content":"## Run Each Node Once to Set Up Database Tables","height":300,"width":680,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1740,220],"typeVersion":1,"id":"afbb7d82-da67-4f22-ba78-c4fb8ba1a1cf","name":"Sticky Note3"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE oadocuments_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1460,320],"id":"16b99272-e020-4daa-b00e-155aafc0cbcd","name":"Create Document Metadata Table","credentials":{"postgres":{"id":"k9zhdBNZqYVHhO1c","name":"ONECLICK-Postgres"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE oadocuments_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES oadocuments_metadata(id),\n    row_data JSONB  -- Store the actual row data\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1260,320],"id":"cc0323ea-32b1-43b1-9831-c833eaf90787","name":"Create Document Rows Table (for Tabular Data)","credentials":{"postgres":{"id":"k9zhdBNZqYVHhO1c","name":"ONECLICK-Postgres"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"oadocuments_metadata","mode":"list","cachedResultName":"oadocuments_metadata"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-460,360],"id":"37116d8d-9fa8-45ab-adcd-8253b72a1b48","name":"List Documents","credentials":{"postgres":{"id":"k9zhdBNZqYVHhO1c","name":"ONECLICK-Postgres"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Given a file ID, fetches the text from the document.","operation":"executeQuery","query":"SELECT \n    string_agg(content, ' ') as oadocument_text\nFROM oadocuments\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';","options":{"queryReplacement":"={{ $fromAI('file_id') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-320,360],"id":"ff78a93a-a9e6-428e-be1c-002d05d379a1","name":"Get File Contents","credentials":{"postgres":{"id":"k9zhdBNZqYVHhO1c","name":"ONECLICK-Postgres"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Run a SQL query - use this to query from the oadocument_rows table once you know the file ID you are querying. dataset_id is the file_id and you are always using the row_data for filtering, which is a jsonb field that has all the keys from the file schema given in the document_metadata table.\n\nExample query:\n\nSELECT AVG((row_data->>'revenue')::numeric)\nFROM oadocument_rows\nWHERE dataset_id = '123';\n\nExample query 2:\n\nSELECT \n    row_data->>'category' as category,\n    SUM((row_data->>'sales')::numeric) as total_sales\nFROM dataset_rows\nWHERE dataset_id = '123'\nGROUP BY row_data->>'category';","operation":"executeQuery","query":"{{ $fromAI('sql_query') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-160,360],"id":"8d7aafde-ac0c-4a0e-bd4f-a9b49fd27451","name":"Query Document Rows","credentials":{"postgres":{"id":"k9zhdBNZqYVHhO1c","name":"ONECLICK-Postgres"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"documents","toolDescription":"Use RAG to look up information in the knowledgebase.","tableName":{"__rl":true,"value":"oadocuments","mode":"list","cachedResultName":"oadocuments"},"options":{"queryName":"match_oadocuments"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[60,260],"id":"20244d42-b0bc-4cfb-a55c-e98cb343dfea","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"L5uqTMSc5f8WvP9K","name":"ONECLICK - Main"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[80,400],"id":"7dccdbcc-71e5-443c-b639-c6e074afd6db","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1500,660],"id":"85e0cd33-ccb8-4abb-9f60-ca321150ab85","name":"Loop Over Items"},{"parameters":{"operation":"executeQuery","query":"create table oadocuments (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);\n\n-- Create a function to search for documents\ncreate function match_oadocuments (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (oadocuments.embedding <=> query_embedding) as similarity\n  from oadocuments\n  where metadata @> filter\n  order by oadocuments.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1680,320],"id":"d8592fba-2089-4bcb-8907-ac02ddedda2a","name":"Create Documents Table and Match Function","credentials":{"postgres":{"id":"k9zhdBNZqYVHhO1c","name":"ONECLICK-Postgres"}}},{"parameters":{"operation":"delete","tableId":"oadocuments_rows","filters":{"conditions":[{"keyName":"dataset_id","condition":"eq","keyValue":"={{ $('Set File ID').item.json.file_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-980,820],"id":"3a9e0325-2535-47fa-9b79-cbcf44ab8eb0","name":"Delete Old Data Rows","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"L5uqTMSc5f8WvP9K","name":"ONECLICK - Main"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"oadocuments_metadata","mode":"list","cachedResultName":"oadocuments_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","title":"={{ $('Set File ID').item.json.file_title }}","url":"={{ $('Set File ID').item.json.file_url }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-820,680],"id":"58f0136b-d67c-442d-909f-97399ad6db11","name":"Insert Document Metadata","executeOnce":true,"credentials":{"postgres":{"id":"k9zhdBNZqYVHhO1c","name":"ONECLICK-Postgres"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"oadocuments_rows","mode":"list","cachedResultName":"oadocuments_rows"},"columns":{"mappingMode":"defineBelow","value":{"dataset_id":"={{ $('Set File ID').item.json.file_id }}","row_data":"={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_id","displayName":"dataset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_data","displayName":"row_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[240,940],"id":"4b7745f0-e65b-456e-b7f3-874743e085e9","name":"Insert Table Rows","credentials":{"postgres":{"id":"k9zhdBNZqYVHhO1c","name":"ONECLICK-Postgres"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"oadocuments_metadata","mode":"list","cachedResultName":"oadocuments_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","schema":"={{ $json.schema }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1100,700],"id":"100bc534-864c-4a25-9081-8781b09ab847","name":"Update Schema for Document Metadata","credentials":{"postgres":{"id":"k9zhdBNZqYVHhO1c","name":"ONECLICK-Postgres"}}},{"parameters":{"content":"## 🚀 Ultimate n8n Agentic RAG Template\n\n**Author:** [Cole Medin](https://www.youtube.com/@ColeMedin)\n\n## What is this?\nThis template provides a complete implementation of an **Agentic RAG (Retrieval Augmented Generation)** system in n8n that can be extended easily for your specific use case and knowledge base. Unlike standard RAG which only performs simple lookups, this agent can reason about your knowledge base, self-improve retrieval, and dynamically switch between different tools based on the specific question.\n\n## Why Agentic RAG?\nStandard RAG has significant limitations:\n- Poor analysis of numerical/tabular data\n- Missing context due to document chunking\n- Inability to connect information across documents\n- No dynamic tool selection based on question type\n\n## What makes this template powerful:\n- **Intelligent tool selection**: Switches between RAG lookups, SQL queries, or full document retrieval based on the question\n- **Complete document context**: Accesses entire documents when needed instead of just chunks\n- **Accurate numerical analysis**: Uses SQL for precise calculations on spreadsheet/tabular data\n- **Cross-document insights**: Connects information across your entire knowledge base\n- **Multi-file processing**: Handles multiple documents in a single workflow loop\n- **Efficient storage**: Uses JSONB in Supabase to store tabular data without creating new tables for each CSV\n\n## Getting Started\n1. Run the table creation nodes first to set up your database tables in Supabase\n2. Upload your documents through Google Drive (or swap out for a different file storage solution)\n3. The agent will process them automatically (chunking text, storing tabular data in Supabase)\n4. Start asking questions that leverage the agent's multiple reasoning approaches\n\n## Customization\nThis template provides a solid foundation that you can extend by:\n- Tuning the system prompt for your specific use case\n- Adding document metadata like summaries\n- Implementing more advanced RAG techniques\n- Optimizing for larger knowledge bases\n\n---\n\nI do intend on making a local version of this agent very soon!","height":1320,"width":540,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-2320,80],"typeVersion":1,"id":"0bf6eef5-7339-4642-861c-52a44684b5e4","name":"Sticky Note9"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"Download File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Delete Old Data Rows","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Summarize":{"main":[[{"node":"Set Schema","type":"main","index":0},{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"RAG AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract from CSV","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Set Schema":{"main":[[{"node":"Update Schema for Document Metadata","type":"main","index":0}]]},"Extract from CSV":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Create Document Metadata Table":{"main":[[]]},"List Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Get File Contents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Query Document Rows":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Set File ID","type":"main","index":0}]]},"Insert into Supabase Vectorstore":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create Documents Table and Match Function":{"main":[[]]},"Delete Old Data Rows":{"main":[[{"node":"Insert Document Metadata","type":"main","index":0}]]},"Insert Document Metadata":{"main":[[{"node":"Download File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0526e9c3-4810-4d5b-9ef7-bf985be77e1f","triggerCount":0,"tags":[{"createdAt":"2025-03-28T14:15:47.940Z","updatedAt":"2025-03-28T14:15:47.940Z","id":"iOnfYa6mdB3NBuhZ","name":"OA"}]}