agentic-rag-for-oakwood-iAzmGCjc2myK1lrg.json
{"createdAt":"2025-04-06T04:01:39.324Z","updatedAt":"2025-04-07T18:46:26.257Z","id":"iAzmGCjc2myK1lrg","name":"Agentic RAG for OAKWOOD","active":false,"nodes":[{"parameters":{"options":{}},"id":"7782a361-4bf5-4295-9871-b3b1d01706e6","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-740,360]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').first().json.file_id }}"},{"name":"file_title","value":"={{ $('Set File ID').first().json.file_title }}"}]}}},"id":"956c7b7d-874e-4884-9343-b6196c291cc1","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1000,1140]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"cab69588-b98e-413a-8066-a828dbb966cb","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[760,1140]},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"26209fb9-d09f-446d-b45a-946fd07a1aba","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB\nThis will be workflow 2","height":867,"width":3073,"color":5},"id":"3be5dee2-9912-4e9d-8cc0-77e75603846a","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1740,540]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"ce9fff1a-d403-4778-992f-aedfa4ef3ebd","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-660,820],"executeOnce":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1HtaIIK3kWwjbwhsmEbtJ-upalxVn3Ek9","mode":"list","cachedResultName":"n8n Documents","cachedResultUrl":"https://drive.google.com/drive/folders/1HtaIIK3kWwjbwhsmEbtJ-upalxVn3Ek9"},"event":"fileCreated","options":{}},"id":"77ad5e29-3e95-4631-8efa-372f58a0241d","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1680,660]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1HtaIIK3kWwjbwhsmEbtJ-upalxVn3Ek9","mode":"list","cachedResultName":"n8n Documents","cachedResultUrl":"https://drive.google.com/drive/folders/1HtaIIK3kWwjbwhsmEbtJ-upalxVn3Ek9"},"event":"fileUpdated","options":{}},"id":"cfeb0435-281c-4a9c-9034-5f8df0e23d3a","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1680,820]},{"parameters":{"operation":"text","options":{}},"id":"bedfdc17-a75a-4679-ac80-4b7545398592","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[200,1140],"alwaysOutputData":true},{"parameters":{},"id":"871c6722-860b-4507-a381-265c0f2da29e","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-600,360],"notesInFlow":false},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"08063809-2305-4e9e-888e-649f3e0fa21f","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1140,660],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"},{"id":"77d782de-169d-4a46-8a8e-a3831c04d90f","name":"file_title","value":"={{ $json.name }}","type":"string"},{"id":"9bde4d7f-e4f3-4ebd-9338-dce1350f9eab","name":"file_url","value":"={{ $json.webViewLink }}","type":"string"}]},"options":{}},"id":"c3cf6700-79f2-4885-b9fc-8121e344509d","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,820]},{"parameters":{"content":"## RAG AI Agent with Chat Interface\nThis and **Agent Tools for RAG** will be workflow 1","height":505,"width":1036},"id":"494bb0ff-5aa7-4c9a-acb9-a18edad8eca1","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1040,20]},{"parameters":{"options":{}},"id":"ba697147-2f94-4e52-a9cc-dca609856d03","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-180,140]},{"parameters":{"assignments":{"assignments":[{"id":"9a9a245e-f1a1-4282-bb02-a81ffe629f0f","name":"chatInput","value":"={{ $json?.chatInput || $json.body.chatInput }}","type":"string"},{"id":"b80831d8-c653-4203-8706-adedfdb98f77","name":"sessionId","value":"={{ $json?.sessionId || $json.body.sessionId}}","type":"string"}]},"options":{}},"id":"398ea4a7-d7b5-4b88-9eb7-c6d6ab21e23f","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-740,140]},{"parameters":{"public":true,"options":{}},"id":"1bb0b466-7023-49b5-8780-94c285d492f9","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1000,140],"webhookId":"178b3d1d-bfe7-41a6-970b-7581dbd92abf"},{"parameters":{"httpMethod":"POST","path":"7098a175-e2b9-488a-ba0f-165aaa8e5f1e","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"e075583e-ecee-46cc-b99e-5c86600d3d91","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1000,340],"webhookId":"7098a175-e2b9-488a-ba0f-165aaa8e5f1e"},{"parameters":{"operation":"pdf","options":{}},"id":"8c4b7392-e38b-4489-9111-40b128484f1b","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[200,580]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"3793027f-060f-4fa0-b6a9-85667f6dc479","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[240,760]},{"parameters":{},"id":"c7c35fee-4e1e-4551-b55a-54989557676f","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[900,1260]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"1203bd59-512a-4582-acb0-7e18f4e64cb7","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[440,840]},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are a personal assistant who helps answer questions from a corpus of documents. The documents are either text based (Txt, docs, extracted PDFs, etc.) or tabular data (CSVs or Excel documents).\n\nYou are given tools to perform RAG in the 'documents' table, look up the documents available in your knowledge base in the 'document_metadata' table, extract all the text from a given document, and query the tabular files with SQL in the 'document_rows' table.\n\nAlways start by performing RAG unless the question requires a SQL query for tabular data (fetching a sum, finding a max, something a RAG lookup would be unreliable for). If RAG doesn't help, then look at the documents that are available to you, find a few that you think would contain the answer, and then analyze those.\n\nAlways tell the user if you didn't find the answer. Don't make something up just to please them."}},"id":"3b4d6287-527a-4a28-ab33-8eacdce4dc58","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-520,140]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"is pdf"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"is xlsx"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"=application/vnd.google-apps.spreadsheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"is sheet"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b69f5605-0179-4b02-9a32-e34bb085f82d","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"is doc"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7268c1d8-d370-4263-a96e-a5217692897b","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"is text/csv","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"is csv"}]},"options":{"fallbackOutput":"none"}},"id":"f3179fb9-e63c-449e-8641-2d653d4593d7","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-460,800]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"0252e11c-1620-4e39-a447-90dc4be689f4","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[920,920]},{"parameters":{"operation":"xlsx","options":{}},"id":"127e0383-3f23-453a-83b6-97f9068aafaa","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[20,760]},{"parameters":{"assignments":{"assignments":[{"id":"f422e2e0-381c-46ea-8f38-3f58c501d8b9","name":"schema","value":"={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}","type":"string"},{"id":"bb07c71e-5b60-4795-864c-cc3845b6bc46","name":"data","value":"={{ $json.concatenated_data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,700],"id":"8559532e-0b1c-440b-8f08-3e3122a49e54","name":"Set Schema"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[20,940],"id":"e1366fc3-b3dd-4ca0-809a-afcd1a7eb176","name":"Extract from CSV"},{"parameters":{"content":"## We run each node once to set up database tables in Supabase\nThis is for easier workflow transfer.","height":360,"width":680,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1740,160],"typeVersion":1,"id":"1ab264ae-e072-4005-bffd-bdc6e7b95097","name":"Sticky Note3"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1480,320],"id":"9f29bb40-dcb2-428c-aa06-05931016958f","name":"Create Document Metadata Table"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE document_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES document_metadata(id),\n    row_data JSONB  -- Store the actual row data\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1260,320],"id":"52645285-6adb-4ec1-8b59-dd63812503e0","name":"Create Document Rows Table (for Tabular Data)"},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-460,360],"id":"61efad6b-355b-47f9-8daa-673f2da6311a","name":"List Documents"},{"parameters":{"descriptionType":"manual","toolDescription":"Given a file ID, fetches the text from the document.","operation":"executeQuery","query":"SELECT \n    string_agg(content, ' ') as document_text\nFROM documents\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';","options":{"queryReplacement":"={{ $fromAI('file_id') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-320,360],"id":"8917ffe5-2046-4b16-a7f6-3a22cf0f0a10","name":"Get File Contents"},{"parameters":{"descriptionType":"manual","toolDescription":"Run a SQL query - use this to query from the document_rows table once you know the file ID you are querying. dataset_id is the file_id and you are always using the row_data for filtering, which is a jsonb field that has all the keys from the file schema given in the document_metadata table.\n\nExample query:\n\nSELECT AVG((row_data->>'revenue')::numeric)\nFROM document_rows\nWHERE dataset_id = '123';\n\nExample query 2:\n\nSELECT \n    row_data->>'category' as category,\n    SUM((row_data->>'sales')::numeric) as total_sales\nFROM dataset_rows\nWHERE dataset_id = '123'\nGROUP BY row_data->>'category';","operation":"executeQuery","query":"{{ $fromAI('sql_query') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-160,360],"id":"94e751f7-fa32-4f1a-8cd3-dd7fa827f1a4","name":"Query Document Rows"},{"parameters":{"mode":"retrieve-as-tool","toolName":"documents","toolDescription":"Use RAG to look up information in the knowledgebase.","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[160,140],"id":"a2b46bc7-8087-406d-b725-51d10978c530","name":"Supabase Vector Store1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[260,320],"id":"20dc913c-88f6-4e64-a0d3-43d1a2308a97","name":"Embeddings OpenAI2"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1500,660],"id":"b44ff1dc-d91d-49c2-a69b-c849cce2b4db","name":"Loop Over Items"},{"parameters":{"operation":"executeQuery","query":"-- Enable the pgvector extension to work with embedding vectors\ncreate extension vector;\n\n-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);\n\n-- Create a function to search for documents\ncreate function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1680,320],"id":"c6b901e9-38a3-4e83-b777-bd66ecca0d05","name":"Create Documents Table and Match Function","credentials":{"postgres":{"id":"k9zhdBNZqYVHhO1c","name":"ONECLICK-Postgres"}}},{"parameters":{"operation":"delete","tableId":"document_rows","filters":{"conditions":[{"keyName":"dataset_id","condition":"eq","keyValue":"={{ $('Set File ID').item.json.file_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-980,820],"id":"eb42ba96-caca-4f62-8e96-ae2a81e7039e","name":"Delete Old Data Rows","alwaysOutputData":true,"executeOnce":true},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","title":"={{ $('Set File ID').item.json.file_title }}","url":"={{ $('Set File ID').item.json.file_url }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-820,680],"id":"da829d31-1f32-4020-9802-fc7f28c8668e","name":"Insert Document Metadata","executeOnce":true},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_rows","mode":"list","cachedResultName":"document_rows"},"columns":{"mappingMode":"defineBelow","value":{"dataset_id":"={{ $('Set File ID').item.json.file_id }}","row_data":"={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_id","displayName":"dataset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_data","displayName":"row_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[240,940],"id":"8a2dbec1-74a7-4363-b973-50d39578a07a","name":"Insert Table Rows"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","schema":"={{ $json.schema }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1100,700],"id":"f957897d-9572-41c4-b018-caaaf6ca6f21","name":"Update Schema for Document Metadata"},{"parameters":{"content":"## RAG for OAKWOOD\n\n## What is the setup?\nThis workflow provides a complete implementation of an **Agentic RAG (Retrieval Augmented Generation)** system in n8n that can be extended easily for multiple specific use cases and knowledge bases. Unlike standard RAG which only performs simple lookups, this agent can reason about the knowledge base, self-improve retrieval, and dynamically switch between different tools based on the specific question.\n\n## Why Agentic RAG?\nStandard RAG has significant limitations:\n- Poor analysis of numerical/tabular data\n- Missing context due to document chunking\n- Inability to connect information across documents\n- No dynamic tool selection based on question type\n\n## What makes this template powerful:\n- **Intelligent tool selection**: Switches between RAG lookups, SQL queries, or full document retrieval based on the question\n- **Complete document context**: Accesses entire documents when needed instead of just chunks\n- **Accurate numerical analysis**: Uses SQL for precise calculations on spreadsheet/tabular data\n- **Cross-document insights**: Connects information across your entire knowledge base\n- **Multi-file processing**: Handles multiple documents in a single workflow loop\n- **Efficient storage**: Uses JSONB in Supabase to store tabular data without creating new tables for each CSV","height":780,"width":540,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-2340,420],"typeVersion":1,"id":"05b109bb-8d85-4e07-a16b-1deec7083e55","name":"Sticky Note9"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"You are my helpful, intelligent administrative assistant.","role":"system"},{"content":"=Your task is to categorize incoming emails into the following labels:\n\n1. Investor Relations\nThis includes:\n- Questions from current investors\n- Potential investor inquiries\n- Investor updates & reporting\n\n2. Property Management\nThis includes:\n- Maintenance requests\n- Tenant complaints or issues\n- Inspection reports\n- Utility and services communication\n\n3. Tenant Communication\nThis includes:\n- Lease inquiries\n- Rent payment confirmations/issues\n- Move-in/move-out notices\n- Renewal requests\n\n4. Deal Flow\nThis includes:\n- New property listings/opportunities\n- Broker emails\n- Market intelligence\n- Underwriting documents\n\n5. Legal\nThis includes:\n- Contract reviews\n- Legal disputes or notices\n- HOA or city regulation updates\n\n6. finance and accounting\nThis includes:\n- Bank statements\n- Tax documents\n- Bookkeeping updates\n- Payment confirmations\n\n7. Internal Communication\nThis includes:\n- Updates from employees or contractors\n- Meeting notes\n- HR-related topics\n\n8. marketing and pr\nThis includes:\n- Press/media inquiries\n- Branding or website updates\n- Partnership proposals\n\n9. Vendors and Contractors\nThis includes:\n- Bids & quotes\n- Project updates\n- Invoices & payment follow-ups\n\n10. miscellaneous\n- emails you are unsure off which category they would fit\n\nReturn your answer in JSON as follows:\n\n{\"category\":\"category goes here\"}\n\nUse precise category names.\n\nRules:\n- I’m Jack, the CEO & Founder of Oakwood Capital, a real estate investment firm. I get a lot of emails—some important, many not. I need this assistant to triage my inbox, so I only see what truly matters. I want clear categories that help me focus and delegate.\n- If the email is from a current or potential investor and discusses topics like fund performance, capital calls, project updates, ROI, or requests for investor reports—categorize it as Investor Relations.\n- If the email is about issues related to building operations—such as maintenance requests, property inspections, tenant complaints, or communication from utility companies—categorize it as Property Management.\n- If the email comes from a tenant or prospective tenant and it discusses lease terms, rent payments, move-in or move-out processes, or lease renewals—categorize it as Tenant Communication.\n- If the email is sharing a real estate investment opportunity, a brokered property listing, underwriting documents, or market insights related to potential acquisitions—categorize it as Deal Flow & Acquisitions.\n- If the email contains legal documents, contract discussions, updates on lawsuits or disputes, HOA communications, or changes in city or government regulations—categorize it as Legal & Compliance.\n- If the email includes financial information such as bank statements, tax filings, bookkeeping updates, invoices, or payment confirmations—categorize it as Finance & Accounting.\n- If the email is from an internal team member or contractor and contains project updates, HR communications, meeting notes, or coordination on internal operations—categorize it as Internal / Team Communication.\n- If the email is about branding, website updates, media coverage, public relations opportunities, podcast invites, or anything marketing-related—categorize it as Marketing & PR.\n- If the email is from a third-party service provider or contractor and includes bids, quotes, work updates, or invoice/payment discussions—categorize it as Vendors & Contractors.\n- If unsure, use miscellaneous"},{"content":"Subject: Q2 Distribution Timeline\n\nHi Jack,\n\nI hope you're doing well. I just wanted to check when the Q2 investor distributions will be processed. Also, will the updated property portfolio be included in this quarter's report?\n\nBest regards,\nEmily – Peak Partners Capital"},{"content":"{\"category\":\"Investor Relations\"}","role":"assistant"},{"content":"Subject: AC Unit Down – Urgent Repair Needed\n\nHi,\nThe AC unit in the lobby of the Parkview building has stopped working. Tenants have been complaining all morning. Can we get a technician out today?\n\nRegards,\nDerek – Building Supervisor"},{"content":"{\"category\":\"Property Management\"}","role":"assistant"},{"content":"Subject: Question About Rent Payment\n\nHello,\nI submitted my rent payment through the portal on the 1st, but it still shows as pending. Can someone confirm it was received?\n\nThank you,\nLisa M. – Tenant at Riverside Lofts"},{"content":"{\"category\":\"Tenant Communication\"}","role":"assistant"},{"content":"Subject: New Off-Market Multifamily Deal – Chicago\n\nJack,\nI’ve got a 36-unit building on the west side of Chicago that just came across my desk. It’s off-market, 7.1% cap, and fully occupied. Want me to send over the OM and financials?\n\nBest,\nRyan – Slate Brokerage"},{"content":"{\"category\":\"Deal Flow\"}","role":"assistant"},{"content":"Subject: New City Regulation on Fire Safety Systems\n\nHi Jack,\nThe city just passed a new ordinance requiring updated fire suppression systems in all multi-unit buildings over 20 units. You’ll need to ensure compliance by November 15th. Let me know if you want help coordinating legal review.\n\nSincerely,\nAmanda – Legal Counsel"},{"content":"{\"category\":\"Legal\"}","role":"assistant"},{"content":"Subject: Wire Transfer Confirmation – Closing Funds\n\nHi,\nThe $250,000 wire transfer for the closing of the Oak Ridge property has been completed. Attached is the confirmation from the bank. Let me know if anything else is needed.\n\nThanks,\nNatalie – CFO"},{"content":"{\"category\":\"finance and accounting\"}","role":"assistant"},{"content":"Subject: Weekly Project Recap – Eastside Renovation\n\nJack,\nHere’s a quick recap of this week’s progress at Eastside: plumbing rough-in is complete, drywall goes up Monday. We’re still tracking for a mid-April completion. I’ll update the Gantt chart accordingly.\n\nMark\n"},{"content":"{\"category\":\"Internal Communication\"}","role":"assistant"},{"content":"Subject: Press Feature Opportunity – Urban Real Estate Weekly\n\nHi Jack,\nI’m writing from Urban Real Estate Weekly—we’re running a piece on developers who are transforming downtown districts, and Oakwood Capital came up multiple times. Would you be open to a quick interview this week?\n\nCheers,\nTara L. – Features Editor"},{"content":"{\"category\":\"marketing and pr\"}","role":"assistant"},{"content":"Subject: Updated Bid for Landscaping – Willow Park\n\nJack,\nPlease find attached our revised bid for monthly landscaping services at Willow Park. The updated scope includes seasonal flower beds and weekly lawn care. Let me know if you'd like to proceed.\n\nBest,\nKevin – GreenScape Contractors"},{"content":"{\"category\":\"Vendors and Contractors\"}","role":"assistant"},{"content":"Subject: We Help Real Estate Firms Save 40% on Ops Costs\n\nHey Jack,\nI noticed Oakwood Capital is growing fast. At RE OpsPro, we help firms like yours outsource admin and back-office tasks so you can focus on deals. Would you be open to a quick chat this week?\n\nCheers,\nAlex – RE OpsPro"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-800,1780],"id":"1f59ff2d-e8d1-4bfd-8005-36d721e09b3c","name":"Categorize Email","credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-1600,1780],"id":"c03175a3-c2f1-46fc-a618-a0de5ecc45bc","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"iX8qfUXdQMjweLGs","name":"ONECLICK - Gmail"}}},{"parameters":{"operationMode":"nodeInputBinary","options":{"binaryDataKey":"={{ $('Gmail Trigger').item.json.snippet }}","summarizationMethodAndPrompts":{"values":{"combineMapPrompt":"=Write a concise summary of the following in max 200 words:\n\n\"{{ $('Gmail Trigger').item.json.snippet }}\"\n\nDo not enter the total number of words used.","prompt":"=Write a concise summary of the following in max 100 words:\n\n\"{{ $('Gmail Trigger').item.json.snippet }}\"\n\nDo not enter the total number of words used."}}}},"id":"6b134919-da8e-41bc-8e94-c3a0be40dffc","name":"Email Summarization Chain","type":"@n8n/n8n-nodes-langchain.chainSummarization","position":[-180,1780],"typeVersion":2},{"parameters":{"operation":"toText","sourceProperty":"response.text","options":{"fileName":"={{ $('Source name').item.json.message.content['sender name'] }} - {{ $('Categorize Email').item.json.message.content.category }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[220,1780],"id":"5a0abf00-cf1b-4af2-a772-a82a68cec5ee","name":"Convert to File"},{"parameters":{"name":"={{ $('Source name').item.json.message.content['sender name'] }} {{ $('Categorize Email').item.json.message.content.category }} - {{ $('Gmail Trigger').item.json.id }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1pvvVVscULh211Waiam4YmFmYx_sQgwtq","mode":"list","cachedResultName":"email-summaries-OAKWOOD","cachedResultUrl":"https://drive.google.com/drive/folders/1pvvVVscULh211Waiam4YmFmYx_sQgwtq"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[460,1780],"id":"c27e74b0-fe37-48e0-aef2-8f88a14a364a","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"ONECLICK - Google Drive"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a helpful assistant, your job is to source the sender name from an email\n\nOutput the sender name in JSON format:\n{\"sender name\":\"firstName lastName\"}","role":"system"},{"content":"=PartnerStack <hello@partnerstackmail.com>"},{"content":"{\"sender name\":\"PartnerStack\"}","role":"assistant"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-520,1780],"id":"09acb2fa-7237-4b30-8fb9-920e8b52a592","name":"Source name","credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-160,1940],"id":"7a5370a9-5073-4581-ae64-b6e4d627f99b","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"content":"## On Received Email – Trigger Workflow\n\nWhen an email is received, it goes into a loop so no email is lost.  \nThe email is categorized, allowing AI to apply labels that indicate the importance of each message.\n","height":340,"width":780,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-1640,1640],"typeVersion":1,"id":"0c095fb9-c4f2-49dd-bf69-f4bc1ba473f4","name":"Sticky Note4"},{"parameters":{"content":"## Sourcing the name from the sender","height":340,"width":580},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-820,1640],"id":"0f11fdc2-5b95-4f87-89a9-8965894464b6","name":"Sticky Note5"},{"parameters":{"content":"## Email summary","height":340,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-220,1640],"id":"41a744db-1362-4076-8246-371aa215135f","name":"Sticky Note6"},{"parameters":{"content":"## Convert to TXT file and upload to Google Drive","height":340,"width":460,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[140,1640],"id":"092c87d9-0f91-4faf-9b49-e9bea21afdde","name":"Sticky Note7"},{"parameters":{"assignments":{"assignments":[{"id":"cb7195d7-edac-4b97-8b3c-ccff2149f0a5","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1040,1780],"id":"752f20da-fc48-4499-9b40-c3353af5c47f","name":"Edit Fields1"},{"parameters":{"content":"## Email summarizer\n**Workflow 3** ","height":520,"width":2280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1660,1540],"id":"f187e61e-8bee-423a-8aef-059180153be6","name":"Sticky Note8"},{"parameters":{"content":"## Attachment extractor\n**Workflow 4** ","height":460,"width":2280,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1660,2080],"id":"52020012-3582-4ac2-a199-0c3be5b730d6","name":"Sticky Note10"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1420,1780],"id":"08159237-6640-4a94-826f-5a55f479b0a2","name":"Loop Over Items2"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{},"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-1620,2380],"id":"9dba9344-80f9-42a2-b004-14c381311922","name":"Gmail Trigger for attachments","credentials":{"gmailOAuth2":{"id":"iX8qfUXdQMjweLGs","name":"ONECLICK - Gmail"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1400,2260],"id":"2a44b309-2218-4186-8ac8-efa0ba40de4c","name":"Loop Over Items1"},{"parameters":{"operation":"get","messageId":"={{ $('Gmail Trigger').item.json.id }}"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1220,1800],"id":"1facb7cf-faa7-4e6a-94bf-527b6cb70c90","name":"Gmail","webhookId":"591fda1c-db89-407f-8250-17e79e361f3d","credentials":{"gmailOAuth2":{"id":"iX8qfUXdQMjweLGs","name":"ONECLICK - Gmail"}}},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-960,2260],"id":"1eba0e2b-cd4f-46b8-8b55-356287c2c2a1","name":"Gmail get attachments","webhookId":"580fb859-2d05-49c6-95cf-2ad7fadff2ee","credentials":{"gmailOAuth2":{"id":"iX8qfUXdQMjweLGs","name":"ONECLICK - Gmail"}}},{"parameters":{"fieldToSplitOut":"attachments","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-460,2260],"id":"3cfe2dbb-d95f-4f64-9f8e-588fcd005eb4","name":"Split Out"},{"parameters":{"name":"={{ $json.from.value[0].name }} - {{ $('Gmail get attachments').item.json.id }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1pvvVVscULh211Waiam4YmFmYx_sQgwtq","mode":"list","cachedResultName":"email-summaries-OAKWOOD","cachedResultUrl":"https://drive.google.com/drive/folders/1pvvVVscULh211Waiam4YmFmYx_sQgwtq"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[520,2300],"id":"21ee8fce-97a0-4f17-8886-c4af9400b10e","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"ONECLICK - Google Drive"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[480,2100],"id":"b2d461d1-5eea-49a1-8211-98e6c69bf703","name":"No Operation, do nothing"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"message_id","field2":"id"}]},"joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[0,2360],"id":"bd7a1ca4-b4b6-423c-963d-866972f5cab2","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"52e60c12-1dc4-4b8a-b92f-c5e849843eb0","name":"fileName","value":"={{ $('Gmail get attachments').item.binary[$json.attachments].fileName }}","type":"string"},{"id":"a3e158ee-bcd7-4783-b36d-d04fc43a85b7","name":"fileType","value":"={{ $('Gmail get attachments').item.binary[$json.attachments].mimeType }}","type":"string"},{"id":"d60655ab-3649-4cc9-8677-04e865557c8a","name":"attachment","value":"={{ $json.attachments }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-220,2260],"id":"0c011638-7f66-4a54-a4b0-349a5e805017","name":"file name & type"},{"parameters":{"assignments":{"assignments":[{"id":"daa605ae-e248-4698-8e17-2250889d256e","name":"=attachments","value":"={{ $('Gmail get attachments').item.binary.keys() }}","type":"array"},{"id":"4d9be6a0-6f63-4bd1-ad92-9054e2f2d4a3","name":"message_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-720,2260],"id":"46aa976e-2eeb-4be5-a758-bc74feab14b5","name":"attachment to ID"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"73a403cb-4448-4d87-9e33-14f9e584bb05","leftValue":"={{ $('Gmail Trigger for attachments').item.binary }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-1180,2260],"id":"79f31bf2-2d6d-4030-9340-c55b9d9886ab","name":"Attachment?"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.fileType === 'image/png' || $json.fileType === 'image/jpeg' }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true},"id":"2f852d9e-f7d8-4e67-9251-d97f84171def"}],"combinator":"and"},"renameOutput":true,"outputKey":"is image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5151f50b-2c0e-4fcf-9bd6-875d79e25ac8","leftValue":"={{ $json.fileType === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"is word"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0c7f37f0-ad4a-4b00-9831-2ae5fe629dfb","leftValue":"={{ $json.fileType === 'text/csv' || $json.fileType === 'application/pdf' || $json.fileType === 'text/plain' || $json.fileType === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' }}","rightValue":"=","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"is safe"}]},"options":{"fallbackOutput":"none"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[200,2260],"id":"a22383ea-3a61-4e75-a7e3-bf75ef74fa23","name":"route"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"Download File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Delete Old Data Rows","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Summarize":{"main":[[{"node":"Set Schema","type":"main","index":0},{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"RAG AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract from CSV","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}],[{"node":"Extract from CSV","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Set Schema":{"main":[[{"node":"Update Schema for Document Metadata","type":"main","index":0}]]},"Extract from CSV":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Create Document Metadata Table":{"main":[[{"node":"Create Document Rows Table (for Tabular Data)","type":"main","index":0}]]},"List Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Get File Contents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Query Document Rows":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Set File ID","type":"main","index":0}]]},"Insert into Supabase Vectorstore":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create Documents Table and Match Function":{"main":[[{"node":"Create Document Metadata Table","type":"main","index":0}]]},"Delete Old Data Rows":{"main":[[{"node":"Insert Document Metadata","type":"main","index":0}]]},"Insert Document Metadata":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Categorize Email":{"main":[[{"node":"Source name","type":"main","index":0}]]},"Gmail Trigger":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Email Summarization Chain":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Source name":{"main":[[{"node":"Email Summarization Chain","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Email Summarization Chain","type":"ai_languageModel","index":0}]]},"Edit Fields1":{"main":[[{"node":"Categorize Email","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Gmail","type":"main","index":0}]]},"Gmail Trigger for attachments":{"main":[[{"node":"Loop Over Items1","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Loop Over Items1":{"main":[[],[{"node":"Attachment?","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Gmail get attachments":{"main":[[{"node":"attachment to ID","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"file name & type","type":"main","index":0}]]},"Merge":{"main":[[{"node":"route","type":"main","index":0}]]},"file name & type":{"main":[[{"node":"Merge","type":"main","index":0}]]},"attachment to ID":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Attachment?":{"main":[[{"node":"Gmail get attachments","type":"main","index":0}]]},"route":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Google Drive1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"File Created":[{"json":{"kind":"drive#file","copyRequiresWriterPermission":false,"writersCanShare":true,"viewedByMe":true,"mimeType":"application/vnd.google-apps.spreadsheet","exportLinks":{"application/x-vnd.oasis.opendocument.spreadsheet":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=ods","text/tab-separated-values":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=tsv","application/pdf":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=pdf","application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=xlsx","text/csv":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=csv","application/zip":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=zip","application/vnd.oasis.opendocument.spreadsheet":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=ods"},"parents":["1HtaIIK3kWwjbwhsmEbtJ-upalxVn3Ek9"],"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBO25toxt6RwVPjSmlzZEda-lk4VxRy3zObFMOtcvKSX8m0uyYJAOMHYjIxSVnl6GgWT9QJFzn6oAaUFOPdnWPB89gUcAo5c97K0oNb1vYNFjk5jEOpro51Aa5PYpA=s220","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet","shared":false,"lastModifyingUser":{"displayName":"Cole Medin","kind":"drive#user","me":true,"permissionId":"09805982089636049437","emailAddress":"colemedin@ottomator.ai","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXYQW9sb7WW3wnC-1AVobRmOW6jJVl-c6A8a1Vmfg22B_llKKPYSlKo9UEZvIV23wtXqnJ0dgC56hiJN_z6e2d9S2MdiFDTpg7cyD-gXf1LICu2REL4QH54-MvYmKecDcm4MgnZYSms-X1KpD6seI1pkEehGcRg0NIXn2wGCPicXUZ30K8SFo9PxCr_0NRyR93hQn8hkX3Ml1nBuHIRL4Fvu5MjOvxRJQkqaF9zf0JVyB1LHdV-Ypr87v_B_7hDaJ8Jor2z73LA-rKq_mcU6Ta46Hsm83AnTY3iOJE9WxH2Cd9N795co4COaYL5hHEADdPq_B-OfVcbYNk1kf2qT4Josi_cu1uRGUFnhpBpD5Cu5uy2qD-J8GrMgkKdRKr1S7Z9ZD6bYyb3r3j6s4NHpE_iswHBJh-WfD2fg590TiCs6ciAPbx5769BYDF6Z2hVsCVq0G5bgS3JfbCTVNk8mNCh_4gzyRyfzj38OR0L5Fngv1i8y-HluGNw2k37cyrYu4HunKjMZKy_NsmOTWLITeyU_VoDvH-egUftryYVVCdUn1SEpSjDByjpLmQqCk-Kg3jK-0DGmClkblFw_svgvWUqyoOWMHHpH5fNTLdmPYK6w0Zcft5GXar9bahLAK9IT-epMIFTwnxhQu2yT0cP1I186OoWWUxCapElN_AEJDhibEMLyrHlmJUuhq205dClKGEvXw9D2ejYVpY0xVQ1ZxpKV-QGDTkniAjlWVCRwdaDrgbH3ieKgy5LXj357oCXUwRC-5niqp5MiybN0bN7KUe1zPSJjMDSjIkKcUMd_uAx_hlFkhx_jD0i0IMs3BLQ3OEOLw1IoD2Lol6jBstCUcZFCQrikP7d-nabEX8yDTLfYi9e8sDPp2yNA4pBJfKUm9-AHOAFWZ1BzXJN97RIiTQyKdExCKSz3kPf2lrQyTDVwYkZ75-ZkksHvXoz3kWo3MrAjGl56MxCrOkd88teMhDHq0E=s64"},"owners":[{"displayName":"Cole Medin","kind":"drive#user","me":true,"permissionId":"09805982089636049437","emailAddress":"colemedin@ottomator.ai","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXYQW9sb7WW3wnC-1AVobRmOW6jJVl-c6A8a1Vmfg22B_llKKPYSlKo9UEZvIV23wtXqnJ0dgC56hiJN_z6e2d9S2MdiFDTpg7cyD-gXf1LICu2REL4QH54-MvYmKecDcm4MgnZYSms-X1KpD6seI1pkEehGcRg0NIXn2wGCPicXUZ30K8SFo9PxCr_0NRyR93hQn8hkX3Ml1nBuHIRL4Fvu5MjOvxRJQkqaF9zf0JVyB1LHdV-Ypr87v_B_7hDaJ8Jor2z73LA-rKq_mcU6Ta46Hsm83AnTY3iOJE9WxH2Cd9N795co4COaYL5hHEADdPq_B-OfVcbYNk1kf2qT4Josi_cu1uRGUFnhpBpD5Cu5uy2qD-J8GrMgkKdRKr1S7Z9ZD6bYyb3r3j6s4NHpE_iswHBJh-WfD2fg590TiCs6ciAPbx5769BYDF6Z2hVsCVq0G5bgS3JfbCTVNk8mNCh_4gzyRyfzj38OR0L5Fngv1i8y-HluGNw2k37cyrYu4HunKjMZKy_NsmOTWLITeyU_VoDvH-egUftryYVVCdUn1SEpSjDByjpLmQqCk-Kg3jK-0DGmClkblFw_svgvWUqyoOWMHHpH5fNTLdmPYK6w0Zcft5GXar9bahLAK9IT-epMIFTwnxhQu2yT0cP1I186OoWWUxCapElN_AEJDhibEMLyrHlmJUuhq205dClKGEvXw9D2ejYVpY0xVQ1ZxpKV-QGDTkniAjlWVCRwdaDrgbH3ieKgy5LXj357oCXUwRC-5niqp5MiybN0bN7KUe1zPSJjMDSjIkKcUMd_uAx_hlFkhx_jD0i0IMs3BLQ3OEOLw1IoD2Lol6jBstCUcZFCQrikP7d-nabEX8yDTLfYi9e8sDPp2yNA4pBJfKUm9-AHOAFWZ1BzXJN97RIiTQyKdExCKSz3kPf2lrQyTDVwYkZ75-ZkksHvXoz3kWo3MrAjGl56MxCrOkd88teMhDHq0E=s64"}],"webViewLink":"https://docs.google.com/spreadsheets/d/1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM/edit?usp=drivesdk","size":"1024","viewersCanCopyContent":true,"permissions":[{"id":"09805982089636049437","displayName":"Cole Medin","type":"user","kind":"drive#permission","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjU-zfOspR2RPV0ODNiUMTUKvYDBBCZV-dZusxjov3wKmsVu93G9IfBKLBtQef-ZfzxVCqoc8HAVOEJyVPWiFax-dpQqjp5Bmqnsiestzam2U55u4Y7m3qszgGuIwTYYCQ4-TI6w2ActqiVwzXSrFt8hF5q5UYn1zzHvR8OG1fQHhoxUgOpsSwsylfLh2gRj49gNFuJ0tQZFIT37R0-dsKLjV0DqBDUpqHgP4mnA02dUgy3D9BjshwfHQY-IdWnK1xGTrunpzeHBrIE306eUhHcXaN2D0P8vAdpFRjTKyJMCDVp5ZVMn79MSZwUVbN9TGD_u4DpbXFVB27hi4MjS8mHblF5tJLSKtLs-UW4itcrt-QnUMeHkIEpcly8vsGcuiOmyNHlldsJ79HhOsSPhY9vxvwSpXBOn_9F15_808Om2de0duT2RewGeMlEXXjE0PO456Y4BStBV1uRa3VceZ2l3MgXkbF8BZG_f0DjNrVkW7xqdOHBArDO87vRhEawPlaWPTFw8UX7kGRsV9jIyRuLmvcSINIW2nEuZOXyKFeHR6IfIRIuTk0F7E0qk8WFtQlvVx-a--ELays2G5R1oVqrFst2mbO6U9wQz9Uhz3SDsIh6OB7S0e86x0hkdFS1lbKmxSqpXx-d-kcYuW88etuwSYnoZEQVAs1Vyu_XHYxfMw_nFZ0PTH_LMc9DYINUILulRvuMPq_bfkusoIr4EEyZTGtQVy-4qf01eEgRCG1xGBIN6_6dzyWGZoHdayfSXyDoFfwE2vcWBz30qFeImwis1u67VnbWCyfC0vb8rEScWo19XpyxW81umlcTlOXA8buq7nnD8IgVETwn7islB-mzsjnQOtrjDCOJ4T4KdzYYpM0iWdwSbhu95sDfa2GBeNSM6_shlwwm88V56XEyDZ7t0K52rtgjX7tI9qQg_5uAsQSmUQWwHXs1qLw_0Lm8HJm7NTJey6_uN2pCzhM-eajxl3Gw=s64","emailAddress":"colemedin@ottomator.ai","role":"owner","deleted":false,"pendingOwner":false}],"hasThumbnail":true,"spaces":["drive"],"id":"1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM","name":"Test Sheet #1","starred":false,"trashed":false,"explicitlyTrashed":false,"createdTime":"2025-02-23T17:00:50.000Z","modifiedTime":"2025-02-23T17:43:45.286Z","modifiedByMeTime":"2025-02-23T17:43:45.286Z","viewedByMeTime":"2025-02-23T18:21:12.774Z","quotaBytesUsed":"1024","version":"17","ownedByMe":true,"isAppAuthorized":false,"capabilities":{"canChangeViewersCanCopyContent":true,"canEdit":true,"canCopy":true,"canComment":true,"canAddChildren":false,"canDelete":true,"canDownload":true,"canListChildren":false,"canRemoveChildren":false,"canRename":true,"canTrash":true,"canReadRevisions":true,"canChangeCopyRequiresWriterPermission":true,"canMoveItemIntoTeamDrive":true,"canUntrash":true,"canModifyContent":true,"canMoveItemOutOfDrive":true,"canAddMyDriveParent":false,"canRemoveMyDriveParent":true,"canMoveItemWithinDrive":true,"canShare":true,"canMoveChildrenWithinDrive":false,"canModifyContentRestriction":true,"canChangeSecurityUpdateEnabled":false,"canAcceptOwnership":false,"canReadLabels":false,"canModifyLabels":false,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canRemoveContentRestriction":false,"canDisableInheritedPermissions":false,"canEnableInheritedPermissions":true},"thumbnailVersion":"3","modifiedByMe":true,"permissionIds":["09805982089636049437"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false}},{"json":{"kind":"drive#file","copyRequiresWriterPermission":false,"writersCanShare":true,"viewedByMe":true,"mimeType":"application/vnd.google-apps.spreadsheet","exportLinks":{"application/x-vnd.oasis.opendocument.spreadsheet":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=ods","text/tab-separated-values":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=tsv","application/pdf":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=pdf","application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=xlsx","text/csv":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=csv","application/zip":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=zip","application/vnd.oasis.opendocument.spreadsheet":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=ods"},"parents":["1HtaIIK3kWwjbwhsmEbtJ-upalxVn3Ek9"],"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBO25toxt6RwVPjSmlzZEda-lk4VxRy3zObFMOtcvKSX8m0uyYJAOMHYjIxSVnl6GgWT9QJFzn6oAaUFOPdnWPB89gUcAo5c97K0oNb1vYNFjk5jEOpro51Aa5PYpA=s220","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet","shared":false,"lastModifyingUser":{"displayName":"Cole Medin","kind":"drive#user","me":true,"permissionId":"09805982089636049437","emailAddress":"colemedin@ottomator.ai","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXYQW9sb7WW3wnC-1AVobRmOW6jJVl-c6A8a1Vmfg22B_llKKPYSlKo9UEZvIV23wtXqnJ0dgC56hiJN_z6e2d9S2MdiFDTpg7cyD-gXf1LICu2REL4QH54-MvYmKecDcm4MgnZYSms-X1KpD6seI1pkEehGcRg0NIXn2wGCPicXUZ30K8SFo9PxCr_0NRyR93hQn8hkX3Ml1nBuHIRL4Fvu5MjOvxRJQkqaF9zf0JVyB1LHdV-Ypr87v_B_7hDaJ8Jor2z73LA-rKq_mcU6Ta46Hsm83AnTY3iOJE9WxH2Cd9N795co4COaYL5hHEADdPq_B-OfVcbYNk1kf2qT4Josi_cu1uRGUFnhpBpD5Cu5uy2qD-J8GrMgkKdRKr1S7Z9ZD6bYyb3r3j6s4NHpE_iswHBJh-WfD2fg590TiCs6ciAPbx5769BYDF6Z2hVsCVq0G5bgS3JfbCTVNk8mNCh_4gzyRyfzj38OR0L5Fngv1i8y-HluGNw2k37cyrYu4HunKjMZKy_NsmOTWLITeyU_VoDvH-egUftryYVVCdUn1SEpSjDByjpLmQqCk-Kg3jK-0DGmClkblFw_svgvWUqyoOWMHHpH5fNTLdmPYK6w0Zcft5GXar9bahLAK9IT-epMIFTwnxhQu2yT0cP1I186OoWWUxCapElN_AEJDhibEMLyrHlmJUuhq205dClKGEvXw9D2ejYVpY0xVQ1ZxpKV-QGDTkniAjlWVCRwdaDrgbH3ieKgy5LXj357oCXUwRC-5niqp5MiybN0bN7KUe1zPSJjMDSjIkKcUMd_uAx_hlFkhx_jD0i0IMs3BLQ3OEOLw1IoD2Lol6jBstCUcZFCQrikP7d-nabEX8yDTLfYi9e8sDPp2yNA4pBJfKUm9-AHOAFWZ1BzXJN97RIiTQyKdExCKSz3kPf2lrQyTDVwYkZ75-ZkksHvXoz3kWo3MrAjGl56MxCrOkd88teMhDHq0E=s64"},"owners":[{"displayName":"Cole Medin","kind":"drive#user","me":true,"permissionId":"09805982089636049437","emailAddress":"colemedin@ottomator.ai","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXYQW9sb7WW3wnC-1AVobRmOW6jJVl-c6A8a1Vmfg22B_llKKPYSlKo9UEZvIV23wtXqnJ0dgC56hiJN_z6e2d9S2MdiFDTpg7cyD-gXf1LICu2REL4QH54-MvYmKecDcm4MgnZYSms-X1KpD6seI1pkEehGcRg0NIXn2wGCPicXUZ30K8SFo9PxCr_0NRyR93hQn8hkX3Ml1nBuHIRL4Fvu5MjOvxRJQkqaF9zf0JVyB1LHdV-Ypr87v_B_7hDaJ8Jor2z73LA-rKq_mcU6Ta46Hsm83AnTY3iOJE9WxH2Cd9N795co4COaYL5hHEADdPq_B-OfVcbYNk1kf2qT4Josi_cu1uRGUFnhpBpD5Cu5uy2qD-J8GrMgkKdRKr1S7Z9ZD6bYyb3r3j6s4NHpE_iswHBJh-WfD2fg590TiCs6ciAPbx5769BYDF6Z2hVsCVq0G5bgS3JfbCTVNk8mNCh_4gzyRyfzj38OR0L5Fngv1i8y-HluGNw2k37cyrYu4HunKjMZKy_NsmOTWLITeyU_VoDvH-egUftryYVVCdUn1SEpSjDByjpLmQqCk-Kg3jK-0DGmClkblFw_svgvWUqyoOWMHHpH5fNTLdmPYK6w0Zcft5GXar9bahLAK9IT-epMIFTwnxhQu2yT0cP1I186OoWWUxCapElN_AEJDhibEMLyrHlmJUuhq205dClKGEvXw9D2ejYVpY0xVQ1ZxpKV-QGDTkniAjlWVCRwdaDrgbH3ieKgy5LXj357oCXUwRC-5niqp5MiybN0bN7KUe1zPSJjMDSjIkKcUMd_uAx_hlFkhx_jD0i0IMs3BLQ3OEOLw1IoD2Lol6jBstCUcZFCQrikP7d-nabEX8yDTLfYi9e8sDPp2yNA4pBJfKUm9-AHOAFWZ1BzXJN97RIiTQyKdExCKSz3kPf2lrQyTDVwYkZ75-ZkksHvXoz3kWo3MrAjGl56MxCrOkd88teMhDHq0E=s64"}],"webViewLink":"https://docs.google.com/spreadsheets/d/1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM/edit?usp=drivesdk","size":"1024","viewersCanCopyContent":true,"permissions":[{"id":"09805982089636049437","displayName":"Cole Medin","type":"user","kind":"drive#permission","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjU-zfOspR2RPV0ODNiUMTUKvYDBBCZV-dZusxjov3wKmsVu93G9IfBKLBtQef-ZfzxVCqoc8HAVOEJyVPWiFax-dpQqjp5Bmqnsiestzam2U55u4Y7m3qszgGuIwTYYCQ4-TI6w2ActqiVwzXSrFt8hF5q5UYn1zzHvR8OG1fQHhoxUgOpsSwsylfLh2gRj49gNFuJ0tQZFIT37R0-dsKLjV0DqBDUpqHgP4mnA02dUgy3D9BjshwfHQY-IdWnK1xGTrunpzeHBrIE306eUhHcXaN2D0P8vAdpFRjTKyJMCDVp5ZVMn79MSZwUVbN9TGD_u4DpbXFVB27hi4MjS8mHblF5tJLSKtLs-UW4itcrt-QnUMeHkIEpcly8vsGcuiOmyNHlldsJ79HhOsSPhY9vxvwSpXBOn_9F15_808Om2de0duT2RewGeMlEXXjE0PO456Y4BStBV1uRa3VceZ2l3MgXkbF8BZG_f0DjNrVkW7xqdOHBArDO87vRhEawPlaWPTFw8UX7kGRsV9jIyRuLmvcSINIW2nEuZOXyKFeHR6IfIRIuTk0F7E0qk8WFtQlvVx-a--ELays2G5R1oVqrFst2mbO6U9wQz9Uhz3SDsIh6OB7S0e86x0hkdFS1lbKmxSqpXx-d-kcYuW88etuwSYnoZEQVAs1Vyu_XHYxfMw_nFZ0PTH_LMc9DYINUILulRvuMPq_bfkusoIr4EEyZTGtQVy-4qf01eEgRCG1xGBIN6_6dzyWGZoHdayfSXyDoFfwE2vcWBz30qFeImwis1u67VnbWCyfC0vb8rEScWo19XpyxW81umlcTlOXA8buq7nnD8IgVETwn7islB-mzsjnQOtrjDCOJ4T4KdzYYpM0iWdwSbhu95sDfa2GBeNSM6_shlwwm88V56XEyDZ7t0K52rtgjX7tI9qQg_5uAsQSmUQWwHXs1qLw_0Lm8HJm7NTJey6_uN2pCzhM-eajxl3Gw=s64","emailAddress":"colemedin@ottomator.ai","role":"owner","deleted":false,"pendingOwner":false}],"hasThumbnail":true,"spaces":["drive"],"id":"1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM","name":"Test Sheet #1","starred":false,"trashed":false,"explicitlyTrashed":false,"createdTime":"2025-02-23T17:00:50.000Z","modifiedTime":"2025-02-23T17:43:45.286Z","modifiedByMeTime":"2025-02-23T17:43:45.286Z","viewedByMeTime":"2025-02-23T18:21:12.774Z","quotaBytesUsed":"1024","version":"17","ownedByMe":true,"isAppAuthorized":false,"capabilities":{"canChangeViewersCanCopyContent":true,"canEdit":true,"canCopy":true,"canComment":true,"canAddChildren":false,"canDelete":true,"canDownload":true,"canListChildren":false,"canRemoveChildren":false,"canRename":true,"canTrash":true,"canReadRevisions":true,"canChangeCopyRequiresWriterPermission":true,"canMoveItemIntoTeamDrive":true,"canUntrash":true,"canModifyContent":true,"canMoveItemOutOfDrive":true,"canAddMyDriveParent":false,"canRemoveMyDriveParent":true,"canMoveItemWithinDrive":true,"canShare":true,"canMoveChildrenWithinDrive":false,"canModifyContentRestriction":true,"canChangeSecurityUpdateEnabled":false,"canAcceptOwnership":false,"canReadLabels":false,"canModifyLabels":false,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canRemoveContentRestriction":false,"canDisableInheritedPermissions":false,"canEnableInheritedPermissions":true},"thumbnailVersion":"3","modifiedByMe":true,"permissionIds":["09805982089636049437"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false}}]},"versionId":"9d698d89-1c4f-453f-8d3f-b6755b9c6041","triggerCount":0,"tags":[{"createdAt":"2025-03-25T12:13:04.017Z","updatedAt":"2025-03-25T12:13:04.017Z","id":"N5BOzfqwjme8NGP7","name":"Oakwod org"}]}