decision-maker-research-3aWaiRipF3GEbKM2.json
{"createdAt":"2025-04-23T05:23:14.699Z","updatedAt":"2025-04-25T21:01:16.095Z","id":"3aWaiRipF3GEbKM2","name":"Decision maker research","active":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"15JUPMrv3yyqMkS-XB1fSaX8HgLJVlQO6bE3uKXJuuQ0","mode":"list","cachedResultName":"Google maps demo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15JUPMrv3yyqMkS-XB1fSaX8HgLJVlQO6bE3uKXJuuQ0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15JUPMrv3yyqMkS-XB1fSaX8HgLJVlQO6bE3uKXJuuQ0/edit#gid=0"},"event":"rowAdded","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-60,-60],"id":"5ff31ae5-c970-4439-a87c-23f5a8d8f15a","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"civGKqmitRkz1XPJ","name":"ONECLICK - Google Sheets Trigger"}}},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a research specialist. I want you to find the primary decision maker of a local bussines. IMPORTANT: output only the information of the person without any suggestions. Output only full name\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Research website {{ $json.website }} of {{ $json.title }} in {{ $json.state }}\"\n }\n  ],\n  \"max_tokens\": 1500\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,0],"id":"b2bf7e75-ae7a-4f8a-998c-6835cb3b4413","name":"Research w-Perplexity","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"7f0d8ae9-61f4-4170-93c0-79cbd8504468","name":"website","value":"={{ $json.website }}","type":"string"},{"id":"72bc725f-1f4c-4ff0-87ed-08a08b522272","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"a1310805-e016-43d1-861a-b13ff5c6d904","name":"state","value":"={{ $json.state }}","type":"string"},{"id":"96dce92e-6ea9-4bc9-bda4-e70e7ae9ea40","name":"phoneUnformatted","value":"={{ $json.phoneUnformatted }}","type":"string"},{"id":"23811244-5521-485f-bd9d-d9bbdf42032b","name":"webResults","value":"={{ $json['webResults/0/url'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,0],"id":"6529cf74-ab64-4805-a503-3fc16b9bbcd7","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"17df4a62-2e6a-4b1b-b0a6-cbb41f8ddfd1","name":"message.content.first_name","value":"={{ $json.message.content.first_name }}","type":"string"},{"id":"e42b087b-50d0-4c07-9b8c-c58aa3a45c47","name":"message.content.last_name","value":"={{ $json.message.content.last_name }}","type":"string"},{"id":"f704609c-2055-4f81-9dad-60442fa00835","name":"message.content.domain","value":"={{ $json.message.content.domain }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1720,0],"id":"3d8a7e45-41e0-4d19-820c-b09bbb0f41f6","name":"Edit Fields1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"GPT-4.1-NANO"},"messages":{"values":[{"content":"You are a helpful outreach assistant","role":"system"},{"content":"=Your role is to take the research about the decision maker: {{ $json.choices[0].message.content }} and output the first and last name.\n\nYou will also output the domain from their website: {{ $('Edit Fields').item.json.website }}\n\nOutput in JSON:\n\n\"first_name\": \"Chad\",\n\"last_name\": \"Vanourny\",\n\"domain\": \"catawbavalleydentalcare.com\""}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1340,0],"id":"c25bd608-09f2-4ad3-88ed-2407df48ebfa","name":"OpenAI","credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"method":"POST","url":"https://api.prospeo.io/email-finder","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-KEY","value":"d89091d2b28fb6b7e7e1426bcbc3eac2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"first_name","value":"={{ $json.message.content.firstName }}"},{"name":"last_name","value":"={{ $json.message.content.lastName }}"},{"name":"company","value":"={{ $json.message.content.domain }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1940,0],"id":"40f7ea26-7deb-42a7-af70-5f479f6b0942","name":"Enrich with email","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[440,-60],"id":"a857ca9d-e60a-4254-a805-07fd1d37333a","name":"Loop Over Items"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1-z2MIRT4JILJC2bvmjew2XRoK-lrSjkmtmSehe2GJN0","mode":"list","cachedResultName":"Google maps cleaned list","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-z2MIRT4JILJC2bvmjew2XRoK-lrSjkmtmSehe2GJN0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1-z2MIRT4JILJC2bvmjew2XRoK-lrSjkmtmSehe2GJN0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"dm_firstname":"={{ $('OpenAI').item.json.message.content.firstName }}","dm_lastname":"={{ $('OpenAI').item.json.message.content.lastName }}","phone":"={{ $('Edit Fields').item.json.phoneUnformatted }}","website":"={{ $('Edit Fields').item.json.webResults }}","company":"={{ $('Edit Fields').item.json.title }}","dm_email":"={{ $json.response.email }}"},"matchingColumns":[],"schema":[{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"phone","displayName":"phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"dm_firstname","displayName":"dm_firstname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dm_lastname","displayName":"dm_lastname","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"dm_email","displayName":"dm_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2160,0],"id":"fed08976-4005-47b7-9dfd-1521a8a133fc","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Research w-Perplexity","type":"main","index":0}]]},"Research w-Perplexity":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Enrich with email","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields","type":"main","index":0}]]},"Enrich with email":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0ec91bb4-492a-495f-b64e-06831e55c8e2","triggerCount":0,"tags":[]}