enricher-+-personalizer-from-scraped-list-[template]-vdMSDDv0ZXCMbtYK.json
{"createdAt":"2025-04-10T12:18:18.743Z","updatedAt":"2025-04-10T12:18:18.743Z","id":"vdMSDDv0ZXCMbtYK","name":"Enricher + personalizer from scraped list [Template]","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-360,40],"id":"05267bbb-983a-4fda-b2f1-8cf3bc294412","name":"Loop Over Items"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1ECrIXFLmU2R1BHFFLG_eEjwCVLGRWwIUzQ2i8old4-c","mode":"list","cachedResultName":"ICP-DEMo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ECrIXFLmU2R1BHFFLG_eEjwCVLGRWwIUzQ2i8old4-c/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ECrIXFLmU2R1BHFFLG_eEjwCVLGRWwIUzQ2i8old4-c/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-600,40],"id":"f70dda69-2000-4de5-b51c-7a1e34861c00","name":"Watch lead list","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"civGKqmitRkz1XPJ","name":"ONECLICK - Google Sheets Trigger"}}},{"parameters":{"assignments":{"assignments":[{"id":"f93e53e9-2bd3-432a-934a-9c43aefa2650","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"b5b3b628-5f9e-4fe0-80d3-3c38b5911bc8","name":"last_name","value":"={{ $json.last_name }}","type":"string"},{"id":"c95c02bb-ce98-470c-af15-df641a7642a2","name":"linkedIn_URL","value":"={{ $json.linkedIn_URL }}","type":"string"},{"id":"2d03f82f-581b-4789-ba69-a6d3d97461b5","name":"fullName","value":"={{ $json.fullName }}","type":"string"},{"id":"181a1035-eaf3-4577-b0c9-766dbf7b8a4b","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"dfed9ddb-b123-4f2b-ada6-b3a9210e1698","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"57244c3d-aca1-44f2-9d66-ecaa7bc2f9c9","name":"company_linkedIn","value":"={{ $json.company_linkedIn }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-100,60],"id":"f03f7683-3ece-49da-bdf4-dff1193f2ded","name":"Set variables","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer p**********************************m"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a research specialist. I want you to research a person and give me usefull information that can be used for ice breaker in an email. IMPORTANT: output only the information of the person without any suggestions.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Research individual: {{ $json.fullName }}, Email: {{ $json.email }}, Company: {{ $json.companyName }}, LinkedIn profile: {{ $json.linkedIn }}\"\n }\n  ]\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[120,60],"id":"21ac449e-c472-45f1-b393-983ee637c69c","name":"Research w-Perplexity"},{"parameters":{"promptType":"define","text":"=Here is the information of the person:\nPerson name: {{ $('Set variables').item.json.firstName }}\nLinkedin Profile URL: {{ $('Set variables').item.json.linkedIn }}\nCompany: {{ $('Set variables').item.json.companyName }}\n\nResearch information: {{ $json.choices[0].message.content }}","hasOutputParser":true,"options":{"systemMessage":"You are a cold outreach specialist.\n\nI want you to output an Ice Breaker first line for Email, a subject line to use for the email, and the first icebreaker message for LinkedIn in separate fields.\n\n- Only output the Icebreaker, Subject Line, LinkedIn message, and nothing else\n- Use the research information to create the icebreaker, subject line, and LinkedIn message\n- The icebreaker should be one line\n- The subject line should be relevant\n- Be spartan in tone\n- Write it as a human and use simple language\n- Create the IceBreaker, subject line, and message in a way that allows for continuation with an offer\n- Make the LinkedIn Icebreakera a maximum of 180 characters this includes all the spaces and signs\n- Do not use explanations or emojis in the subject line\n\n## Examples:\n\n- Subject line: Future boss is that you?\n- Icebreaker: Really resonated with your outlook on employment—especially the idea of retaining people by genuinely being their best opportunity, instead of just limiting their options. Refreshing to see a CEO with this mindset.\n- LinkedIn message: Hi 'name'—really resonated with your take on employment. Rare to see a CEO emphasize genuinely being the best opportunity rather than limiting people's options.\n\n- Subject line: Burning the Midnight Clay with Michel 🔥\n- Icebreaker: Loved the story about you building Clay tables with Michel at 11pm—especially how your late-night hustle to master AI Cold Outreach evolved into multiple five-figure offers. Major respect for that grind!\n- LinkedIn message: Hey Dan—still thinking about your late-night Clay table grind with Michel and how that hustle turned into multiple 5-figure offers. Big respect!\n\n- Subject line: +966K ARR in 30 days? What's your secret, Fivos?\n- Icebreaker: Loved your story of going from saving every one of Michel's posts to becoming a partner—and now driving nearly $1M in new ARR in a single month. Epic journey!\n- Hey Fivos—your journey from saving Michel’s posts to driving nearly $1M ARR in a month is awesome!\n\n- Subject line: Football scholarship ➜ ColdIQ Chief of Staff—epic journey 🚀\n- Icebreaker: Not every Chief of Staff goes from a football scholarship in the US to scaling sales-tech at ColdIQ in Barcelona—a seriously impressive path!\n- LinkedIn message: Hi Luca—going from a football scholarship in the US to scaling sales-tech at ColdIQ in Barcelona is impressive, man!"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[360,60],"id":"1e336ce2-e84e-4cfa-819e-a48c4f51becd","name":"Ice breaker","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"claude-3-7-sonnet-20250219","mode":"list","cachedResultName":"Claude 3.7 Sonnet"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[380,280],"id":"205e3f33-0ca5-4dff-b869-382938281590","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"R577E9P3r5txdxYS","name":"Anthropic account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"Icebreaker\": \"California\",\n\t\"Subject line\": \"California\",\n    \"LinkedIn opener\": \"Hey love the profile.\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[540,280],"id":"0db7244d-57fd-47b7-b7e0-7ed462d0e1d4","name":"Structured Output Parser"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE","mode":"list","cachedResultName":"Lead enrichment DEMO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Find row #').item.json.row_number }}","Perplexity research":"={{ $('Research w-Perplexity').item.json.choices[0].message.content }}","Icebreaker":"={{ $json.output.Icebreaker }}","Subject Line":"={{ $json.output['Subject line'] }}","LinkedIn message":"={{ $json.output['LinkedIn opener'] }}"},"matchingColumns":["row_number"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Domain","displayName":"Company Domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn Profile","displayName":"LinkedIn Profile","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Added","displayName":"Date Added","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Employees","displayName":"Company Employees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Industry","displayName":"Company Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Country","displayName":"Company Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Description","displayName":"Company Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Perplexity research","displayName":"Perplexity research","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Icebreaker","displayName":"Icebreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subject Line","displayName":"Subject Line","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn message","displayName":"LinkedIn message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[900,40],"id":"b060715d-0cfb-4e3f-9128-352d808383ee","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"amount":"={{ $json.RandomNumber }}","path":"0d25cae2-6ad4-4757-86a4-0e67db098eb5"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1320,300],"id":"ab3a4efe-55c8-4e77-b4ad-c32c76d92ca1","name":"Wait","webhookId":"0d25cae2-6ad4-4757-86a4-0e67db098eb5"},{"parameters":{"jsCode":"items[0].json.RandomNumber = Math.floor(Math.random() * 8);\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1080,40],"id":"84a030b8-30a4-42eb-beb5-c7c1264789ad","name":"Randomizer"},{"parameters":{"content":"## Prospect Enrichment \n**Research decision maker** using sonar-deep-research.","height":320,"width":300,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,-60],"id":"b6a1cb58-dcc2-4193-97c8-118a432ede1e","name":"Sticky Note2"},{"parameters":{"content":"## Generate Icebreaker \n**Claude 3.7**\n- Email subject line\n- First sentence icebreaker\n- LinkedIn icebreaker message","height":520,"width":340,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[340,-100],"id":"62f4c15b-b9b6-42b9-a802-b47f587c0b85","name":"Sticky Note3"},{"parameters":{"documentId":{"__rl":true,"value":"19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE","mode":"list","cachedResultName":"Lead enrichment DEMO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"First Name","lookupValue":"={{ $('Loop Over Items').item.json['First Name'] }}"},{"lookupColumn":"Last Name","lookupValue":"={{ $('Loop Over Items').item.json['Last Name'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[740,40],"id":"43914572-8dce-498a-bc00-1aafecbd1e3d","name":"Find row #","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Set variables","type":"main","index":0}]]},"Watch lead list":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Set variables":{"main":[[{"node":"Research w-Perplexity","type":"main","index":0}]]},"Research w-Perplexity":{"main":[[{"node":"Ice breaker","type":"main","index":0}]]},"Ice breaker":{"main":[[{"node":"Find row #","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Ice breaker","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Ice breaker","type":"ai_outputParser","index":0}]]},"Google Sheets":{"main":[[{"node":"Randomizer","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Randomizer":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Find row #":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"bb6c39db-65fb-4b10-9714-9be374020811","triggerCount":0,"tags":[{"createdAt":"2025-04-03T03:33:28.610Z","updatedAt":"2025-04-03T03:33:28.610Z","id":"33Fo2o3UoYyE9Rmq","name":"Template"}]}