enricher-+-personalizer-from-scraped-list-TbIRS0PM5f3TGChJ.json
{"createdAt":"2025-04-15T12:22:41.424Z","updatedAt":"2025-04-15T12:23:00.222Z","id":"TbIRS0PM5f3TGChJ","name":"Enricher + personalizer from scraped list","active":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-360,40],"id":"89b1d60e-67e7-4e9b-b314-fa7a077babd5","name":"Loop Over Items"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1jusiT2GcEVkRT78OkL9GjzfFcvVoFH-j7V77SZDXmt4","mode":"list","cachedResultName":"Tofuchat-india","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jusiT2GcEVkRT78OkL9GjzfFcvVoFH-j7V77SZDXmt4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jusiT2GcEVkRT78OkL9GjzfFcvVoFH-j7V77SZDXmt4/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange","firstDataRow":459}}}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-600,40],"id":"20e38e99-ca26-4045-b1c9-0b9809fa5bd2","name":"Watch lead list","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"civGKqmitRkz1XPJ","name":"ONECLICK - Google Sheets Trigger"}}},{"parameters":{"assignments":{"assignments":[{"id":"42a89811-7663-4226-9d36-58100fe1dbbc","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"7837f461-5f72-444d-bef8-56370a1ea987","name":"firstName","value":"={{ $json.firstName }}","type":"string"},{"id":"783e0570-f3d6-4c53-9ae0-3efafc97e9ff","name":"lastName","value":"={{ $json.lastName }}","type":"string"},{"id":"a639f26f-b19f-487a-990c-7e9f93e21c55","name":"fullName","value":"={{ $json.fullName }}","type":"string"},{"id":"7428ae76-d83f-4164-ae7f-4d4e0b64e0d1","name":"linkedIn_URL","value":"={{ $json.linkedIn_URL }}","type":"string"},{"id":"d44a3a8a-a4f5-4ebe-bf00-fcbd5d9598ae","name":"company_linkedIn_URL","value":"={{ $json.company_linkedIn_URL }}","type":"string"},{"id":"4b955ec3-d2aa-4854-a800-0802879fd6d7","name":"companyName","value":"={{ $json.companyName }}","type":"string"},{"id":"1ad59b93-d6f9-4049-a642-855327078788","name":"companyDomain","value":"={{ $json.companyDomain }}","type":"string"},{"id":"f713975f-7cf0-4a04-970c-72f8056deb3a","name":"companyWebsite","value":"={{ $json.companyWebsite }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-140,60],"id":"66cee65c-a092-4572-ad80-c549e659eeb7","name":"Set variables","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer "}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a research specialist. I want you to research a person and give me usefull information that can be used for ice breaker in an email. IMPORTANT: output only the information of the person without any suggestions.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Research individual: {{ $json.fullName }}, Company: {{ $json.companyName }}, company domain: {{ $json.companyDomain }}\"\n }\n  ],\n  \"max_tokens\": 1500\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[120,60],"id":"f5bc0636-8bf9-4aa5-a01e-54429da7bc5c","name":"Research w-Perplexity","alwaysOutputData":true},{"parameters":{"promptType":"define","text":"=Here is the information of the person:\nPerson full name: {{ $('Set variables').item.json.fullName }}\nPerson first name: {{ $('Set variables').item.json.firstName }}\nCompany: {{ $('Set variables').item.json.companyName }}\n\nResearch information: {{ $json.choices[0].message.content }}","hasOutputParser":true,"options":{"systemMessage":"=You are a cold outreach expert trained in personalization at scale.\n\nYour task is to output three fields only based on the research provided:\n- Email Icebreaker (1 line)\n- Email Subject Line\n- LinkedIn Message (max 180 characters, including spaces and punctuation)\n\nGuidelines:\n- Output only the three fields: no explanations, labels, or extra text.\n- Use the research to write personalized, relevant, and human-sounding lines.\n- Prioritize recent achievements, unique career transitions, or specialized expertise when personalizing.\n- Be concise, conversational, and spartan in tone.\n- Avoid fluff, jargon, or complex language — friendly but not overly familiar. Avoid sounding impressed to the point of flattery.\n- When research contains multiple accomplishments, focus on the most recent or unique one rather than trying to cover everything.\n- Extract 1-2 key details from research that are most distinctive about the person, avoid generic observations.\n- Subject lines should be 5-10 words, should prompt curiosity without being clickbait.\n- Icebreaker should be 1-2 sentences max (25-40 words) and highlight a specific achievement or background detail.\n- Icebreaker must flow naturally into an offer in the next message.\n- LinkedIn messageshould be between 180 and 220 characters, including spaces. Must end with an implied question or conversation starter, and mirror the icebreaker’s theme.\n- Write like a sharp, observant human—not a robot or marketer.\n\n## Examples:\n\n- Subject line: Future boss is that you?\n- Icebreaker: Really resonated with your outlook on employment—especially the idea of retaining people by genuinely being their best opportunity, instead of just limiting their options. Refreshing to see a CEO with this mindset.\n- LinkedIn message: Hi 'name'—really resonated with your take on employment. Rare to see a CEO emphasize genuinely being the best opportunity rather than limiting people's options.\n\n- Subject line: Burning the Midnight Clay with Michel 🔥\n- Icebreaker: Loved the story about you building Clay tables with Michel at 11pm—especially how your late-night hustle to master AI Cold Outreach evolved into multiple five-figure offers. Major respect for that grind!\n- LinkedIn message: Hey Dan—still thinking about your late-night Clay table grind with Michel and how that hustle turned into multiple 5-figure offers. Big respect!\n\n- Subject line: +966K ARR in 30 days? What's your secret, Fivos?\n- Icebreaker: Loved your story of going from saving every one of Michel's posts to becoming a partner—and now driving nearly $1M in new ARR in a single month. Epic journey!\n- Hey Fivos—your journey from saving Michel’s posts to driving nearly $1M ARR in a month is awesome!\n\n- Subject line: Football scholarship ➜ ColdIQ Chief of Staff—epic journey 🚀\n- Icebreaker: Not every Chief of Staff goes from a football scholarship in the US to scaling sales-tech at ColdIQ in Barcelona—a seriously impressive path!\n- LinkedIn message: Hi Luca—going from a football scholarship in the US to scaling sales-tech at ColdIQ in Barcelona is impressive, man!\n\nExample input: \nYou are a cold outreach expert trained in personalization at scale.\n\nYour task is to output three fields only based on the research provided:\n- Email Icebreaker (1–2 sentences, 25–40 words)\n- Email Subject Line (5–10 words)\n- LinkedIn Message (180–220 characters, including spaces and punctuation)\n\nGuidelines:\n- Output only the three fields: no explanations, labels, or extra text.\n- Personalize based on recent achievements, unique transitions, or specialized expertise.\n- Focus on 1–2 key insights that are distinctive—not generic.\n- Be concise, conversational, and spartan in tone.\n- Avoid fluff, jargon, or complex language.\n- Subject lines must be relevant and curiosity-driven. No emojis.\n- Icebreaker must flow naturally into an offer in the next message.\n- LinkedIn message must stay within 180-character limit and mirror the icebreaker’s theme.\n- Write like a sharp, observant human—not a robot or marketer.\n\n## Examples:\n\n- Subject line: Future boss is that you?\n- Icebreaker: Really resonated with your outlook on employment—especially the idea of retaining people by genuinely being their best opportunity, instead of just limiting their options. Refreshing to see a CEO with this mindset.\n- LinkedIn message: Hi 'name'—really resonated with your take on employment. Rare to see a CEO emphasize genuinely being the best opportunity rather than limiting people's options.\n\n- Subject line: Burning the Midnight Clay with Michel\n- Icebreaker: Loved the story about you building Clay tables with Michel at 11pm—especially how your late-night hustle to master AI Cold Outreach evolved into multiple five-figure offers. Major respect for that grind!\n- LinkedIn message: Hey Dan—still thinking about your late-night Clay table grind with Michel and how that hustle turned into multiple 5-figure offers. Big respect!\n\n- Subject line: +966K ARR in 30 days? What's your secret, Fivos?\n- Icebreaker: Loved your story of going from saving every one of Michel's posts to becoming a partner—and now driving nearly $1M in new ARR in a single month. Epic journey!\n- Hey Fivos—your journey from saving Michel’s posts to driving nearly $1M ARR in a month is awesome!\n\n- Subject line: Football scholarship ➜ ColdIQ Chief of Staff—epic journey\n- Icebreaker: Not every Chief of Staff goes from a football scholarship in the US to scaling sales-tech at ColdIQ in Barcelona—a seriously impressive path!\n- LinkedIn message: Hi Luca—going from a football scholarship in the US to scaling sales-tech at ColdIQ in Barcelona is impressive, man!\n\n## Sample of research information: \nPulkit Rastogi is the founder and CEO of Daminico, an agency specializing in conversion rate optimization (CRO) and Shopify development for e-commerce, particularly fashion brands. With over a decade of experience in the e-commerce industry, Pulkit is skilled in areas such as sales funnels, SEO, SEM, web design, and customer relationship management (CRM). He is known for his ability to help businesses increase website conversions and improve online retail performance using tailored, AI-powered solutions.\n\nPulkit has worked with major brands globally and emphasizes data-driven marketing and customer insights. His passion for e-commerce extends beyond business, as he actively shares industry best practices and trends, positioning himself as a thought leader in the field. Furthermore, Pulkit holds a postgraduate diploma in business management with a focus on marketing from Symbiosis International University.\n\nThrough his work and expertise, Pulkit has contributed to building high-performing e-commerce platforms for emerging designers and driving growth for various fashion and lifestyle brands. Additionally, he has a background in strategic marketing consulting and has collaborated with companies such as Ifchic Inc. and Fashind.com. His commitment to innovation and client success is highly recognized by colleagues and clients alike.\n\n## Sample of output: \n\"Icebreaker\": Love how you're leading Daminco's AI-powered CRO solutions for fashion brands—especially helping those emerging designers actually compete in the crowded e-commerce space.\n\n\"Subject line\": \"Pulkit: Fashion's CRO secret weapon?\"\n\n\"LinkedIn opener\": \"Hi Pulkit—your AI-powered CRO work for fashion brands at Daminico caught my eye. Curious how you're tackling those unique conversion challenges in the fashion space?\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[360,60],"id":"420bf299-f3ca-4432-8016-caa7da7a43b0","name":"Ice breaker","retryOnFail":true,"waitBetweenTries":5000,"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"claude-3-7-sonnet-20250219","mode":"list","cachedResultName":"Claude 3.7 Sonnet"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[380,280],"id":"a7c75858-a699-43e6-a116-8d151b25522c","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"R577E9P3r5txdxYS","name":"Anthropic account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1jusiT2GcEVkRT78OkL9GjzfFcvVoFH-j7V77SZDXmt4","mode":"list","cachedResultName":"Tofuchat-india","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jusiT2GcEVkRT78OkL9GjzfFcvVoFH-j7V77SZDXmt4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jusiT2GcEVkRT78OkL9GjzfFcvVoFH-j7V77SZDXmt4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","icebreaker":"={{ $('Ice breaker').item.json.output.icebreaker }}","subjectLine":"={{ $('Ice breaker').item.json.output.subjectLine }}","linkedIn_message":"={{ $('Ice breaker').item.json.output.linkedIn_message }}"},"matchingColumns":["row_number"],"schema":[{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedIn_URL","displayName":"linkedIn_URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company_linkedIn_URL","displayName":"company_linkedIn_URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyDomain","displayName":"companyDomain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"companyWebsite","displayName":"companyWebsite","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"icebreaker","displayName":"icebreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"subjectLine","displayName":"subjectLine","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedIn_message","displayName":"linkedIn_message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[900,40],"id":"e31781dd-5c82-46c6-baca-b9f2d90a1402","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"amount":"={{ $json.RandomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1320,300],"id":"737ee942-f0f3-4452-b40c-a2478ecf341b","name":"Wait","webhookId":"631b4b00-2058-479f-a42e-e563334acee5"},{"parameters":{"jsCode":"items[0].json.RandomNumber = Math.floor(Math.random() * 35);\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1080,40],"id":"7f3c758f-4083-41fc-92e6-2f90cdf8a2d7","name":"Randomizer"},{"parameters":{"content":"## Prospect Enrichment \n**Research decision maker** using sonar-deep-research.","height":320,"width":300,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,-60],"id":"3e5a43bf-7bc0-4144-b390-dda44bc609e2","name":"Sticky Note2"},{"parameters":{"content":"## Generate Icebreaker \n**Claude 3.7**\n- Email subject line\n- First sentence icebreaker\n- LinkedIn icebreaker message","height":520,"width":340,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[340,-100],"id":"c8c3ae08-4bf9-4dc5-abc8-c32c8d872b90","name":"Sticky Note3"},{"parameters":{"documentId":{"__rl":true,"value":"1jusiT2GcEVkRT78OkL9GjzfFcvVoFH-j7V77SZDXmt4","mode":"list","cachedResultName":"Tofuchat-india","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jusiT2GcEVkRT78OkL9GjzfFcvVoFH-j7V77SZDXmt4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1jusiT2GcEVkRT78OkL9GjzfFcvVoFH-j7V77SZDXmt4/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"email","lookupValue":"={{ $('Set variables').item.json.email }}"},{"lookupColumn":"fullName","lookupValue":"={{ $('Set variables').item.json.fullName }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[740,40],"id":"4e778271-990e-47ec-9a25-f596f0f85c36","name":"Find row #","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"icebreaker\": \"Impressive how you've built Infinity Infosys into a full-spectrum IT solutions provider in Kathmandu—from digital marketing and app development to physical security systems shows real versatility in addressing client needs.\",\n\t\"subjectLine\": \"Building Nepal's digital ecosystem\",\n    \"linkedIn_message\": \"Hi Viral—noticed your journey from engineering at Bombay Institute to founding Seventy9 Media. How has your technical background influenced your approach to creative marketing?\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[540,280],"id":"d8cb36ee-30d1-4324-8271-b7186094f3dc","name":"Structured Output Parser"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Set variables","type":"main","index":0}]]},"Watch lead list":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Set variables":{"main":[[{"node":"Research w-Perplexity","type":"main","index":0}]]},"Research w-Perplexity":{"main":[[{"node":"Ice breaker","type":"main","index":0}]]},"Ice breaker":{"main":[[{"node":"Find row #","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Ice breaker","type":"ai_languageModel","index":0}]]},"Google Sheets":{"main":[[{"node":"Randomizer","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Randomizer":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Find row #":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Ice breaker","type":"ai_outputParser","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Watch lead list":{"documentId":"1jusiT2GcEVkRT78OkL9GjzfFcvVoFH-j7V77SZDXmt4","sheetId":0,"lastRevision":2131,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1jusiT2GcEVkRT78OkL9GjzfFcvVoFH-j7V77SZDXmt4&revision=2131&exportFormat=xlsx"}},"meta":null,"pinData":{},"versionId":"38ba467e-95b8-4878-b9e7-888984a997c0","triggerCount":1,"tags":[{"createdAt":"2025-04-03T03:33:28.610Z","updatedAt":"2025-04-03T03:33:28.610Z","id":"33Fo2o3UoYyE9Rmq","name":"Template"}]}