eznet---help-center---scraper-→-vdatabase-fY8GeEFs2mqYk4k3.json
{"createdAt":"2025-03-23T12:14:45.473Z","updatedAt":"2025-03-23T18:45:01.348Z","id":"fY8GeEFs2mqYk4k3","name":"EZnet - Help center - Scraper → vDatabase","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-340,-60],"id":"d5f2d925-f703-41ae-bcf7-bdb851da8991","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://eznetscheduler.com/faq/","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,-60],"id":"4a86d002-4e60-4811-89db-91493032cb98","name":"HTTP Request"},{"parameters":{"html":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[60,-60],"id":"1acb2828-1d18-4e2a-8a56-01d059d7b578","name":"Markdown"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a helpful, intelligent web scraping assistant.","role":"system"},{"content":"Your task is to take the raw Markdown of a website, and convert it into structured data. Use the following format:\n{\"links\":[\"an\",\"array\",\"of\",\"absolute\",\"urls\"],\"plainTextWebsiteCopy\":\"a long string containing just the text of the site, no formatting\",\"oneLinesummary\":\"brief summarization of what the site is about\"}\n\nYour website URL, for the relative -> absolute conversions is https://eznetscheduler.com/faq/\n\nOnly output URLs containing \"eznetscheduler.com/faq/\""},{"content":"={{ $json.data }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[280,-60],"id":"a333fd95-c861-4c7b-a73f-705963733287","name":"OpenAI","credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"url":"={{ $('Google Sheets').item.json.url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1620,-100],"id":"d9d628c6-423b-4557-ad58-a3f1e02a44fa","name":"HTTP Request1"},{"parameters":{"html":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[1840,-120],"id":"94c0bdbc-5d6a-4a9f-af11-4f46f2130d62","name":"Markdown1"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"You are a helpful, intelligent web scraping assistant.","role":"system"},{"content":"Your task is to take the raw Markdown of a website and convert it into structured data.\nFor each item, return the following JSON format:\n\n{\n  \"url\": \"<URL of the scraped page>\",\n  \"plainTextWebsiteCopy\": \"A long string containing just the text of the site, with no Markdown, links, bullet points, or formatting — only readable plain text.\"\n}\n\nReturn one JSON object per scraped page."},{"content":"={{ $json.data }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2120,-120],"id":"029b90ce-86f0-44c1-9841-1b49461c3b0c","name":"OpenAI1","credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3120,-120],"id":"4d27e9ec-f0e5-4653-ae98-ef25809233c1","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[3460,60],"id":"cb50075a-b55a-49d4-814e-f62f8107d2d0"},{"parameters":{"resource":"fileFolder","searchMethod":"query","queryString":"name containts ''","filter":{"folderId":{"__rl":true,"value":"1m5QadEtk-BWlKnnQ8lY90YWL7jNREpCv","mode":"list","cachedResultName":"Eznet-RAG-filesDEMO","cachedResultUrl":"https://drive.google.com/drive/folders/1m5QadEtk-BWlKnnQ8lY90YWL7jNREpCv"}},"options":{"fields":["name"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3480,-280],"id":"e8acc770-20b8-40f5-aaa5-a1199f2fe09e","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"Oneclick Google Drive"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe658f7a-5d93-4212-8680-98b6cce1594a","leftValue":"={{ $json.length }} >= 1","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3740,-280],"id":"b39bc1c9-3702-4066-809e-f91a226ee23d","name":"If"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1EIXNezVwPYR9PbmheBsc7QN49b4KZsd2xUG3rEOXSW0","mode":"list","cachedResultName":"EZnet-scheduler-URLs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EIXNezVwPYR9PbmheBsc7QN49b4KZsd2xUG3rEOXSW0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"urls-text","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EIXNezVwPYR9PbmheBsc7QN49b4KZsd2xUG3rEOXSW0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"url":"={{ $json['message.content.links'] }}"},"matchingColumns":["url"],"schema":[{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[940,-60],"id":"e351d872-55ce-412c-85e0-824275a2f35a","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"Google Sheets ONECLICK"}}},{"parameters":{"fieldToSplitOut":"message.content.links","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[640,-60],"id":"96e04d77-1d98-4d81-9dba-599a26084264","name":"Split Out"},{"parameters":{"batchSize":"=1","options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1200,-40],"id":"569c2680-ffba-4d4e-b3a4-730ae6a617ab","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me1","typeVersion":1,"position":[1660,80],"id":"6271c065-8adc-4c25-9e80-d8db9999f320"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1EIXNezVwPYR9PbmheBsc7QN49b4KZsd2xUG3rEOXSW0","mode":"list","cachedResultName":"EZnet-scheduler-URLs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EIXNezVwPYR9PbmheBsc7QN49b4KZsd2xUG3rEOXSW0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"urls-text","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EIXNezVwPYR9PbmheBsc7QN49b4KZsd2xUG3rEOXSW0/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"text":"={{ $json.message.content.plainTextWebsiteCopy }}"},"matchingColumns":["text"],"schema":[{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2780,-120],"id":"80db1cd5-ea42-44c4-a413-0e1416ac2495","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"Google Sheets ONECLICK"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Markdown1","type":"main","index":0}]]},"Markdown1":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Google Drive","type":"main","index":0}],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"If","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"HTTP Request1","type":"main","index":0}],[{"node":"Replace Me1","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4dda331c-6eca-4d0c-8d81-234bd62e6002","triggerCount":0,"tags":[]}