eznet-rag-chatbot-→-retrieve-kb-from-vdb-+-add-google-drive-file-to-vdb-RYrZUAzM1M8P0rmP.json
{"createdAt":"2025-03-23T12:51:11.763Z","updatedAt":"2025-04-01T10:07:29.789Z","id":"RYrZUAzM1M8P0rmP","name":"EzNet RAG Chatbot → retrieve KB from vDB + Add Google Drive File to vDB","active":true,"isArchived":false,"nodes":[{"parameters":{"model":"gpt-4o","options":{"temperature":0.8}},"id":"15cc169f-a59f-4bcd-b23c-54baf2aa9844","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1000,40],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"model":"gpt-4o","options":{}},"id":"debdae9b-2c89-4b37-ae80-2bd384547a49","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-180,-20],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').item.json.file_id }}"}]}}},"id":"f47a7b24-15d9-4ff5-b54f-679c70b172e2","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-40,520]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"ff97f580-84d6-4f66-8134-727177da1792","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-200,520],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"name":"user_documents","description":"Contains all the user's documents that you can check for context to answer user questions.","topK":15},"id":"c6ea749f-efe9-439d-8bb7-35fda02a7598","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-400,-200]},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"36bc171c-ac57-4cd0-a76a-f85fe17e7882","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-580,-320]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":671.8877842322804,"width":2070.8894079025763,"color":5},"id":"9e44b13f-0033-4f09-b545-6e2292d5f3e2","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1800,220]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"54a3e1c1-266c-4840-add7-99dc370b7a66","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-700,400],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"Oneclick Google Drive"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1m5QadEtk-BWlKnnQ8lY90YWL7jNREpCv","mode":"list","cachedResultName":"Eznet-RAG-filesDEMO","cachedResultUrl":"https://drive.google.com/drive/folders/1m5QadEtk-BWlKnnQ8lY90YWL7jNREpCv"},"event":"fileCreated","options":{}},"id":"16b7486a-8e51-40a8-825c-e029a33abcb3","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1740,300],"credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"Oneclick Google Drive"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1m5QadEtk-BWlKnnQ8lY90YWL7jNREpCv","mode":"list","cachedResultName":"Eznet-RAG-filesDEMO","cachedResultUrl":"https://drive.google.com/drive/folders/1m5QadEtk-BWlKnnQ8lY90YWL7jNREpCv"},"event":"fileUpdated","options":{}},"id":"7c8a3cab-27f4-45da-a661-eb9fb6e7c298","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1740,520],"credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"Oneclick Google Drive"}}},{"parameters":{"operation":"text","options":{}},"id":"46829788-ec51-4005-8450-48f518551450","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-440,400],"alwaysOutputData":true},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"e409495c-fd1c-44ae-8b6d-9716413586ca","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-360,80],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"tableName":"chat_history_eznetscheduler_n8n"},"id":"177abef9-eb6c-469e-a51a-0bdc5000d2e2","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-860,40],"notesInFlow":false,"credentials":{"postgres":{"id":"k9zhdBNZqYVHhO1c","name":"ONECLICK-Postgres"}}},{"parameters":{"chunkSize":800,"chunkOverlap":400,"options":{}},"id":"eece476c-4b35-4395-a8d2-b5f69ba7d40b","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-40,720]},{"parameters":{"operation":"delete","tableId":"documents_eznetscheduler_rag","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"9f4385e4-6287-49f6-8f4e-07262e3ecb36","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1000,400],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"L5uqTMSc5f8WvP9K","name":"ONECLICK-Main"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"f54c7acf-8ab6-4459-9466-96e01a609c3d","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,400]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":692.7866482806627},"id":"b8221765-1adc-40a3-b45e-3d6f6c884814","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,-260]},{"parameters":{"public":true,"initialMessages":"Hi there! 👋\nMy name is Mike. How can I help you today?","options":{}},"id":"07d7b4c2-0252-4a40-b07c-56610c517bf4","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1220,-180],"webhookId":"e985d15f-b2f6-456d-be15-97e0b1544a40"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"You are a helpful and knowledgeable assistant for EZnet Scheduler, a powerful appointment scheduling platform.\n\nYour job is to provide concise, accurate, and direct answers to user questions about features, setup, integrations, pricing, or scheduling.\n\nMaintain a tone that is:\n\n    Friendly, yet focused\n\n    Supportive, yet efficient\n\n    Calm, clear, and never salesy\n\nAlways acknowledge user concerns or confusion. Then give straight-to-the-point help.\nAvoid small talk, filler, or unnecessary explanations unless clarification is requested.\n\nIf you're not sure, say so briefly and suggest the next best step.\n\nUser: \"Can I schedule recurring appointments at different locations?\"\nAgent: Yes, EZnet Scheduler supports recurring appointments across multiple locations. Each can be assigned separately to staff or resources.\n\nUser: \"I can’t figure out how to send voice reminders.\"\nAgent: No problem. Go to Settings → Notifications → Voice. From there, choose your trigger and record or type your message. Need a walkthrough?"}},"id":"63835a5d-a27d-4e44-98b3-a7c1f6203b3a","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-900,-180]},{"parameters":{"tableName":{"__rl":true,"value":"documents_eznetscheduler_rag","mode":"list","cachedResultName":"documents_eznetscheduler_rag"},"options":{"queryName":"match_documents_eznetscheduler_rag"}},"id":"9d387930-61f1-4604-be15-90cc28104022","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-520,-40],"credentials":{"supabaseApi":{"id":"L5uqTMSc5f8WvP9K","name":"ONECLICK-Main"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents_eznetscheduler_rag","mode":"list","cachedResultName":"documents_eznetscheduler_rag"},"options":{"queryName":"match_documents"}},"id":"7057b9f2-3b94-4213-92f6-d81218dc06d0","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-160,300],"credentials":{"supabaseApi":{"id":"L5uqTMSc5f8WvP9K","name":"ONECLICK-Main"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File Created":{"lastTimeChecked":"2025-06-13T07:27:12Z"},"node:File Updated":{"lastTimeChecked":"2025-06-13T07:27:12Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"239f319c-5cca-4ce0-a59a-8f7490e38816","triggerCount":3,"tags":[]}