florida-rag-chatbot-→-retrieve-kb-from-vdb-+-add-google-drive-file-to-vdb-copy-CoxqAOcew8SM4NOR.json
{"createdAt":"2025-04-02T07:01:18.458Z","updatedAt":"2025-04-02T13:23:48.194Z","id":"CoxqAOcew8SM4NOR","name":"Florida RAG Chatbot → retrieve KB from vDB + Add Google Drive File to vDB copy","active":true,"nodes":[{"parameters":{"model":"gpt-4o","options":{"temperature":0.8}},"id":"7c317401-52f9-4000-afe4-da72d416d9a0","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1000,40],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"model":"gpt-4o","options":{}},"id":"27f991de-8dab-449e-b608-62d424d11de3","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-180,-20],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').item.json.file_id }}"}]}}},"id":"5707d404-bb12-422e-8998-8850288df6eb","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-40,520]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"44e7de11-316d-4076-967f-ced59a5119ad","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-200,520],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"name":"user_documents","description":"Contains all the user's documents that you can check for context to answer user questions.","topK":15},"id":"560b5620-2fcf-40cc-ada5-3dcd6c8d9014","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-400,-200]},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"7cc6b225-d65a-46c7-8ff0-f150405bc3f7","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-580,-320]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":671.8877842322804,"width":2070.8894079025763,"color":5},"id":"8c07c2f6-cac3-41cb-a427-91025f752597","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1800,220]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"4fecf111-abd7-45a7-84ce-0e00fab9cd9a","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-700,400],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"ONECLICK - Google Drive"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1H97T5C6ef4pOFwtwtqgnxWmh8nSHUVBi","mode":"list","cachedResultName":"Florida-RAG","cachedResultUrl":"https://drive.google.com/drive/folders/1H97T5C6ef4pOFwtwtqgnxWmh8nSHUVBi"},"event":"fileCreated","options":{}},"id":"337e1cd8-7270-435e-abf4-5e6a1943445c","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1740,300],"credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"ONECLICK - Google Drive"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1H97T5C6ef4pOFwtwtqgnxWmh8nSHUVBi","mode":"list","cachedResultName":"Florida-RAG","cachedResultUrl":"https://drive.google.com/drive/folders/1H97T5C6ef4pOFwtwtqgnxWmh8nSHUVBi"},"event":"fileUpdated","options":{}},"id":"b7f848d3-7d7a-4af8-a757-3e534ef57a27","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1740,520],"credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"ONECLICK - Google Drive"}}},{"parameters":{"operation":"text","options":{}},"id":"ce3991b1-ba81-4d16-ba34-1b2e2bea2c2b","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-440,400],"alwaysOutputData":true},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"81f20fdc-a5b5-4653-92ae-c3160d114b4e","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-360,80],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"tableName":"chat_history_floridaconceledcarry_n8n"},"id":"2f1189ca-378d-4857-8620-2ddff7e12190","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-860,40],"notesInFlow":false,"credentials":{"postgres":{"id":"k9zhdBNZqYVHhO1c","name":"ONECLICK-Postgres"}}},{"parameters":{"chunkSize":800,"chunkOverlap":400,"options":{}},"id":"2a21db1c-9809-4232-bd09-b6f55825cd0c","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-40,720]},{"parameters":{"operation":"delete","tableId":"florida_concealed_carry_bot_rag","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"c4efb921-6173-460f-89c4-c40e7cb9b303","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1000,400],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"L5uqTMSc5f8WvP9K","name":"ONECLICK - Main"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"521fae6e-19bd-4ab4-b14c-6cb9a4041b6e","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,400]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":692.7866482806627},"id":"94ea090e-2054-4101-86b9-51a57c02f8c3","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,-260]},{"parameters":{"public":true,"initialMessages":"Hi there welcome to the Florida Department of Agriculture and Consumer Services! 👋\nMy name is Mike. How can I help you today?","options":{"loadPreviousSession":"memory"}},"id":"7fc6cd93-fe1e-436f-877b-7b0f5dde46f5","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1220,-180],"webhookId":"832449ee-489d-4aa7-b76b-b8aefb9f3774"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"You are a helpful and knowledgeable assistant for the Florida Concealed Weapon License (CWL) process. Your job is to provide concise, accurate, and direct answers to user questions about the application process, forms, eligibility, renewal, and any related topics.\n\nMaintain a tone that is:\n- Friendly, yet focused\n- Supportive, yet efficient\n- Calm, clear, and never salesy\n\nAlways acknowledge user concerns or confusion, then provide straightforward help.\nAvoid small talk, filler, or unnecessary explanations unless clarification is requested.\n\nIf you're unsure, briefly say so and suggest the next best step (e.g., \"You can find more detailed info at [insert link]\" or \"I recommend contacting your local office for clarification\").\n\nExample Responses:\n\nUser: \"Can I apply for a Florida CWL online?\"\nAgent: Yes, you can apply online through the Florida Department of Agriculture and Consumer Services website. You’ll need to complete the application and submit fingerprints. Here’s the link to apply: https://www.fdacs.gov/.\n\nUser: \"How much does the Florida CWL cost?\"\nAgent: The application fee for a Florida CWL is $97. You can pay online through the application portal.\n\nUser: \"I’m not sure if I’m eligible for the CWL. How do I know?\"\nAgent: Eligibility depends on factors like age, criminal record, and U.S. citizenship. For a detailed list, visit https://www.fdacs.gov/, or I can help you find out by going through the criteria.\n\nUser: \"Where can I find the fingerprinting locations?\"\nAgent: You can find fingerprinting locations on the Florida Department of Law Enforcement's website. Here’s the link: https://www.fdle.state.fl.us/. Would you like to know more about the process?\n\nUser: \"I’ve lost my CWL. How do I get a replacement?\"\nAgent: You can request a replacement for a lost CWL by filling out the replacement form on the Florida Department of Agriculture and Consumer Services website. Here’s the link: https://www.fdacs.gov/. Need help with that form?"}},"id":"53ada07d-1b0a-4a10-bb51-522f2dfa5303","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-900,-180]},{"parameters":{"tableName":{"__rl":true,"value":"florida_concealed_carry_bot_rag","mode":"list","cachedResultName":"florida_concealed_carry_bot_rag"},"options":{"queryName":"match_florida_concealed_carry_bot_rag"}},"id":"4a8b5580-31cf-455e-ac54-b6289ae63cbb","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-520,-40],"credentials":{"supabaseApi":{"id":"L5uqTMSc5f8WvP9K","name":"ONECLICK - Main"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"florida_concealed_carry_bot_rag","mode":"list","cachedResultName":"florida_concealed_carry_bot_rag"},"options":{"queryName":"match_florida_concealed_carry_bot_rag"}},"id":"74eed172-7f4f-40eb-8244-313ac985059a","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-160,300],"credentials":{"supabaseApi":{"id":"L5uqTMSc5f8WvP9K","name":"ONECLICK - Main"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File Created":{"lastTimeChecked":"2025-05-10T22:01:28Z"},"node:File Updated":{"lastTimeChecked":"2025-05-10T22:01:28Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7b7abf5d-cf3d-44d2-801f-9a2308e56d64","triggerCount":3,"tags":[]}