google-maps-scraper-CgeW1E47Z1iHXMur.json
{"createdAt":"2025-04-25T21:07:23.956Z","updatedAt":"2025-04-25T21:17:01.250Z","id":"CgeW1E47Z1iHXMur","name":"Google maps scraper","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"1b846248-ca55-4223-b9a6-845d7bebd1d2","name":"Remove Duplicate URLs","type":"n8n-nodes-base.removeDuplicates","position":[2200,1000],"typeVersion":1.1},{"parameters":{"options":{}},"id":"28366906-b450-44b0-9094-5659fd47a9fa","name":"Loop over queries","type":"n8n-nodes-base.splitInBatches","position":[1900,520],"typeVersion":3},{"parameters":{"url":"=https://www.google.com/maps/search/{{ $json.query }}","options":{"allowUnauthorizedCerts":false}},"id":"efbcc2af-b13c-458f-a4ab-668fc31ce641","name":"Search Google Maps with query","type":"n8n-nodes-base.httpRequest","position":[1600,1000],"executeOnce":false,"typeVersion":4.2,"alwaysOutputData":false},{"parameters":{"jsCode":"const data = $input.first().json.data\n\nconst regex = /https?:\\/\\/[^\\/]+/g\n\nconst urls = data.match(regex)\n\nreturn urls.map(url => ({json: {url: url}}))"},"id":"4179897f-86e5-471d-8c05-20a56828e412","name":"Scrape URLs from results","type":"n8n-nodes-base.code","position":[1800,1000],"typeVersion":2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"041797f2-2fe2-41dc-902a-d34050b9b304","operator":{"type":"string","operation":"notRegex"},"leftValue":"={{ $json.url }}","rightValue":"=(google|gstatic|ggpht|schema\\.org|example\\.com|sentry-next\\.wixpress\\.com|imli\\.com|sentry\\.wixpress\\.com|ingest\\.sentry\\.io)"},{"id":"eb499a7e-17bc-453c-be08-a47286f726dd","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"","rightValue":""}]},"options":{}},"id":"655d348a-984d-4971-be94-4ec3938d60eb","name":"Filter irrelevant URLs","type":"n8n-nodes-base.filter","position":[2000,1000],"typeVersion":2.2},{"parameters":{"url":"={{ $json.url }}","options":{}},"id":"5fe95f83-db6a-4a79-a586-cbc709534c1e","name":"Request web page for URL","type":"n8n-nodes-base.httpRequest","position":[2600,1080],"typeVersion":4.2,"alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"options":{"reset":false}},"id":"a54e4a2c-9264-48b1-9f8c-e53aa9796d49","name":"Loop over URLs","type":"n8n-nodes-base.splitInBatches","position":[2400,1000],"typeVersion":3,"onError":"continueErrorOutput"},{"parameters":{"options":{}},"id":"8bd9d91b-475d-4acc-bebb-57d51b15c0fd","name":"Loop over pages","type":"n8n-nodes-base.splitInBatches","position":[2620,740],"typeVersion":3,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const data = $json.data\n\nconst emailRegex = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.(?!png|jpg|gif|jpeg)[a-zA-Z]{2,}/g\n\nconst emails = data.match(emailRegex)\n\nreturn {json: {emails: emails}}"},"id":"1de6d665-fc3a-4e89-9f9c-38b28181d47e","name":"Scrape emails from page","type":"n8n-nodes-base.code","position":[2780,840],"typeVersion":2,"onError":"continueRegularOutput"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"emails"}]},"options":{"mergeLists":true}},"id":"d2094fda-2c57-4c8d-9fb3-d998d44619b2","name":"Aggregate arrays of emails","type":"n8n-nodes-base.aggregate","position":[2940,720],"typeVersion":1},{"parameters":{"fieldToSplitOut":"emails","options":{}},"id":"854648a1-0c0f-4b37-b841-8b48ef8cfd98","name":"Split out into default data structure","type":"n8n-nodes-base.splitOut","position":[3160,720],"typeVersion":1},{"parameters":{"compare":"selectedFields","fieldsToCompare":"emails","options":{}},"id":"330ba795-5d55-4e08-9806-6f18e7672a08","name":"Remove duplicate emails","type":"n8n-nodes-base.removeDuplicates","position":[3380,720],"typeVersion":1.1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"041797f2-2fe2-41dc-902a-d34050b9b304","operator":{"type":"string","operation":"notRegex"},"leftValue":"={{ $json.emails }}","rightValue":"=(google|gstatic|ggpht|schema\\.org|example\\.com|sentry\\.wixpress\\.com|sentry-next\\.wixpress\\.com|ingest\\.sentry\\.io|sentry\\.io|imli\\.com)"}]},"options":{}},"id":"d0ed3193-6ce8-4356-9f84-fe3a729d9dbb","name":"Filter irrelevant emails","type":"n8n-nodes-base.filter","position":[3580,720],"typeVersion":2.2},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1wzwq5qriBouNMF_usjw1vRCoTQ7tFp3hoal8bWpOi_I","mode":"list","cachedResultName":"google sraper demo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wzwq5qriBouNMF_usjw1vRCoTQ7tFp3hoal8bWpOi_I/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1wzwq5qriBouNMF_usjw1vRCoTQ7tFp3hoal8bWpOi_I/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":["email"],"schema":[{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"6e105073-e2ee-4d37-bd95-b74af43077a4","name":"Save emails to Google Sheet","type":"n8n-nodes-base.googleSheets","position":[3780,720],"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{},"id":"a6971cc3-8bfa-4d95-a38a-603cbdc9361f","name":"Starts scraper workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[1380,1000],"typeVersion":1},{"parameters":{},"id":"059d9e55-2535-42ea-8630-ecf1968dcfe6","name":"Run workflow","type":"n8n-nodes-base.manualTrigger","position":[1660,520],"typeVersion":1},{"parameters":{"amount":2},"id":"4c57a85f-8066-4aca-aecd-64dc06b81bd0","name":"Wait between executions","type":"n8n-nodes-base.wait","position":[2280,620],"webhookId":"40eb11a9-0f7d-4932-993e-0052b69dbf9b","typeVersion":1.1},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"mode":"each","options":{"waitForSubWorkflow":false}},"id":"00558d94-8ea1-4482-b25b-96dec053b316","name":"Execute scraper for query","type":"n8n-nodes-base.executeWorkflow","position":[2100,620],"typeVersion":1.1},{"parameters":{"content":"## 🛠 Setup\n1. Setup your list of queries in the \"Run workflow\" manual trigger node. Watch  this [video](https://youtu.be/HaiO-UeiKBA) on how to generate the queries with ChatGPT.\n3. Choose a sheet to populate with data in the **Google Sheets node**\n4. Run the workflow and start getting leads into your Google Sheets document","height":180,"width":740,"color":5},"id":"842306f1-e9cf-4d38-ac67-24e79560dfb2","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[700,480],"typeVersion":1},{"parameters":{"content":"**Optional** 👇\nSet wait time between each query workflow execution. Default is 2 seconds.","height":100,"color":6},"id":"a985035e-efe7-40f2-ac4a-79c1d0c866ef","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[2280,500],"typeVersion":1},{"parameters":{"content":"### Scraper 👇\nThis workflow will be executed in the background for each query. Click the **All executions** tab in the left sidebar to see the executions running.","height":100,"width":480},"id":"ddc02900-578a-4d67-8922-61d89bab5ba3","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1380,880],"typeVersion":1},{"parameters":{"content":"👆 \n1. Setup your **credentials**. Here's a [video tutorial](https://youtu.be/O5RnWDM27M8) on how to do that.\n\n2. Choose which document and sheet to save the scraped emails to. ","height":180,"color":4},"id":"d1c54e6d-7a2e-4b2b-95de-c707650bb37a","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[3800,920],"typeVersion":1},{"parameters":{"content":" ## ⚠️ Note\n\nA [video tutorial](https://youtu.be/HaiO-UeiKBA) for this workflow guide is available on my [Youtube channel](https://www.youtube.com/channel/UCn8xmUBunez1SsDVRfZDUGA)","color":3},"id":"295a306c-afa4-43f4-a408-2db9d68bb781","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1220,260],"typeVersion":1},{"parameters":{"content":"## Google Maps Automatic Email Scraper\n\nThis workflow automatically scrapes emails from businesses on Google Maps based on a list of queries that you provide.","height":140,"width":480,"color":7},"id":"67daf111-3198-455c-841c-d75a9c9a4793","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[700,260],"typeVersion":1},{"parameters":{"content":"**Optional** 👆\nAdd or change the regex for filtering irrelevant URLs.","height":100,"width":160,"color":6},"id":"0ddb8beb-cc85-40cb-986b-6665e7a483aa","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[1980,1160],"typeVersion":1},{"parameters":{"content":"**Optional** 👆\nAdd or change the regex for filtering irrelevant/incorrect email addresses.","height":100,"width":200,"color":6},"id":"6e4d362c-fb68-4aa6-bce5-501329f5e641","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[3560,880],"typeVersion":1}],"connections":{"Run workflow":{"main":[[{"node":"Loop over queries","type":"main","index":0}]]},"Loop over URLs":{"main":[[{"node":"Loop over pages","type":"main","index":0}],[{"node":"Request web page for URL","type":"main","index":0}]]},"Loop over pages":{"main":[[{"node":"Aggregate arrays of emails","type":"main","index":0}],[{"node":"Scrape emails from page","type":"main","index":0}]]},"Loop over queries":{"main":[[],[{"node":"Execute scraper for query","type":"main","index":0}]]},"Remove Duplicate URLs":{"main":[[{"node":"Loop over URLs","type":"main","index":0}]]},"Filter irrelevant URLs":{"main":[[{"node":"Remove Duplicate URLs","type":"main","index":0}]]},"Remove duplicate emails":{"main":[[{"node":"Filter irrelevant emails","type":"main","index":0}]]},"Scrape emails from page":{"main":[[{"node":"Loop over pages","type":"main","index":0}]]},"Starts scraper workflow":{"main":[[{"node":"Search Google Maps with query","type":"main","index":0}]]},"Wait between executions":{"main":[[{"node":"Loop over queries","type":"main","index":0}]]},"Filter irrelevant emails":{"main":[[{"node":"Save emails to Google Sheet","type":"main","index":0}]]},"Request web page for URL":{"main":[[{"node":"Loop over URLs","type":"main","index":0}]]},"Scrape URLs from results":{"main":[[{"node":"Filter irrelevant URLs","type":"main","index":0}]]},"Execute scraper for query":{"main":[[{"node":"Wait between executions","type":"main","index":0}]]},"Aggregate arrays of emails":{"main":[[{"node":"Split out into default data structure","type":"main","index":0}]]},"Search Google Maps with query":{"main":[[{"node":"Scrape URLs from results","type":"main","index":0}]]},"Split out into default data structure":{"main":[[{"node":"Remove duplicate emails","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Run workflow":[{"json":{"query":"hollywood+dentist"}},{"json":{"query":"downtown+los+angeles+dentist"}},{"json":{"query":"santa+monica+dentist"}},{"json":{"query":"westwood+dentist"}},{"json":{"query":"west+l.a.+dentist"}},{"json":{"query":"the+valley+dentist"}},{"json":{"query":"echo+park+dentist"}},{"json":{"query":"culver+city+dentist"}},{"json":{"query":"pasadena+dentist"}},{"json":{"query":"silver+lake+dentist"}},{"json":{"query":"mid-wilshire+dentist"}},{"json":{"query":"beverly+hills+dentist"}},{"json":{"query":"north+hills+dentist"}},{"json":{"query":"south+los+angeles+dentist"}}]},"versionId":"a44b5b8d-7282-47ea-8442-c425eab3168c","triggerCount":0,"tags":[]}