human-hand-off-chat-MNmNyWBNzKpQ5se4.json
{"createdAt":"2025-04-23T20:52:32.071Z","updatedAt":"2025-04-23T20:52:32.071Z","id":"MNmNyWBNzKpQ5se4","name":"Human hand off Chat","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"sendAndWait","chatId":"=<human chat id>","message":"=chatId: {{ $('Handoff Subworkflow').first().json.chatId }}\nsessionId: {{ $('Handoff Subworkflow').first().json.sessionId }}\nuser: {{ $('Handoff Subworkflow').first().json.username }} ({{ $('Handoff Subworkflow').item.json.userId }})\n\nSummary:\n{{ $('Handoff Subworkflow').item.json.summary }}\n\n---\nThis user has now been handed off to a human.\nClick the button to return user to bot.","responseType":"freeText","options":{}},"id":"e3773dce-2bab-47fc-9c67-d513895ac6d1","name":"Human Handoff using Send and Wait","type":"n8n-nodes-base.telegram","position":[3080,1360],"webhookId":"d2bbc82f-0509-470a-af4d-9d92cfed4d5f","typeVersion":1.2},{"parameters":{"operation":"set","key":"=handoff_{{ $('Handoff Subworkflow').first().json.sessionId }}_state","value":"bot","keyType":"string"},"id":"b1148201-2095-4b35-a774-2ab90c5acd30","name":"Set Interaction to Bot","type":"n8n-nodes-base.redis","position":[3280,1360],"typeVersion":1},{"parameters":{"operation":"set","key":"=handoff_{{ $json.sessionId }}_state","value":"=human","keyType":"string"},"id":"050d056b-6506-4e8d-9c13-6cdb62bc2d47","name":"Set Interaction to Human","type":"n8n-nodes-base.redis","position":[2880,1360],"typeVersion":1},{"parameters":{"operation":"get","propertyName":"data","key":"=handoff_{{ $json.message.chat.id }}_state","options":{}},"id":"2fed2142-4498-4492-bb5e-7f6354f4351a","name":"Get Interaction State","type":"n8n-nodes-base.redis","position":[700,1140],"typeVersion":1},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"id":"a39a3d56-3dc9-4648-b19f-53d1b69b9e47","name":"Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1220,960],"typeVersion":1.2},{"parameters":{"sessionIdType":"customKey","sessionKey":"=handoff_{{ $('Telegram Trigger').first().json.message.chat.id }}_chat"},"id":"a40640e5-1a46-441b-ae4f-b475d2936d4e","name":"Memory","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","position":[1340,960],"typeVersion":1.4},{"parameters":{"workflowInputs":{"values":[{"name":"chatId"},{"name":"sessionId"},{"name":"userId"},{"name":"username"},{"name":"summary"}]}},"id":"0b5c1634-5963-427b-9715-c1d2317ec058","name":"Handoff Subworkflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[2480,1360],"typeVersion":1.1},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"ec126022-ae33-41bd-b8a9-834fc398d6b8","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","position":[500,1140],"webhookId":"e905dd99-eefc-48ff-a62d-c7078e9bb216","typeVersion":1.1},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"=Thank you. I've now transferred you to a human agent who will reach out to you. Once complete, you can come back to this chat to finish the process.","additionalFields":{"appendAttribution":false}},"id":"3f952384-aad3-49b6-88af-68a0f0c0967c","name":"Send Response","type":"n8n-nodes-base.telegram","position":[2900,660],"webhookId":"55ecb0ba-72c8-4f16-a6c8-0c0bb8582554","typeVersion":1.2},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"6bc61072-f7cf-4a6d-af81-36abede59d47","operator":{"type":"string","operation":"equals"},"leftValue":"={{ $json.data }}","rightValue":"human"}]},"renameOutput":true,"outputKey":"Human"},{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"6882db64-b522-4895-8949-d98d87b53b49","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.data }}","rightValue":"bot"}]},"renameOutput":true,"outputKey":"Bot"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Onboarding"}},"id":"cdfafcc3-a617-4661-841d-4f955d833bba","name":"Switch Interaction","type":"n8n-nodes-base.switch","position":[880,1140],"typeVersion":3.2},{"parameters":{"text":"={{\n$json.data\n  .reverse()\n  .slice(0, 5)\n  .map(item => item.parseJson())\n  .map(item => `${item.type}: ${item.data.content}`)\n  .join('\\n')\n}}","attributes":{"attributes":[{"name":"firstname","description":"first name of customer","required":true},{"name":"lastname","description":"last name of customer","required":true},{"name":"address_and_postcode","description":"address and postcode of customer","required":true},{"name":"reason_for_call","description":"a summary of the reason for the call","required":true}]},"options":{"systemPromptTemplate":"Analyse the conversation history and extract the required customer details. If not found, leave blank."}},"id":"a53d722e-3a33-45c5-896f-97c502c13a4d","name":"Information Extractor","type":"@n8n/n8n-nodes-langchain.informationExtractor","position":[1940,780],"typeVersion":1},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"id":"78313215-8e60-4192-86fb-69331da10a8f","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1920,960],"typeVersion":1.2},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  \"firstname\": \"\",\n  \"lastname\": \"\",\n  \"address_and_postcode\": \"\",\n  \"reason_for_call\": \"\",\n  ...$input.item.json.output,\n}"},"id":"f34ad2f8-0537-4a30-8d87-f754eb8fe025","name":"With Defaults","type":"n8n-nodes-base.code","position":[2260,780],"typeVersion":2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"96d4a43f-aa0f-486a-b692-0105196d099a","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ Object.values($json).every(val => Boolean(val)) }}","rightValue":""}]},"options":{}},"id":"cbe51e85-36f4-4960-b803-8eb5812c8209","name":"Has All Criteria?","type":"n8n-nodes-base.if","position":[2420,780],"typeVersion":2.2},{"parameters":{"promptType":"define","text":"={{ $('Telegram Trigger').first().json.message.text }}","options":{"systemMessage":"=You are a prescreen assistant whose task is to get the following details from a customer before handing them over to a human agent.\n* first name\n* last name\n* address and postcode\n* reason for calling - capture exact wording if possible.\n\nOnce all data is gathered, hand the user off to a human agent."}},"id":"5620272b-94f9-4ca1-abf3-5ecf5ea47aa0","name":"Onboarding Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1260,780],"typeVersion":1.8},{"parameters":{"operation":"get","propertyName":"data","key":"=handoff_{{ $('Telegram Trigger').first().json.message.chat.id }}_chat","options":{}},"id":"a7ad0a21-9ac2-4c35-81f0-f359f379c99a","name":"Get Onboarding Chat History","type":"n8n-nodes-base.redis","position":[1780,780],"typeVersion":1},{"parameters":{"promptType":"define","text":"={{ $('Telegram Trigger').item.json.message.text }}","options":{"systemMessage":"You are an aftersales agent helping the user answer questions about their recent purchase."}},"id":"c259eef9-fdbd-4242-9bc0-d9049d72857b","name":"After Sales Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[1840,1320],"typeVersion":1.8},{"parameters":{"sessionIdType":"customKey","sessionKey":"=handoff_{{ $('Telegram Trigger').first().json.message.chat.id }}_chat2","contextWindowLength":30},"id":"5554aa53-92bd-4910-8f70-ffe1fdabd8cd","name":"Memory1","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","position":[1920,1500],"typeVersion":1.4},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"id":"29479f34-a4d8-4b56-a2b9-4325dd21f607","name":"Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[1800,1500],"typeVersion":1.2},{"parameters":{"name":"handoff_to_human","description":"Call this tool to handoff or defer to a human agent at the request of the customer. Ensure a summary of the reason for the handoff is obtained first.","workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"workflowInputs":{"value":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id.toString() }}","userId":"={{ $('Telegram Trigger').first().json.message.from.id.toString() }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('summary', `Reason for human hand-off`, 'string') }}","username":"={{ $('Telegram Trigger').first().json.message.from.username }}","sessionId":"={{ $('Telegram Trigger').first().json.message.chat.id.toString() }}"},"schema":[{"id":"chatId","type":"string","display":true,"removed":false,"required":false,"displayName":"chatId","defaultMatch":false,"canBeUsedToMatch":true},{"id":"sessionId","type":"string","display":true,"removed":false,"required":false,"displayName":"sessionId","defaultMatch":false,"canBeUsedToMatch":true},{"id":"userId","type":"string","display":true,"removed":false,"required":false,"displayName":"userId","defaultMatch":false,"canBeUsedToMatch":true},{"id":"username","type":"string","display":true,"removed":false,"required":false,"displayName":"username","defaultMatch":false,"canBeUsedToMatch":true},{"id":"summary","type":"string","display":true,"removed":false,"required":false,"displayName":"summary","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"id":"5537dd47-3681-4e16-9386-681f677404d2","name":"Handoff Tool","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[2040,1500],"typeVersion":2},{"parameters":{"content":"## 1. Check Interaction State For Incoming Message\n[Learn more about the telegram trigger](https://docs.n8n.io/integrations/builtin/trigger-nodes/n8n-nodes-base.telegramtrigger/)\n\nThis is an example of a state-based agent - the technique commonly known as a finite-state machine. This is a great way to really control the flow and direction of the conversation where there are requirements to collect data or perform steps in sequence. To manage the session state, we can use Redis and the session key will be the user's number.","height":460,"width":660,"color":7},"id":"d20be6e5-ae77-4722-8091-7f633404b72e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[420,900],"typeVersion":1},{"parameters":{"content":"## 2. Onboarding Agent to Validate Customers\n[Read more about Agents](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.agent)\n\nThis agent unlike the common multi-tasking examples out there, is only tasked to handle the user's onboarding. In this way, we trade convenience for clutter but ensure the agent is less likely to stray from the desired path.","height":520,"width":560,"color":7},"id":"eb796cb7-5ccd-493d-a800-bea85e360ed8","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1120,580],"typeVersion":1},{"parameters":{"content":"## 3. Extract Customer Details from Conversation\n[Learn more about the Information Extractor](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.information-extractor)\n\nTo collect the user's details in a structured format, we can analyse the current conversation and extract the data with the Information Extractor node. This allows the conversation to remain free-form and avoids asking a question for each field. We use a code node to check if all details are captured.","height":520,"width":880,"color":7},"id":"214cbe14-e61e-43c9-b12f-92e7f1d50ed2","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1700,580],"typeVersion":1},{"parameters":{"workflowId":{"__rl":true,"mode":"id","value":"={{ $workflow.id }}"},"workflowInputs":{"value":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id.toString() }}","userId":"={{ $('Telegram Trigger').first().json.message.from.id.toString() }}","summary":"=name: {{ $json.firstname }} {{ $json.lastname }}\naddress: {{ $json.address_and_postcode }}\nsummary: {{ $json.reason_for_call }}","username":"={{ $('Telegram Trigger').first().json.message.from.username }}","sessionId":"={{ $('Telegram Trigger').first().json.message.chat.id.toString() }}"},"schema":[{"id":"chatId","type":"string","display":true,"required":false,"displayName":"chatId","defaultMatch":false,"canBeUsedToMatch":true},{"id":"sessionId","type":"string","display":true,"required":false,"displayName":"sessionId","defaultMatch":false,"canBeUsedToMatch":true},{"id":"userId","type":"string","display":true,"required":false,"displayName":"userId","defaultMatch":false,"canBeUsedToMatch":true},{"id":"username","type":"string","display":true,"required":false,"displayName":"username","defaultMatch":false,"canBeUsedToMatch":true},{"id":"summary","type":"string","display":true,"required":false,"displayName":"summary","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"id":"6b4c427c-4ced-4d76-9953-81d1d64dff01","name":"Handoff Subworkflow1","type":"n8n-nodes-base.executeWorkflow","position":[2720,660],"typeVersion":1.2},{"parameters":{"content":"## 4. Human Handoff when Criteria Met\n[Learn more about subworkflows](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.executeworkflow)\n\nHere, we initiate the hand-off which calls our hand-off subworkflow. Subworkflows can be a great way to run actions concurrently and without blocking the reply to the user. At this point, the session state would be set to \"human\" which means the human agent should take over.","height":640,"width":800,"color":7},"id":"53bff25a-9126-49f5-bae3-df858614e4fa","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[2600,460],"typeVersion":1},{"parameters":{"content":"## 5. Defer to Human\n\nWhen session state is \"human\", no further user messages can reach the agent. This is to ensure there isn't a parallel conversation happening which may confuse the human and agent.","height":440,"width":520,"color":7},"id":"296f6168-05f4-4ff5-97c0-b8d8394ab45a","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1120,1120],"typeVersion":1},{"parameters":{"content":"## 6. Interaction Switched Back to Bot\n[Read more about the Customer Workflow Tool](https://docs.n8n.io/integrations/builtin/cluster-nodes/sub-nodes/n8n-nodes-langchain.toolworkflow/)\n\nWhen the session state is \"bot\", it signals the human agent has \"transferred\" the user back to the bot and so can continue processing their messages. A Custom Workflow Tool is used to retrigger the hand-off process whenever the user requests for it.","height":520,"width":720,"color":7},"id":"7e970380-c603-4aa4-a12f-12853e2f4959","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[1660,1120],"typeVersion":1},{"parameters":{"content":"## 7. Interaction Subworkflow\n[Learn more about n8n's human-in-the-loop feature](https://docs.n8n.io/advanced-ai/examples/human-fallback/)\n\nThe hand-off implementation here involves a \"human-in-the-loop\" feature of n8n - a feature which \"pauses\" an execution whilst running until a reply or action is sent back by the human. Sounds complicated but good to note that n8n handles this interaction seemlessly! Here, we're using it to allow the human agent to reliquish control of the conversation back to the AI agent. Additionally, the human agent's feedback is captured and added to the agent's memory to better assist the user afterwards.","height":560,"width":1580,"color":7},"id":"0000763f-32dc-4a37-a08e-ebf35a7dbcb4","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[2420,1140],"typeVersion":1},{"parameters":{"content":"## Try it out\n### This n8n template demonstrates an approach to perform bot-to-human handoff using Human-in-the-loop functionality as a switch.\n\nIn this experiment, we play with the idea of states we want our agent to be in which controls it's interacton with the user.\n* **First state** - the agent is onboarding the user by collecting their details for a sales inquiry. After which, they are handed-off / transferred to a human to continue the call.\n* **Second state** - the agent is essentially \"deactivated\" as further messages to the bot will not reach it. Instead, a canned response is given to the user. The human agent must \"reactivate\" the bot by completing the human-in-the-loop form and give a summary of their conversation with the user.\n* **Third state** - the agent is \"reactivated\" with context of the human-to-user conversation and is set to provide after sales assistance. An tool is made available to the agent to again delegate back to the human agent when requested.\n\n### How it works\n* This template uses telegram to handle the interaction between the user and the agent.\n* Each user message is checked for a session state to ensure it is guided to the right stage of the conversation. For this, we can use Redis as a simple key-value store.\n* When no state is set, the user is directed through an onboarding step to attain their details. Once complete, the agent will \"transfer\" the user to a human agent - technically, all this involves is an update to the session state and a message to another chat forwarding the user's details.\n* During this \"human\" state, the agent cannot reply to the user and must wait until the human \"transfers\" the conversation back. The human can do this by replying to \"human-in-the-loop\" message with a summary of their conversation with the user. This session state now changes to \"bot\" and the context is implanted in the agent's memory so that the agent can respond to future questions.\n* At this stage of the conversation, the agent is now expected to handle and help the user with after-sales questions. The user can at anytime request transfer back to the human agent, repeating the previous steps as necessary.\n\n#### How to use\n* Plan your user journey! Here is a very basic example of a sales inquiry with at most 3 states. More thought should be developed when many more states are involved.\n* You may want to better log and manage session states so no user is left in limbo. Try connecting the user and sessions to your CRM.\n* Note, the Onboarding agent and After-Sales agent have separate chat memories. When adding more agents, it is recommend to continue having separate chat memories to help focus between states.\n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!\n\nHappy Hacking!","height":1320,"width":440},"id":"08d5e7cd-a06e-4bc4-813e-6de8b7315755","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[-80,60],"typeVersion":1},{"parameters":{"chatId":"={{ $('Handoff Subworkflow').first().json.chatId }}","text":"=Hello again! I'm now ready to answer any remaining questions you may have.","additionalFields":{"appendAttribution":false}},"id":"327d17b3-b61d-486b-85ed-8bf745334491","name":"Send Response2","type":"n8n-nodes-base.telegram","position":[3820,1360],"webhookId":"55ecb0ba-72c8-4f16-a6c8-0c0bb8582554","typeVersion":1.2},{"parameters":{"sessionIdType":"customKey","sessionKey":"=handoff_{{ $('Handoff Subworkflow').first().json.chatId }}_chat2","contextWindowLength":30},"id":"e9e1a6ad-48ce-4fd8-844b-8036f68294af","name":"Memory2","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","position":[3480,1520],"typeVersion":1.5},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"ai","message":"=Report from human agent says \"{{ $('Human Handoff using Send and Wait').first().json.data.text }}\"","hideFromUI":true},{"type":"ai","message":"Hello again! I'm now ready to answer any remaining questions you may have."}]}},"id":"e7602eb5-e221-4b11-8c4d-b6e13ce8e769","name":"Update Agent Memory","type":"@n8n/n8n-nodes-langchain.memoryManager","position":[3480,1360],"typeVersion":1.1},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"3d00d7a8-7826-44fd-85a0-c135c5f8f34a","name":"Send Response3","type":"n8n-nodes-base.telegram","position":[2180,1320],"webhookId":"55ecb0ba-72c8-4f16-a6c8-0c0bb8582554","typeVersion":1.2},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"=This conversation has been handed-off to a human agent who will be in contact soon if not done so already. I cannot respond to your query until the human agent transfers you back to me.","additionalFields":{"appendAttribution":false}},"id":"e9e5d99c-4f0e-4059-bb3a-346368b117d4","name":"Get Canned Response","type":"n8n-nodes-base.telegram","position":[1320,1320],"webhookId":"55ecb0ba-72c8-4f16-a6c8-0c0bb8582554","typeVersion":1.2},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"=You have now been transferred to a human. Unfortunately, I will not be able to respond until the human agent transfers you back to me.","additionalFields":{"appendAttribution":false}},"id":"6d480cf9-02df-4865-bc3d-b19546a8db1d","name":"Notify user","type":"n8n-nodes-base.telegram","position":[2680,1360],"webhookId":"55ecb0ba-72c8-4f16-a6c8-0c0bb8582554","typeVersion":1.2},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### Add Human Chat ID\nThis is needed to notify the human agent.","height":320,"width":220},"id":"17385378-245b-451c-acdd-37e90085d58d","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[3100,1420],"typeVersion":1},{"parameters":{"sessionIdType":"customKey","sessionKey":"=handoff_{{ $('Telegram Trigger').first().json.message.chat.id }}_chat2","contextWindowLength":30},"id":"38cf79dd-c6f5-4a8b-bbb1-f68756fca2e4","name":"Memory3","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","position":[3080,820],"typeVersion":1.5},{"parameters":{"mode":"insert","messages":{"messageValues":[{"type":"ai","message":"=The person I'm speaking to has the following details:\nfirstname: {{ $('Handoff Subworkflow1').first().json.firstname }}\nlastname: {{ $('Handoff Subworkflow1').first().json.firstname }}\nreason for call: {{ $('Handoff Subworkflow1').first().json.reason_for_call }}","hideFromUI":true}]}},"id":"6f217131-a61e-43ea-aa22-0e8d1a9c813d","name":"Update Agent Memory1","type":"@n8n/n8n-nodes-langchain.memoryManager","position":[3080,660],"typeVersion":1.1},{"parameters":{"chatId":"={{ $('Telegram Trigger').first().json.message.chat.id }}","text":"={{ $('Onboarding Agent').first().json.output }}","additionalFields":{"appendAttribution":false}},"id":"1d2bf86f-90fc-40e1-83e8-c63af960236f","name":"Continue Conversation","type":"n8n-nodes-base.telegram","position":[2720,900],"webhookId":"55ecb0ba-72c8-4f16-a6c8-0c0bb8582554","typeVersion":1.2}],"connections":{"Model":{"ai_languageModel":[[{"node":"Onboarding Agent","type":"ai_languageModel","index":0}]]},"Memory":{"ai_memory":[[{"node":"Onboarding Agent","type":"ai_memory","index":0}]]},"Model1":{"ai_languageModel":[[{"node":"After Sales Agent","type":"ai_languageModel","index":0}]]},"Memory1":{"ai_memory":[[{"node":"After Sales Agent","type":"ai_memory","index":0}]]},"Memory2":{"ai_memory":[[{"node":"Update Agent Memory","type":"ai_memory","index":0}]]},"Memory3":{"ai_memory":[[{"node":"Update Agent Memory1","type":"ai_memory","index":0}]]},"Notify user":{"main":[[{"node":"Set Interaction to Human","type":"main","index":0}]]},"Handoff Tool":{"ai_tool":[[{"node":"After Sales Agent","type":"ai_tool","index":0}]]},"Send Response":{"main":[[{"node":"Update Agent Memory1","type":"main","index":0}]]},"With Defaults":{"main":[[{"node":"Has All Criteria?","type":"main","index":0}]]},"Onboarding Agent":{"main":[[{"node":"Get Onboarding Chat History","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Get Interaction State","type":"main","index":0}]]},"After Sales Agent":{"main":[[{"node":"Send Response3","type":"main","index":0}]]},"Has All Criteria?":{"main":[[{"node":"Handoff Subworkflow1","type":"main","index":0}],[{"node":"Continue Conversation","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]},"Switch Interaction":{"main":[[{"node":"Get Canned Response","type":"main","index":0}],[{"node":"After Sales Agent","type":"main","index":0}],[{"node":"Onboarding Agent","type":"main","index":0}]]},"Handoff Subworkflow":{"main":[[{"node":"Notify user","type":"main","index":0}]]},"Update Agent Memory":{"main":[[{"node":"Send Response2","type":"main","index":0}]]},"Handoff Subworkflow1":{"main":[[{"node":"Send Response","type":"main","index":0}]]},"Get Interaction State":{"main":[[{"node":"Switch Interaction","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"With Defaults","type":"main","index":0}]]},"Set Interaction to Bot":{"main":[[{"node":"Update Agent Memory","type":"main","index":0}]]},"Set Interaction to Human":{"main":[[{"node":"Human Handoff using Send and Wait","type":"main","index":0}]]},"Get Onboarding Chat History":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Human Handoff using Send and Wait":{"main":[[{"node":"Set Interaction to Bot","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"4c3f53ad-1aeb-422c-a190-74e13c816a30","triggerCount":0,"tags":[]}