instantly---jkd-account-error-92Tp6zfJDuLGAfUA.json
{"createdAt":"2025-06-11T12:04:36.988Z","updatedAt":"2025-06-13T07:24:42.192Z","id":"92Tp6zfJDuLGAfUA","name":"Instantly - JKD account error","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"608b8e24-1978-460a-be07-dd008bfcf3d2","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"f78c69e4-7ecd-4a62-b912-89fc007dc293","name":"Webhook","webhookId":"608b8e24-1978-460a-be07-dd008bfcf3d2"},{"parameters":{"assignments":{"assignments":[{"id":"ba06e400-4ee2-4946-8379-5333b8b45147","name":"body.event_type","value":"={{ $json.body.event_type }}","type":"string"},{"id":"64160810-f26d-484a-a1f8-affa9a8e23b4","name":"body.email_account","value":"={{ $json.body.email_account }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0],"id":"63b5903f-c1d9-4b67-a7b4-1c4fc1c300f2","name":"Edit Fields"},{"parameters":{"sendTo":"stas@oneclick.si","subject":"={{ $json.body.event_type }}","message":"={{ $json.body.event_type }} for {{ $json.body.email_account }}","options":{"appendAttribution":false,"senderName":"JKD - Instantly"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[440,0],"id":"68b5ddf4-702a-405b-95b1-a65abe6e7643","name":"Gmail","webhookId":"0f74af60-c249-4d45-bfa1-4c1c4a30c324","credentials":{"gmailOAuth2":{"id":"iX8qfUXdQMjweLGs","name":"ONECLICK - Gmail"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a29dbe41-3002-4e81-b383-4190b575969a","triggerCount":1,"tags":[]}