lead-enrichment-and-personalization-with-rb2b-WkiFORX6j2nQ8Vbu.json
{"createdAt":"2025-04-07T11:19:55.574Z","updatedAt":"2025-04-07T18:28:22.129Z","id":"WkiFORX6j2nQ8Vbu","name":"Lead Enrichment and Personalization with rb2b","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[40,-160],"id":"1619de6e-4679-406f-a650-ecc631e3638e","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"55df84b2-154c-475e-acaf-799eefbf7bc4","leftValue":"={{ $json.Email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1140,0],"id":"8ecf166f-a42c-4467-b6c4-283d81ad42f9","name":"email?","alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.prospeo.io/email-finder","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-KEY","value":"d89091d2b28fb6b7e7e1426bcbc3eac2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"first_name","value":"={{ $json['First Name'] }}"},{"name":"last_name","value":"={{ $json['Last Name'] }}"},{"name":"company","value":"={{ $json['Company Domain'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[260,-80],"id":"9cc14f06-45ec-4a98-ae09-674659cfd675","name":"Enrich with email","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1lluxV9T_JL3jx7gYt8r-5xd_eS8beuvFprzVQyqAsfo","mode":"list","cachedResultName":"Lead enrichment from rb2b DEMO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lluxV9T_JL3jx7gYt8r-5xd_eS8beuvFprzVQyqAsfo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lluxV9T_JL3jx7gYt8r-5xd_eS8beuvFprzVQyqAsfo/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-220,-320],"id":"e51a44b7-41da-4731-81fa-3035911fdb33","name":"Watch lead list","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"civGKqmitRkz1XPJ","name":"ONECLICK - Google Sheets Trigger"}}},{"parameters":{"documentId":{"__rl":true,"value":"1lluxV9T_JL3jx7gYt8r-5xd_eS8beuvFprzVQyqAsfo","mode":"list","cachedResultName":"Lead enrichment from rb2b DEMO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lluxV9T_JL3jx7gYt8r-5xd_eS8beuvFprzVQyqAsfo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"First Name","lookupValue":"={{ $('Loop Over Items').item.json['First Name'] }}"},{"lookupColumn":"Last Name","lookupValue":"={{ $('Loop Over Items').item.json['Last Name'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[700,0],"id":"43bdd137-5ab6-4a86-a258-9ffc7658ecc1","name":"Find row #","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1lluxV9T_JL3jx7gYt8r-5xd_eS8beuvFprzVQyqAsfo","mode":"list","cachedResultName":"Lead enrichment from rb2b DEMO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lluxV9T_JL3jx7gYt8r-5xd_eS8beuvFprzVQyqAsfo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $('Enrich with email').item.json.response.email }}","row_number":"={{ $json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Domain","displayName":"Company Domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn Profile","displayName":"LinkedIn Profile","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Added","displayName":"Date Added","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Employees","displayName":"Company Employees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Industry","displayName":"Company Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Country","displayName":"Company Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Description","displayName":"Company Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[920,0],"id":"f3b73d45-ad63-476d-bf06-97c707d45c3f","name":"Update with email","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d34e9dd-4367-46d9-8d2c-bd72edb9a30d","name":"firstName","value":"={{ $('Find row #').item.json['First Name'] }}","type":"string"},{"id":"d2d89acf-b016-4c48-9d3b-de80d39c3e6f","name":"lastName","value":"={{ $('Find row #').item.json['Last Name'] }}","type":"string"},{"id":"b4548907-af47-44bc-89c8-ea2a3f829e66","name":"email","value":"={{ $('Find row #').item.json.Email }}","type":"string"},{"id":"9b4325bc-6cc2-432c-ac29-ba791bc697cc","name":"linkedIn","value":"={{ $('Find row #').item.json['LinkedIn Profile'] }}","type":"string"},{"id":"5b100eb0-d0be-45b6-98b3-22fc7e2b55fd","name":"domain","value":"={{ $('Find row #').item.json['Company Domain'] }}","type":"string"},{"id":"906b057d-cdf1-42cf-94c8-5a27de0aed90","name":"companyName","value":"={{ $('Find row #').item.json['Company Name'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,0],"id":"60016b14-8e83-4bba-9612-218695019674","name":"Set variables","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar-deep-research\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a research specialist. I want you to research a person and give me usefull information that can be used for ice breaker in an email. IMPORTANT: output only the information of the person without any suggestions.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Research individual: {{ $json.firstName }}, Email: {{ $json.email }}, Company: {{ $json.companyName }}, LinkedIn profile: {{ $json.linkedIn }}\"\n }\n  ]\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1580,0],"id":"231ffa48-a0dc-458e-8688-d435b543f953","name":"Research w-Perplexity"},{"parameters":{"promptType":"define","text":"=Here is the information of the person:\nPerson name: {{ $('Set variables').item.json.firstName }}\nLinkedin Profile URL: {{ $('Set variables').item.json.linkedIn }}\nCompany: {{ $('Set variables').item.json.companyName }}\n\nResearch information: {{ $json.choices[0].message.content }}","hasOutputParser":true,"options":{"systemMessage":"You are a cold outreach specialist.\n\nI want you to output an Ice Breaker first line for Email, a subject line to use for the email, and the first icebreaker message for LinkedIn in separate fields.\n\n- Only output the Icebreaker, Subject Line, LinkedIn message, and nothing else\n- Use the research information to create the icebreaker, subject line, and LinkedIn message\n- The icebreaker should be one line\n- The subject line should be relevant\n- Be spartan in tone\n- Write it as a human and use simple language\n- Create the IceBreaker, subject line, and message in a way that allows for continuation with an offer\n- Make the LinkedIn Icebreakera a maximum of 180 characters this includes all the spaces and signs\n- Do not use explanations or emojis in the subject line\n\n## Examples:\n\n- Subject line: Future boss is that you?\n- Icebreaker: Really resonated with your outlook on employment—especially the idea of retaining people by genuinely being their best opportunity, instead of just limiting their options. Refreshing to see a CEO with this mindset.\n- LinkedIn message: Hi 'name'—really resonated with your take on employment. Rare to see a CEO emphasize genuinely being the best opportunity rather than limiting people's options.\n\n- Subject line: Burning the Midnight Clay with Michel 🔥\n- Icebreaker: Loved the story about you building Clay tables with Michel at 11pm—especially how your late-night hustle to master AI Cold Outreach evolved into multiple five-figure offers. Major respect for that grind!\n- LinkedIn message: Hey Dan—still thinking about your late-night Clay table grind with Michel and how that hustle turned into multiple 5-figure offers. Big respect!\n\n- Subject line: +966K ARR in 30 days? What's your secret, Fivos?\n- Icebreaker: Loved your story of going from saving every one of Michel's posts to becoming a partner—and now driving nearly $1M in new ARR in a single month. Epic journey!\n- Hey Fivos—your journey from saving Michel’s posts to driving nearly $1M ARR in a month is awesome!\n\n- Subject line: Football scholarship ➜ ColdIQ Chief of Staff—epic journey 🚀\n- Icebreaker: Not every Chief of Staff goes from a football scholarship in the US to scaling sales-tech at ColdIQ in Barcelona—a seriously impressive path!\n- LinkedIn message: Hi Luca—going from a football scholarship in the US to scaling sales-tech at ColdIQ in Barcelona is impressive, man!"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1800,0],"id":"1c38db36-be54-4681-9d99-123b0fa4cf26","name":"Ice breaker","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"claude-3-5-sonnet-20241022","mode":"list","cachedResultName":"Claude 3.5 Sonnet (New)"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1760,220],"id":"8bd2a372-d149-4b11-b2e9-1e253660f383","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"R577E9P3r5txdxYS","name":"Anthropic account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"Icebreaker\": \"California\",\n\t\"Subject line\": \"California\",\n    \"LinkedIn opener\": \"Hey love the profile.\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1948,220],"id":"4a97bf72-ff5b-486c-8a52-334e2f65691f","name":"Structured Output Parser"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1lluxV9T_JL3jx7gYt8r-5xd_eS8beuvFprzVQyqAsfo","mode":"list","cachedResultName":"Lead enrichment from rb2b DEMO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lluxV9T_JL3jx7gYt8r-5xd_eS8beuvFprzVQyqAsfo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Find row #').item.json.row_number }}","Perplexity research":"={{ $('Research w-Perplexity').item.json.choices[0].message.content }}","Icebreaker":"={{ $json.output.Icebreaker }}","Subject Line":"={{ $json.output['Subject line'] }}","LinkedIn message":"={{ $json.output['LinkedIn opener'] }}"},"matchingColumns":["row_number"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Domain","displayName":"Company Domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn Profile","displayName":"LinkedIn Profile","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Added","displayName":"Date Added","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Employees","displayName":"Company Employees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Industry","displayName":"Company Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Country","displayName":"Company Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Description","displayName":"Company Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Perplexity research","displayName":"Perplexity research","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Icebreaker","displayName":"Icebreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subject Line","displayName":"Subject Line","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn message","displayName":"LinkedIn message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2176,0],"id":"25ff9220-e523-4c5c-8a4b-59b899151741","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"amount":"={{ $json.RandomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2620,320],"id":"f1eace48-4f81-4afe-a112-63b414e48dea","name":"Wait","webhookId":"3e3b9d1b-e4b0-47fc-b7ae-91fa35f96b57"},{"parameters":{"jsCode":"items[0].json.RandomNumber = Math.floor(Math.random() * 8);\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2396,0],"id":"4d6ab25a-3d9d-46b5-b50f-9495d0815a56","name":"Randomizer"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2696c37c-6543-4512-b123-50a374ac1761","leftValue":"={{ $json.response.email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,0],"id":"e48f06f7-f3d0-471f-a779-4dbad71a37eb","name":"If"},{"parameters":{"trigger":["message"],"channelId":{"__rl":true,"value":"C08F0EBS03W","mode":"list","cachedResultName":"website-visitor-rb2b"},"options":{}},"type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[-220,-620],"id":"034b4b24-da43-434b-b572-b90009efde4b","name":"Slack Trigger","webhookId":"2bcafec8-e46a-45be-b927-ac49a2de0ce6","credentials":{"slackApi":{"id":"6aQGOluxuuruf6vk","name":"ONECLICK-bot"}}},{"parameters":{"jsCode":"const text = $input.first().json.attachments[0].text;\n\n// Match full name from \"*Name*: ...\"\nconst nameMatch = text.match(/\\*Name\\*:\\s*(.+)/);\nconst fullName = nameMatch ? nameMatch[1].trim() : null;\n\n// Split full name into first and last (optional fallback logic)\nlet firstName = null;\nlet lastName = null;\nif (fullName) {\n  const parts = fullName.split(\" \");\n  firstName = parts[0];\n  lastName = parts.slice(1).join(\" \");\n}\n\n// Match LinkedIn URL\nconst linkedinMatch = text.match(/\\*LinkedIn\\*:\\s*<(.+?)>/);\nconst linkedinURL = linkedinMatch ? linkedinMatch[1].trim() : null;\n\n// Return extracted fields\nreturn [\n  {\n    json: {\n      fullName,\n      firstName,\n      lastName,\n      linkedinURL,\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-620],"id":"87b451d9-8fbf-4c0f-9f58-5cff8e0e49e7","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"08b7b00c-2a65-4447-a76a-9e9fb2efebf1","name":"fullName","value":"={{ $json.fullName }}","type":"string"},{"id":"2bc9e3e3-53f9-40ff-b1eb-2dcc66eb1dba","name":"firstName","value":"={{ $json.firstName }}","type":"string"},{"id":"814d21c1-d52a-4de9-a6d8-5fcba233847b","name":"lastName","value":"={{ $json.lastName }}","type":"string"},{"id":"dc6dabce-e5df-472f-b53b-934d28abd280","name":"LinkedinURL","value":"={{ $json.linkedinURL }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,-620],"id":"293652a5-f668-4266-a5c5-456021de8446","name":"Edit Fields"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1lluxV9T_JL3jx7gYt8r-5xd_eS8beuvFprzVQyqAsfo","mode":"list","cachedResultName":"Lead enrichment from rb2b DEMO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lluxV9T_JL3jx7gYt8r-5xd_eS8beuvFprzVQyqAsfo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1lluxV9T_JL3jx7gYt8r-5xd_eS8beuvFprzVQyqAsfo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"First Name":"={{ $json.firstName }}","Last Name":"={{ $json.lastName }}","LinkedIn Profile":"={{ $json.linkedinUrl }}","Full Name":"={{ $json.fullName }}","Company Name":"={{ $json.companyName }}","Company Website":"={{ $json.companyWebsite }}","Company LinkedIn":"={{ $json.companyLinkedin }}"},"matchingColumns":[],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Full Name","displayName":"Full Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn Profile","displayName":"LinkedIn Profile","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company Website","displayName":"Company Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Company LinkedIn","displayName":"Company LinkedIn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Perplexity research","displayName":"Perplexity research","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Icebreaker","displayName":"Icebreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subject Line","displayName":"Subject Line","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn message","displayName":"LinkedIn message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[660,-620],"id":"0bad7d03-0547-4ac5-8a91-12321e9f61c2","name":"Google Sheets1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/2SyF0bVxmgGr8IVCZ/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer apify_api_IgRdgPpH61oQeaLsza1SOR4WN6MCeV1ud73b"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"profileUrls\": [\n        \"{{ $json.LinkedinURL }}\"\n    ]\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,-620],"id":"0009ee35-a764-4c49-8f40-893c80883ba6","name":"HTTP Request"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Enrich with email","type":"main","index":0}]]},"email?":{"main":[[{"node":"Set variables","type":"main","index":0}]]},"Enrich with email":{"main":[[{"node":"If","type":"main","index":0}]]},"Watch lead list":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Find row #":{"main":[[{"node":"Update with email","type":"main","index":0}]]},"Update with email":{"main":[[{"node":"email?","type":"main","index":0}]]},"Set variables":{"main":[[{"node":"Research w-Perplexity","type":"main","index":0}]]},"Research w-Perplexity":{"main":[[{"node":"Ice breaker","type":"main","index":0}]]},"Ice breaker":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Ice breaker","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Ice breaker","type":"ai_outputParser","index":0}]]},"Randomizer":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Randomizer","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Find row #","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Slack Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Watch lead list":{"documentId":"1lluxV9T_JL3jx7gYt8r-5xd_eS8beuvFprzVQyqAsfo","sheetId":0,"lastRevision":37,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1lluxV9T_JL3jx7gYt8r-5xd_eS8beuvFprzVQyqAsfo&revision=37&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Code":[{"json":{"fullName":"Jerry Stabler","firstName":"Jerry","lastName":"Stabler","linkedinURL":"http://www.linkedin.com/in/jerry-stabler-83026852"}}],"Edit Fields":[{"json":{"fullName":"Jerry Stabler","firstName":"Jerry","lastName":"Stabler","LinkedinURL":"http://www.linkedin.com/in/jerry-stabler-83026852"}}],"HTTP Request":[{"json":{"linkedinUrl":"http://www.linkedin.com/in/jerry-stabler-83026852","firstName":"Jerry","lastName":"Stabler","fullName":"Jerry Stabler","headline":"Online Appointment Scheduling Services! at EZnetServices","connections":null,"followers":2,"email":null,"mobileNumber":null,"jobTitle":"Services- Online Appointment Scheduler","companyName":null,"companyIndustry":null,"companyWebsite":null,"companyLinkedin":null,"companyFoundedIn":null,"companySize":null,"currentJobDuration":null,"currentJobDurationInYrs":0,"topSkillsByEndorsements":null,"addressCountryOnly":"United States","addressWithCountry":"West Palm Beach, Florida, United States","addressWithoutCountry":"West Palm Beach, Florida","profilePic":null,"profilePicHighQuality":null,"about":null,"publicIdentifier":"jerry-stabler-83026852","openConnection":null,"urn":"ACoAAAsSmKQBwwsceQr7AWrDGyqruxEAwZQ0c3c","experiences":[{"companyLink1":null,"title":"Services- Online Appointment Scheduler","breakdown":false,"subComponents":[{"description":[]}]},{"companyLink1":"https://www.linkedin.com/search/results/all/?keywords=EZnetServices","title":"Online Appointment Scheduling Services!","subtitle":"EZnetServices","caption":"Jan 1983 - Present · 42 yrs 4 mos","metadata":"West Palm Beach, Florida Area","breakdown":false,"subComponents":[{"description":[{"type":"textComponent","text":"EZnet Scheduler is an online appointment scheduling program that makes scheduling fast, easy and affordable. This cloud-based appointment scheduling program is fully adaptable to all business applications and features a robust reminder system, an easy-to-use setup wizard, one-button website integration that allows customers to book appointments online right from your own website, email marketing export and much more! Features that are all designed to help you reduce your no-shows, increase your revenues, reduce the costs of your scheduling activities, and market your products or services more effectively to your clients."}]}]}],"updates":[],"skills":[{"title":"Email Marketing","subComponents":[{"description":[]}]},{"title":"Integration","subComponents":[{"description":[]}]},{"title":"Management","subComponents":[{"description":[]}]},{"title":"Microsoft Office","subComponents":[{"description":[]}]},{"title":"Customer Service","subComponents":[{"description":[]}]},{"title":"Project Management","subComponents":[{"description":[]}]},{"title":"Leadership","subComponents":[{"description":[]}]},{"title":"Sales","subComponents":[{"description":[]}]},{"title":"Microsoft Excel","subComponents":[{"description":[]}]},{"title":"Strategic Planning","subComponents":[{"description":[]}]}],"profilePicAllDimensions":[],"educations":[],"licenseAndCertificates":[],"honorsAndAwards":[],"languages":[],"volunteerAndAwards":[],"verifications":[],"promos":[],"highlights":[],"projects":[],"publications":[],"patents":[],"courses":[],"testScores":[],"organizations":[],"volunteerCauses":[],"interests":[],"recommendations":[]}}]},"versionId":"01831105-d1ba-4832-afd1-20452a513256","triggerCount":2,"tags":[]}