lead-enrichment-and-personalization-[syrvi]-6CKVLGC8sGfOGvnU.json
{"createdAt":"2025-04-01T09:50:28.904Z","updatedAt":"2025-04-03T18:46:07.766Z","id":"6CKVLGC8sGfOGvnU","name":"Lead Enrichment and Personalization [Syrvi]","active":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[40,40],"id":"68de4376-4774-431f-b561-cf7a7dc5b75c","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"55df84b2-154c-475e-acaf-799eefbf7bc4","leftValue":"={{ $json.Email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1140,0],"id":"b39e22e3-7e7b-4064-90ba-251c04cee98b","name":"email?","alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.prospeo.io/email-finder","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-KEY","value":"d89091d2b28fb6b7e7e1426bcbc3eac2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"first_name","value":"={{ $json['First Name'] }}"},{"name":"last_name","value":"={{ $json['Last Name'] }}"},{"name":"company","value":"={{ $json['Company Domain'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[260,-75],"id":"779b102c-97f8-4899-a1dc-0f683ba0a029","name":"Enrich with email","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE","mode":"list","cachedResultName":"Lead enrichment DEMO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-180,75],"id":"09e92420-9a80-4002-b318-162b665e6526","name":"Watch lead list","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"civGKqmitRkz1XPJ","name":"ONECLICK - Google Sheets Trigger"}}},{"parameters":{"documentId":{"__rl":true,"value":"19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE","mode":"list","cachedResultName":"Lead enrichment DEMO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"First Name","lookupValue":"={{ $('Loop Over Items').item.json['First Name'] }}"},{"lookupColumn":"Last Name","lookupValue":"={{ $('Loop Over Items').item.json['Last Name'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[700,0],"id":"ba4de397-80c8-408e-8498-bcb501033e40","name":"Find row #","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE","mode":"list","cachedResultName":"Lead enrichment DEMO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $('Enrich with email').item.json.response.email }}","row_number":"={{ $json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Domain","displayName":"Company Domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn Profile","displayName":"LinkedIn Profile","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Added","displayName":"Date Added","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Employees","displayName":"Company Employees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Industry","displayName":"Company Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Country","displayName":"Company Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Description","displayName":"Company Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[920,0],"id":"22f947f4-ee7b-4eaa-ab26-c759c72b1f33","name":"Update with email","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d34e9dd-4367-46d9-8d2c-bd72edb9a30d","name":"firstName","value":"={{ $('Find row #').item.json['First Name'] }}","type":"string"},{"id":"d2d89acf-b016-4c48-9d3b-de80d39c3e6f","name":"lastName","value":"={{ $('Find row #').item.json['Last Name'] }}","type":"string"},{"id":"b4548907-af47-44bc-89c8-ea2a3f829e66","name":"email","value":"={{ $('Find row #').item.json.Email }}","type":"string"},{"id":"9b4325bc-6cc2-432c-ac29-ba791bc697cc","name":"linkedIn","value":"={{ $('Find row #').item.json['LinkedIn Profile'] }}","type":"string"},{"id":"5b100eb0-d0be-45b6-98b3-22fc7e2b55fd","name":"domain","value":"={{ $('Find row #').item.json['Company Domain'] }}","type":"string"},{"id":"906b057d-cdf1-42cf-94c8-5a27de0aed90","name":"companyName","value":"={{ $('Find row #').item.json['Company Name'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,0],"id":"02202bff-9100-409a-8a16-f84b4a229e84","name":"Set variables","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar-deep-research\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a research specialist. I want you to research a person and give me usefull information that can be used for ice breaker in an email. IMPORTANT: output only the information of the person without any suggestions.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Research individual: {{ $json.firstName }}, Email: {{ $json.email }}, Company: {{ $json.companyName }}, LinkedIn profile: {{ $json.linkedIn }}\"\n }\n  ]\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1580,0],"id":"83fc706d-529f-40af-bc01-5b7695890ada","name":"Research w-Perplexity"},{"parameters":{"promptType":"define","text":"=Here is the information of the person:\nPerson name: {{ $('Set variables').item.json.firstName }}\nLinkedin Profile URL: {{ $('Set variables').item.json.linkedIn }}\nCompany: {{ $('Set variables').item.json.companyName }}\n\nResearch information: {{ $json.choices[0].message.content }}","hasOutputParser":true,"options":{"systemMessage":"You are a cold outreach specialist.\n\nI want you to output an Ice Breaker first line for Email, a subject line to use for the email, and the first icebreaker message for LinkedIn in separate fields.\n\n- Only output the Icebreaker, Subject Line, LinkedIn message, and nothing else\n- Use the research information to create the icebreaker, subject line, and LinkedIn message\n- The icebreaker should be one line\n- The subject line should be relevant\n- Be spartan in tone\n- Write it as a human and use simple language\n- Create the IceBreaker, subject line, and message in a way that allows for continuation with an offer\n- Make the LinkedIn Icebreakera a maximum of 180 characters this includes all the spaces and signs\n- Do not use explanations or emojis in the subject line\n\n## Examples:\n\n- Subject line: Future boss is that you?\n- Icebreaker: Really resonated with your outlook on employment—especially the idea of retaining people by genuinely being their best opportunity, instead of just limiting their options. Refreshing to see a CEO with this mindset.\n- LinkedIn message: Hi 'name'—really resonated with your take on employment. Rare to see a CEO emphasize genuinely being the best opportunity rather than limiting people's options.\n\n- Subject line: Burning the Midnight Clay with Michel 🔥\n- Icebreaker: Loved the story about you building Clay tables with Michel at 11pm—especially how your late-night hustle to master AI Cold Outreach evolved into multiple five-figure offers. Major respect for that grind!\n- LinkedIn message: Hey Dan—still thinking about your late-night Clay table grind with Michel and how that hustle turned into multiple 5-figure offers. Big respect!\n\n- Subject line: +966K ARR in 30 days? What's your secret, Fivos?\n- Icebreaker: Loved your story of going from saving every one of Michel's posts to becoming a partner—and now driving nearly $1M in new ARR in a single month. Epic journey!\n- Hey Fivos—your journey from saving Michel’s posts to driving nearly $1M ARR in a month is awesome!\n\n- Subject line: Football scholarship ➜ ColdIQ Chief of Staff—epic journey 🚀\n- Icebreaker: Not every Chief of Staff goes from a football scholarship in the US to scaling sales-tech at ColdIQ in Barcelona—a seriously impressive path!\n- LinkedIn message: Hi Luca—going from a football scholarship in the US to scaling sales-tech at ColdIQ in Barcelona is impressive, man!"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1820,0],"id":"9cef0d45-6b43-46bf-916d-2a872fa8cd6a","name":"Ice breaker","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"claude-3-5-sonnet-20241022","mode":"list","cachedResultName":"Claude 3.5 Sonnet (New)"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1828,220],"id":"63da3f71-035c-4a0d-a828-01b80643c77b","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"R577E9P3r5txdxYS","name":"Anthropic account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"Icebreaker\": \"California\",\n\t\"Subject line\": \"California\",\n    \"LinkedIn opener\": \"Hey love the profile.\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[1948,220],"id":"3acb036f-ce51-4021-8bb6-b52f6902fa0e","name":"Structured Output Parser"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE","mode":"list","cachedResultName":"Lead enrichment DEMO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Find row #').item.json.row_number }}","Perplexity research":"={{ $('Research w-Perplexity').item.json.choices[0].message.content }}","Icebreaker":"={{ $json.output.Icebreaker }}","Subject Line":"={{ $json.output['Subject line'] }}","LinkedIn message":"={{ $json.output['LinkedIn opener'] }}"},"matchingColumns":["row_number"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Domain","displayName":"Company Domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn Profile","displayName":"LinkedIn Profile","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Added","displayName":"Date Added","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Employees","displayName":"Company Employees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Industry","displayName":"Company Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Country","displayName":"Company Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Description","displayName":"Company Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Perplexity research","displayName":"Perplexity research","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Icebreaker","displayName":"Icebreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subject Line","displayName":"Subject Line","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn message","displayName":"LinkedIn message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2176,0],"id":"a33e5339-febb-4b9c-9ac8-084c9dd446ce","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"amount":"={{ $json.RandomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2600,260],"id":"3d739810-a853-4acd-9f6b-ce42fc6bd819","name":"Wait","webhookId":"ebcbd734-def5-4116-bae5-c39620b0d939"},{"parameters":{"jsCode":"items[0].json.RandomNumber = Math.floor(Math.random() * 8);\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2396,0],"id":"1b2023f8-58e6-4848-a315-dc5bdea5c3cd","name":"Randomizer"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2696c37c-6543-4512-b123-50a374ac1761","leftValue":"={{ $json.response.email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,0],"id":"9b15aba0-e0a8-42af-8190-21a3e4e18f32","name":"If"},{"parameters":{"content":"## Lead list \n**Watch new rows**","height":240},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-260,0],"id":"1414ea57-4848-495d-90ba-ab401426f98c","name":"Sticky Note"},{"parameters":{"content":"## Enrich with email\n**Prospeo API** switch to FullEnrich → if email → send to Sheets\n","height":320,"width":480,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[180,-180],"id":"51447b17-1f4d-4512-83b6-c16873630167","name":"Sticky Note1"},{"parameters":{"content":"## Prospect Enrichment \n**Research decision maker** using sonar-deep-research.","height":320,"width":300,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1480,-120],"id":"bc94229e-c51d-433a-8a41-bd86b15076e9","name":"Sticky Note2"},{"parameters":{"content":"## Generate Icebreaker \n**GPT 4o**\n- Email subject line\n- First sentence icebreaker\n- LinkedIn icebreaker message","height":520,"width":340,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1800,-160],"id":"681ed281-cd13-4947-b376-9f16b2b41d34","name":"Sticky Note3"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Enrich with email","type":"main","index":0}]]},"email?":{"main":[[{"node":"Set variables","type":"main","index":0}]]},"Enrich with email":{"main":[[{"node":"If","type":"main","index":0}]]},"Watch lead list":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Find row #":{"main":[[{"node":"Update with email","type":"main","index":0}]]},"Update with email":{"main":[[{"node":"email?","type":"main","index":0}]]},"Set variables":{"main":[[{"node":"Research w-Perplexity","type":"main","index":0}]]},"Research w-Perplexity":{"main":[[{"node":"Ice breaker","type":"main","index":0}]]},"Ice breaker":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Ice breaker","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Ice breaker","type":"ai_outputParser","index":0}]]},"Randomizer":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Randomizer","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Find row #","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"18f941ad-f316-4678-aec9-38d2843ba66e","triggerCount":0,"tags":[{"createdAt":"2025-03-31T08:42:55.021Z","updatedAt":"2025-03-31T08:42:55.021Z","id":"Ajdrvo3Lktb90nw4","name":"Syrvi"}]}