lead-enrichment-and-personalization-flow-[template]-d1IHCngrJkwvpLvl.json
{"createdAt":"2025-04-03T18:41:07.870Z","updatedAt":"2025-04-07T18:51:44.413Z","id":"d1IHCngrJkwvpLvl","name":"Lead Enrichment and Personalization flow [Template]","active":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[20,0],"id":"d4e416d1-fcea-4da7-a999-b846b5d7a69c","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"55df84b2-154c-475e-acaf-799eefbf7bc4","leftValue":"={{ $json.Email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1140,0],"id":"5b4f71c3-3688-42fb-9c74-2ad9227582f6","name":"email?","alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.prospeo.io/email-finder","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-KEY","value":"d**********************************2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"first_name","value":"={{ $json['First Name'] }}"},{"name":"last_name","value":"={{ $json['Last Name'] }}"},{"name":"company","value":"={{ $json['Company Domain'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[260,-80],"id":"87e90dfe-48c8-4f18-8b1f-f256f7ce2e61","name":"Enrich with email","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE","mode":"list","cachedResultName":"Lead enrichment DEMO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-240,40],"id":"a2f13186-cc1c-4025-8b05-23c559d42263","name":"Watch lead list","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"civGKqmitRkz1XPJ","name":"ONECLICK - Google Sheets Trigger"}}},{"parameters":{"documentId":{"__rl":true,"value":"19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE","mode":"list","cachedResultName":"Lead enrichment DEMO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"First Name","lookupValue":"={{ $('Loop Over Items').item.json['First Name'] }}"},{"lookupColumn":"Last Name","lookupValue":"={{ $('Loop Over Items').item.json['Last Name'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[700,0],"id":"5ea944d6-202b-4196-9866-fa39ee84a5e6","name":"Find row #","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE","mode":"list","cachedResultName":"Lead enrichment DEMO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $('Enrich with email').item.json.response.email }}","row_number":"={{ $json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Domain","displayName":"Company Domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn Profile","displayName":"LinkedIn Profile","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Added","displayName":"Date Added","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Employees","displayName":"Company Employees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Industry","displayName":"Company Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Country","displayName":"Company Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Description","displayName":"Company Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[920,0],"id":"c0197676-1a97-4ac3-94b2-1b809f53003d","name":"Update with email","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"assignments":{"assignments":[{"id":"8d34e9dd-4367-46d9-8d2c-bd72edb9a30d","name":"firstName","value":"={{ $('Find row #').item.json['First Name'] }}","type":"string"},{"id":"d2d89acf-b016-4c48-9d3b-de80d39c3e6f","name":"lastName","value":"={{ $('Find row #').item.json['Last Name'] }}","type":"string"},{"id":"b4548907-af47-44bc-89c8-ea2a3f829e66","name":"email","value":"={{ $('Find row #').item.json.Email }}","type":"string"},{"id":"9b4325bc-6cc2-432c-ac29-ba791bc697cc","name":"linkedIn","value":"={{ $('Find row #').item.json['LinkedIn Profile'] }}","type":"string"},{"id":"5b100eb0-d0be-45b6-98b3-22fc7e2b55fd","name":"domain","value":"={{ $('Find row #').item.json['Company Domain'] }}","type":"string"},{"id":"906b057d-cdf1-42cf-94c8-5a27de0aed90","name":"companyName","value":"={{ $('Find row #').item.json['Company Name'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,0],"id":"5c462289-027b-4dc7-8bde-cd12aa25557f","name":"Set variables","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer p**********************************m"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a research specialist. I want you to research a person and give me usefull information that can be used for ice breaker in an email. IMPORTANT: output only the information of the person without any suggestions.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Research individual: {{ $json.firstName }}, Email: {{ $json.email }}, Company: {{ $json.companyName }}, LinkedIn profile: {{ $json.linkedIn }}\"\n }\n  ]\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1580,0],"id":"9c8ba06a-b4df-47ab-bf93-2e43f203dc05","name":"Research w-Perplexity"},{"parameters":{"promptType":"define","text":"=Here is the information of the person:\nPerson name: {{ $('Set variables').item.json.firstName }}\nLinkedin Profile URL: {{ $('Set variables').item.json.linkedIn }}\nCompany: {{ $('Set variables').item.json.companyName }}\n\nResearch information: {{ $json.choices[0].message.content }}","hasOutputParser":true,"options":{"systemMessage":"You are a cold outreach specialist.\n\nI want you to output an Ice Breaker first line for Email, a subject line to use for the email, and the first icebreaker message for LinkedIn in separate fields.\n\n- Only output the Icebreaker, Subject Line, LinkedIn message, and nothing else\n- Use the research information to create the icebreaker, subject line, and LinkedIn message\n- The icebreaker should be one line\n- The subject line should be relevant\n- Be spartan in tone\n- Write it as a human and use simple language\n- Create the IceBreaker, subject line, and message in a way that allows for continuation with an offer\n- Make the LinkedIn Icebreakera a maximum of 180 characters this includes all the spaces and signs\n- Do not use explanations or emojis in the subject line\n\n## Examples:\n\n- Subject line: Future boss is that you?\n- Icebreaker: Really resonated with your outlook on employment—especially the idea of retaining people by genuinely being their best opportunity, instead of just limiting their options. Refreshing to see a CEO with this mindset.\n- LinkedIn message: Hi 'name'—really resonated with your take on employment. Rare to see a CEO emphasize genuinely being the best opportunity rather than limiting people's options.\n\n- Subject line: Burning the Midnight Clay with Michel 🔥\n- Icebreaker: Loved the story about you building Clay tables with Michel at 11pm—especially how your late-night hustle to master AI Cold Outreach evolved into multiple five-figure offers. Major respect for that grind!\n- LinkedIn message: Hey Dan—still thinking about your late-night Clay table grind with Michel and how that hustle turned into multiple 5-figure offers. Big respect!\n\n- Subject line: +966K ARR in 30 days? What's your secret, Fivos?\n- Icebreaker: Loved your story of going from saving every one of Michel's posts to becoming a partner—and now driving nearly $1M in new ARR in a single month. Epic journey!\n- Hey Fivos—your journey from saving Michel’s posts to driving nearly $1M ARR in a month is awesome!\n\n- Subject line: Football scholarship ➜ ColdIQ Chief of Staff—epic journey 🚀\n- Icebreaker: Not every Chief of Staff goes from a football scholarship in the US to scaling sales-tech at ColdIQ in Barcelona—a seriously impressive path!\n- LinkedIn message: Hi Luca—going from a football scholarship in the US to scaling sales-tech at ColdIQ in Barcelona is impressive, man!"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1820,0],"id":"0544d28c-18ec-4638-b24d-2957a508e656","name":"Ice breaker","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"claude-3-7-sonnet-20250219","mode":"list","cachedResultName":"Claude 3.7 Sonnet"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1828,220],"id":"c9c52d46-3c54-4d3d-9620-77dd2f1ddf30","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"R577E9P3r5txdxYS","name":"Anthropic account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"Icebreaker\": \"California\",\n\t\"Subject line\": \"California\",\n    \"LinkedIn opener\": \"Hey love the profile.\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[2000,220],"id":"23b59cd4-9cfe-4c58-b5f8-f36baae10095","name":"Structured Output Parser"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE","mode":"list","cachedResultName":"Lead enrichment DEMO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Find row #').item.json.row_number }}","Perplexity research":"={{ $('Research w-Perplexity').item.json.choices[0].message.content }}","Icebreaker":"={{ $json.output.Icebreaker }}","Subject Line":"={{ $json.output['Subject line'] }}","LinkedIn message":"={{ $json.output['LinkedIn opener'] }}"},"matchingColumns":["row_number"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Domain","displayName":"Company Domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn Profile","displayName":"LinkedIn Profile","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Added","displayName":"Date Added","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Employees","displayName":"Company Employees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Industry","displayName":"Company Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Country","displayName":"Company Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Description","displayName":"Company Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Perplexity research","displayName":"Perplexity research","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Icebreaker","displayName":"Icebreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Subject Line","displayName":"Subject Line","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn message","displayName":"LinkedIn message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2176,0],"id":"bf2e0ae6-05e7-4e2b-a9b4-f7dfed12883c","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"amount":"={{ $json.RandomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2680,220],"id":"4130caa4-a90d-4740-ac02-c53e2168a759","name":"Wait","webhookId":"10a1c124-eefb-485c-8ba9-5ce6d30d04e4"},{"parameters":{"jsCode":"items[0].json.RandomNumber = Math.floor(Math.random() * 8);\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2396,0],"id":"633bf0c6-705f-4cea-9166-6c8965c5ae8d","name":"Randomizer"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2696c37c-6543-4512-b123-50a374ac1761","leftValue":"={{ $json.response.email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,0],"id":"975ea23a-11e9-4b71-a86b-eeded8165ca4","name":"If"},{"parameters":{"content":"## Lead list \n**Watch new rows**","height":240},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-300,-40],"id":"b9f20394-6c37-4b13-be1e-ca87f422d6d4","name":"Sticky Note"},{"parameters":{"content":"## Enrich with email \n**Using Prospeo API** switch to FullEnrich → if email → send to Sheets","height":320,"width":480,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[180,-180],"id":"c615c84b-b01b-460b-b1b4-41c54fd8f68c","name":"Sticky Note1"},{"parameters":{"content":"## Prospect Enrichment \n**Research decision maker** using sonar-deep-research.","height":320,"width":300,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1480,-120],"id":"d2284cfc-1a67-4cd2-8ac4-379dd0d49954","name":"Sticky Note2"},{"parameters":{"content":"## Generate Icebreaker \n**Claude 3.7**\n- Email subject line\n- First sentence icebreaker\n- LinkedIn icebreaker message","height":520,"width":340,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1800,-160],"id":"4e3337a1-7afe-4ed1-832c-91896e84ad26","name":"Sticky Note3"},{"parameters":{"formTitle":"LinkedIn Lead Outreach Trigger","formDescription":"Insert an audience for your LinkedIn Outreach Campaign here.","formFields":{"values":[{"fieldLabel":"Describe your audience in plain English.","fieldType":"textarea","placeholder":"Company type, location, etc","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-260,-500],"id":"5e812923-6d77-4ea2-98e5-84ada4732239","name":"On form submission","webhookId":"ecb5116a-1434-45b5-8f38-31393735a1b8"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/jljBwyyQakqrL1wae/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer api************************************mxTAK"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"getPersonalEmails\": true,\n    \"getWorkEmails\": true,\n    \"totalRecords\": 500,\n    \"url\": \"{{ $json.message.content.searchUrl }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,-500],"id":"526fe61a-8417-4210-bda1-1c94a89ba5a8","name":"Run Apify Actor & Get Results"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"You're a helpful, intelligent sales assistant.","role":"system"},{"content":"Your task is to take as input a natural language description of a prospect audience, and turn that into an Apollo Search URL.\n\nHere's an example of an Apollo Search URL:\n\nhttps://app.apollo.io/#/people?personLocations[]=United%20States&sortAscending=false&sortByField=%5Bnone%5D&personTitles[]=owner&personTitles[]=ceo&personTitles[]=founder&personTitles[]=partner&page=1&qKeywords=creative%20agency&organizationNumEmployeesRanges[]=1%2C200\n\nThis URL describes a search for people that are\n- Located in the United States.\n- Hold the titles: Owner, CEO, Founder, or Partner.\n- Have a keyword association with “creative agency”.\n\nThese are the fields you can change:\n\norganizationLocations[], Keywords, personTitles[], and organizationNumEmployeesRanges[]\n\nDo not add or change any other fields. Use the above template\n\nReturn your response in JSON using this format:\n\n{\"searchUrl\":\"search url goes here\"}"},{"content":"={{ $json['Describe your audience in plain English.'] }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-40,-500],"id":"c1df8a59-b7e9-465d-bea8-04f9e593ba07","name":"Generate Search URL","credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1nk83a9cxTU7hBe6xuhMOsCbmJUg_o5AUGKfgtnv2lzA","mode":"list","cachedResultName":"LinkedIn outreach DEMO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nk83a9cxTU7hBe6xuhMOsCbmJUg_o5AUGKfgtnv2lzA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12VzSF9drN_kWYsGhNjir9hAGCE0k56N7HkfAV8EuI7Q/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Testing limit').item.json.id }}","first_name":"={{ $('Testing limit').item.json.first_name }}","last_name":"={{ $('Testing limit').item.json.last_name }}","name":"={{ $('Testing limit').item.json.name }}","linkedin_url":"={{ $('Testing limit').item.json.linkedin_url }}","title":"={{ $('Testing limit').item.json.title }}","email_status":"={{ $('Testing limit').item.json.email_status }}","photo_url":"={{ $('Testing limit').item.json.photo_url }}","icebreaker":"={{ $json.message.content.icebreaker }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email_status","displayName":"email_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"photo_url","displayName":"photo_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"icebreaker","displayName":"icebreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[560,-500],"id":"ea183451-ee39-4f16-8c68-96a7f7c562d5","name":"Add to Google Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"content":"## Online form\n**for starting scrape on Apollo** \nNatural language insturctions","height":360,"width":200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-300,-660],"id":"cd8cc809-8bd9-45ec-a3e0-caccde731036","name":"Sticky Note4"},{"parameters":{"content":"## GPT (4o) generates Apollo search URL \n**Next** we feed the data into Apify Apollo scraper ($1.2/1000 leads)","height":360,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-60,-660],"id":"4a6a7566-8e90-4a02-973b-272235698ca5","name":"Sticky Note5"},{"parameters":{"content":"## Feed data into Google sheet \n**NOTE: If using apollo scraper** switch to Millionverifier or Full enrich to verify the emails","height":360,"width":280,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[500,-660],"id":"2639f8c4-78b5-4083-9b96-a992d1ae405a","name":"Sticky Note6"},{"parameters":{"method":"POST","url":"https://api.heyreach.io/api/public/campaign/AddLeadsToCampaignV2","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"<string>"},{"name":"Accept","value":"text/plain"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"accountLeadPairs\": [\n    {\n      \"lead\": {\n        \"firstName\": \"<string>\",\n        \"lastName\": \"<string>\",\n        \"profileUrl\": \"<string>\",\n        \"location\": \"<string>\",\n        \"summary\": \"<string>\",\n        \"companyName\": \"<string>\",\n        \"position\": \"<string>\",\n        \"about\": \"<string>\",\n        \"emailAddress\": \"<string>\",\n        \"customUserFields\": [\n          {\n            \"name\": \"<string>\",\n            \"value\": \"<string>\"\n          },\n          {\n            \"name\": \"<string>\",\n            \"value\": \"<string>\"\n          }\n        ]\n      },\n      \"linkedInAccountId\": \"<integer>\"\n    }\n  ],\n  \"campaignId\": \"<long>\"\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[40,680],"id":"34d74634-c102-4210-998f-71855b57b23d","name":"HTTP Request"},{"parameters":{"content":"## HeyReach\n**Feed to campaign** no need for check step - HeyReach handles duplicates","height":360,"width":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-20,520],"id":"98d2ddd7-c10f-449f-b6b7-bc1aad558ee8","name":"Sticky Note7"},{"parameters":{"method":"POST","url":"https://api.instantly.ai/api/v2/leads","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer <YOUR_TOKEN_HERE>"},{"name":"Accept","value":"text/plain"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"campaign","value":"<CAMPAIGN_ID>"},{"name":"email","value":"example@example.com"},{"name":"first_name","value":"John"},{"name":"last_name","value":"Doe"},{"name":"company_name","value":"Example Inc."},{"name":"website","value":"https://example.com"},{"name":"phone","value":"+1234567890"},{"name":"personalization","value":"Hello, how are you?"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[380,680],"id":"512ecd29-6f2b-462f-99f4-775e6d4fa591","name":"HTTP Request1"},{"parameters":{"content":"## Instantly\n**Add leads to campaign** you do need to check for duplicates.","height":360,"width":260,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[320,520],"id":"696c2c04-bf85-4316-ae5a-3ca8c20fb104","name":"Sticky Note8"},{"parameters":{"content":"## API requests for HeyReach and Instantly \nAfter the leads are finished you can setup a new workflow with watch rows - and that triggers the API request.","height":200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-300,580],"id":"dbbd4636-9ecf-4f7e-a162-e01a1e8fb484","name":"Sticky Note9"},{"parameters":{"content":"## NOTE! \n**In the video I was using sonar-deep-research** the cost for that is much higher ($1 - per lead) use solar - that has the pricing I mentioned in the video"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1500,-300],"id":"65e2d659-8a18-4b44-b16f-b6c94f6ccfcd","name":"Sticky Note10"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Enrich with email","type":"main","index":0}]]},"email?":{"main":[[{"node":"Set variables","type":"main","index":0}]]},"Enrich with email":{"main":[[{"node":"If","type":"main","index":0}]]},"Watch lead list":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Find row #":{"main":[[{"node":"Update with email","type":"main","index":0}]]},"Update with email":{"main":[[{"node":"email?","type":"main","index":0}]]},"Set variables":{"main":[[{"node":"Research w-Perplexity","type":"main","index":0}]]},"Research w-Perplexity":{"main":[[{"node":"Ice breaker","type":"main","index":0}]]},"Ice breaker":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Ice breaker","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Ice breaker","type":"ai_outputParser","index":0}]]},"Randomizer":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Randomizer","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Find row #","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Generate Search URL","type":"main","index":0}]]},"Run Apify Actor & Get Results":{"main":[[{"node":"Add to Google Sheet","type":"main","index":0}]]},"Generate Search URL":{"main":[[{"node":"Run Apify Actor & Get Results","type":"main","index":0}]]},"Add to Google Sheet":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1abe2851-a872-4541-8855-960e4475e797","triggerCount":0,"tags":[{"createdAt":"2025-04-03T03:33:28.610Z","updatedAt":"2025-04-03T03:33:28.610Z","id":"33Fo2o3UoYyE9Rmq","name":"Template"}]}