lead-enrichment-and-personalization-kRj2pMzvz1RGqxvG.json
{"createdAt":"2025-03-28T10:39:34.142Z","updatedAt":"2025-03-28T12:58:07.484Z","id":"kRj2pMzvz1RGqxvG","name":"Lead Enrichment and Personalization","active":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[260,20],"id":"d7f6d7a1-c578-4e7f-ae8b-5e63b3fa22ac","name":"Loop Over Items"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.5-preview","mode":"list","cachedResultName":"GPT-4.5-PREVIEW"},"messages":{"values":[{"content":"You are a helpful, intelligent prospecting assistant. Your job is to research an individual and provide detail for personalized outreach.","role":"system"},{"content":"=Take the  {{ $('Find row #').item.json['First Name'] }}, {{ $('Find row #').item.json['Last Name'] }}, {{ $('Find row #').item.json['Company Name'] }}, {{ $('Find row #').item.json['LinkedIn Profile'] }}, and {{ $('Find row #').item.json['Company Domain'] }} to find information on the individual to be used with prospecting."}]},"jsonOutput":true,"options":{"maxTokens":2048}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1420,-360],"id":"d3caddc6-555e-4bfa-af63-93600203a225","name":"Research prospect","credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"55df84b2-154c-475e-acaf-799eefbf7bc4","leftValue":"={{ $json.Email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1140,20],"id":"cad76d7d-8dab-44fa-bff6-af5564a6ae3e","name":"email?","alwaysOutputData":false,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.prospeo.io/email-finder","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-KEY","value":"d89091d2b28fb6b7e7e1426bcbc3eac2"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"first_name","value":"={{ $json['First Name'] }}"},{"name":"last_name","value":"={{ $json['Last Name'] }}"},{"name":"company","value":"={{ $json['Company Domain'] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,20],"id":"db04254d-a045-4922-868a-d8234e813198","name":"Enrich with email"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE","mode":"list","cachedResultName":"Lead enrichment DEMO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-180,20],"id":"b26a5ba2-a549-40e7-8575-fba3c5adad74","name":"Watch lead list","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"civGKqmitRkz1XPJ","name":"ONECLICK - Google Sheets Trigger"}}},{"parameters":{"documentId":{"__rl":true,"value":"19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE","mode":"list","cachedResultName":"Lead enrichment DEMO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"First Name","lookupValue":"={{ $('Loop Over Items').item.json['First Name'] }}"},{"lookupColumn":"Last Name","lookupValue":"={{ $('Loop Over Items').item.json['Last Name'] }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[700,20],"id":"61f3fa78-dddb-42c7-9075-a633440810e0","name":"Find row #","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE","mode":"list","cachedResultName":"Lead enrichment DEMO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email":"={{ $('Enrich with email').item.json.response.email }}","row_number":"={{ $json.row_number }}"},"matchingColumns":["row_number"],"schema":[{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name","displayName":"Last Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Job Title","displayName":"Job Title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Domain","displayName":"Company Domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LinkedIn Profile","displayName":"LinkedIn Profile","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Date Added","displayName":"Date Added","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Employees","displayName":"Company Employees","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Industry","displayName":"Company Industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Country","displayName":"Company Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Company Description","displayName":"Company Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[920,20],"id":"b1097d80-6cf8-46cb-a79a-0e0ee0b6d8d9","name":"Update with email","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer 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"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Be precise and concise.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Research individual: {{ $json.firstName }}, Email: {{ $json.email }}, Company: {{ $json.companyName }}\"\n    }\n  ],\n  \"max_tokens\": 800,\n  \"temperature\": 0.2,\n  \"top_p\": 0.9,\n  \"return_images\": false,\n  \"return_related_questions\": false,\n  \"top_k\": 0,\n  \"stream\": false,\n  \"presence_penalty\": 0,\n  \"frequency_penalty\": 1,\n  \"web_search_options\": {\n    \"search_context_size\": \"high\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1860,20],"id":"418296d8-dbec-4623-9582-56ac10599ae6","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"8d34e9dd-4367-46d9-8d2c-bd72edb9a30d","name":"firstName","value":"={{ $('Find row #').item.json['First Name'] }}","type":"string"},{"id":"d2d89acf-b016-4c48-9d3b-de80d39c3e6f","name":"lastName","value":"={{ $('Find row #').item.json['Last Name'] }}","type":"string"},{"id":"b4548907-af47-44bc-89c8-ea2a3f829e66","name":"email","value":"={{ $('Find row #').item.json.Email }}","type":"string"},{"id":"9b4325bc-6cc2-432c-ac29-ba791bc697cc","name":"linkedIn","value":"={{ $('Find row #').item.json['LinkedIn Profile'] }}","type":"string"},{"id":"5b100eb0-d0be-45b6-98b3-22fc7e2b55fd","name":"domain","value":"={{ $('Find row #').item.json['Company Domain'] }}","type":"string"},{"id":"906b057d-cdf1-42cf-94c8-5a27de0aed90","name":"companyName","value":"={{ $('Find row #').item.json['Company Name'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1360,20],"id":"d5be555e-9504-49db-989e-a55d713f3139","name":"Edit Fields","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":""},"messages":{"values":[{"content":"You're an intelligent, helpful writing assistant.","role":"system"},{}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2080,20],"id":"44b6733a-50ce-4cb4-84d6-386c13e3efd1","name":"OpenAI","credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Enrich with email","type":"main","index":0}]]},"email?":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Enrich with email":{"main":[[{"node":"Find row #","type":"main","index":0}]]},"Watch lead list":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Find row #":{"main":[[{"node":"Update with email","type":"main","index":0}]]},"Update with email":{"main":[[{"node":"email?","type":"main","index":0}]]},"Research prospect":{"main":[[]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"OpenAI","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"060edc50-b8ec-4360-9dc4-96addb361256","triggerCount":0,"tags":[]}