linkedin-personalized-connection:-on-form-→-generate-url-→-apify-scrape-→-personalize-→-heyreach-[template]-oVnhQvqGh0fPuynH.json
{"createdAt":"2025-04-03T18:37:51.562Z","updatedAt":"2025-04-03T18:39:08.325Z","id":"oVnhQvqGh0fPuynH","name":"LinkedIn personalized connection: On form → Generate URL → Apify scrape → Personalize → HeyReach [Template]","active":false,"nodes":[{"parameters":{"formTitle":"LinkedIn Lead Outreach Trigger","formDescription":"Insert an audience for your LinkedIn Outreach Campaign here.","formFields":{"values":[{"fieldLabel":"Describe your audience in plain English.","fieldType":"textarea","placeholder":"Company type, location, etc","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,0],"id":"70ae83ef-b5c8-4036-8dd6-1fa45d6a7211","name":"On form submission","webhookId":"1cc8caa8-4fc1-4643-8a7a-e57d484b64ce"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/jljBwyyQakqrL1wae/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer apify_api_49eE******************X9vij6A2uaZ0mxTAK"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"getPersonalEmails\": true,\n    \"getWorkEmails\": true,\n    \"totalRecords\": 500,\n    \"url\": \"{{ $json.message.content.searchUrl }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[580,0],"id":"dba7d009-16c5-4327-9566-7522dcfdd0a1","name":"Run Apify Actor & Get Results"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"You're a helpful, intelligent sales assistant.","role":"system"},{"content":"Your task is to take as input a natural language description of a prospect audience, and turn that into an Apollo Search URL.\n\nHere's an example of an Apollo Search URL:\n\nhttps://app.apollo.io/#/people?personLocations[]=United%20States&sortAscending=false&sortByField=%5Bnone%5D&personTitles[]=owner&personTitles[]=ceo&personTitles[]=founder&personTitles[]=partner&page=1&qKeywords=creative%20agency&organizationNumEmployeesRanges[]=1%2C200\n\nThis URL describes a search for people that are\n- Located in the United States.\n- Hold the titles: Owner, CEO, Founder, or Partner.\n- Have a keyword association with “creative agency”.\n\nThese are the fields you can change:\n\norganizationLocations[], Keywords, personTitles[], and organizationNumEmployeesRanges[]\n\nDo not add or change any other fields. Use the above template\n\nReturn your response in JSON using this format:\n\n{\"searchUrl\":\"search url goes here\"}"},{"content":"={{ $json['Describe your audience in plain English.'] }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[220,0],"id":"f722509d-1129-49fc-8313-5a3fea4c35a8","name":"Generate Search URL","credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1nk83a9cxTU7hBe6xuhMOsCbmJUg_o5AUGKfgtnv2lzA","mode":"list","cachedResultName":"LinkedIn outreach DEMO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nk83a9cxTU7hBe6xuhMOsCbmJUg_o5AUGKfgtnv2lzA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/12VzSF9drN_kWYsGhNjir9hAGCE0k56N7HkfAV8EuI7Q/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Testing limit').item.json.id }}","first_name":"={{ $('Testing limit').item.json.first_name }}","last_name":"={{ $('Testing limit').item.json.last_name }}","name":"={{ $('Testing limit').item.json.name }}","linkedin_url":"={{ $('Testing limit').item.json.linkedin_url }}","title":"={{ $('Testing limit').item.json.title }}","email_status":"={{ $('Testing limit').item.json.email_status }}","photo_url":"={{ $('Testing limit').item.json.photo_url }}","icebreaker":"={{ $json.message.content.icebreaker }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email_status","displayName":"email_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"photo_url","displayName":"photo_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"icebreaker","displayName":"icebreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1340,0],"id":"93cbb0c4-fcba-4934-a8f4-5cf75f91550d","name":"Add to Google Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"messages":{"values":[{"content":"You are a helpful, intelligent writing assistant.","role":"system"},{"content":"Your task is to take as input a bunch of LinkedIn profile information of a user, and then generate a very short, very punchy icebreaker that I can use as a variable in my connection request.\n\nReturn your results in this format:\n\n{\"icebreaker\":\"Icebreaker goes here\"}\n\nIn order to ensure icebreakers are punchy and high-quality, make them follow this template:\n\nHey {{name}}, loved seeing {{thingAboutThem}}. I'm also into {{plausibleTieIn}}, thought I'd connect.\n\nFor {{thingAboutThem}} and {{plausibleTieIn}}, never use the exact information provided in a LinkedIn field. Instead, always paraphrase. This makes it seem human written, instead of just an automated message. Also, make it super short. Don't say stuff like \"passionate about turning vision into reality\" or anything like that—be extremely laconic and spartan."},{"content":"{\"linkedInFields\":\"Danielle Morgan, Fort Lauderdale, Founder & CEO at DM Creative Agency, previous experience: Regional Sales Director at Out East Eyewear, Account Director at Radancy\"}"},{"content":"{\n  \"icebreaker\": \"Hey Danielle, loved seeing your creative agency journey. I'm also building brands, thought I'd connect.\"\n}","role":"assistant"},{"content":"={\"linkedInFields\":\"{{ $json.first_name }} {{ $json.last_name }}, {{ $json.city }}, {{ $json.title }} at {{ $json.employment_history[0].organization_name }}, previous experience: {{ $json.employment_history[1].title }} at {{ $json.employment_history[1].organization_name }}, {{ $json.employment_history[2].title }} at {{ $json.employment_history[2].organization_name }}\"} "}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[980,0],"id":"d98e6bbe-e168-4cc8-ba10-0922438a5223","name":"Personalize Outreach","credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"method":"POST","url":"https://api.heyreach.io/api/public/campaign/AddLeadsToCampaignV2","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"<string>"},{"name":"Accept","value":"text/plain"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"accountLeadPairs\": [\n    {\n      \"lead\": {\n        \"firstName\": \"<string>\",\n        \"lastName\": \"<string>\",\n        \"profileUrl\": \"<string>\",\n        \"location\": \"<string>\",\n        \"summary\": \"<string>\",\n        \"companyName\": \"<string>\",\n        \"position\": \"<string>\",\n        \"about\": \"<string>\",\n        \"emailAddress\": \"<string>\",\n        \"customUserFields\": [\n          {\n            \"name\": \"<string>\",\n            \"value\": \"<string>\"\n          },\n          {\n            \"name\": \"<string>\",\n            \"value\": \"<string>\"\n          }\n        ]\n      },\n      \"linkedInAccountId\": \"<integer>\"\n    }\n  ],\n  \"campaignId\": \"<long>\"\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,0],"id":"a1dda03b-5410-4a1d-8382-1bf71bee8116","name":"HTTP Request"},{"parameters":{"content":"## Online form\n**for starting scrape on Apollo** \nNatural language insturctions","height":340,"width":200},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,-160],"id":"fe45b3f7-a7c4-4e8a-853e-62e65064b97a","name":"Sticky Note"},{"parameters":{"content":"## GPT (4o) generates Apollo search URL \n**Next** we feed the data into Apify Apollo scraper ($1.2/1000 leads)","height":340,"width":560,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[200,-160],"id":"d65072a3-f456-4e80-b308-b6e5e019a464","name":"Sticky Note1"},{"parameters":{"content":"## GPT (4o) generates personalization \n**We use** past work experience + industry\nAdd - DM research with Perplexity?","height":340,"width":740,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,-160],"id":"e8e58bf6-3272-4315-b2ce-5161ca9e4454","name":"Sticky Note2"},{"parameters":{"content":"## HeyReach\n**Feed to campaign** no need for check step - HeyReach handles duplicates","height":340,"width":260,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1720,-160],"id":"bd6f5f6d-21bd-42fe-a767-cf144fe6bdf8","name":"Sticky Note3"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[800,0],"id":"089cfd31-a8cf-4370-a1c6-77479e3019ee","name":"Testing limit"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1560,0],"id":"0423e56a-420e-427c-834c-3a17d5bb6fad","name":"Aggregate to one list"}],"connections":{"On form submission":{"main":[[{"node":"Generate Search URL","type":"main","index":0}]]},"Generate Search URL":{"main":[[{"node":"Run Apify Actor & Get Results","type":"main","index":0}]]},"Run Apify Actor & Get Results":{"main":[[{"node":"Testing limit","type":"main","index":0}]]},"Add to Google Sheet":{"main":[[{"node":"Aggregate to one list","type":"main","index":0}]]},"Personalize Outreach":{"main":[[{"node":"Add to Google Sheet","type":"main","index":0}]]},"Testing limit":{"main":[[{"node":"Personalize Outreach","type":"main","index":0}]]},"Aggregate to one list":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dfed2d7c-f475-4ab9-899d-4e724cb18423","triggerCount":2,"tags":[]}