linkedin-parasite-template-95q841VGs39Ln6z2.json
{"createdAt":"2025-05-19T07:25:35.158Z","updatedAt":"2025-05-19T07:26:55.635Z","id":"95q841VGs39Ln6z2","name":"LinkedIn Parasite Template","active":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[660,200],"id":"e6fd0b6e-5b74-439e-8989-8f7d85917835","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/LQQIXN9Othf8f7R5n/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer api*****MQ3"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"limit\": 5,\n    \"page_number\": 1,\n    \"total_posts\": 5,\n    \"username\": \"{{ $json['LinkedIn URL'] }}\"\n} ","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"4465ca84-0c79-41ff-993a-08ee416fc28a","name":"Get Eric Nowoslawski posts"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f9e9a1ed-1340-4693-9e74-7881b0d41798","leftValue":"={{ $json.output }}","rightValue":"EVERGREEN","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1020,0],"id":"f9d2f28b-8496-4760-ab28-d3564a5a3ca9","name":"Is evergreen"},{"parameters":{"promptType":"define","text":"=Determine if this post is evergreen or personal: {{ $json.text }}\n\nThe post is evergreen if it references a trend, tehnique, technology.\nEvergreen post example: \"If you're looking for small business owner information, nothing is going to be as helpful as Claygent. \\n\\nClaygent is getting close to 1B lifetime runs because of how well it structures unstructured data and how easily it fits into your workflows. \\n\\nAn owner might list their name on a website but it will always be on different pages. \\n\\nThese people are the folks most often missed by the large data tools because they don't have linkedin profiles and there's not a repeatable way to find them without an AI agent doing the research for you. \\n\\nUsually, I'd give the template away but the Clay metaprompter has been getting so good that you can get your own prompts right in the platform.\"\n\nThe post is personal if it highlights a personal achivement, personal story.\nPersonal post example: \"I had the pleasure of sitting down with Enzo Carasso 🧲 to read through my 2024 wrapped document and here's what I learned from him. \\n\\nIf you don't know about this doc, in 2023 I wrote a doc outlining everything I could think we learned about outbound that people really liked so I made another for 2024. \\n\\nIt's been 5 months since I wrote it and I still didn't do the youtube video. So with Enzo over my house, I thought we could make the video together and get his perspective on things. \\n\\nCouple things that he does differently than us or focuses on more that we do. \\n\\n1) They send 15 emails per day per google inbox. We send 30, he's saying he's seeing more success with that and I have to check it out. \\n\\n2) He has a very big focus on not just following best practices for cold email copywriting but also trying to really push the boundaries on creative copywriting in cold email.\\n\\n3) We spent a lot of time talking about how cold emails are all about getting people to the next step. Subject line gets people to open. first line gets them to read more. Second line gets them to read the third line, etc. etc.\\n\\nI've linked the video below if anyone wants to watch!\"\n\nOutput: \"PERSONAL\" if post is personal\nOutput: \"EVERGREEN\" if post is evergreen","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[660,0],"id":"39aac71a-a387-4c5c-9da3-17f17e071c45","name":"Personal or evergreen"},{"parameters":{"promptType":"define","text":"=Your task is to write a new post based on the text in a sample post. You should be inspired by the sample post, but should write it without copying word for word and your output should be of similar length to the input.\n\nReturn your post in postable format, for LinkedIn.\n\nTone of voice guidelines:\n- Write with shorter, straightforward sentences.\n- Be spartan in tone.\n- Do not copy word for word\n- Remove mentions of personal tie-ins\n- Remove mentions of Individuals by name\n- Do not output hashtags. \n- Do not put hashtags in the copy (no hashtag next to hook)\n- Keep the post educational and aimed at the reader. \n- Use evergreen CTAs such as: (\"Drop a comment below with your thoughts!\", \"What do you think?\", \"Tag someone who needs to see this.\", \"Anything I missed?\", \"Save this post for future reference.\", \"Follow me for more tips.\", \"What strategy works best for you? Let me know below.\", \"Like this post if you're implementing these tactics.\")\n\n{\"post\":\"{{ $('Set variables').item.json.text }}\"}\n\nExample input: \"Here are 6 ideas common data points that you can use when targeting local based businesses. These are common data points we pull that can often tie into multiple offers you are selling. \\n\\nNow keep in mind, the best AI strategy for your outbound campaigns comes from taking the workflow you would do manually if you were reaching out to a company and automating it. \\n\\nThese are common data points our customers ask us for when targeting local business owners. \\n\\n1) Their online reviews. We pull most of these with Serper, specifically their google reviews. \\n\\nYou can use this as a boring first line or you can mine the google reviews for more information. \\n\\nThis is one of the few times that we are switching from usually using 4o mini and using gemini flash 2.0 instead. A customer showed us that it passes \"the needle in the haystick\" test better and now we use it to parse reviews for keywords or insights we are looking for. \\n\\n2) Their customer stories on the site that give more insights than just reviews. This we get with Claygent. I can tell you all love this because I've been getting far more emails mentioning the case studies on my website than I ever have before. \\n\\n3) Pricing if it's listed. This can give some ideas if they have multiple packages or if they are a low cost provider vs a premium provider. \\n\\n4) Support phone numbers if listed. \\n\\n5) We use an mx lookup tool to find how old the website is and when it was registered as well if we have someone that wants to find companies that just started or are much older. \\n\\n6) Competitors in the area. We use Apify and Serper to get this by just doing a google maps search and excluding the prospective company from our output. \\n\\nAnything you else you manually search for about local businesses and don't know how to get the data?\"\n\n\"Example output\": \n\"6 ways to target local businesses.\n\nThese are common data points you can use to pull information that can often tie into multiple offers.\n\nIt's worth noting that all the best AI strategies for outbound campaigns come from automating the same workflows you would use manually when reaching out to a company.\n\n1. Their online reviews. We use Google reviews, and if you're sourcing leads from Outscraper, you already have their Google reviews link. We ask Claygent to scan these and identify relevant insights based on keywords you're targeting.\n\n2. Case studies and success stories. Claygent can visit their website and extract relevant case studies. This approach has been delivering excellent results recently.\n\n3. Pricing information if published. This gives you insights into their offer structure, whether they operate in high or low ticket ranges, and if they provide multiple service packages.\n\n4. Published phone numbers (whether for support or general inquiries).\n\n5. Social media presence. Many local business owners don't maintain updated websites, so it's valuable to also examine their Facebook page using Apify. This often reveals important details like direct contact emails and phone numbers.\n\n6. Local competition landscape. Use Apify to analyze Google Maps search results while excluding the prospective company from your output.\n\nAnything else I missed?\"","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1240,0],"id":"d302029b-f09c-4979-bef4-222234877ed8","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-3-7-sonnet-20250219","cachedResultName":"Claude 3.7 Sonnet"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[1240,180],"id":"a6660a04-7685-48c0-9600-bf3734981b10","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"R577E9P3r5txdxYS","name":"Anthropic account"}}},{"parameters":{"assignments":{"assignments":[{"id":"72c91d41-28dd-43c6-8be6-4812a02d12cd","name":"posted_at.relative","value":"={{ $json.posted_at.relative }}","type":"string"},{"id":"b9f9acfd-3edb-4980-9fd6-20d904472fe5","name":"text","value":"={{ $json.text }}","type":"string"},{"id":"365573f3-7d85-46d4-a2e7-bea8acbe47f6","name":"url","value":"={{ $json.url }}","type":"string"},{"id":"9547dd96-31e0-4c46-9a9a-7077ddd93525","name":"post_type","value":"={{ $json.post_type }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"72bd3088-ba44-4d24-a6ed-a3a94b3a5cd9","name":"Set variables"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1fkKW33HksdVKJyqzAHCoGi2sUGdMeo4JEqjrYW_3kZQ","mode":"list","cachedResultName":"Post database - JKD","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fkKW33HksdVKJyqzAHCoGi2sUGdMeo4JEqjrYW_3kZQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"outboundphd","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1fkKW33HksdVKJyqzAHCoGi2sUGdMeo4JEqjrYW_3kZQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"draft":"={{ $json.output }}","content":"={{ $('Set variables').item.json.text }}","url":"={{ $('Set variables').item.json.url }}","type":"={{ $('Set variables').item.json.post_type }}","posted at":"={{ $('Set variables').item.json.posted_at.relative }}"},"matchingColumns":[],"schema":[{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"posted at","displayName":"posted at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"content","displayName":"content","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"image ","displayName":"image ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"draft","displayName":"draft","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1600,0],"id":"a9629b8f-a2a3-4927-9f6a-8c07a94514b1","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"formTitle":"LinkedIn Parasite","formDescription":"Who do I scrape?","formFields":{"values":[{"fieldLabel":"LinkedIn URL","placeholder":"https://www.linkedin.com/in/theclayguy/","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[20,0],"id":"863d47e9-b11b-49d4-8394-1947b0f1e7f2","name":"On form submission","webhookId":"1c1bf0a0-e2d9-471f-aa13-5d9d16006508"},{"parameters":{"sendTo":"stas@oneclick.si","subject":"New scrape finished.","emailType":"text","message":"=Hi, just finished your new scrape. Total posts: {{ $items(\"Is evergreen\").length }}. View here: https://docs.google.com/spreadsheets/d/1fkKW33HksdVKJyqzAHCoGi2sUGdMeo4JEqjrYW_3kZQ/edit?usp=sharing","options":{"appendAttribution":false,"senderName":"LinkedIn Parasite"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2040,0],"id":"5c31d1e0-ae00-4647-8b9c-e3505a3625cf","name":"Gmail","webhookId":"4f8068c7-eebe-4c0e-aae6-224902123f4f","credentials":{"gmailOAuth2":{"id":"iX8qfUXdQMjweLGs","name":"ONECLICK - Gmail"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1820,0],"id":"6a26080e-0ae3-414d-afb2-16b334a00ce4","name":"Aggregate"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Personal or evergreen","type":"ai_languageModel","index":0}]]},"Get Eric Nowoslawski posts":{"main":[[{"node":"Set variables","type":"main","index":0}]]},"Personal or evergreen":{"main":[[{"node":"Is evergreen","type":"main","index":0}]]},"Is evergreen":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Set variables":{"main":[[{"node":"Personal or evergreen","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Get Eric Nowoslawski posts","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"277719da-57cb-4d17-b640-4f9e569651c8","triggerCount":0,"tags":[{"createdAt":"2025-04-03T03:33:28.610Z","updatedAt":"2025-04-03T03:33:28.610Z","id":"33Fo2o3UoYyE9Rmq","name":"Template"}]}