linkedin-content-plan-Lp253ZsB9ubgaWyF.json
{"createdAt":"2025-05-14T06:50:59.774Z","updatedAt":"2025-05-14T06:51:09.864Z","id":"Lp253ZsB9ubgaWyF","name":"LinkedIn Content plan","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"09e23f69-efee-4f77-a638-58fb1c379760","name":"body.Strategy","value":"={{ $('Content Plan').item.json.body['Strategy (from Chosen Strategy)'][0] }}","type":"string"},{"id":"38702783-77a4-409a-9361-8db6a496601b","name":"body.ICP","value":"={{ $('Content Plan').item.json.body['ICP profile (from Chosen ICP)'][0] }}","type":"string"},{"id":"04cfd264-0e4c-41ed-8eec-04e02ac18daf","name":"body.ExistingPosts","value":"={{ $('Content Plan').item.json.body.ExistingPosts.map((post, index) => `Post scheduled for ${new Date(post).toLocaleString('en-US', { month: 'short', day: 'numeric' })} - Topic: ${$('Content Plan').item.json.body.ExistingTopics[index]}`).join('\\n\\n---\\n\\n') }}","type":"string"},{"id":"30e2e210-6319-4bdc-b1f4-6de5ceab0a61","name":"body.ExistingTopics","value":"={{ $('Content Plan').item.json.body.ExistingTopics }}","type":"array"},{"id":"d07cbf69-32b5-4660-9bcd-e624b2af97ad","name":"body.ProfilerecordId","value":"={{ $('Content Plan').item.json.body.recordId }}","type":"string"},{"id":"7feeffeb-66b7-4598-a8a4-2fa9aa60914b","name":"body['User Input']","value":"={{ $('Content Plan').item.json.body['User Input'] }}","type":"string"},{"id":"373b8038-2cfd-4c47-ade3-dc547fe70f49","name":"Language","value":"={{ $('Content Plan').item.json.body.Language.name }}","type":"string"},{"id":"e99101ee-f74d-48b0-9933-ea82218028c8","name":"body.websites","value":"={{ $('Content Plan').item.json.body.websites }}","type":"string"},{"id":"36e21b72-f673-4749-aaed-763f470ccbcd","name":"body.linkedInUrls","value":"={{ $('Content Plan').item.json.body.linkedInUrls }}","type":"string"},{"id":"3b620448-bf53-4274-acd1-9e5c3ff33997","name":"body.youtubeUrls","value":"={{ $('Content Plan').item.json.body.youtubeUrls }}","type":"string"},{"id":"2ee5ad6c-5a55-4bc3-8474-7db56f79b299","name":"body.postsToProcess","value":"={{ Math.min($ifEmpty($json.body['Posts to process'], 1), 20) }}","type":"number"},{"id":"2e39df2c-87a6-42b8-912d-4abf507f0a8d","name":"body.internetSearch","value":"={{ $('Content Plan').item.json.body.internetSearch }}","type":"boolean"},{"id":"50327966-c226-469e-8f92-3a382676c0dd","name":"body.hooks","value":"={{ $('Content Plan').item.json.body['Hook Database (from Chosen Hook Database)'][0] }}","type":"string"},{"id":"760722eb-b825-4d9d-88da-0c24e7c03c52","name":"body.filesDescription","value":"={{ $('Content Plan').item.json.body['Document description (from Chosen Files)'][0] }}","type":"string"},{"id":"552fa5cc-128f-485b-8311-64a7d0bc2ab0","name":"body.filesMetaData","value":"={{ $('Content Plan').item.json.body['Chosen Files'][0].id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1100,260],"id":"d4b476f7-c637-41ad-9812-174897bfaf03","name":"Set Variables for LLM"},{"parameters":{"jsCode":"// This code processes a JSON string within XML tags and outputs individual items\nfunction processItems($input) {\n    // Get the input text\n    const inputText = $input.first().json.output;\n    \n    // Extract JSON string from between XML tags\n    const jsonMatch = inputText.match(/<json_output>\\n([\\s\\S]*?)\\n<\\/json_output>/);\n    \n    if (!jsonMatch) {\n        throw new Error('No valid JSON found between xml tags');\n    }\n    \n    let jsonString = jsonMatch[1];\n    \n    // Parse the JSON\n    let items;\n    try {\n        items = JSON.parse(jsonString);\n    } catch (error) {\n        throw new Error(`Failed to parse JSON: ${error.message}`);\n    }\n    \n    // Validate that we have an array\n    if (!Array.isArray(items)) {\n        throw new Error('Parsed JSON is not an array');\n    }\n    \n    // Transform each item into the output format\n    // This preserves all fields dynamically\n    const outputs = items.map(item => ({\n        json: {\n            ...item  // Spread operator to include all fields from the original item\n        }\n    }));\n    \n    return outputs;\n}\n\n// Process the items and return the result\nreturn processItems($input);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[760,720],"id":"9b1ae37d-98d9-4e7d-86a4-42616213fbb1","name":"Create Array","onError":"continueErrorOutput"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appvWrhHQFmwowsFQ","mode":"list","cachedResultName":"n8n v2: LinkedIn Content Engine (Experiment)","cachedResultUrl":"https://airtable.com/appvWrhHQFmwowsFQ"},"table":{"__rl":true,"value":"tblVsrh5ZKjnntivX","mode":"list","cachedResultName":"Posts","cachedResultUrl":"https://airtable.com/appvWrhHQFmwowsFQ/tblVsrh5ZKjnntivX"},"columns":{"mappingMode":"defineBelow","value":{"Publish date":"={{ $json.date +\"T12:00:00Z\" }}","Funnel Stage":"={{ [\"TOFU\", \"MOFU\", \"BOFU\"].includes($json.Funnel) ? $json.Funnel : \"MOFU\" }}","Stage":"Ideated","Profile":"={{ [$('Content Plan').item.json.body.recordId] }}","Owner":"={{ $('Content Plan').first().json.body['Created by'] }}","Chosen File":"={{ [$('Content Plan').item.json.body['Chosen Files'][0].id] }}","Chosen ICP":"={{ [$('Content Plan').item.json.body['Chosen ICP'][0].id] }}","Chosen Fine-Tuning Profile":"={{ [$('Content Plan').item.json.body['Chosen Fine Tune'][0].id] }}","Chosen Platforms":"={{ $('Content Plan').item.json.body.Platforms.map(platform => platform.name) }}","ContextWebsite":"={{ $('Set Variables for LLM').first().json.body.websites }}","ContextLinkedIn":"={{ $('Set Variables for LLM').first().json.body.linkedInUrls }}","ContextYoutube":"={{ $('Set Variables for LLM').first().json.body.youtubeUrls }}","leadMagnet":"={{ $json.LeadMagnet }}","Topic":"={{ $json.IdeaSummary }}\n\n{{ $json.Idea }}","Hook":"={{ $json.hooks }}"},"matchingColumns":[],"schema":[{"id":"Name Field","displayName":"Name Field","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Owner","displayName":"Owner","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Post Framework","displayName":"Post Framework","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Topic Idea","displayName":"Topic Idea","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Topic","displayName":"Topic","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Hook","displayName":"Hook","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Funnel Stage","displayName":"Funnel Stage","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"TOFU","value":"TOFU"},{"name":"MOFU","value":"MOFU"},{"name":"BOFU","value":"BOFU"}],"readOnly":false,"removed":false},{"id":"RecordID","displayName":"RecordID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Created","displayName":"Created","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Post tone","displayName":"Post tone","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Inspirational","value":"Inspirational"},{"name":"Thought leadership","value":"Thought leadership"},{"name":"Personal story","value":"Personal story"},{"name":"How-to","value":"How-to"},{"name":"Formal","value":"Formal"},{"name":"Industry insights","value":"Industry insights"},{"name":"Product spotlight","value":"Product spotlight"},{"name":"Controversial opinion","value":"Controversial opinion"}],"readOnly":false,"removed":true},{"id":"Internet Search","displayName":"Internet Search","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Stage","displayName":"Stage","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Content Plan","value":"Content Plan"},{"name":"Ideated","value":"Ideated"},{"name":"Written","value":"Written"},{"name":"Ready","value":"Ready"},{"name":"Published","value":"Published"}],"readOnly":false,"removed":false},{"id":"LinkedIn Post body","displayName":"LinkedIn Post body","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"X Post body","displayName":"X Post body","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Blog Post body","displayName":"Blog Post body","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Instagram Post body","displayName":"Instagram Post body","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Facebook Post body","displayName":"Facebook Post body","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Previous Version","displayName":"Previous Version","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"2nd Previous","displayName":"2nd Previous","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Contains post:","displayName":"Contains post:","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Publish date","displayName":"Publish date","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"Weekday","displayName":"Weekday","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Week Group","displayName":"Week Group","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Images","displayName":"Images","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"totalSizeOfImages","displayName":"totalSizeOfImages","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"imagesChangedAt","displayName":"imagesChangedAt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Edit request","displayName":"Edit request","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Processing","displayName":"Processing","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Error message","displayName":"Error message","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Last Modified","displayName":"Last Modified","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Profile","displayName":"Profile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"recordId (from client) (from User) (from Profile)","displayName":"recordId (from client) (from User) (from Profile)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"userOwner (from Profile)","displayName":"userOwner (from Profile)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"defaultLLM (from Profile)","displayName":"defaultLLM (from Profile)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Company Name (from Profile)","displayName":"Company Name (from Profile)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen File","displayName":"Chosen File","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"Document description (from Chosen File)","displayName":"Document description (from Chosen File)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen ICP","displayName":"Chosen ICP","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"ICP profile (from Chosen ICP)","displayName":"ICP profile (from Chosen ICP)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Fine-Tuning Profile","displayName":"Chosen Fine-Tuning Profile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":false},{"id":"processedPosts (from Chosen Fine-Tuning Profile)","displayName":"processedPosts (from Chosen Fine-Tuning Profile)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"LinkedIn Fine-tune Type (from Chosen Fine-Tuning Profile)","displayName":"LinkedIn Fine-tune Type (from Chosen Fine-Tuning Profile)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"ModelID (from Chosen Fine-Tuning Profile)","displayName":"ModelID (from Chosen Fine-Tuning Profile)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Platforms","displayName":"Chosen Platforms","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"LinkedIn","value":"LinkedIn"},{"name":"Blog","value":"Blog"},{"name":"X","value":"X"},{"name":"Instagram","value":"Instagram"},{"name":"Facebook","value":"Facebook"}],"readOnly":false,"removed":false},{"id":"Edit Request Platform","displayName":"Edit Request Platform","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"LinkedIn","value":"LinkedIn"},{"name":"Blog","value":"Blog"},{"name":"X","value":"X"},{"name":"Instagram","value":"Instagram"},{"name":"Facebook","value":"Facebook"}],"readOnly":false,"removed":true},{"id":"Edit Request Platform Multi","displayName":"Edit Request Platform Multi","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"LinkedIn","value":"LinkedIn"},{"name":"Blog","value":"Blog"},{"name":"X","value":"X"},{"name":"Instagram","value":"Instagram"},{"name":"Facebook","value":"Facebook"}],"readOnly":false,"removed":true},{"id":"ContextYoutube","displayName":"ContextYoutube","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ContextWebsite","displayName":"ContextWebsite","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"ContextLinkedIn","displayName":"ContextLinkedIn","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Created By","displayName":"Created By","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"imagePrompt","displayName":"imagePrompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Chosen Image Fine-tune Profile","displayName":"Chosen Image Fine-tune Profile","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Files (from Chosen Image Fine-tune Profile)","displayName":"Files (from Chosen Image Fine-tune Profile)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"ModelID (from Chosen Image Fine-tune Profile)","displayName":"ModelID (from Chosen Image Fine-tune Profile)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Fine-tune strength (from Chosen Image Fine-tune Profile)","displayName":"Fine-tune strength (from Chosen Image Fine-tune Profile)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Image prompt","displayName":"Image prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Image prompt strength","displayName":"Image prompt strength","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"Facebook Prompt (from Chosen Facebook Prompt) (from Profile)","displayName":"Facebook Prompt (from Chosen Facebook Prompt) (from Profile)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Blog Prompt (from Chosen Blog Prompt) (from Profile)","displayName":"Blog Prompt (from Chosen Blog Prompt) (from Profile)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"X Prompt (from Chosen X Prompt) (from Profile)","displayName":"X Prompt (from Chosen X Prompt) (from Profile)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Instagram Prompt (from Chosen Instagram Prompt) (from Profile)","displayName":"Instagram Prompt (from Chosen Instagram Prompt) (from Profile)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"LinkedIn Prompt (from Chosen LinkedIn Prompt) (from Profile)","displayName":"LinkedIn Prompt (from Chosen LinkedIn Prompt) (from Profile)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"PromptCheck","displayName":"PromptCheck","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Prompt Boost","displayName":"Prompt Boost","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Fine-tune Type (from Chosen Image Fine-tune Profile)","displayName":"Fine-tune Type (from Chosen Image Fine-tune Profile)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Language (from Profile)","displayName":"Language (from Profile)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"LinkedIn FineTune Prompt (from Default LinkedIn FineTune Prompt) (from Profile)","displayName":"LinkedIn FineTune Prompt (from Default LinkedIn FineTune Prompt) (from Profile)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"n8nDomain (from Profile)","displayName":"n8nDomain (from Profile)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Hook Database (from Profile)","displayName":"Chosen Hook Database (from Profile)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Assets","displayName":"Chosen Assets","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Image Type","displayName":"Image Type","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Product/Service Visual","value":"Product/Service Visual"},{"name":"Social Post Visual","value":"Social Post Visual"},{"name":"Slide / Presentation Visual","value":"Slide / Presentation Visual"},{"name":"Creative / Custom","value":"Creative / Custom"},{"name":"Pick an Image type!","value":"Pick an Image type!"}],"readOnly":false,"removed":true},{"id":"promptDraft","displayName":"promptDraft","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"aspectRatio","displayName":"aspectRatio","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"Square","value":"Square"},{"name":"Portrait","value":"Portrait"},{"name":"Landscape","value":"Landscape"}],"readOnly":false,"removed":true},{"id":"number of assets","displayName":"number of assets","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"assetCap","displayName":"assetCap","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"includePostForPrompt","displayName":"includePostForPrompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"leadMagnet","displayName":"leadMagnet","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[1160,720],"id":"1719fb1e-d220-46e8-b8b2-97c5f05a98a8","name":"Create Content Plan Posts"},{"parameters":{"model":"=anthropic/claude-3.7-sonnet:thinking","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-240,540],"id":"6e6edf72-a756-4422-96db-c6f56a8cec38","name":"OpenRouter Chat Model6"},{"parameters":{"name":"Youtube_transcriptions","description":"={{ $if(!!$('Set Variables for LLM').first().json.body.youtubeUrls, 'You must call this tool to retrieve the transcription of the youtube video(s). Pass only the YoutubeID.', 'Do not use this tool!') }}","workflowId":{"__rl":true,"value":"5eM0i2p3zkHfCD1l","mode":"list","cachedResultName":"Youtube Tool"},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"query\": \"YoutubeID\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[-100,540],"id":"092e0ef4-f4c8-4e63-a3eb-d29d9d0eee9c","name":"Youtube"},{"parameters":{"name":"Website_Scraper","description":"=  {{ $if(!!$('Set Variables for LLM').first().json.body.websites, 'You must use this tool to scrape ' +$('Set Variables for LLM').first().json.body.websites +' Do not forget https://www.', 'Do not use this tool!') }}","workflowId":{"__rl":true,"value":"zCgF1XqBzynWL2Qx","mode":"list","cachedResultName":"Web Page Scraper tool"},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"query\": \"https://www.example.com\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[40,580],"id":"a80e6c6f-318d-4893-8556-f7d243eee470","name":"Website Scraper"},{"parameters":{"name":"Linkedin_Posts","description":"={{ $if(!!$('Set Variables for LLM').first().json.body.linkedInUrls, 'Call this tool to retrieve the 20 latest posts from ' + $('Set Variables for LLM').first().json.body.linkedInUrls +' Only pass the vanity part of the url.', 'Do not use this tool!') }}","workflowId":{"__rl":true,"value":"z4UTw32I510VDc0B","mode":"list","cachedResultName":"LinkedIn post scaper tool"},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"query\": \"VanityPartOfUrl\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[0,680],"id":"a4e6bb59-8305-4784-aace-d99965601126","name":"LinkedIn posts"},{"parameters":{"name":"company_files_search","description":"={{ ($('Set Variables for LLM').first().json.body.filesDescription === '' || $('Set Variables for LLM').first().json.body.filesDescription === null) ? \"Do not use this tool!\" : \"Retrieves information about: \" }} {{ $('Set Variables for LLM').first().json.body.filesDescription }}"},"type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[160,580],"id":"26ec2940-617e-41aa-8044-1a2a91e73827","name":"Vector Store Tool"},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"metadata":{"metadataValues":[{"name":"bucket_id","value":"={{ $('Set Variables for LLM').first().json.body.filesMetaData }}"}]}}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[120,660],"id":"cac4bc81-d4c9-4b82-adaa-428c7cf21092","name":"Supabase Vector Store"},{"parameters":{"model":"text-embedding-3-large","options":{"batchSize":1024}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[120,780],"id":"40d7fcb9-764e-4bdc-a355-068f5710c43a","name":"Embeddings OpenAI"},{"parameters":{"name":"Perplexity_internet_search","description":"={{ $if(!!$('Set Variables for LLM').first().json.body.internetSearch, 'You must call this tool to do internet research for suiting topics!', 'Do not use this tool!') }}","workflowId":{"__rl":true,"value":"LzV0GMs1A9ymGbMH","mode":"list","cachedResultName":"Perplexity tool"},"fields":{"values":[{"name":"key","stringValue":"={{ $('UserData').first().json.recordid }}"}]},"specifyInputSchema":true,"jsonSchemaExample":"{\n\t\"query\": \"Analyze recent space tourism trends, summarize key insights.\"\n}"},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.3,"position":[-120,680],"id":"5d9ca98e-abdc-4458-af72-dcf480f4c87a","name":"Perplexity"},{"parameters":{"promptType":"define","text":"=You are a strategic content planner specializing in social media content calendars. Your task is to analyze a content strategy and create a {{ $('Set Variables for LLM').item.json.body.postsToProcess }} post content plan in JSON format.\n\n<instructions>\nAnalyze the provided content strategy, ICP profile, user input, and existing posts to generate a structured content plan.\n\n{{ $json.body['User Input'] ? '** USER INPUT PRIORITY: The <user_input> section contains the primary directives that MUST be prioritized above all other considerations. Any specific requests, themes, or preferences mentioned in the user input should be treated as mandatory requirements that override default planning logic. **' : '' }}\n\nYour output should be a JSON array of {{ $('Set Variables for LLM').item.json.body.postsToProcess }} post planning items.\n\nFUNDAMENTAL PRINCIPLE: The requested posts represent a contiguous segment of the overall content plan. Regardless of how many posts are requested, strictly adhere to the cadence, pattern, and distribution specified in the content strategy. The posts should flow naturally as if they were part of the complete strategy implementation.\n\nCADENCE EXTRACTION PRIORITY: \n1. Extract ALL specific cadence requirements from the strategy document, including but not limited to:\n   - Exact number of posts per time period (day/week/month)\n   - Specific distribution of funnel stages (TOFU/MOFU/BOFU) across time periods\n   - Day-specific content types or themes\n   - Required sequencing or patterns of different content pillars\n   - Any rules about how content types should alternate or cluster\n\n2. Create a precise cadence map that captures ALL of these requirements before generating any content plan.\n\n3. CRITICAL VERIFICATION: For each aspect of the cadence specified in the strategy:\n   - Count and verify the exact number of posts matches the strategy's specification\n   - Confirm funnel stage distribution exactly follows any patterns described in the strategy\n   - Validate that day-specific content follows any rules provided\n   - Check that the sequencing of different content types/pillars adheres to the strategy\n\nSTRICT REQUIREMENT: Adherence to ALL cadence specifications in the strategy document is non-negotiable, even if it creates patterns that seem less aesthetically balanced. The strategy's explicit instructions always take precedence over creating seemingly \"clean\" or \"regular\" patterns.\n\nREQUIRED fields that must be included in each post item:\n- \"date\": The scheduled posting date in YYYY-MM-DD format\n- \"Funnel\": The funnel stage (\"TOFU\", \"MOFU\", or \"BOFU\")\n- \"LeadMagnet\": The lead magnet to be offered (empty string if none)\n\nFLEXIBLE fields that should be adapted based on user input:\n- \"ContentPillar\": The main content pillar from the strategy\n- \"SubPillar\": The specific sub-pillar (if applicable)\n- \"ContentType\": The type of content (educational, thought leadership, success story, etc.)\n- \"ExpectedOutcome\": The intended result (dopamine hit, thought leadership, collect email, sell product)\n- \"ContentStyle\": The style to be used (from the list of available styles)\n\nCUSTOM fields can be added based on user input:\n- If the user specifies additional dimensions, attributes, or characteristics that don't fit into the standard fields, create custom fields to capture this information\n- Custom fields should use camelCase naming convention\n</instructions>\n\nPlease analyze the following inputs:\n\n{{ $json.body['User Input'] ? '<user_input>' + $json.body['User Input'] + '</user_input> (^^^ HIGHEST PRIORITY - All directives here supersede other planning considerations ^^^)' : '' }}\n\n<today_date>\n{{$now.format(\"yyyy-MM-dd\")}}\n</today_date>\n\n<content_strategy>\n{{ $('Set Variables for LLM').item.json.body.Strategy }}\n</content_strategy>\n\n<icp>\n{{ $('Set Variables for LLM').item.json.body.ICP }}\n</icp>\n\n<existing_posts>\n{{ $('Set Variables for LLM').item.json.body.ExistingPosts ? $('Set Variables for LLM').item.json.body.ExistingPosts : '' }}\n</existing_posts>\n\n<content_styles>\n1. Observational: Focuses on sharing insights or observations about trends, behaviors, or phenomena. Often includes personal anecdotes or experiences.\n2. Actionable: Provides clear, specific steps that readers can take to achieve a particular goal or improve a skill.\n3. Motivational: Aims to inspire and uplift the audience with quotes, success stories, or powerful messages.\n4. Informative: Delivers factual information, data, or research findings on a particular topic.\n5. Narrative: Utilizes storytelling techniques to engage the audience, making complex ideas relatable.\n6. Conversational: Mimics a casual and friendly dialogue with the audience, often using humor or relatable language.\n7. Persuasive: Seeks to convince the audience of a particular viewpoint or action using logical arguments and emotional appeal.\n8. Comparative: Analyzes similarities and differences between two or more subjects, helping readers make informed decisions.\n9. Reflective: Encourages introspection and self-examination, often including personal reflections or lessons learned.\n10. Humorous: Integrates wit and humor to entertain the audience while conveying a message.\n11. Technical: Focuses on detailed, specialized information relevant to a specific industry or field.\n12. Debate: Presents multiple sides of an argument, encouraging critical thinking and discussion.\n13. Listicle: Presents information in a list format, making it easy to read and digest.\n</content_styles>\n\n<number_of_posts>\n{{ $('Set Variables for LLM').item.json.body.postsToProcess }}\n</number_of_posts>\n\nTasks to perform:\n1. {{ $json.body['User Input'] ? 'FIRST AND FOREMOST: Parse the user input for specific directives and creativity instructions:\\n   - Identify any explicit format changes requested by the user\\n   - Look for unique content ideas, themes, or innovative approaches\\n   - Extract any special requirements for how content should be presented\\n   - Determine if the user wants to deviate from standard content planning approaches\\n\\n2. Only after interpreting user creativity requests, a' : 'A' }}nalyze the content strategy to identify:\n   - Main content pillars and sub-pillars\n   - EXPLICITLY extract the exact posting frequency (e.g., \"3-4 posts per week\")\n   - Identify all structural patterns in the content distribution (days, funnel stages, content types)\n   - CRITICAL: Map the exact cadence pattern from the strategy (e.g., weekly distribution, day-specific content types, funnel stage sequencing)\n   - Quantify how funnel stages are distributed according to the strategy (e.g., \"40% TOFU, 40% MOFU, 20% BOFU\")\n   - Determine where in this pattern the requested posts should begin to ensure natural flow\n\n{{ $json.body['User Input'] ? '3' : '2' }}. Extract relevant information from the ICP to ensure content is targeted appropriately\n\n{{ $json.body['User Input'] ? '4' : '3' }}. Review existing posts to avoid scheduling conflicts and determine the appropriate starting point for the new content segment\n\n{{ $json.body['User Input'] ? '5' : '4' }}. For each post in the content plan:\n   {{ $json.body['User Input'] ? '- Apply user-driven creative direction while ensuring required fields are present\\n   - Add custom fields as needed to capture unique user requirements' : '' }}\n   - Ensure the following REQUIRED fields are always present:\n     - date (YYYY-MM-DD format)\n     - Funnel (TOFU/MOFU/BOFU)\n     - LeadMagnet (empty string if none)\n   - Include FLEXIBLE fields that match the content strategy but may be adapted based on user input:\n     - ContentPillar\n     - SubPillar\n     - ContentType\n     - ExpectedOutcome\n     - ContentStyle\n   - Create CUSTOM fields if needed to capture unique dimensions specified in user input\n\n{{ $json.body['User Input'] ? '6' : '5' }}. Verify cadence accuracy:\n   - CRITICAL: Count the number of posts per defined time period (day/week/month) and verify it EXACTLY matches the frequency stated in the strategy document\n   - Confirm the funnel stage distribution precisely matches any ratio or pattern specified\n   - Validate that the content type mix follows the exact distribution mentioned (e.g., \"40% thought leadership, 30% educational content, etc.\")\n   - Check that any day-specific requirements are accurately implemented\n   - Verify that the sequence and alternation of different content types adheres to any pattern specified\n\n{{ $json.body['User Input'] ? '7' : '6' }}. Enhance the JSON output with creative elements requested by the user while maintaining valid JSON structure\n\nOutput format:\n<json_output>\n[\n  {\n    \"date\": \"YYYY-MM-DD\",\n    \"Funnel\": \"TOFU|MOFU|BOFU\",\n    \"ContentPillar\": \"Main Pillar Name\",\n    // Standard fields continue here\n    \"LeadMagnet\": \"\",\n    // Any custom fields requested by user can appear here\n  },\n  ...\n]\n</json_output>","hasOutputParser":true,"options":{"systemMessage":"You are a helpful assistant."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-920,260],"id":"04dd053a-31a4-4e44-bdc4-3f8e2fa6b0c3","name":"Plan structure","onError":"continueErrorOutput"},{"parameters":{"model":"=anthropic/claude-3.7-sonnet","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-940,540],"id":"5c96f81b-e285-416a-b6d7-8202efb00296","name":"OpenRouter Chat Model8"},{"parameters":{"jsonSchemaExample":"[\n  {\n    \"date\": \"YYYY-MM-DD\",\n    \"Funnel\": \"TOFU|MOFU|BOFU\",\n    \"ContentPillar\": \"Main Pillar Name\",\n    \"SubPillar\": \"Sub-Pillar Name\",\n    \"ContentType\": \"Type of Content\",\n    \"ExpectedOutcome\": \"Intended Outcome\",\n    \"ContentStyle\": \"Content Style\",\n    \"LeadMagnet\": \"Lead Magnet Name or null\"\n  }\n]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-680,740],"id":"f141abe1-07b8-4e1a-9951-f35f1f45eed4","name":"Structured Output Parser"},{"parameters":{"model":"=openai/gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-800,740],"id":"e7a4a94a-ee17-4f90-b266-413cb0c1dcda","name":"OpenRouter Chat Model9"},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-560,260],"id":"5f2f263c-1ff8-48ae-91bc-396734e25a9d","name":"Split Out posts"},{"parameters":{"model":"=openai/gpt-4.1-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[400,660],"id":"a14119f6-d943-4852-9ebf-ffe7d26d6316","name":"OpenRouter Chat Model7"},{"parameters":{"model":"=anthropic/claude-3.7-sonnet","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[440,420],"id":"ca4da989-6628-4ca8-8271-6bbaa61f13e3","name":"OpenRouter Chat Model10"},{"parameters":{"promptType":"define","text":"=# LinkedIn Hook Generator\n## Overview\nYou are a skilled digital marketing strategist specializing in {{ $('Set Variables for LLM').first().json.Language }} LinkedIn content creation. Your task is to generate different compelling hooks in {{ $('Set Variables for LLM').first().json.Language }} for LinkedIn posts using a predefined hook database.\n\n## Input\n<input_array>{{ JSON.stringify($('Ideation Agent').item.json.output) }}</input_array>\n<user_input>{{ $('Set Variables for LLM').first().json.body['User Input'] }}</user_input>\n\n## Hook Database\n<hooks_database>\nLEGEND:\nEDU: Educate & Inform\nCHAL: Challenge & Provoke\nPERS: Persuade & Influence\nINSP: Inspire & Motivate\nCONN: Connect & Engage\nREFL: Reflect & Assess\nNAR: Narrative-Driven\nFACT: Factual & Analytical\nINQ: Inquiry-Based\nVIS: Visionary & Conceptual\nCOMP: Comparative & Contrasting\nEMP: Empathetic\nSKEP: Skeptical\nURG: Urgent\nCUR: Curious\n\nHOOKS:\n{{ $('Set Variables for LLM').first().json.body.hooks }}\n</hooks_database>\n\n## Instructions\n### Generate 3 unique {{ $('Set Variables for LLM').first().json.Language }} Hooks Per Input.\nFor each post idea in the input array:\n- Select three hooks from the database that align with both:\n  - The post idea's theme and intent\n  - The post's architectural flow and structure\n- If user input is provided and relevant for hook creation, ensure hooks align with these specific requirements\n- Use the text of the hooks exactly as they appear in the database, only replacing placeholders and removing legend tags.\n- Do not create original hooks or add stylistic elements\n- Avoid complex jargon or overly salesy language\n- Keep hooks conversational, short, and snappy\n- Prioritize click-bait appeal over pure information\n- Maintain the same order as the input array\n\n### Output Format\nProvide a JSON array where each element corresponds to the input array element at the same index. Each element should contain three {{ $('Set Variables for LLM').item.json.Language }} hooks(without legend tags) separated by newlines:\n\n<example_output>\n<json_output>\n[\n  {\n    \"hooks\": \"The LinkedIn mistake 92% of professionals make every day\\n\\nStop doing these 3 things on your LinkedIn profile immediately\\n\\nWhat your LinkedIn profile says about you (warning: brutal honesty ahead)\"\n  },\n  {\n    \"hooks\": \"I tested 50 AI tools so you don't have to\\n\\nThe real reason your AI implementation failed\\n\\nThe $100k mistake most CEOs make with AI\"\n  }\n]\n</json_output>\n</example_output>\n\n### Requirements\n- Include only the JSON array output\n- Output array must have the same length as input array\n- Maintain strict ordering between input and output arrays\n- Each output element must contain exactly 3 unique hooks\n- No additional text, formatting, or explanations\n- No source links or citations\n- No markdown formatting\n- No legend tags\n- If user input is provided and relevant, hooks must reflect these requirements\n\nOutput only the JSON array within <json_output> tags. No introduction. No afterthought.","hasOutputParser":true},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[420,300],"id":"b2630295-80f2-4fad-9d5f-9c5f4dedb0bd","name":"Hook Generator","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"=You are tasked with generating concise, focused content ideas for LinkedIn post frameworks. Your job is to transform these frameworks into clear, direct concepts without unnecessary fluff or filler.\n\nYou will be provided with the following inputs:\n<today_date>\n{{$now.format(\"yyyy-MM-dd\")}}\n</today_date>\n\n<content_strategy>\n{{ $('Set Variables for LLM').first().json.body.Strategy }}\n</content_strategy>\n\n<icp>\n{{ $('Set Variables for LLM').first().json.body.ICP }}\n</icp>\n\n<post_frameworks>\n{{ JSON.stringify($json.data) }}\n</post_frameworks>\n\n<user_input>\n{{ $('Set Variables for LLM').first().json.body['User Input'] }}\n\n  {{ $('Set Variables for LLM').first().json.body.websites ? '<website_url>' + $('Set Variables for LLM').first().json.body.websites + '</website_url>' : '' }}{{ $('Set Variables for LLM').first().json.body.linkedInUrls ? '<linkedin_profile>' + $('Set Variables for LLM').first().json.body.linkedInUrls + '</linkedin_profile>' : '' }}{{ $('Set Variables for LLM').first().json.body.youtubeUrls ? '<youtube_urls>' + $('Set Variables for LLM').first().json.body.youtubeUrls + '</youtube_urls>' : '' }}\n</user_input>\n\nFor each post framework in the provided list, develop a direct, concentrated content idea by:\n\n1. Understanding the core elements of the framework (ContentPillar, SubPillar, ContentType, ContentStyle, etc.)\n\n2. Carefully integrate the content strategy principles from the input to ensure all generated ideas align with the overall strategic direction\n\n3. For research-intensive topics, selectively use:\n   - The internet search tool for essential industry data.\n   - Company knowledge for relevant case examples or proprietary insights\n\n4. Generate output with exactly these fields:\n   - \"date\": Preserve the original date (format \"YYYY-MM-DD\")\n   - \"Funnel\": Preserve the original funnel stage (TOFU, MOFU, BOFU)\n   - \"LeadMagnet\": Pass through exactly as provided in the input (keep empty if empty)\n   - \"IdeaSummary\": Create a concise 3-5 word summary of the post idea\n   - \"Idea\": Develop a distilled content concept (100-150 words) that:\n     * Directly aligns with and is influenced by the provided content strategy\n     * Uses paragraph breaks (\"\\n\\n\") for readability\n     * Focuses only on essential information without filler words\n     * Includes only the most critical data points or examples\n     * Provides clear direction on the approach and angle\n     * Omits unnecessary introductory phrases or padding sentences\n     * Adapts to the content style while maintaining brevity\n     * Preserves strategic elements that will be crucial for the subsequent copywriting phase\n\nPresent your final output as a JSON array within <json_output> tags.\n\nExample output structure:\n<json_output>\n[\n  {\n    \"date\": \"2025-04-30\",\n    \"Funnel\": \"TOFU\",\n    \"LeadMagnet\": \"\",\n    \"IdeaSummary\": \"AI simplifies content creation\",\n    \"Idea\": \"Share how our integrated AI system transformed the content creation process. Highlight how it brings together multiple capabilities while remaining intuitive for non-technical teams.\\n\\nCompare traditional content workflows with our streamlined approach. Mention the 83% reduction in production time that enables teams to focus on strategy rather than execution.\\n\\nInclude a real example: one marketing manager's journey from spending entire weekends on content creation to completing weekly campaigns in under an hour. Emphasize how AI enhances human creativity rather than replacing it.\"\n  },\n  {\n    \"date\": \"2025-05-02\",\n    \"Funnel\": \"MOFU\",\n    \"LeadMagnet\": \"Content Workflow Blueprint\",\n    \"IdeaSummary\": \"Workflow transformation stories\",\n    \"Idea\": \"Tell the story of how our team reimagined their content process, moving from complex multi-platform chaos to an elegant unified approach. Share the emotional turning point when we nearly lost a major client due to delays.\\n\\nExplain how we combined specialized tools into one cohesive system. Address the real concerns team members had about changing established processes and how those fears transformed into enthusiasm.\\n\\nHighlight the human impact: team members now enjoy weekend time with family instead of catching up on work. End with an invitation to download our Content Workflow Blueprint to discover similar opportunities.\"\n  }\n]\n</json_output>\n\nProcess each post framework in the provided list and generate the concise output format as shown above. Output ONLY the JSON. In {{ $('Set Variables for LLM').first().json.Language }}. No introduction. No afterthought.","options":{"systemMessage":"You are a helpful assistant.","maxIterations":15}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[0,300],"id":"5d98963a-e878-4533-9d9b-a632c640abfa","name":"Ideation Agent","onError":"continueErrorOutput"},{"parameters":{},"id":"773621b0-41f5-45b0-978e-2f7c299d1bb3","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-600,1820],"typeVersion":1.1,"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"4ea63b2a-fcec-442e-956d-b4294223f8f4","name":"homepage.data","value":"={{ $json.data }}","type":"string"},{"id":"631f42ff-493f-4f90-b367-4b2d7e9d31d0","name":"homepage.error","value":"={{ $json.error }}","type":"object"},{"id":"c81ecd00-c11e-444e-b650-108cbafcfdce","name":"homepage.url","value":"={{\n  (function(url) {\n    // Get everything up to the third slash (after http://)\n    return url.split('/').slice(0,3).join('/');\n  })($('Execute Workflow Trigger').item.json.query.query)\n}}","type":"string"}]},"options":{}},"id":"3fb5deef-5a6f-4c2a-96e9-8a0f4daa9010","name":"Set HomepageData","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[120,1120]},{"parameters":{"fields":{"values":[{"name":"homepage.data","stringValue":"={{\n  (function(html) {\n    // Get base URL from homepage URL\n    const baseUrl = ($json.homepage.url || '').replace(/\\/$/, '');\n    \n    // First clean most HTML\n    html = html.replace(/<!DOCTYPE[^>]*>|<!--[\\s\\S]*?-->|<\\?[\\s\\S]*?\\?>/g, '');\n    html = html.replace(/<(script|style|svg|canvas|noscript|iframe|video|audio|object|embed)[\\s\\S]*?<\\/\\1>/gi, '');\n    \n    // Replace common entities\n    html = html.replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>');\n    \n    // Process <a> tags - keep only their text content\n    html = html.replace(/<a\\s+(?:[^>]*?\\s+)?href=\"[^\"]*\"[^>]*>(.*?)<\\/a>/gi, '$1');\n    \n    // Remove all remaining tags\n    html = html.replace(/<[^>]+>/g, ' ');\n    \n    // Clean up the rest\n    html = html.replace(/\\s+/g, ' ').trim();\n    html = html.replace(/[\\u200B-\\u200D\\uFEFF]/g, '');\n    html = html.replace(/\\s+([0-9]+|[a-zA-Z])\\.\\s+/g, ' ');\n    html = html.split('\\n').filter(line => line.trim().length > 30).join('\\n');\n    html = html.replace(/\\s+/g, ' ').trim();\n    \n    // Limit to 99000 characters\n    if (html.length > 99000) {\n      const truncated = html.substr(0, 99000);\n      const lastSpace = truncated.lastIndexOf(' ');\n      return truncated.substr(0, lastSpace);\n    }\n    \n    return html;\n  })($json.homepage.data || \"\")\n}}"},{"name":"subpages","stringValue":"={{\n  (function(html) {\n    // Get base URL from homepage URL\n    const baseUrl = ($json.homepage.url || '').replace(/\\/$/, '');\n    \n    // Initialize array to store subpage links and a Set to track seen URLs\n    const subpages = [];\n    const seenUrls = new Set();\n    \n    // First clean HTML to make parsing easier\n    html = html.replace(/<!DOCTYPE[^>]*>|<!--[\\s\\S]*?-->|<\\?[\\s\\S]*?\\?>/g, '');\n    html = html.replace(/<(script|style|svg|canvas|noscript|iframe|video|audio|object|embed)[\\s\\S]*?<\\/\\1>/gi, '');\n    \n    // Replace common entities\n    html = html.replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>');\n    \n    // Use a regex to find all <a> tags\n    const linkRegex = /<a\\s+(?:[^>]*?\\s+)?href=\"([^\"]*)\"[^>]*>(.*?)<\\/a>/gi;\n    let match;\n    \n    while ((match = linkRegex.exec(html)) !== null) {\n      const [fullMatch, url, rawText] = match;\n      \n      // Clean the text inside the link - remove any nested HTML\n      const cleanText = rawText.replace(/<[^>]+>/g, '').replace(/\\s+/g, ' ').trim();\n      \n      // Keep only relative URLs that look like sub-pages\n      if (url && \n          url.startsWith('/') && \n          !url.match(/\\.(pdf|jpg|png|gif|mp4|zip|doc|docx)$/i) &&\n          !url.match(/\\/(login|signup|search|cart|checkout|account|api|rss|feed|download|wp-content|wp-admin|wp-includes)/i)) {\n        // Clean up the URL and make it absolute\n        const cleanUrl = url.split('?')[0].split('#')[0];\n        const fullUrl = baseUrl + cleanUrl;\n        \n        // Add to subpages array if not already present\n        if (!seenUrls.has(fullUrl) && cleanText.trim() !== '') {\n          seenUrls.add(fullUrl);\n          subpages.push(`${cleanText} (${fullUrl})`);\n        }\n      }\n    }\n    \n    // Return subpages as a formatted string\n    return subpages.join('\\n');\n  })($json.homepage.data || \"\")\n}}"}]},"include":"selected","includeFields":"HTML","options":{}},"id":"34e0914e-4d7e-48bc-89ec-3dd6b622cfa9","name":"Exctract HTML Body","type":"n8n-nodes-base.set","position":[280,1120],"typeVersion":3.2,"notesInFlow":false,"notes":"# HTML Content Extraction Expression Documentation\n\n## Overview\nThis expression provides a robust solution for extracting and cleaning readable content from HTML markup. It systematically removes HTML structure while preserving meaningful text content, making it ideal for content extraction, search indexing, or text analysis purposes.\n\n## Expression Structure\n```javascript\n{{\n  (function(html) {\n    // Remove DOCTYPE, comments, and processing instructions\n    html = html.replace(/<!DOCTYPE[^>]*>|<!--[\\s\\S]*?-->|<\\?[\\s\\S]*?\\?>/g, '');\n    \n    // Remove script, style, svg, and other non-content tags\n    html = html.replace(/<(script|style|svg|canvas|noscript|iframe|video|audio|object|embed)[\\s\\S]*?<\\/\\1>/gi, '');\n    \n    // Replace common entities\n    html = html.replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>');\n    \n    // Remove all remaining tags, but keep their content\n    html = html.replace(/<[^>]+>/g, ' ');\n    \n    // Collapse whitespace and trim\n    html = html.replace(/\\s+/g, ' ').trim();\n    \n    // Remove any leftover Unicode spaces and zero-width characters\n    html = html.replace(/[\\u200B-\\u200D\\uFEFF]/g, '');\n    \n    return html;\n  })(input)\n}}\n```\n\n## Process Breakdown\n\n### 1. Metadata and Structure Removal\n```javascript\nhtml.replace(/<!DOCTYPE[^>]*>|<!--[\\s\\S]*?-->|<\\?[\\s\\S]*?\\?>/g, '');\n```\n- Removes DOCTYPE declarations\n- Eliminates HTML comments\n- Removes XML processing instructions\n- Pattern explanation:\n  - `<!DOCTYPE[^>]*>`: Matches DOCTYPE declarations\n  - `<!--[\\s\\S]*?-->`: Matches HTML comments\n  - `<\\?[\\s\\S]*?\\?>`: Matches processing instructions\n\n### 2. Non-Content Element Removal\n```javascript\nhtml.replace(/<(script|style|svg|canvas|noscript|iframe|video|audio|object|embed)[\\s\\S]*?<\\/\\1>/gi, '');\n```\n- Removes elements that typically don't contain readable content\n- Targeted elements:\n  - `script`: JavaScript code\n  - `style`: CSS styling\n  - `svg`: Vector graphics\n  - `canvas`: Drawing elements\n  - `noscript`: Fallback content\n  - `iframe`: Embedded frames\n  - `video/audio`: Media elements\n  - `object/embed`: External content\n- The `\\1` backreference ensures matching end tags\n\n### 3. Entity Conversion\n```javascript\nhtml.replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>');\n```\n- Converts common HTML entities to their character equivalents\n- Transformations:\n  - `&nbsp;`  space character\n  - `&amp;`  &\n  - `&lt;`  <\n  - `&gt;`  >\n\n### 4. Generic Tag Removal\n```javascript\nhtml.replace(/<[^>]+>/g, ' ');\n```\n- Removes all remaining HTML tags\n- Preserves the content between tags\n- Replaces tags with spaces to prevent word joining\n\n### 5. Whitespace Normalization\n```javascript\nhtml.replace(/\\s+/g, ' ').trim();\n```\n- Collapses multiple whitespace characters into single spaces\n- Removes leading and trailing whitespace\n- Ensures consistent spacing in the output\n\n### 6. Unicode Cleanup\n```javascript\nhtml.replace(/[\\u200B-\\u200D\\uFEFF]/g, '');\n```\n- Removes problematic Unicode characters:\n  - U+200B: Zero-width space\n  - U+200C: Zero-width non-joiner\n  - U+200D: Zero-width joiner\n  - U+FEFF: Zero-width no-break space (BOM)\n\n## Usage Considerations\n\n### Best Practices\n1. Input Validation: Ensure input is a string containing HTML\n2. Error Handling: Wrap in try-catch when used in production\n3. Performance: Consider input size limitations for large HTML documents\n\n### Limitations\n- Does not handle all HTML entities (focuses on common ones)\n- May not preserve some text formatting nuances\n- Could require adjustment for specific content structures\n\n### Use Cases\n- Content extraction for search indexing\n- Text analysis and processing\n- HTML to plain text conversion\n- Content summarization\n- Data cleaning pipelines\n\n## Integration Examples\n\n### Basic Usage\n```javascript\nconst plainText = (function(html) {\n    // ... [expression code] ...\n})('<p>Hello, <strong>world</strong>!</p>');\n// Result: \"Hello, world!\"\n```\n\n### With Error Handling\n```javascript\ntry {\n    const plainText = (function(html) {\n        // ... [expression code] ...\n    })(inputHtml);\n} catch (e) {\n    console.error('HTML processing failed:', e);\n}\n```"},{"parameters":{"url":"={{ typeof $json.query === 'string' ? $json.query : $json.query.query }}","options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-60,1120],"id":"1c0350f7-ab93-403f-83bf-6f033823e0f3","name":"Scrape","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"b557b30d-9055-49dc-859c-0047e05bd5e9","name":"Error","value":"There was an error scraping this website.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[120,1260],"id":"e14a7b52-6f92-41a9-9544-07f2b00dfca9","name":"Edit Fields"},{"parameters":{"httpMethod":"POST","path":"planandideation","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1320,260],"id":"db764129-cf46-482c-994f-3e07e44f8783","name":"Content Plan","webhookId":"3aefa5bc-2798-40cd-ae54-c5676bd7aa8a"},{"parameters":{"batchSize":5,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-360,260],"id":"f3a749c2-6dbd-41a2-94ba-1e1b559657d4","name":"Loop Over Items"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-200,300],"id":"00d2fb67-485f-4665-98f4-7c8d672c7643","name":"consolidate 5 slots"},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-200,160],"id":"932df4cb-5824-4efe-bffa-36f5bfe13d13","name":"Limit"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appvWrhHQFmwowsFQ","mode":"list","cachedResultName":"n8n v2: LinkedIn Content Engine (Experiment)","cachedResultUrl":"https://airtable.com/appvWrhHQFmwowsFQ"},"table":{"__rl":true,"value":"tblfIDBIbiMVgxuRb","mode":"list","cachedResultName":"Profiles","cachedResultUrl":"https://airtable.com/appvWrhHQFmwowsFQ/tblfIDBIbiMVgxuRb"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Content Plan').first().json.body.recordId }}","Processing":"=Openrouter: {{ $('Ideation Agent').item.json.error }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true},{"id":"Profile Name","displayName":"Profile Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Created by","displayName":"Created by","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"English","value":"English"},{"name":"Dutch","value":"Dutch"},{"name":"German","value":"German"},{"name":"Spanish","value":"Spanish"},{"name":"Swedish","value":"Swedish"},{"name":"Italian","value":"Italian"},{"name":"german informell","value":"german informell"},{"name":"Swiss german","value":"Swiss german"}],"readOnly":false,"removed":true},{"id":"Processing","displayName":"Processing","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Platforms","displayName":"Platforms","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"LinkedIn","value":"LinkedIn"},{"name":"X","value":"X"},{"name":"Blog","value":"Blog"},{"name":"Instagram","value":"Instagram"},{"name":"Facebook","value":"Facebook"}],"readOnly":false,"removed":true},{"id":"Logo","displayName":"Logo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Company description","displayName":"Company description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Company Size","displayName":"Company Size","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"1-99 employees (Small)","value":"1-99 employees (Small)"},{"name":"100-499 employees (Medium)","value":"100-499 employees (Medium)"},{"name":"500+ employees (Large)","value":"500+ employees (Large)"}],"readOnly":false,"removed":true},{"id":"Posts","displayName":"Posts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"totalImageSize","displayName":"totalImageSize","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"totalPosts","displayName":"totalPosts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"RecID","displayName":"RecID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Strategy","displayName":"Chosen Strategy","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Strategy (from Chosen Strategy)","displayName":"Strategy (from Chosen Strategy)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen ICP","displayName":"Chosen ICP","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"ICP profile (from Chosen ICP)","displayName":"ICP profile (from Chosen ICP)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Files","displayName":"Chosen Files","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Chunks (from Chosen Files)","displayName":"Chunks (from Chosen Files)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Document description (from Chosen Files)","displayName":"Document description (from Chosen Files)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Fine Tune","displayName":"Chosen Fine Tune","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"ModelID (from Chosen Fine Tune)","displayName":"ModelID (from Chosen Fine Tune)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Image Fine Tune","displayName":"Chosen Image Fine Tune","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Posts to process","displayName":"Posts to process","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"User Input","displayName":"User Input","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ICP Collection","displayName":"ICP Collection","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Strategy Collection","displayName":"Strategy Collection","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Files Collection","displayName":"Files Collection","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"totalFileSize","displayName":"totalFileSize","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"totalChunks","displayName":"totalChunks","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Fine Tuning Collection","displayName":"Fine Tuning Collection","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"totalFinetuningSize","displayName":"totalFinetuningSize","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"LinkbackforFilteringProfiles","displayName":"LinkbackforFilteringProfiles","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Last Used","displayName":"Last Used","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Prompt Collection","displayName":"Prompt Collection","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Chosen LinkedIn Prompt","displayName":"Chosen LinkedIn Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"LinkedIn Prompt (from Chosen LinkedIn Prompt)","displayName":"LinkedIn Prompt (from Chosen LinkedIn Prompt)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Instagram Prompt","displayName":"Chosen Instagram Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Instagram Prompt (from Chosen Instagram Prompt)","displayName":"Instagram Prompt (from Chosen Instagram Prompt)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen X Prompt","displayName":"Chosen X Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"X Prompt (from Chosen X Prompt)","displayName":"X Prompt (from Chosen X Prompt)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Blog Prompt","displayName":"Chosen Blog Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Blog Prompt (from Chosen Blog Prompt)","displayName":"Blog Prompt (from Chosen Blog Prompt)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Facebook Prompt","displayName":"Chosen Facebook Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Facebook Prompt (from Chosen Facebook Prompt)","displayName":"Facebook Prompt (from Chosen Facebook Prompt)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Prompt check","displayName":"Prompt check","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"company website","displayName":"company website","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Idea Bank","displayName":"Idea Bank","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Meetgeek e-mail","displayName":"Meetgeek e-mail","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Company Name","displayName":"Company Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"defaultLLM","displayName":"defaultLLM","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"anthropic/claude-3.7-sonnet","value":"anthropic/claude-3.7-sonnet"},{"name":"openai/gpt-4o-2024-11-20","value":"openai/gpt-4o-2024-11-20"},{"name":"openai/o3-mini","value":"openai/o3-mini"},{"name":"google/gemini-2.0-pro-exp-02-05:free","value":"google/gemini-2.0-pro-exp-02-05:free"},{"name":"deepseek/deepseek-chat","value":"deepseek/deepseek-chat"}],"readOnly":false,"removed":true},{"id":"exportFrom","displayName":"exportFrom","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"exportTo","displayName":"exportTo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"dateTime","readOnly":false,"removed":true},{"id":"Content Plan Exports","displayName":"Content Plan Exports","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"includeStrategyExport","displayName":"includeStrategyExport","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Chosen LinkedIn FineTune Prompt","displayName":"Chosen LinkedIn FineTune Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"LinkedIn FineTune Prompt (from Chosen LinkedIn FineTune Prompt)","displayName":"LinkedIn FineTune Prompt (from Chosen LinkedIn FineTune Prompt)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"n8nDomain","displayName":"n8nDomain","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Last Modified (from Posts)","displayName":"Last Modified (from Posts)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"recencyTimeField","displayName":"recencyTimeField","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Hook Database","displayName":"Chosen Hook Database","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Hook Database (from Chosen Hook Database)","displayName":"Hook Database (from Chosen Hook Database)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"youtubeUrls","displayName":"youtubeUrls","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"linkedInUrls","displayName":"linkedInUrls","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"websites","displayName":"websites","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"noLinkedin","displayName":"noLinkedin","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"profileLinkedInUrl","displayName":"profileLinkedInUrl","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"User","displayName":"User","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"capped (from Users)","displayName":"capped (from Users)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"userOwner","displayName":"userOwner","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"recordId (from client) (from User)","displayName":"recordId (from client) (from User)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"typecast":true}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[320,400],"id":"4001481e-9f3f-44b5-bf0d-a152bf35bb28","name":"Report Error to UI"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appvWrhHQFmwowsFQ","mode":"list","cachedResultName":"n8n v2: LinkedIn Content Engine (Experiment)","cachedResultUrl":"https://airtable.com/appvWrhHQFmwowsFQ"},"table":{"__rl":true,"value":"tblfIDBIbiMVgxuRb","mode":"list","cachedResultName":"Profiles","cachedResultUrl":"https://airtable.com/appvWrhHQFmwowsFQ/tblfIDBIbiMVgxuRb"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Content Plan').first().json.body.recordId }}","Processing":"=Finished plan wireframe"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Profile Name","displayName":"Profile Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Created by","displayName":"Created by","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"English","value":"English"},{"name":"Dutch","value":"Dutch"},{"name":"German","value":"German"},{"name":"Spanish","value":"Spanish"},{"name":"Swedish","value":"Swedish"},{"name":"Italian","value":"Italian"}],"readOnly":false,"removed":true},{"id":"Processing","displayName":"Processing","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Platforms","displayName":"Platforms","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"LinkedIn","value":"LinkedIn"},{"name":"X","value":"X"},{"name":"Blog","value":"Blog"},{"name":"Instagram","value":"Instagram"},{"name":"Facebook","value":"Facebook"}],"readOnly":false,"removed":true},{"id":"Active","displayName":"Active","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Logo","displayName":"Logo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Company description","displayName":"Company description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"B2B services","value":"B2B services"}],"readOnly":false,"removed":true},{"id":"Company Size","displayName":"Company Size","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"1-99 employees (Small)","value":"1-99 employees (Small)"},{"name":"100-499 employees (Medium)","value":"100-499 employees (Medium)"},{"name":"500+ employees (Large)","value":"500+ employees (Large)"},{"name":"","value":""}],"readOnly":false,"removed":true},{"id":"Posts","displayName":"Posts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"RecID","displayName":"RecID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Strategy","displayName":"Chosen Strategy","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Strategy (from Chosen Strategy)","displayName":"Strategy (from Chosen Strategy)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen ICP","displayName":"Chosen ICP","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"ICP profile (from Chosen ICP)","displayName":"ICP profile (from Chosen ICP)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Files","displayName":"Chosen Files","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Chunks (from Chosen Files)","displayName":"Chunks (from Chosen Files)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Document description (from Chosen Files)","displayName":"Document description (from Chosen Files)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Fine Tune","displayName":"Chosen Fine Tune","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"ModelID (from Chosen Fine Tune)","displayName":"ModelID (from Chosen Fine Tune)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Image Fine Tune","displayName":"Chosen Image Fine Tune","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Posts to process","displayName":"Posts to process","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"User Input","displayName":"User Input","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ICP Collection","displayName":"ICP Collection","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Strategy Collection","displayName":"Strategy Collection","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Files Collection","displayName":"Files Collection","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Fine Tuning Collection","displayName":"Fine Tuning Collection","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"LinkbackforFilteringProfiles","displayName":"LinkbackforFilteringProfiles","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Last Used","displayName":"Last Used","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Prompt Collection","displayName":"Prompt Collection","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Chosen LinkedIn Prompt","displayName":"Chosen LinkedIn Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"LinkedIn Prompt (from Chosen LinkedIn Prompt)","displayName":"LinkedIn Prompt (from Chosen LinkedIn Prompt)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Instagram Prompt","displayName":"Chosen Instagram Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Instagram Prompt (from Chosen Instagram Prompt)","displayName":"Instagram Prompt (from Chosen Instagram Prompt)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen X Prompt","displayName":"Chosen X Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"X Prompt (from Chosen X Prompt)","displayName":"X Prompt (from Chosen X Prompt)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Blog Prompt","displayName":"Chosen Blog Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Blog Prompt (from Chosen Blog Prompt)","displayName":"Blog Prompt (from Chosen Blog Prompt)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Facebook Prompt","displayName":"Chosen Facebook Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Facebook Prompt (from Chosen Facebook Prompt)","displayName":"Facebook Prompt (from Chosen Facebook Prompt)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Prompt check","displayName":"Prompt check","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"company website","displayName":"company website","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Idea Bank","displayName":"Idea Bank","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-560,120],"id":"7a27275c-98fe-4c8d-a615-6d4bab511168","name":"Progress Update to UI"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appvWrhHQFmwowsFQ","mode":"list","cachedResultName":"n8n v2: LinkedIn Content Engine (Experiment)","cachedResultUrl":"https://airtable.com/appvWrhHQFmwowsFQ"},"table":{"__rl":true,"value":"tblfIDBIbiMVgxuRb","mode":"list","cachedResultName":"Profiles","cachedResultUrl":"https://airtable.com/appvWrhHQFmwowsFQ/tblfIDBIbiMVgxuRb"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Content Plan').item.json.body.recordId }}","Processing":"={{ \"Processing post\" + (($runIndex * 5) + 1 === Math.min(($runIndex * 5) + 5, $('Set Variables for LLM').item.json.body.postsToProcess) ? \" \" + (($runIndex * 5) + 1) : \"s \" + (($runIndex * 5) + 1) + \"-\" + Math.min(($runIndex * 5) + 5, $('Set Variables for LLM').item.json.body.postsToProcess)) + \" of \" + $('Set Variables for LLM').item.json.body.postsToProcess }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Profile Name","displayName":"Profile Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Created by","displayName":"Created by","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"English","value":"English"},{"name":"Dutch","value":"Dutch"},{"name":"German","value":"German"},{"name":"Spanish","value":"Spanish"},{"name":"Swedish","value":"Swedish"},{"name":"Italian","value":"Italian"}],"readOnly":false,"removed":true},{"id":"Processing","displayName":"Processing","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Platforms","displayName":"Platforms","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"LinkedIn","value":"LinkedIn"},{"name":"X","value":"X"},{"name":"Blog","value":"Blog"},{"name":"Instagram","value":"Instagram"},{"name":"Facebook","value":"Facebook"}],"readOnly":false,"removed":true},{"id":"Active","displayName":"Active","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Logo","displayName":"Logo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Company description","displayName":"Company description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"B2B services","value":"B2B services"}],"readOnly":false,"removed":true},{"id":"Company Size","displayName":"Company Size","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"1-99 employees (Small)","value":"1-99 employees (Small)"},{"name":"100-499 employees (Medium)","value":"100-499 employees (Medium)"},{"name":"500+ employees (Large)","value":"500+ employees (Large)"},{"name":"","value":""}],"readOnly":false,"removed":true},{"id":"Posts","displayName":"Posts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"RecID","displayName":"RecID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Strategy","displayName":"Chosen Strategy","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Strategy (from Chosen Strategy)","displayName":"Strategy (from Chosen Strategy)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen ICP","displayName":"Chosen ICP","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"ICP profile (from Chosen ICP)","displayName":"ICP profile (from Chosen ICP)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Files","displayName":"Chosen Files","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Chunks (from Chosen Files)","displayName":"Chunks (from Chosen Files)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Document description (from Chosen Files)","displayName":"Document description (from Chosen Files)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Fine Tune","displayName":"Chosen Fine Tune","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"ModelID (from Chosen Fine Tune)","displayName":"ModelID (from Chosen Fine Tune)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Image Fine Tune","displayName":"Chosen Image Fine Tune","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Posts to process","displayName":"Posts to process","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"User Input","displayName":"User Input","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ICP Collection","displayName":"ICP Collection","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Strategy Collection","displayName":"Strategy Collection","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Files Collection","displayName":"Files Collection","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Fine Tuning Collection","displayName":"Fine Tuning Collection","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"LinkbackforFilteringProfiles","displayName":"LinkbackforFilteringProfiles","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Last Used","displayName":"Last Used","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Prompt Collection","displayName":"Prompt Collection","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Chosen LinkedIn Prompt","displayName":"Chosen LinkedIn Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"LinkedIn Prompt (from Chosen LinkedIn Prompt)","displayName":"LinkedIn Prompt (from Chosen LinkedIn Prompt)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Instagram Prompt","displayName":"Chosen Instagram Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Instagram Prompt (from Chosen Instagram Prompt)","displayName":"Instagram Prompt (from Chosen Instagram Prompt)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen X Prompt","displayName":"Chosen X Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"X Prompt (from Chosen X Prompt)","displayName":"X Prompt (from Chosen X Prompt)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Blog Prompt","displayName":"Chosen Blog Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Blog Prompt (from Chosen Blog Prompt)","displayName":"Blog Prompt (from Chosen Blog Prompt)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Facebook Prompt","displayName":"Chosen Facebook Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Facebook Prompt (from Chosen Facebook Prompt)","displayName":"Facebook Prompt (from Chosen Facebook Prompt)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Prompt check","displayName":"Prompt check","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"company website","displayName":"company website","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Idea Bank","displayName":"Idea Bank","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,160],"id":"55f3d4bf-0f85-4abf-a3f3-f896cdb98496","name":"Progress Update"},{"parameters":{"operation":"update","base":{"__rl":true,"value":"appvWrhHQFmwowsFQ","mode":"list","cachedResultName":"n8n v2: LinkedIn Content Engine (Experiment)","cachedResultUrl":"https://airtable.com/appvWrhHQFmwowsFQ"},"table":{"__rl":true,"value":"tblfIDBIbiMVgxuRb","mode":"list","cachedResultName":"Profiles","cachedResultUrl":"https://airtable.com/appvWrhHQFmwowsFQ/tblfIDBIbiMVgxuRb"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Content Plan').item.json.body.recordId }}","Processing":"Idle"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","readOnly":true,"removed":false},{"id":"Profile Name","displayName":"Profile Name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Created by","displayName":"Created by","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Language","displayName":"Language","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"English","value":"English"},{"name":"Dutch","value":"Dutch"},{"name":"German","value":"German"},{"name":"Spanish","value":"Spanish"},{"name":"Swedish","value":"Swedish"},{"name":"Italian","value":"Italian"}],"readOnly":false,"removed":true},{"id":"Processing","displayName":"Processing","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Platforms","displayName":"Platforms","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","options":[{"name":"LinkedIn","value":"LinkedIn"},{"name":"X","value":"X"},{"name":"Blog","value":"Blog"},{"name":"Instagram","value":"Instagram"},{"name":"Facebook","value":"Facebook"}],"readOnly":false,"removed":true},{"id":"Active","displayName":"Active","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"boolean","readOnly":false,"removed":true},{"id":"Logo","displayName":"Logo","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Company description","displayName":"Company description","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Industry","displayName":"Industry","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"B2B services","value":"B2B services"}],"readOnly":false,"removed":true},{"id":"Company Size","displayName":"Company Size","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"options","options":[{"name":"1-99 employees (Small)","value":"1-99 employees (Small)"},{"name":"100-499 employees (Medium)","value":"100-499 employees (Medium)"},{"name":"500+ employees (Large)","value":"500+ employees (Large)"},{"name":"","value":""}],"readOnly":false,"removed":true},{"id":"Posts","displayName":"Posts","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"RecID","displayName":"RecID","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Strategy","displayName":"Chosen Strategy","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Strategy (from Chosen Strategy)","displayName":"Strategy (from Chosen Strategy)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen ICP","displayName":"Chosen ICP","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"ICP profile (from Chosen ICP)","displayName":"ICP profile (from Chosen ICP)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Files","displayName":"Chosen Files","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Chunks (from Chosen Files)","displayName":"Chunks (from Chosen Files)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Document description (from Chosen Files)","displayName":"Document description (from Chosen Files)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Fine Tune","displayName":"Chosen Fine Tune","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"ModelID (from Chosen Fine Tune)","displayName":"ModelID (from Chosen Fine Tune)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Image Fine Tune","displayName":"Chosen Image Fine Tune","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Posts to process","displayName":"Posts to process","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"number","readOnly":false,"removed":true},{"id":"User Input","displayName":"User Input","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"ICP Collection","displayName":"ICP Collection","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Strategy Collection","displayName":"Strategy Collection","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Files Collection","displayName":"Files Collection","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Fine Tuning Collection","displayName":"Fine Tuning Collection","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"LinkbackforFilteringProfiles","displayName":"LinkbackforFilteringProfiles","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Last Used","displayName":"Last Used","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Prompt Collection","displayName":"Prompt Collection","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Chosen LinkedIn Prompt","displayName":"Chosen LinkedIn Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"LinkedIn Prompt (from Chosen LinkedIn Prompt)","displayName":"LinkedIn Prompt (from Chosen LinkedIn Prompt)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Instagram Prompt","displayName":"Chosen Instagram Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Instagram Prompt (from Chosen Instagram Prompt)","displayName":"Instagram Prompt (from Chosen Instagram Prompt)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen X Prompt","displayName":"Chosen X Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"X Prompt (from Chosen X Prompt)","displayName":"X Prompt (from Chosen X Prompt)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Blog Prompt","displayName":"Chosen Blog Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Blog Prompt (from Chosen Blog Prompt)","displayName":"Blog Prompt (from Chosen Blog Prompt)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Chosen Facebook Prompt","displayName":"Chosen Facebook Prompt","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true},{"id":"Facebook Prompt (from Chosen Facebook Prompt)","displayName":"Facebook Prompt (from Chosen Facebook Prompt)","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"Prompt check","displayName":"Prompt check","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true},{"id":"company website","displayName":"company website","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":true},{"id":"Idea Bank","displayName":"Idea Bank","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"array","readOnly":false,"removed":true}]},"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[0,0],"id":"e726bc09-386f-48b3-97c9-f0f072304a61","name":"Update UI with \"Done\""},{"parameters":{"jsCode":"function processHooks($input) {\n    // Get the input text\n    const inputText = $input.first().json.text;\n    \n    // Extract JSON string from between XML tags\n    const jsonMatch = inputText.match(/<json_output>\\s*([\\s\\S]*?)\\s*<\\/json_output>/);\n    \n    if (!jsonMatch) {\n        throw new Error('No JSON found between json_output tags');\n    }\n    \n    // Parse the JSON string\n    let items;\n    try {\n        items = JSON.parse(jsonMatch[1].trim());\n    } catch (error) {\n        console.log('JSON parsing failed:', error.message);\n        throw new Error(`Invalid JSON format: ${error.message}`);\n    }\n    \n    // Validate the structure\n    if (!Array.isArray(items)) {\n        throw new Error('Parsed JSON is not an array');\n    }\n    \n    // Transform each item\n    const outputs = items.map((item, index) => {\n        if (!item.hooks) {\n            console.log(`Warning: Item ${index + 1} missing hooks property`);\n            return null;\n        }\n        \n        // Split hooks on newlines and filter empty lines\n        const hookOptions = item.hooks\n            .split('\\\\n')\n            .filter(hook => hook.trim() !== '');\n        \n        // Join with double newlines for readability\n        const hookString = hookOptions.join('\\n\\n');\n        \n        return {\n            json: {\n                hooks: hookString,\n                originalIndex: index + 1\n            }\n        };\n    }).filter(item => item !== null);\n    \n    // Validate output\n    if (outputs.length === 0) {\n        throw new Error('No valid items were processed');\n    }\n    \n    return outputs;\n}\n\n// Execute the function\nreturn processHooks($input);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[740,280],"id":"8d911182-2e05-4f5b-939d-f8bb84319c10","name":"Split out hooks","onError":"continueErrorOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[980,720],"id":"cf84574c-94b8-4809-9c7f-790ddbe0740a","name":"Merge"},{"parameters":{"options":{"prompt":"Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[-820,540],"id":"b3690904-b3da-43df-afe3-d77b70029532","name":"Auto-fixing Output Parser"},{"parameters":{"url":"=https://linkedin-profile-and-company-data-api.p.rapidapi.com/profile/{{ ($json.LinkedInUrl.includes('/in/') ? $json.LinkedInUrl.split('/in/')[1] : $json.LinkedInUrl).split('?')[0].split('/')[0].trim() }}/posts","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"pageSize","value":"20"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"linkedin-profile-and-company-data-api.p.rapidapi.com"}]},"options":{"batching":{"batch":{"batchSize":1,"batchInterval":1010}}}},"id":"a73372bb-dd38-4410-956b-bebae8b6b0c1","name":"Scrape posts","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[120,1540],"retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"onError":"continueErrorOutput","notes":"https://rapidapi.com/parallelneuron-parallelneuron-default/api/linkedin-profile-and-company-data-api"},{"parameters":{"fieldToSplitOut":"posts","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[280,1540],"id":"fc561d21-4107-4b93-9015-3ee73941aff2","name":"Split Out"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"text"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[440,1540],"id":"01ac122e-3637-42cf-8486-7ba29ca50318","name":"Aggregate"},{"parameters":{"assignments":{"assignments":[{"id":"1b80944b-cfdb-4f48-9b2b-acda4de1bdb0","name":"text","value":"={{ $json.text.map(text => `<Post>${text}</Post>`).join('') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[600,1540],"id":"1d5f7b61-7200-46ff-8c3b-71caae0ee2ae","name":"Result"},{"parameters":{"assignments":{"assignments":[{"id":"7b2a4545-8038-4c5b-ac0f-edfb4f337085","name":"LinkedInUrl","value":"={{ typeof $json.query === 'string' ? $json.query : $json.query.query }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,1540],"id":"38915cf0-23bb-4576-998f-791d20717251","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"c422113e-0450-48d5-9f1e-53bffe2d8b3b","name":"Prompt","value":"={{ typeof $json.query === 'string' ? $json.query : $json.query.query }}","type":"string"},{"id":"95bce124-3975-4127-ba48-ae1217c32951","name":"Recency","value":"=month","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,2000],"id":"cfcf25a6-87c5-4b60-a7b7-a1a6d652271a","name":"Set variables"},{"parameters":{"assignments":{"assignments":[{"id":"6a656d9e-6f96-4dbc-a60c-d48b0f759db8","name":"Result","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,2000],"id":"8c995b47-c2c6-4ec9-97c8-1a08c4753020","name":"Results"},{"parameters":{"model":"=perplexity/sonar","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[120,2200],"id":"00b82ec7-51e5-4b40-9f99-bcc3d7585c96","name":"OpenRouter Chat Model1"},{"parameters":{"assignments":{"assignments":[{"id":"2882e6d7-5181-4c2f-885c-6a87ac9f6a6e","name":"Error","value":"={{ $json.error }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,2160],"id":"f1451130-cb64-4612-9df5-9609fa005467","name":"Edit Fields1"},{"parameters":{"promptType":"define","text":"=You are an AI-powered online research agent. Your task is to conduct thorough research on a given topic and provide a comprehensive response with accurate information. The most crucial aspect of your task is to properly cite all sources used in your research.\n\nThe topic you need to research is:\n<topic>\n{{ $json.Prompt }}\n</topic>\n\nPlease follow these instructions carefully:\n\n1. Conduct extensive online research on the given topic. Use reputable sources and gather relevant information.\n\n2. Compile a comprehensive response that covers various aspects of the topic. Include key facts, statistics, and relevant details you find during your research.\n\n3. Throughout your response, whenever you present information from a source, immediately follow it with a citation number in square brackets, like this: [1]. This number should correspond to the order in which the source appears in your citations list.\n\n4. After completing your response, you must include all citations in the following format:\n\n<citations>\nUrl1\nUrl2\nUrl3\netc\n</citations>\n\nEach URL should be on a new line within the citations tags. The order of the URLs should correspond to the citation numbers used in your response.\n\n5. Ensure that every piece of information in your response that isn't common knowledge is cited, and every citation in your list is referenced in the main text.\n\n6. Do not include any explanations or text within the <citations> tags other than the URLs themselves.\n\n7. Your entire response, including both the main text and the citations, should be contained within <answer> tags.\n\nRemember, the accuracy and proper citation of your sources are paramount. Provide a thorough and well-researched response to the given topic, ensuring all information is properly attributed to its source.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[120,2000],"id":"f17af2c3-3fd3-4e94-9050-f5434fba7e2f","name":"Perplexity tool","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"b8a7edad-0a91-4c28-ad59-44821bf40638","name":"Error","value":"Failed to fetch LinkedIn posts.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,1680],"id":"be968fbb-eef7-4f2b-957e-b1d41f5e4aad","name":"Edit Fields3"},{"parameters":{"assignments":{"assignments":[{"id":"c128e0bf-a2d2-49ec-ab45-538a27fc65df","name":"YoutubeID","value":"={{ typeof $json.query === 'string' ? $json.query : $json.query.query }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,2500],"id":"49d910af-6a45-4721-9bd8-12c09f0c14ea","name":"YoutubeID"},{"parameters":{"assignments":{"assignments":[{"id":"97578ddb-0593-47ae-9c53-b7b9bdcc3948","name":"Transcript","value":"={{ $json.combinedText }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,2500],"id":"83623c5d-3044-44af-9636-e5a24d147b57","name":"Transcript reply"},{"parameters":{"url":"=https://youtube-video-summarizer-gpt-ai.p.rapidapi.com/api/v1/get-transcript-v2?video_id={{ $json.YoutubeID }}&platform=youtube ","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-rapidapi-host","value":"youtube-video-summarizer-gpt-ai.p.rapidapi.com"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[120,2500],"id":"fee2bcb7-dd9e-4d4f-affd-ff2ddf0d6f2d","name":"Get Transcript"},{"parameters":{"jsCode":"const response = $json;\n\ntry {\n    if (!response?.data?.transcripts) {\n        throw new Error('Invalid data structure: missing transcripts');\n    }\n    \n    const transcripts = response.data.transcripts;\n    let combinedText = '';\n    let transcriptSource = null;\n    \n    // Priority order for transcripts\n    const priorityOrder = [\n        { lang: 'en', type: 'custom' },\n        { lang: 'en_auto', type: 'custom' },\n        { lang: 'en_auto_auto', type: 'custom' }\n    ];\n    \n    // Find first available transcript following priority order\n    for (const priority of priorityOrder) {\n        const langTranscripts = transcripts[priority.lang];\n        if (langTranscripts?.[priority.type] && Array.isArray(langTranscripts[priority.type])) {\n            const transcript = langTranscripts[priority.type];\n            const texts = transcript.map(entry => entry.text);\n            combinedText = texts.join(' ').trim();\n            transcriptSource = `${priority.lang}.${priority.type}`;\n            break; // Stop after finding first valid transcript\n        }\n    }\n    \n    // If no prioritized transcript found, throw error\n    if (!combinedText) {\n        throw new Error('No valid transcript found in any of the priority sources');\n    }\n    \n    // Clean up the text (remove multiple spaces)\n    combinedText = combinedText.replace(/\\s+/g, ' ');\n    \n    return {\n        json: {\n            combinedText,\n            totalLength: combinedText.length,\n            transcriptSource, // Shows which transcript was used\n            videoId: response.data.videoId,\n            success: response.code === 100000\n        }\n    };\n    \n} catch (error) {\n    return {\n        json: {\n            error: error.message,\n            combinedText: '',\n            totalLength: 0,\n            transcriptSource: null,\n            videoId: null,\n            success: false\n        }\n    };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[280,2500],"id":"af68c265-2c26-4370-b2d4-4f4c2f180db0","name":"Parse response"},{"parameters":{"content":"## Tool trigger\nEach tool has their own trigger in their separate workflow","height":420},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-680,1620],"id":"a5fac527-eb8d-4496-9a3c-c1bf7983db73","name":"Sticky Note"},{"parameters":{"content":"## Website Scrape\nSimple, lightweight, ultra fast HTTP scraper.\nscript extracts relevant text and links","height":380,"width":540,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,1020],"id":"dfc0aa4c-4574-4255-8b03-a5d8ae2a3808","name":"Sticky Note1"},{"parameters":{"content":"## LinkedIn Scraper\nExtracts the 20 latest posts from any LinkedIn profule.\nAPI endpoint: https://rapidapi.com/parallelneuron-parallelneuron-default/api/linkedin-profile-and-company-data-api","height":420,"width":900,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,1440],"id":"9dd0dbfa-8c65-42dc-ba59-ffa3b2833726","name":"Sticky Note2"},{"parameters":{"content":"## Perplexity Sonar Internet research ","height":420,"width":940,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,1920],"id":"8c003d30-d35b-4443-a009-bcb13b1f1f2f","name":"Sticky Note3"},{"parameters":{"content":"## Youtube transcriber \nReturns the transcripts of videos\nAPI Endpoint: https://rapidapi.com/rahilkhan224/api/youtube-video-summarizer-gpt-ai   \n(V1)","height":280,"width":760,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,2380],"id":"52157a2c-24a0-4db5-ad75-c63e52437493","name":"Sticky Note4"}],"connections":{"Set Variables for LLM":{"main":[[{"node":"Plan structure","type":"main","index":0}]]},"Create Array":{"main":[[{"node":"Merge","type":"main","index":1}]]},"OpenRouter Chat Model6":{"ai_languageModel":[[{"node":"Ideation Agent","type":"ai_languageModel","index":0}]]},"Youtube":{"ai_tool":[[{"node":"Ideation Agent","type":"ai_tool","index":0}]]},"Website Scraper":{"ai_tool":[[{"node":"Ideation Agent","type":"ai_tool","index":0}]]},"LinkedIn posts":{"ai_tool":[[{"node":"Ideation Agent","type":"ai_tool","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"Ideation Agent","type":"ai_tool","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Perplexity":{"ai_tool":[[{"node":"Ideation Agent","type":"ai_tool","index":0}]]},"Plan structure":{"main":[[{"node":"Split Out posts","type":"main","index":0},{"node":"Progress Update to UI","type":"main","index":0}]]},"OpenRouter Chat Model8":{"ai_languageModel":[[{"node":"Plan structure","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"OpenRouter Chat Model9":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0}]]},"Split Out posts":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenRouter Chat Model7":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model10":{"ai_languageModel":[[{"node":"Hook Generator","type":"ai_languageModel","index":0}]]},"Hook Generator":{"main":[[{"node":"Split out hooks","type":"main","index":0}]]},"Ideation Agent":{"main":[[{"node":"Create Array","type":"main","index":0},{"node":"Hook Generator","type":"main","index":0}],[{"node":"Report Error to UI","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"Scrape","type":"main","index":0},{"node":"Edit Fields2","type":"main","index":0},{"node":"Set variables","type":"main","index":0},{"node":"YoutubeID","type":"main","index":0}]]},"Set HomepageData":{"main":[[{"node":"Exctract HTML Body","type":"main","index":0}]]},"Scrape":{"main":[[{"node":"Set HomepageData","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Content Plan":{"main":[[{"node":"Set Variables for LLM","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Limit","type":"main","index":0}],[{"node":"consolidate 5 slots","type":"main","index":0}]]},"consolidate 5 slots":{"main":[[{"node":"Ideation Agent","type":"main","index":0},{"node":"Progress Update","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Update UI with \"Done\"","type":"main","index":0}]]},"Split out hooks":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Create Content Plan Posts","type":"main","index":0},{"node":"Loop Over Items","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Plan structure","type":"ai_outputParser","index":0}]]},"Scrape posts":{"main":[[{"node":"Split Out","type":"main","index":0}],[{"node":"Edit Fields3","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Result","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Scrape posts","type":"main","index":0}]]},"Set variables":{"main":[[{"node":"Perplexity tool","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Perplexity tool","type":"ai_languageModel","index":0}]]},"Perplexity tool":{"main":[[{"node":"Results","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"YoutubeID":{"main":[[{"node":"Get Transcript","type":"main","index":0}]]},"Get Transcript":{"main":[[{"node":"Parse response","type":"main","index":0}]]},"Parse response":{"main":[[{"node":"Transcript reply","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Execute Workflow Trigger":[{"json":{"query":{"query":"https://www.userguiding.com/blog/b2b-statistics-trends"}}}]},"versionId":"0914cf81-f88c-437a-9f55-fd8aa0d42274","triggerCount":0,"tags":[]}