linkedin---lead-magnet-autoposter-c3BxwAYA9EJlBhOP.json
{"createdAt":"2025-06-04T12:11:25.074Z","updatedAt":"2025-06-13T09:20:35.456Z","id":"c3BxwAYA9EJlBhOP","name":"LinkedIn - Lead magnet autoposter","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1m-YnTVPmsbw-WZgLf_Lc_nM6dy01QWoeyFPK5dSnoLY","mode":"list","cachedResultName":"Lead magnet post database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1m-YnTVPmsbw-WZgLf_Lc_nM6dy01QWoeyFPK5dSnoLY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1m-YnTVPmsbw-WZgLf_Lc_nM6dy01QWoeyFPK5dSnoLY/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[580,180],"id":"a0b748ad-2aa1-4d0f-80c3-6fcbf4a676e3","name":"Google Sheets1","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[840,180],"id":"a60e0b8a-ed74-4ccc-a2e4-8aff6e89462e","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://api.clay.com/v3/sources/webhook/pull-in-data-from-a-webhook-62e2b42c-ad1d-425d-9917-d2757a1f4da1","sendBody":true,"bodyParameters":{"parameters":[{"name":"comment_id","value":"={{ $json.comment_id }}"},{"name":"comment_text","value":"={{ $json.text }}"},{"name":"author_name","value":"={{ $json.author.name }}"},{"name":"author_profile_url","value":"={{ $json.author.profile_url }}"},{"name":"=post_url","value":"={{ $json.post_input }}"}]},"options":{"batching":{"batch":{"batchSize":1}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1840,40],"id":"f5724eac-3a81-4898-8938-2b8838166e31","name":"Send to Clay","retryOnFail":true},{"parameters":{"formTitle":"LinkedIn Post Lead Magnets","formDescription":"Input post URL, keyword and Lead magnet URL","formFields":{"values":[{"fieldLabel":"Post URL","placeholder":"https://www.linkedin.com/posts/joshdueck_i-made-over-45k-with-cold-email-just-last-activity-7335284881196728320-ZSoa?utm_source=share&utm_medium=member_desktop&rcm=ACoAAEPgGn0BuCoNwmAOWu_Ui60rxHK4FWIMdU0","requiredField":true},{"fieldLabel":"Keyword","placeholder":"GUIDE","requiredField":true},{"fieldLabel":"Lead magnet URL","placeholder":"https://youtu.be/79wogGFVEg8?si=311qmjAuUTUGw2AV","requiredField":true}]},"options":{"appendAttribution":false}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[360,-80],"id":"91a1986e-7ed5-4117-83dd-0df44dd92092","name":"Add lead magnet to database","webhookId":"5dfef03a-53b4-4a36-96c2-3620f4efc062"},{"parameters":{"assignments":{"assignments":[{"id":"4f5a7414-1305-47a9-91be-76ec0bcdb940","name":"post_url","value":"={{ $json['Post URL'] }}","type":"string"},{"id":"3cbfa9e0-4f54-435f-9419-3063ebd2e035","name":"keyword","value":"={{ $json.Keyword }}","type":"string"},{"id":"55c7e8b9-30b3-4b69-ae7a-437511e65346","name":"lead_magnet_url","value":"={{ $json['Lead magnet URL'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[580,-80],"id":"43f4d491-d3cd-4183-b39e-333347ffee11","name":"Set variables"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1m-YnTVPmsbw-WZgLf_Lc_nM6dy01QWoeyFPK5dSnoLY","mode":"list","cachedResultName":"Lead magnet post database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1m-YnTVPmsbw-WZgLf_Lc_nM6dy01QWoeyFPK5dSnoLY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1m-YnTVPmsbw-WZgLf_Lc_nM6dy01QWoeyFPK5dSnoLY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"post_url":"={{ $json.post_url }}","keyword":"={{ $json.keyword }}","lead_magnet_url":"={{ $json.lead_magnet_url }}"},"matchingColumns":[],"schema":[{"id":"post_url","displayName":"post_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"keyword","displayName":"keyword","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lead_magnet_url","displayName":"lead_magnet_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[840,0],"id":"0b31ca62-627a-4fcd-9958-f76a4610dfe2","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/2XnpwxfhSW1fAWElp/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer apify_api_Gq0gZNIBESqwUsx3k0tRogaIItfALg3ODMQ3"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"postIds\": [\n        \"{{ $json.post_id }}\",\n        \"{{ $json.post_url }}\"\n    ]\n} ","options":{"redirect":{"redirect":{}},"timeout":900000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,220],"id":"49cbd8c2-d0e7-46b4-8a94-967f38afeff7","name":"Scrape Post Comments"},{"parameters":{"method":"POST","url":"https://api.clay.com/v3/sources/webhook/pull-in-data-from-a-webhook-b0e99e09-315a-446b-a729-3661104bd046","sendBody":true,"bodyParameters":{"parameters":[{"name":"=post_url","value":"={{ $json.post_url }}"},{"name":"keyword","value":"={{ $json.keyword }}"},{"name":"lead_magnet_url","value":"={{ $json.lead_magnet_url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,-180],"id":"40bbc30a-a764-4dc1-b98b-d4240b548016","name":"Push to Clay Lead magnet Post Database"},{"parameters":{"rule":{"interval":[{"triggerAtHour":14}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[360,180],"id":"7d80b361-886f-4df4-8d5a-79253adb881a","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"https://api.clay.com/v3/sources/webhook/pull-in-data-from-a-webhook-93a0b22f-4b23-4601-a922-f5426281d60e","sendBody":true,"bodyParameters":{"parameters":[{"name":"comment ID","value":"={{ $json.comment_id }}"}]},"options":{"batching":{"batch":{"batchSize":1}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,320],"id":"4c9fe635-d4b5-48fd-afc9-340684efb93e","name":"Push to comment ID database"},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1620,300],"id":"61fa4b3c-a401-4ed8-a4d0-6846608e42a5","name":"Wait","webhookId":"fbdc83ca-f5ac-4260-8f50-537e8942739f"}],"connections":{"Google Sheets1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Scrape Post Comments","type":"main","index":0}]]},"Add lead magnet to database":{"main":[[{"node":"Set variables","type":"main","index":0}]]},"Set variables":{"main":[[{"node":"Push to Clay Lead magnet Post Database","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0}]]},"Scrape Post Comments":{"main":[[{"node":"Send to Clay","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]},"Push to Clay Lead magnet Post Database":{"main":[[]]},"Schedule Trigger":{"main":[[{"node":"Google Sheets1","type":"main","index":0}]]},"Send to Clay":{"main":[[]]},"Wait":{"main":[[{"node":"Push to comment ID database","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c7c499e0-e5ab-41d7-9a61-169ac32c2678","triggerCount":2,"tags":[]}