my-workflow-2-D8DjAdxdklGu1T4t.json
{"createdAt":"2025-05-23T07:47:26.213Z","updatedAt":"2025-05-23T08:22:33.086Z","id":"D8DjAdxdklGu1T4t","name":"My workflow 2","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ec95e6a4-43cf-4263-b348-b39f3fa00b83","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"c034480c-9f09-4f38-bba5-9a2adf00b142","name":"Webhook","webhookId":"ec95e6a4-43cf-4263-b348-b39f3fa00b83"},{"parameters":{"assignments":{"assignments":[{"id":"cf7a1c10-e9c1-4cab-8809-639613041b43","name":"call","value":"={{ $json.body.name }}","type":"string"},{"id":"07d92d1e-681e-411e-9af8-a21097a24d73","name":"Time","value":"={{ $json.body.createdAt }}","type":"string"},{"id":"cf68b21b-fc6b-42d2-990d-ab7354400a48","name":"prospect","value":"={{ $json.body.attendees[0].name }}","type":"string"},{"id":"d57c460f-5ce7-49c5-851c-67a9e1ca5b95","name":"prospect email","value":"={{ $json.body.attendees[0].email }}","type":"string"},{"id":"1da8f982-c68d-4615-8181-6817e33a7b05","name":"rep","value":"={{ $json.body.attendees[1].name }}","type":"string"},{"id":"e90f6cbe-764e-4be4-b80b-10e4a0ab1eb9","name":"call recording","value":"={{ $json.body.recordingUrl }}","type":"string"},{"id":"661dc2d8-319f-411e-b5f0-4ded86bc35d3","name":"call notes","value":"={{ $json.body.notes }}","type":"string"},{"id":"886b2550-4e14-4b7a-8658-bb937b482900","name":"follow up task","value":"={{ $json.body.actionItems[0].description }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0],"id":"47382841-7978-473a-b2b1-22e185ca54b9","name":"Edit Fields"},{"parameters":{"sendTo":"stas@oneclick.si","subject":"=Transcript of {{ $json.call }}","message":"=Title: {{ $json.call }}\nProspect: {{ $json.prospect }}\nProspect email: {{ $json['prospect email'] }}\nRep: {{ $json.rep }}\nCall recording: {{ $json['call recording'] }}\nCall notes: {{ $json['call notes'] }}\nFollow up task: {{ $json['follow up task'] }}","options":{"appendAttribution":false,"senderName":"JKD Call Transcript"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[860,-220],"id":"0a8736ce-f460-4f36-b214-b9740b949704","name":"Gmail","webhookId":"d1dabde9-0435-4a9c-ad96-eb9a5b016bb6","credentials":{"gmailOAuth2":{"id":"iX8qfUXdQMjweLGs","name":"ONECLICK - Gmail"}}},{"parameters":{"promptType":"define","text":"=You are assisstant whose role it is to take the text in markdown and output it in plain text.\n\nInput: {{ $json['call notes'] }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[440,0],"id":"8df84855-e3cd-4be6-ada8-b5afa74372ef","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[480,220],"id":"9ce21453-3491-4260-a69f-67f318de7b09","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"oneclick-x5dz.onrender.com","user-agent":"node","content-length":"88346","accept":"*/*","accept-encoding":"gzip, br","accept-language":"*","baggage":"sentry-environment=vercel-production,sentry-release=8fdebf7d42faf95b7f25c213bf3bb509f93668b3,sentry-public_key=1cb394aec14d5daa6f4fb283f3615330,sentry-trace_id=f3bf9408b3c94b50939a08cf40dea938,sentry-transaction=%2Fautomations%2Fnew,sentry-sampled=false,sentry-sample_rand=0.43679235755159906,sentry-sample_rate=0.01","cdn-loop":"cloudflare; loops=1","cf-connecting-ip":"54.219.79.8","cf-ipcountry":"US","cf-ray":"9442f6d0adb706ad-DUS","cf-visitor":"{\"scheme\":\"https\"}","content-type":"application/json","render-proxy-ttl":"4","rndr-id":"97fddd24-6b37-4da9","sec-fetch-mode":"cors","sentry-trace":"f3bf9408b3c94b50939a08cf40dea938-bea27fd946f0f26d-0","true-client-ip":"54.219.79.8","x-forwarded-for":"54.219.79.8, 172.71.160.101","x-forwarded-proto":"https","x-request-start":"1747986644708967","x-signature":"2b26e3c8ef5f514492dc5329026510a73d99b2f1e7659695005e54cb51094e7d","x-vercel-id":"fra1::ndrfl-1747986642210-778f7df1888d"},"params":{},"query":{},"body":{"id":1941269,"name":"120 Appointments Paul Terrizzi X JKD Agency","createdAt":"2025-05-22T16:58:20.327Z","duration":5898.688,"url":"https://meet.google.com/edz-tmkz-zqi","attendees":[{"name":"paul terrizzi","email":"paul@indigo-one.com"},{"name":"Staš Romih","email":"hello@oneclick.si"}],"recordingUrl":"https://storage.googleapis.com/saved-meeting-recording.prod.circleback.ai/meeting_1941269.mp4?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=circleback-ai%40appspot.gserviceaccount.com%2F20250523%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20250523T075042Z&X-Goog-Expires=28800&X-Goog-SignedHeaders=host&X-Goog-Signature=4653310ad12823f2f6a97e154c3b9b6ec9b70990b18b4424109f0161297ee6ba34c10932946bfc01296ebb5c0e00ffc2f0c4132d1305e7a1b178a5d5ea5b3c328865d2b4285d52fbba3d0a691be39ce985c648bcc0f8d59f5512b3906c0e963f0b2d4ffe5e415efca22f71894e30f3010bbcf175136836648360b92ddce50d3b713263ea8158618722b698ea9b60eb467ec1c35f191ba9315e755afa53ebb644ddbf6245482611c63e2c55d11d56e53fac05368a592e407513a0f9873eb117fbd1feb6cc2cbeae4808e945b285fffd1cfec86f7e1bebb9a91acde3199d427e4ec7cdc282d259fc95656356d2ec3853ea9c87c69fdeb982f0c3dfbf8275cb601f","tags":["JKD sales team metting"],"notes":"#### Overview\n* Paul is seeking a predictable appointment setting system after losing a major client that represented significant revenue when they were acquired\n* JKD Agency offers a \"done with you\" appointment setting system for **$4,500** one-time fee with a results guarantee\n* The system uses AI for personalization and targeting specific decision-makers at companies with **3-600** employees\n* Paul agreed to contact **4** JKD client references before making a decision\n* Follow-up call scheduled for **May 23rd, 2025** at **2:30 PM** Central Time\n\n#### Paul's agency background and client needs\n* Paul has **23** years of agency experience plus **10** years of international experience with large agency networks\n* indigoOne previously worked with a client for **9** years across **8-10** different verticals before losing them after acquisition\n* Paul wants to diversify client base to spread risk and avoid having **60-70%** of revenue tied to one client\n* Paul's agency is multidisciplinary, offering comprehensive marketing services rather than specialized in one area\n* Paul targets companies with marketing budgets of **$500,000** to **$1 million+** annually\n\n#### JKD Agency's appointment setting system\n* JKD Agency currently has **106** marketing and advertising agency clients in their program\n* Staš showed their booking calendar with **10-15** appointments per day\n* System includes a community platform where members can share experiences and get support\n* Program includes weekly Q&A calls and one-on-one coaching sessions with Josh (JKD founder)\n* JKD Agency focuses exclusively on marketing and advertising agencies\n\n#### AI personalization approach\n* System uses AI to identify and pre-qualify leads that match the ideal client profile\n* AI creates personalized first lines in outreach messages based on prospect's website, case studies, or recent posts\n* Staš explained they use tools like Clay for lead qualification and Instantly for email delivery\n* System maintains high deliverability through proper email warm-up and management\n* Paul expressed concern about maintaining control over messaging and brand voice\n\n#### Program structure and community support\n* Program starts with a one-on-one call with Josh to structure outreach strategy and offer\n* Members receive access to a community of other agency owners for support and idea sharing\n* JKD provides two weekly coaching calls and one-on-one support\n* Program includes training on how to build and manage the outreach system independently\n* Staš emphasized it's \"done with you\" rather than \"done for you\" to ensure knowledge transfer\n\n#### Pricing and guarantee\n* One-time cost of **$4,500** for the program\n* Includes **1 year** of community access\n* JKD offers a guarantee of refund if the system doesn't produce results\n* Staš claimed they've never had to issue a refund\n* Paul is also considering a \"done for you\" service at **$300-400** per month as an alternative\n\n#### References\n* Staš provided **4** references for Paul to contact:\n    * Sabir from Berlin\n    * Friek de Bresse from Netherlands\n    * Donovan from Carolina\n    * Caleb from Canada\n* Staš highlighted Donovan's results, growing from **$1,500** to **$20,000** monthly in his first two months\n* Paul agreed to reach out to references before making a decision\n* Paul scheduled a follow-up call for **May 23rd** at **2:30 PM** Central Time","actionItems":[{"id":4514313,"title":"Send meeting notes to Paul","description":"Send the summary notes from this meeting to Paul.","assignee":{"name":"Staš Romih","email":"hello@oneclick.si"},"status":"PENDING"}],"transcript":[{"speaker":"Paul T","text":"Hello, Paul. Hello.","timestamp":48.015},{"speaker":"Staš Romih","text":"Hello, hi, my name is Dash. Welcome to the call. I want to thank you for joining me. Josh couldn't be here today. He is booked and I stepped in. So I'm going to do my very best to help you today and answer any sort of questions you might have and share a little bit more about what we do. But first off, before we dive into all that, I'd like to know a little bit more about you, if that's fine with you.","timestamp":50.688},{"speaker":"Paul T","text":"What do you want to know?","timestamp":77.946},{"speaker":"Staš Romih","text":"First off...","timestamp":79.908},{"speaker":"Paul T","text":"what i want to know is what got you on the call despite looking at doing outbound and your email or just use email happens to hit around the right time and so as we are evaluating other providers services um that would include you so what exactly are you looking for um well ultimately regardless of how we go about doing it we're looking to onboard some new clients","timestamp":80.488},{"speaker":"Staš Romih","text":"So the end goal, more appointments, onboard new clients, that's the main thing?","timestamp":110.34},{"speaker":"Paul T","text":"We have worked really closely in the past with clients and deeply across multiple deliverables, multiple channels and for an extended period of time.","timestamp":116.483},{"speaker":"Staš Romih","text":"So retainer based, usually you go, you get a client...","timestamp":130.431},{"speaker":"Paul T","text":"We could, we've never actually been a retainer. It's been mentioned, they just never came together um so everything was project based or only one client we worked with for nine years across eight or nine different verticals um when they were private when they were public when they made acquisitions when they themselves were acquired it's great while it lasts and it's sustainable in terms of you know five years to almost 10 years um it doesn't work so great when they get acquired and the acquiring company moves the marketing business to another agency and that's what we're looking to fill or replace.","timestamp":134.293},{"speaker":"Staš Romih","text":"So fill in the gaps where referrals and networking leave a gap. So that is your main source of clients is referral?","timestamp":176.903},{"speaker":"Paul T","text":"It has been.","timestamp":192.797},{"speaker":"Staš Romih","text":"It has been so far?","timestamp":194.119},{"speaker":"Paul T","text":"Yeah. It has been. It's either been referral or clients have moved from one company to another and that's been our entry point. So it's not so much referral as we were just invited in.","timestamp":195.24},{"speaker":"Staš Romih","text":"That's lovely. So what you're looking for is basically have a little bit more predictable, have a little bit more predictability in the leads that are coming in, right?","timestamp":206.883},{"speaker":"Paul T","text":"Yeah, two things. One is more predictability. we want more volume of work so we're looking to grow as well but also in going through this exercise rather than work closely with a handful of clients like really closely i'd like to work with slightly smaller clients in multiple industries and more often one for diversity and interest from our perspectives a creative team um but also spread the risk because when one gets acquired if we work too closely with one and they get acquired you know","timestamp":220.067},{"speaker":"Staš Romih","text":"60 70 of revenues and it goes out the door i can't do that yeah yeah that's that's not not ideal right there are better ways around it i mean i'd rather yeah","timestamp":265.559},{"speaker":"Paul T","text":"10 to 20 go out the door and have a bunch more clients that we can see working with or grow with and add more clients to replace the one smaller one we just lost.","timestamp":278.162},{"speaker":"Staš Romih","text":"No, I've seen, I've seen, I've of course took a look at your website, of course, took a look what you do and I've seen that you do do this with heart and you do this. like you said committed to something but sometimes yeah you can't change the way the market goes you can't change the way the client moves or you can't can't decide for them um yeah the last one was the last one was really annoying in that they","timestamp":291.911},{"speaker":"Paul T","text":"had two joint they made an acquisition and brought another company that was a similar size to themselves um so they ended up with two spps of marketing one i was saw the brand other oversaw more product marketing um someone was based in up here in minnesota the other was down in florida um when they got acquired by a an australian-based company that was operating out of the west coast they moved all the marketing to the west coast agency but didn't have any experience with the product or the target market in this space um and the two marketing directors both left. So the only one left with institutional knowledge that took a brand from 0% on a rebrand to 46% in three years and above 50% in the five years when they were acquired. We understood the market, we understood the product, we understood all the outside influences like economics, reimbursement rates from the government, etc. Let's jettison all of that. and put it with an incumbent agency that started over from scratch i do not understand that part you spend three quarters of a billion dollars buying your company and then you lose the knowledge that got you there that","timestamp":317.949},{"speaker":"Staš Romih","text":"that part wasn't mine i don't get that yeah you know when you when you're feeling new shoes you sort of feel like you have to switch everything over then a lot of the times that's like it can be a step in the wrong direction.","timestamp":407.895},{"speaker":"Paul T","text":"So they didn't know much about their competitors or how their competitors operated. They didn't know much about the target market or the fact that the target market doesn't buy new software when there's a government administration change because they are impacted by reimbursement rates. So, you know, great. I'm sure they found out now.","timestamp":423.259},{"speaker":"Staš Romih","text":"Yeah, but how much money does that cost, right?","timestamp":447.336},{"speaker":"Paul T","text":"Exactly. Plus, we had the capacity and we were doing it. Now you've got to bring another agency up to speed. It took us two to three years to really dial in and understand the target market and what motivated them. So now you're setting yourself back two to three years. The marketing is going to change. your current clients or the target market in general has a Let's say a tendency to be resistant to Change in some areas but is prone to change in other areas So depending on who has the loudest voice on the client side and client they can help dictate Which provider gets? chosen selected So there's a lot of movement within the target market. This which they drop off, no longer become a client. Few years later, they'll come back. There's no retention is a problem. But we were never asked. We were never even told we weren't going to be doing the work going forward. It's just ghosted.","timestamp":450.058},{"speaker":"Staš Romih","text":"Yeah.","timestamp":528.301},{"speaker":"Paul T","text":"So anyway, I am looking to replace clients like that.","timestamp":529.041},{"speaker":"Staš Romih","text":"Understandable. and to have something constantly going on, right? So you don't have that sort of experience again. What is your experience so far? What have you done in terms of outreach? So I just want to paint a picture.","timestamp":533.544},{"speaker":"Paul T","text":"I would say we have dabbled at it. We haven't been sustained. We haven't been... I mean, part of that was because we didn't see much success. And part of that may also have been because our volume wasn't high enough initially. We have more. testing it and we come out of a background of creative testing before doing a rollout so naturally for us we want to test it try it out on a smaller scale before going wider um i have something we recommend to clients so we sure as hell better do ourselves um and as far as um targeting that This is part of the reason why I wanted to have the conversation because you, I don't know if you have segments that you're going after and this happens to be the marketing segment.","timestamp":548.407},{"speaker":"Staš Romih","text":"Sorry to interrupt, but we only work with marketing and advertising agencies.","timestamp":606.455},{"speaker":"Paul T","text":"That was part of the interest in having this conversation in terms of how is it working for others. Our pro with clients is that because we are multidisciplinary, and multi-capable with together with our partners were basically a one-stop shop so they don't have a um a room full of cats that are all fighting with each other whereas when you have a multitude of different agencies from different things no one wants to play well with anyone else um yeah no one wants to pick up someone else's creative and execute it um They want more because of what they do listen specialist agency I'll use SEO as an example. So They can't exact for the SEO agency is working with the client They have regular contact every three months six months, whatever it is. They're looking for a renewal of that agreement They want more money for the next time around the quarter whatever it is because that's what they have to offer We don't look at it that way. And we work across all areas. So I'm more interested in what's going to help the client. I don't care whether or not they do SEO. If SEO doesn't work for them, don't do it. Put the money into stuff that does. So that our view is slightly different. But as a result, what I've kind of noticed is when clients are looking for a... help with whatever the problem is. They're looking, it's a fire drill for them. And they're looking for someone who does that. Because we don't just do that. We don't stand out as being just that. So like, yeah, we can do it, help them with SEO. It's long-term play. Now it's moved into AI results instead of search, but we can help them with that. And I'm happy to do so after a conversation with them as to their rationale as to around why they want to do that. Just make sure it fits with what they're doing in their other activities. But one of the things that we don't stand out for is that, one, we don't do a lot of it. We're not an SEO agency, but our SEO partners are. So when they're looking for that research, PR, web design, doing a new website, I was out of date, or let's say digital marketing, they're looking to solve a problem. We can do all of that and much more. And that's where I think it breaks down because they get confused in terms of, well, you do a lot of stuff. What do you do best? Well, all of them, because at the end of the day, we're driving market growth and company value. We're generating sales, increasing your revenue, increasing your brand value.","timestamp":612.456},{"speaker":"Staš Romih","text":"With the channel that is appropriate for...","timestamp":825.983},{"speaker":"Paul T","text":"With whatever works best for them. But the thing about it is we're also very easily able to take creative from one area. and reapply it, adapt it, leverage it, whatever else, repurpose it for another tactic as part of the same campaign. We're not going to push back and say, oh, we don't think that's going to work. Here are some of our own ideas. And then you end up with multiple campaign approaches for what is the same objective. That makes no sense to me, but that seems to be what clients are looking for. a solution to solve a problem today and they're not thinking bigger picture or long term particularly interested in project work i want long-term client relationships so the entire target","timestamp":828.104},{"speaker":"Staš Romih","text":"audience is a little bit different not your average yeah i thought red i need seo let's say seo for example is use it and you go find an seo agency and you deal with it you're actually looking for more for individual not individuals but companies that want a partner for their marketing, right? So somebody that handles all aspects of it, understands their company, knows what will work for them, knows that they're a brand that would benefit from social or for LinkedIn. So to really double in and become a partner, because I know most companies, at least the ones that I worked for previously before I started my role here, as I was doing consultant work, I know that they valued partnership a lot more than just you know, one-off project and valued somebody that actually did care about them. It makes a point to point them in the right direction because that's very valuable. And this is something, if you know how to do this yourself, right, even with outreach, if you know how to do it yourself, you can do this for your clients as well, right? So that is something that is very important.","timestamp":882.32},{"speaker":"Paul T","text":"One of the things that bugged me was, we worked with a client. She oversaw the global marketing directors who were basically the marketing director for Vertical. I had another client beforehand. After they got acquired, pretty much everyone in the marketing team left at one point or another. She ended up going to another company, the one that was... bought for 750 million um and she basically invited us and it was part of a pitch there's another agency they were looking at as well but we won the business um the the thing that bugged me about it was as we're walking out one day so we have helped them with brand identity brand launch annual marketing campaigns that run throughout the industry publications, both print and online. I helped them with trade show work, both booth property graphics, messaging, pre, during and post communications for the trade shows, a whole bunch of different things. And then as we're walking out one day, she happens to mention, oh, by the way, I have to let you know, we just hired a digital marketing agency. We can do that. It's our stuff that we're going to be repurposing anyway. But she didn't even ask, as in, like, can you help us with? But she knew everything that we had done from her past job because we'd done it for all the people who reported to her. That same client, on a different occasion walking out, the CEO asked me if I had a few minutes to talk to him. an hour later i leave his office i have a full rundown of their roadmap the product changes their goals for the next three years everything i've never had a ceo invite me in to be a part of a partner in that relationship in that way it's always been oh you're a vendor not a partner and we've never seen ourselves as mentors this has been partnership","timestamp":959.915},{"speaker":"Staš Romih","text":"That's good. You're differentiating from the market. You're not positioned as, like you said, you are a general agency, but you're not an agency partner. So you have that differentiation. Because this is something that we do. We work with you to make sure your outreach works for you. So that you are targeting people at the right time, which is very important. and also targeting the right people. So that is the difference between if outreach works and if doesn't. Like yes you can go volume negates luck. Luck is like a term for here just go and send. It doesn't work. That won't work and that is usually what most people do because that is the norm. That's what it used to work. What works now is targeting people you know are a fit for you and of course yeah you won't do this manually with AI. Of course, we use AI. Everybody uses AI. And we make sure that your outreach is going at them at the right time and with an offer that resonates with them. So we have to go over the entire thing together. Like you have experience. You've been in this game for a long time. You know how to handle offers. But it's still our job to do that. You know, we still vet everything that you do, everything you're going to be sending out. We are here to vet for you and help you out. to make sure the messaging resonates with the target audience. Does that make sense so far? Okay, so what we do here is once... because we work only with marketing and advertising agencies like currently there's 106 people that are with us and we do mind if i share you my screen i'll show you go ahead and also show you why josh couldn't make the call oh well uh yeah yeah i yeah i figured this is our booking calendar right now because we're using this kind of the same kind of system and currently it's 10 to 15 appointments a day and they just can't handle it. Like I'm in charge of operations here. So I don't even do calls normally. I do, I build this system and I run these systems. That's what we bring you in here. It is, this is our community where all of the members are also present and all of the resources are also present. So how we start is you have a one-on-one call with Josh, where you sit down and you actually go over everything that. we also go over on this call and he helps with structuring how your outreach would start off. So which channel to use, what your target audience is, where there are positions, like if it's going to be LinkedIn, it's going to be just email usually, it's both. We want to decide, we need your input here, so we want to decide together where to focus on, right? So we're going to start very focused and then we go over. the foundations together. So we take a look at how your offer is structured. We find which offer would resonate best with which target audience. And then we show you exactly how to build an AI system. So we do use a lot of AI to make sure the personalization is automated, so you don't have to do it yourself and the prospecting is automated. What we do here is we teach you how to run this system yourself so that no matter how or what niche you go into, what area you go, or if you want to start a whole new business, you have this knowledge and you can use it. And in your case, you can also use this same sort of system to help your clients out with outreach and it will make a ton of difference because out of all these 105 members, we never had anyone leave because the way we we want to structure this is we're doing this with you. and you have Q&A calls with us every single week and also one-on-one calls to make sure you're doing it in the right direction. And from the start we also give you support on terms of how to structure it, how to do things and how to even approach outreach because it can be scary for a lot of people. It can be scary to start with outreach if they haven't had any experience with it before.","timestamp":1105.323},{"speaker":"Paul T","text":"Can you go over how you use AI?","timestamp":1374.846},{"speaker":"Staš Romih","text":"Sure. So the first step is we have to identify who you're targeting. Can you give me like, as a spending to a five year old, who you would like to target?","timestamp":1377.987},{"speaker":"Paul T","text":"Head of marketing at a SaaS company with between three and 600 employees.","timestamp":1392.472},{"speaker":"Staš Romih","text":"All right, we have our targeting audience and the country United States or you go worldwide.","timestamp":1400.118},{"speaker":"Paul T","text":"Oh, US.","timestamp":1405.86},{"speaker":"Staš Romih","text":"Europe?","timestamp":1407.74},{"speaker":"Paul T","text":"US.","timestamp":1409.02},{"speaker":"Staš Romih","text":"Oh, US. Sorry, I didn't catch it. Okay, perfect. We have our target audience. We're going to go and find the lead list. So we're going to build a lead list, right? So we use either follow or if it's instantly, we have to determine where we're going to find the most amount of leads for Usually that's how outreach goes, right? You find a lead list, you write in a copy, and then you start sending out emails with something that you wrote or a copywriter wrote, it doesn't matter. But what we have to do is we use a tool called Clay. I don't know if you've heard it. It's very popular in this outreach market. And we do a pre-qualification run. So we determine with filters and AI if the industry is really a fit because you Sometimes when you do scrape leads, you get people in there that are not a fit for you. So that first step is very important. We have to pre-qualify if the lead is actually a fit, right?","timestamp":1410.101},{"speaker":"Paul T","text":"Yeah.","timestamp":1470.273},{"speaker":"Staš Romih","text":"So that who we'll be sending to is actually a part of that target audience. So target a part of your ICP. So that's the first step, right? And then we use different methods. So one is... We find either case studies on their website. We find their recommendations. We find their latest profile, latest posts, something that would resonate with your offer. Or we find their... Yes, sometimes even jobs, hiring positions, depending on what you need. But normally we find a source of approach. So I believe in your case, it was your case studies, right? Can you remember the email that we sent you?","timestamp":1471.033},{"speaker":"Paul T","text":"No, hold on.","timestamp":1523.242},{"speaker":"Staš Romih","text":"I'll open it here. Just give me a second. I have it open. Oh,","timestamp":1524.502},{"speaker":"Paul T","text":"you do?","timestamp":1527.746},{"speaker":"Staš Romih","text":"Yes. Just give me one second.","timestamp":1529.187},{"speaker":"Paul T","text":"Just as I saw you help growing market share revenue and Lifeline customers get impressive revenue results, impressive, which I thought was all used impressive twice. We try not to do that. If I could connect you with two to three companies looking for marketing per week, would you be interested in opening a short conversation? I think that's the first one I got.","timestamp":1534.469},{"speaker":"Staš Romih","text":"Yeah. And then we go over with how many people we have helped with. And the usual with outreach, we have to show you that you can trust that we can do this. That is also the point of this call. I'm here to ask questions. I'm here to show you what we have done for other people as well. Not for other people, other marketing and agency owners. And once we have that point of contact, then we can use AI to craft a personalized message. Yes? 95% of the time it will get it right. There are percentages where it gets it wrong. But during the sequences, during testing, you remove everything that is. And in a while, you have a perfectly running system. So, you know, like you said, with testing, you test creatives, you test everything. The same goes here. We also test. We see, we iterate. That's what we're here for, right? review your offer, we review your copy and we make sure that you're doing the right thing so you can get to a point like where JKD Agency is right now. We're booking 15 appointments a day. I'm not doing this to show off but I'm doing it because we know the system works because we've been using it for so long and so many other members of our group are. I'll share my screen again for you just for a little while.","timestamp":1556.928},{"speaker":"Paul T","text":"So I assume that the structure is after scripts after the ai scripts the website looking for a point of entry whatever that is um yeah website ai the references that yeah generating content and moves into an intro and then offer yes","timestamp":1642.302},{"speaker":"Staš Romih","text":"and we we keep just the personalization line is what is handled with the ai the rest of the copy is handled by you because you know your target audience right you have you write the message and we or primarily it's Josh who will vet your offer with you. So give you feedback on what would change, what would resonate, what is working right now so that you are constantly updated on because outreach changes. It changes from day to day, but from month to month, from quarter to quarter, you have to make little adjustments. That's why we wanted to have this group here with now 105 agency owners who can help each other out as well. It's more of a community sense. as well as us being present all the time to handle the two weekly calls that you have and also the one-on-one calls to make sure that everything is going smoothly. These are some of the marketing issues.","timestamp":1660.697},{"speaker":"Paul T","text":"With all due respect, I don't need to see the results. I know how that works. We can bypass that.","timestamp":1720.101},{"speaker":"Staš Romih","text":"We can skip the small talk, right?","timestamp":1726.583},{"speaker":"Paul T","text":"Yeah. From a current client base standpoint, are you working with any agencies that are even remotely like ours in that they're not a single solution?","timestamp":1730.344},{"speaker":"Staš Romih","text":"Yeah.","timestamp":1745.198},{"speaker":"Paul T","text":"And the size of the agency?","timestamp":1747.359},{"speaker":"Staš Romih","text":"We have agencies from 1 to 50 employees. We have in that range. And I think it's right now, it's like over 40 different. Josh will know more about this. uh how exactly but only toward 40 different offer types industry types like","timestamp":1750.482},{"speaker":"Paul T","text":"40 different industries that are working in currently and that raises the point i've struggled with over the months yeah not years in terms of an offer um because we don't well actually prevent it because we don't really know what their pain point is what they're looking to solve today given the clients tend to be reactive as we've already discussed so they're looking for you know I mean, I'll go back to the client I worked with as a private company that ended up being public. We worked with them for a total of about nine years. over between eight and ten different verticals. We can have four or five core verticals that we worked with, industries that they would market into. And then, you know, throughout the year others would throw in as well and say, hey, can you help us out with? So we ended up working with about eight to ten different verticals. But that nine-year relationship started with one project and that one project was to bail them out of a project. a problem. I don't know what the deal was with their prior agency, but they had started with, um, they'd planned out a campaign of three to four marketing campaign of drops as they refer to it. Um, the first two had been done. I don't even remember seeing what the first two were. And then something happened with them and the agency, and we were asked to come in and can we help them with a third so there were somewhat panicking they needed to drop the third it had a scheduled date they didn't have anyone who could do it can we help them out so it's the same kind of scenario as everyone else seems to operate under um so since we don't have a a core single service offering um i've always struggled with how to actually get in with a client when we do that. And the other part is, as a result, how do you structure an offer when you don't know what their need is?","timestamp":1769.216},{"speaker":"Staš Romih","text":"Okay, but you have worked with them nine years, right?","timestamp":1898.678},{"speaker":"Paul T","text":"I've worked with them, yeah. I'm talking about new clients.","timestamp":1902.659},{"speaker":"Staš Romih","text":"Yeah, yeah. But from their experience, you have probably seen countless problems that you can solve, right? Countless problems they encounter. You saved them from one particular big problem, right? which was yeah they had to solve it like you know that is very particular that doesn't just drop out of the sky every every tuesday right that is very particular but you solved a very big problem with them and you built trust for them so they kept coming back to you for nine years right and you have been in this how long have you been in the game right how long have you been an agency owner been working for yourself it is a lot of right yeah that's 23 years of experience.","timestamp":1905.24},{"speaker":"Paul T","text":"Yeah, plus 10 years of international experience with large agency networks beforehand.","timestamp":1952.642},{"speaker":"Staš Romih","text":"Now, yes, it is difficult to identify a single point where to go, right? It is difficult, but that is part of the reason why we're here, right? Because you have, and all the other agency owners that are coming in, because normally, yeah, A beginner won't come in. There's these people that have been working in this. We have a few beginners that have just started out, so they don't really know exactly what the position. But you have 20 years worth of pain points that you can solve. It's just to identify the top three key ones that have been repeating over and over again. And that's what the purpose of the first call with Josh is. He has been doing this for... I think it's 171 people that he has done it for and 105 since we have launched the program in this capacity where we keep everybody in the same community so that we can share. And if you don't have or if you don't like what, yeah, for some reason, if you don't like what Josh would say, there's 105 agency owners who are working towards the same goal, not in the same niche, right? So not competitors, but towards the same goal. having predictable appointments and running out an outreach system and who have all gone through the same process of figuring out what their offer is. That is what the beauty of it is, what for me is the beauty of it, because it is invaluable experience that can be shared.","timestamp":1958.987},{"speaker":"Paul T","text":"How competitive does it get? I mean, at some point we are competing for the same client.","timestamp":2050.219},{"speaker":"Staš Romih","text":"There may be. Like somebody who has the same offer. Sure, with 105 people that can happen, but the US market, how big is it? There's enough pie for everyone.","timestamp":2060.107},{"speaker":"Paul T","text":"You asked earlier on, from a target market standpoint, whether that was US only or European or elsewhere. Are all the clients US based?","timestamp":2075.106},{"speaker":"Staš Romih","text":"No, we have one very successful one. His name is Frick van der... I don't want to pronounce it because I'll do it wrong. And I'll just...","timestamp":2088.288},{"speaker":"Paul T","text":"I'm","timestamp":2096.195},{"speaker":"Staš Romih","text":"Dutch. Yes, he's Dutch. And we have a Belgian... predominantly like josh is canadian and we have uh spanish carlos who is um the head of sales he's from catalonia um but he's now he's now living in miami because he has transitioned to well he achieved what he wanted to achieve we have a lot of uk based uh clients but predominantly like we are getting europeans right now more like we used to have just a few but now we have decided you effectively approach Europe as well because we've seen that there is potential to help people with outreach even in Europe, more so maybe in some extent because it's not such a widely used market. It's not so known, I would like to say.","timestamp":2096.936},{"speaker":"Paul T","text":"Okay. I assume that if you're in Europe, they're looking to stay in Europe. I mean, they're looking for clients that are in Europe, either in the country or in the EU.","timestamp":2151.778},{"speaker":"Staš Romih","text":"Preek, for example, works with European clients. His offer is, I think, it's a little over 2,500 euro, which is in dollars probably 280. I'm not sure about the conversion, but he helps e-commerce brands with their backend and advertising. And one is Vikash. He's from London, and he helps them with email marketing retention. So he's one of them. already in the clients, which is something that he struggled with. For example, he really struggled with how to get clients to understand that they have this pain, where they don't even pay attention to it because they're so focused on the outer aspect of it. Like, we need to pay for advertising. Whereas they're losing so much money by not engaging with their existing client base. So that was one of the biggest issues he had. And that is why he decided to join in the end. because he wanted to resonate that and he's one of the most active I can show you like he's actually one of the most active people in the community the first one on top here like you see the screen yeah he's right here the most active man in the community I'm here but that's only because I'm in charge of support right so I answer the questions that he's still beating me but he's engaging he is you know he's doing his he's giving it his all And that is the reason why a lot of the times we are asked, can we do this instead of you? But, you know, like you said, with agency, who will do it better? The founder for his own business or somebody externally? That's why we position it this way to give you the knowledge. You know how to do it. You will do it for yourself with the highest commitment. And you have us and 105 other people alongside you. to make sure you're going in the right direction. Whereas everything is already built out for you, so it's plug and play. So it's not like you have to go, yeah, I'm going to spend six months learning something. No, it's plug and play, but you're also going to get a lot of time and knowledge with it as well.","timestamp":2161.796},{"speaker":"Paul T","text":"Can you just... Okay, we were talking about the AI component in terms of how it identifies. As far as execution, I assume this is an email marketing, right? No, actually, look back at... Josh said in a video, and I had to slow it down because the guy talks way too fast.","timestamp":2292.765},{"speaker":"Staš Romih","text":"Yeah, he's fast, man.","timestamp":2308.872},{"speaker":"Paul T","text":"He needs a little less coffee, dude. He indicated, he didn't spell it out specifically, but it was implied that there are multiple different approaches. Yes,","timestamp":2311.134},{"speaker":"Staš Romih","text":"let me show you. We just added one new because we saw there was a demand. So that's what we also like to do. If we see people are asking for something, we will... If we know it already really well, then yes, of course, we'll already do it. If we don't know it, we will start with research on it, test it, and then see it. Currently, our outreach channel that we focus on teaching our members is, yes, email. That is prominent. Most people work with LinkedIn a lot because it is very powerful right now. This one is for Instagram.","timestamp":2324.685},{"speaker":"Paul T","text":"Are you seriously seeing results from LinkedIn?","timestamp":2358.178},{"speaker":"Staš Romih","text":"Yes, of course. We see 20% of our bookings are from connectors, 11%. So connection campaigns, 11% or I think it's like 12% now is from in-mail and quite decent amount is also from content. So from inbound and the rest is from email, which is still a very prominent channel. You just have to do it right. So that's the thing. You can send out. a million emails and you won't get a single reply or you can send out a few thousand and get insane amount of replies. We book for every 200 emails sent, we book and close the client. We book more, but we close the client. That is where you...","timestamp":2362.72},{"speaker":"Paul T","text":"We had anything come in from LinkedIn.","timestamp":2411.511},{"speaker":"Staš Romih","text":"Yeah, well, that's also one part of the... I think it's in the foundation step where... So, look, my profile is not ideal because I use it personally, but I'll show you what I mean. It is also a part of optimizing the profile so that it speaks to... your target audience. So I built automated growth systems for B2B founders to do the boring high ROI stuff you want to do. The image, this is AI image, right? I've never have looked this handsome in my entire life. And we make sure that this is also structured. There's an entire chapter on it, on how to show your target audience that you are basically to pre-sell them. So that's the point. They have to be pre-sold before going on the call. I know that's difficult to achieve, but with the steps, if the offer is right, if the guarantee is right, if sometimes there even isn't a guarantee, but most of the times the agency owners here like to put out guarantees, even we put out guarantees, and to make sure that when they do check out your profile, that it is showing what they do. We're not going to ask you to go now. to spend thousands of dollars on a content plan or a copywriter. Just a few tweaks, a few tips of what we've seen has worked and what we've seen from members that has worked and then we go over the entire thing. But yeah, for now we have email, LinkedIn, Instagram and text messaging because we've seen text messaging work well for local businesses. Instagram has its own separate part that works really well but for B2B it is usually these two that work very, very well. And a combination of both is what gets you over that little unobtainable horizon or over that mountaintop that people usually struggle with. We use both.","timestamp":2414.912},{"speaker":"Paul T","text":"What were the green things? One was like 20% and the other was 33% and all the others had zero?","timestamp":2535.957},{"speaker":"Staš Romih","text":"Yeah, that is how much content has been viewed. Oh,","timestamp":2541.52},{"speaker":"Paul T","text":"okay. Yeah,","timestamp":2546.543},{"speaker":"Staš Romih","text":"so you have like a tracking and... Tell everyone that it's a good idea to go everything because you can understand it, at least the first part. So you understand why we're building the stuff the way that we built it. Because then it's easier to run it, right? Then it's easier to know. And then you can go to steps, right? You don't have to go from start to finish. You say, okay, I want to start with email. I go here. And then Josh will show you the video the exact same way. That video that he sent you, right? That is not something he recorded. He recorded it once and then AI. added your name to it and it was sent automatically. I know that is the kind of thing that makes a difference and pushes clients to, pushes prospects to actually engage in conversation with you. Because it's a big market, it's hard to build trust. You can have a hundred, we have a whole load of case studies, we have people that have vetted us, we have approved us and You still have to make the effort, still have to make sure that you did your research. Even if AI does the research for you, you will do the first step to actually make sure it's doing the right thing and will be there with you.","timestamp":2548.144},{"speaker":"Paul T","text":"I assume you've got to review what the AI generates. so at what point do you say okay I trust it that it will then make these changes for every outreach contact.","timestamp":2631.166},{"speaker":"Staš Romih","text":"Well, I can tell us from our own experience, right? We constantly make new campaigns because we like to test new stuff. And every time we make a new campaign, we also make adjustments with the AI. And that is my job here. I go over what it generated and I see, okay, I didn't like this one. tell the AI to never output this or output it in a different way. And then you chisel it away, you make sure. But we have already chiseled it away to a point where you don't have to spend three to six months testing it because we have been testing this for the last 18 months and we make changes to it constantly. Well, for our own end, we just made a new campaign trying out an entirely different new angle because that's what you do, right? You have to make angles. But yeah, we have evergreen ones that we do constantly. There's a campaign that has been running for nine months now. We just make a few small tweaks. And if we see maybe that somebody slipped in that isn't our target audience, then we can immediately just go in and say, okay, we don't want to target these kinds of people because it's a waste of our time to have them on the call. And it's a waste of their time because we're just sitting on a call for an hour and we can't help them. They don't need our help. They don't need what we have for them. And that's the reason why we've set this up. You talk to people who actually need your help and talk. That is also the important part. You've got to get them on the talk.","timestamp":2647.441},{"speaker":"Paul T","text":"So is this a... You've got that Circleback channel, or the group channel, right? Where people are chiming in, commenting, asking questions. Is this more like a program? Yeah,","timestamp":2751.156},{"speaker":"Staš Romih","text":"we have a community and the program, but it's done with you. That's the term I like to use. It's done with you because we want to give you the knowledge. Because if we do it for you or instead of you, yes, just think, think of you've done work with agency. You know how much it costs if somebody does something instead of you, right? You never, I don't know, man, we, I could toot my own horn and say we'll do the best job in the world if we're doing it for you. But we will probably never do as good a job as you would do it for yourself. You're the founder. You've built this 23 years. We found out that it's. The best way to do it is we build it out so you don't have to. We give you the system, we teach you how to use it, we teach you how to run it. And then after you know how to run it, you can spend instead of spending three months or six months or a year learning about this and building it, you can spend that time after it's already built improving it and seeing results that you would see in two years and three months. That's just in terms of improving it. and we want to have the agency members agency owners centralized because the community is something where ideas are also swapped if somebody has an issue you're not alone right you put it out there you've seen people who have do it like sometimes like my job one part of my job is handling supports a lot of the times i don't even have to give an answer because somebody has already answered it in the community itself like we don't expect everybody to be we're not saying you have to be active you have to answer uh But if you go to the coaching calls, there are two times a week and you have the one-on-one sales calls, calls or coaching calls. Sales calls is handled by Carles, who is our main closer, and coaching calls are handled by Josh. If you don't go to those, just, you know, at least make sure to view the community, see what other people are doing, see what's working, see what's not, see where they're struggling with. Because a lot of the times you identify what your own sort of drawbacks. or your own bottleneck has been by just conversing with somebody from the community. I've seen a lot of partnership and friendships form in there as well. And that is how Josh's vision was that, and it still is, and we're effectively improving it day by day. The text message system was just launched last week. But yeah, we'll see. We'll definitely add more as we go along, depending on...","timestamp":2775.978},{"speaker":"Paul T","text":"What are we looking at from a cost investment standpoint?","timestamp":2937.306},{"speaker":"Staš Romih","text":"Cost? It's a one-time cost of $4,500. Yeah, the one-time cost. I made a mock-up of it.","timestamp":2941.268},{"speaker":"Paul T","text":"But I paused because you said $450. It's like, no way.","timestamp":2958.658},{"speaker":"Staš Romih","text":"Yeah, I'm sorry. Yeah, I'm European. by the way um i'm having difficult with dollars and and the the abbreviations right all right so what would next steps be next steps if you are in i give a call to josh and he takes you on the onboarding call and basically yeah you do need some time reserved so ideally you would say you know we we can do a certain day, if you can do tomorrow, if you can do today, but you both have to have time to actually sit down and make... This was a very productive call, right? This has to be where your whole focus is on the call so we can make... Well, Josh can give you his all, right? And if you are in to join i send you the the payment link we can go through once that goes through we we onboard you on and Josh takes you over and you'll see me in the community as well as Carlos and all the","timestamp":2962.74},{"speaker":"Paul T","text":"Tracy and Giovanni is there anything that I would need to get from a technical standpoint,","timestamp":3037.07},{"speaker":"Staš Romih","text":"I mean you mentioned instantly and Clay do I we use instantly clay and he reach but we can there's steps right you can start with the basics, you can start for free actually, really. And then once you see what you need, and once you see the results coming in, the more you put, not the more money you put in, yes, the tools have a cap for a cause, but the more volume you put in, the more effort, the more results you get back in. So that's the beauty of the system. If you want 10 times more results, you just put 10 times more in and it will provide it for you because you've seen it work time and time again. We're actually having to cap our own because we can't handle the calls. That's why I'm here and I'm in charge of operations, not even my role.","timestamp":3046.595},{"speaker":"Paul T","text":"From a lead selection standpoint, targeting list. Who do you use for that? I mean, you mentioned Apollo.","timestamp":3096.258},{"speaker":"Staš Romih","text":"We still find Apollo to be the very best one to use. And there's various different methods. We use either if it's just a custom scraping or if it's a scraper that is already used like one of the ones we use is export apollo another one is which is slightly more expensive but it has its benefits is scrub and that one gives you the information of the linkedin account is also open or closed and that one can then give you a little bit of um more infrastructure room to use because you're targeting open profiles and it's easier for to send them if you're sending it at a higher volume. So that's the thing.","timestamp":3106.002},{"speaker":"Paul T","text":"That's for LinkedIn.","timestamp":3149.108},{"speaker":"Staš Romih","text":"Yeah, that's for LinkedIn. But for email, we recommend Instantly, but we have worked with Smart Leads and other ones. But Instantly has the best deliverability in the game. From all the ones that we tested, their inbox management and their warm-up management actually makes a ton of difference. And everything, basically the whole system that we have. is plug-and-play so that's what you're getting with us is you get the system and you get the community the coaching calls and also the knowledge on how to do it right because that's the most important thing like struggling for three months on something yeah","timestamp":3151.249},{"speaker":"Paul T","text":"so from a email setup would use it I'm a correct am i correct in assuming that we would use instantly to buy look-alike domains and they're warmed up through instantly?","timestamp":3193.212},{"speaker":"Staš Romih","text":"We usually use GoDaddy, and then we have found a few providers that give email accounts that are very, very good. Josh goes over that in the onboarding call with you, so you also talk about what kind of system would work best for you. And yes, Instantly has their option where you can just buy their own accounts right off the bat. It also... Hmm. actually really cost effective and they're really good. But we normally use GoDaddy and premium mailboxes. It's what they're called. Depending on how much you want to handle on your own. So ideally we have structured this so it can be totally hands off or more hands on, but I assume you will also want to do this for clients later on, right?","timestamp":3208.476},{"speaker":"Paul T","text":"depends we've never been asked um the closest we've gotten to this is can you create a um a campaign a campaign that will be used across email um so we've done multi-touchpoint emails copy if it's html layout imagery that kind of stuff but never actually been asked to do it on behalf of a client Our clients have in the past. It does not say what will happen in the future. Our clients in the past have tended to be SaaS tech clients and they've all been over well between with a few exceptions most of them have been between 400 and 4000 employees so that you know they've got resources in-house. For instance, we worked with a tech company and for the longest time they used Eloqua. I remember when the announcement came out that Oracle was buying Eloqua and Oracle is a direct competitor to our client. So they were scrambling to find a replacement for Eloqua, which they did in like 48 hours. And then they moved it to something else.","timestamp":3264.794},{"speaker":"Staš Romih","text":"You also helped with that?","timestamp":3352.039},{"speaker":"Paul T","text":"No, we weren't involved.","timestamp":3354.859},{"speaker":"Staš Romih","text":"I just had the conversation. Okay, that's good. Yeah, it is a tool stack to have in your arsenal. That's why I see a lot of people, a lot of agencies, they use this for themselves to start growing. And it's also knowledge that they can use. This is something that you can use and something that works. It has worked for us. for so long now and it's been working for all the other members in the group as well um do you white label it uh do we white label it yeah no but you can you know once you learn the system you know it's something that you can rebuild um time and time again it's not something that you can it's not something yeah but it comes down to is it something we want to do Yes, if you want to do for your clients, yes. If it's something that you want to do for yourself, if you want consistent booking and a new predictable source, then that's definitely a yes, at least from our perspective. Sure.","timestamp":3361.684},{"speaker":"Paul T","text":"So unlike... I'm trying to think what it would be. So, just to clarify, this isn't a hands-off, done-for-you service?","timestamp":3436.557},{"speaker":"Staš Romih","text":"No, no, it's not for you, it's done with you. We will teach you how to do it, we have already built it, and then you will be left with knowledge and our support, and as well the community's support. And I believe that's the most important thing, actually, to have ongoing support. Yes, the system is built. Sure, that saves time. We've tested it, we've run it. But I believe the most important thing is you have people that are doing not the same but similar things than you. I find that it helps me to find perspective or if I'm struggling with something, just to find, okay, yeah, I could try that out and I try it. Sure.","timestamp":3453.857},{"speaker":"Paul T","text":"The 4500 you said was one time. How How many people...","timestamp":3499.278},{"speaker":"Staš Romih","text":"how long does it take no you can start with like i know you said not to show you the results but we have like in 21 days people have been signing their first clients i'll just go no so i i mean in terms of the program it's like is it you're in it for six months and then you know everything at the end of six months you're out no it's we it's yearly so you are in it for a year you keep the knowledge for just for the community. You're in it for one year. And then after a year, we can talk if you want to continue being in. But that is something you have a conversation with Josh. Yeah. But you won't need a year to build it. Usually it's like less than a week to get started. And that's including like having this call, having the onboarding call and going through the foundations and then starting on the working.","timestamp":3505.576},{"speaker":"Paul T","text":"Sure. Okay. Is there anything that you need to send me? Summary notes? I know the notes are being taken from this.","timestamp":3563.572},{"speaker":"Staš Romih","text":"Yes, I can also send you the notes. I send you the... So,","timestamp":3576.628},{"speaker":"Paul T","text":"how does this sound to you?","timestamp":3583.473},{"speaker":"Staš Romih","text":"Does this sound something you want to be a part of?","timestamp":3586.935},{"speaker":"Paul T","text":"Yeah, possibly. Yeah. The short answer is yes. Tation is about timing short time.","timestamp":3591.818},{"speaker":"Staš Romih","text":"That's why I'm here.","timestamp":3603.621},{"speaker":"Paul T","text":"Well, I don't have I don't actually have a time in mind Other than I do know there's no time like the present actually the best time to do this would be like three years ago like same thing same thing as planning a tree, so You know, you best time to plant a tree was 20 years ago second best time is today. So I get that I just don't actually have a time frame and I'm waiting on a pin in the ass client who I'm about to fire before we've even done anything. Get back to me.","timestamp":3605.362},{"speaker":"Staš Romih","text":"Understandable.","timestamp":3639.691},{"speaker":"Paul T","text":"They're just not in a hurry to do anything, apparently. In a hurry to talk, but not in a hurry to actually move it forward.","timestamp":3641.071},{"speaker":"Staš Romih","text":"That's quite a big issue with client work. Usually waiting on them to start the process.","timestamp":3648.596},{"speaker":"Paul T","text":"I'm not waiting on them to start the process, but if they say yes, it will accelerate the process.","timestamp":3657.996},{"speaker":"Staš Romih","text":"Understandable. So your concern is time wise, but you want to go ahead and start with appointment setting, right? So you do want to have a predictable system.","timestamp":3666.759},{"speaker":"Paul T","text":"Yep.","timestamp":3680.303},{"speaker":"Staš Romih","text":"Okay. So what's keeping you from going at it now? Is there something else that's on your mind? That's why I'm here. I'm not here to...","timestamp":3681.983},{"speaker":"Paul T","text":"Other than us at the beginning of the call that we're evaluating a couple of other alternatives, one of them is that completely done for you. So we don't actually have to take our time to do it. There's that aspect. I like the idea. I'm very hands-on. I'd like to know how it works before I hand it off to someone else.","timestamp":3688.637},{"speaker":"Staš Romih","text":"Can you have a peek?","timestamp":3709.886},{"speaker":"Paul T","text":"Yeah, well, kind of slow. It's a virtual team. But I'm trying to figure out right now if I have the time to put into this to learn it, or if it's better just to hand it off and have someone else do it.","timestamp":3710.446},{"speaker":"Staš Romih","text":"Yeah, I understand that. But how much does that cost, right? What does the done-for-you cost?","timestamp":3733.712},{"speaker":"Paul T","text":"Well, there's one week...","timestamp":3739.176},{"speaker":"Staš Romih","text":"That's not the...","timestamp":3742.659},{"speaker":"Paul T","text":"across that it looks like it's um three four hundred a month monthly no no long-term contract so if i was to run that for three months just either to test it or to um generate some revenue from it some you know as just cold outreach if it generates leads um and takes us out of the equation from a time commitment standpoint um that would be a good kickstart to them transitioning into something like this but i don't want to be doing three four five hundred dollars a month or more indefinitely i'm not looking at doing that i would like to be able to control this and that's why this is kind of appealing um but from a short term just to kickstart things it might make more sense to do that in the interim and then Circleback to this","timestamp":3744.82},{"speaker":"Staš Romih","text":"What if the results aren't what you want?","timestamp":3805.868},{"speaker":"Paul T","text":"Well, then I'll be two or three months behind, but I'll know by about six weeks in.","timestamp":3808.089},{"speaker":"Staš Romih","text":"That is true. That is true.","timestamp":3813.572},{"speaker":"Paul T","text":"Since it's not a long-term contract, I'm not locked in.","timestamp":3814.933},{"speaker":"Staš Romih","text":"That is also true. But for how much? $300, right? $350?","timestamp":3819.115},{"speaker":"Paul T","text":"Yeah. It's all AI-based.","timestamp":3826.48},{"speaker":"Staš Romih","text":"Okay. And what do they do? Do they...","timestamp":3828.94},{"speaker":"Paul T","text":"It's cold outreach email.","timestamp":3832.562},{"speaker":"Staš Romih","text":"Cold email. Less.","timestamp":3834.804},{"speaker":"Paul T","text":"your list email generation same bits a lot of the same stuff um on that front end and then it's the you know how do we manage it on the once those leads or inquiries start coming back what i do interesting about it is it'll be an interesting test um because it does something similar in that it finds a point of entry on that recipient um it would be interesting to see whether or not that's for us if it works for us if that is um if it helps us find a an entrance into that you know a conversation without knowing what it is i'm looking for specifically i mean we can highlight something that someone's got on their post. on their website, maybe they're looking for a filler vacancy, whatever it is. If the AI then stretches the intro to that and starts the conversation, then that's proof to us that this is a viable approach. And there are AI, your AI, probably very, very similar.","timestamp":3836},{"speaker":"Staš Romih","text":"Well, yeah, you do have...","timestamp":3922.146},{"speaker":"Paul T","text":"It'll make the transition easier because one will already have a sense as to... what works for us in terms of does this approach work? And that'll be really easy to say, yeah, let's stop that. We know it works. We've got some learning already. We can accelerate this. Let's move over to, I've forgotten your name, company name. Let's move over to this, take it in-house, learn it, manage it, and go from there.","timestamp":3922.907},{"speaker":"Staš Romih","text":"Yeah. And you do have to, with the outreach, you do have to work on the offer, right?","timestamp":3956.715},{"speaker":"Paul T","text":"Oh, yeah.","timestamp":3962.473},{"speaker":"Staš Romih","text":"It's something you're going to have to do because that is what makes the difference, is the offer, right? The structuring, because AI does what you would normally have to do manually. So that's how you replace it. People put on a big emphasis of AI. Yeah, it only does the job that you would normally have to do manually. Yeah. quick, it doesn't efficient, you don't need an entire team. But you don't have to replace everything with it, right? You don't, you still has to be your messaging, right? It still has to be your copy, or just it has to be your brand. Otherwise, you're risking everything, your name, everything that you've built, right? So that is why we have it structured this way, is you are in control, because you know what will happen, you have been a part of this process.","timestamp":3963.573},{"speaker":"Paul T","text":"you know exactly what's going on right and um i don't disagree with that you're right it's i'm just not sure which is the right way to go yet and i i mean i i might help would we would it help if we give you our guarantee like what currency of what yeah if you You don't get.","timestamp":4014.827},{"speaker":"Staš Romih","text":"results you don't pay, right? That's what we promised in the email. And we stick by to that. If you don't get the results after running our system, you get it back. And we haven't had a refund, never.","timestamp":4044.963},{"speaker":"Paul T","text":"Yeah, I would imagine. I was expecting that to follow up because my question is going to be, Ant, have you ever done a refund? No, we haven't.","timestamp":4061.21},{"speaker":"Staš Romih","text":"Yes, you do have to put in some work. That is true. But you also have Josh, me, Cutlass, Giovanni, Tracy walking you. No, we're not going to hold your hand and do this instead of you. But we're going to hold your hand and do it with you. So that's the difference.","timestamp":4074.371},{"speaker":"Paul T","text":"How long, how many hours do you anticipate or are you seeing being put into this?","timestamp":4095.963},{"speaker":"Staš Romih","text":"I would definitely say that the first hour is really crucial with Josh. That's really important, right? That is the first. Then going over the agency foundations and the offer building. Now, let me just go over here. I'm going to tell you exactly how long. That's two to three hours that you have to put in in order to not... and nail down your offer. And then once you have that, you send that to Josh, you overview it. If you need be, you take on a call and you go over what you have written, what your idea of an offer is, right? So how you your services. And once we vet that, then we can start on actually running the system and then it can be built in less than a day. like it takes me to build an entire new one and okay yeah i might have done a lot of these um but i've never done it you know i never needed two or three days to do it i've been done it in a work day and i've done other stuff as well like i i do it in this in a work day so two three hours two three hours of meetings oh no this is the meeting is just for the first one to get to know you to get to know you, Josh gets to see your vision a bit more. I'm here to answer your questions. I'm here to make sure that... we are actually a fit for you and Josh is there to make sure that you are a fit for your ICP, so your target audience. So that meeting is the first one that is like, is that one is obligational. You do have to go through that one. And then coaching calls, those are optional. They are two a week. You do not have to go to them, but we recommend everyone going because you learn a lot by and it's life, you know, so it's not like we have a list of questions that you have answered. It's live, you can ask questions. Yeah, there's a little order that has to go in because there's a lot of people on, but you get direct feedback to what you're doing and the more effort you put in the offer itself, like to learn how to do it, you've learned it for the last 23 years, but to get maybe a new outlook on it, that's let's say three hours you have to go over that you you will know what to do and then you go on and start with josh if the offer is a fit we read it and when we send you the feedback we can talk on the feedback as well and then you start running the system but this is the important step like this is the important step like the offer and the conversation because then we know every single step that we'll be doing later on actually will prove beneficial. The more effort we put in here, the better it's going to be. This is the step you're going to have to do regardless of which option you choose. Because if you don't do that, the outreach mission is the mark, right?","timestamp":4105.635},{"speaker":"Paul T","text":"Yeah. From a business target market approach we don't do things for a couple of grand that's not our market at all um i don't do facebook ads shit like that um we do digital campaigns across multiple platforms for a lot of bb companies um a typical client even one who doesn't do marketing is kind of hit and miss will probably be spending 50 grand a year if not more. We spoke with a division of Samsung. We got as far as getting an NDA and they never followed up with an RFP, so I don't know what happened internally. But they were looking for a new agency for North America. That division supported by about 200, 250 people. but the marketing team that was three to four people um they had a one to five million dollar budget i don't know how much but that's what they stipulated somewhere between one and five okay so we don't do small stuff i'm not looking at working for it like a dentist or a builder or you know that kind of stuff um so from a plant base How many of the 117 or whatever it is, agencies go for that six figure plus revenue? Not budget spend, revenue.","timestamp":4296.009},{"speaker":"Staš Romih","text":"We tell everybody go to the high ticket, like go high ticket. Even with the offer, go high ticket. Like even Vikash, the one I was telling you, he only targets e-commerce brands that do 300K a month. that is that is his target audience right and the same with uh freak i i won't pronounce his last name i i will not do it i'm gonna make you what's his last name i will check like i know i have to check this i think freak freak freak is his the the bracer the bra the bracer is It's the bracer, the brasser point. I don't know. Something like that. Dutch. He is Dutch. But yeah, they both target e-commerce brand with high ticket. Freak does it for a two and a half grand retainer and Vikash does it between five is his main one. And then he has a smaller one for companies that are doing above 150K, but below 300K a month. He does that for two and a half thousand a month. And those are the two that come to mind to do e-commerce. I know we were talking about them before.","timestamp":4412.646},{"speaker":"Paul T","text":"I guess our minimum client would be spending half a million to a million dollars plus as their marketing budget.","timestamp":4490.4},{"speaker":"Staš Romih","text":"ideally more obviously and then your your your is 50k yearly is approximately your um not retainer you said you don't do retainers but you're we have them but we could yeah","timestamp":4499.681},{"speaker":"Paul T","text":"i mean i've been had the samsung thing come up i think we'd be looking at depending on what it was they were looking for somewhere between 25 and 50 a month as a retainer Plus media spend and whatever else I cost above that.","timestamp":4515.353},{"speaker":"Staš Romih","text":"And look, you already have like a client base. You already have case studies. Like your job with outreach is that much easier because you already have social proof. You've done it. You've done it for 23 years. That shows people see that people know what experience is. Right. So that is different from somebody that just goes in and. starts out from scratch. That's why we don't have many members. We have two right now that are starting out, but they have big visions, they have a plan, and yes, they're also part of our community. But most of these are experienced business owners who have been doing this for a long time. They just didn't have a system set up in place for them where it will give them sustainability and predictability. And they didn't want to worry about... Yeah, worry. It's worry. It is stress. Where the next one is going to come from. because you have some sort of predictability. Even if you don't close every single one, at least you know the meetings are coming in. And that is why it's called the OSS, the Optimal Appointment Setting System, because we know it can book appointments. You've seen our calendar, it's overflowing. And that is the same system we use and the same system that we give you.","timestamp":4536.112},{"speaker":"Paul T","text":"Yeah, speaking of which, I know we've gone over.","timestamp":4611.311},{"speaker":"Staš Romih","text":"Let me ask you, I know we're going over, what would make this a yes for you?","timestamp":4617.737},{"speaker":"Paul T","text":"I actually don't know. I don't have an answer for that. I didn't come in looking for more information. I didn't come in looking to sign up, so I don't actually have an answer for that.","timestamp":4624.383},{"speaker":"Staš Romih","text":"What would make it a no, then, if that's an easier answer?","timestamp":4637.076},{"speaker":"Paul T","text":"What would make it a no?","timestamp":4640.479},{"speaker":"Staš Romih","text":"Yeah.","timestamp":4642.261},{"speaker":"Paul T","text":"i mean i'm on the fence um it's it's not a no um i just need i just need to spend a little time with it and evaluate it um","timestamp":4645.741},{"speaker":"Staš Romih","text":"so anymore i don't know anything else to send over but um i think i give you a 300 deposit that you will then have credited towards your course, so your plan, right? And you have another call when you think it over. You can have a call with me or you can have a call with Josh. How does that sound with you? If you need time, if you need time to think about that, I'd understand. But my job here is to get to know... what is keeping you from pursuing what you want to pursue, right? To get you to see, like, that's why I'm here. Like, I'm here to tell you everything there is about the program, right?","timestamp":4662.853},{"speaker":"Paul T","text":"Right.","timestamp":4727.541},{"speaker":"Staš Romih","text":"On the call now, and I have time. you know i don't mind if you you you know you have to think about it but if this is something that you want to do and you know you should do it then my question is why wait and that's yeah i know that's a tough question but yeah it is something that it is a good question to ask why um do you think it will make a difference in one week after you start seeing avoidments or if you don't if you keep on the current track like what do you think oh i'm i'm yeah i'm not staying on my current track um that's","timestamp":4728.603},{"speaker":"Paul T","text":"why we're one what's why i reached out and said yeah let's have this meeting and see why we've already been speaking with a couple of other done for you places um because The current track hasn't worked. I know something needs to change.","timestamp":4784.293},{"speaker":"Staš Romih","text":"And that's hard, right? Yeah,","timestamp":4804.437},{"speaker":"Paul T","text":"it is. And I understand. Part of my hesitation is that I've done a program in the past. It wasn't quite like this, but it was similar.","timestamp":4811.859},{"speaker":"Staš Romih","text":"It's a course, right?","timestamp":4822.862},{"speaker":"Paul T","text":"I would say it was, on reflection, probably a waste of time. largely a waste of time i don't think anything came out of it it took time and it cost money it's a course right reluctant and hesitant to do that you're going to a course and you're left on your own right yeah that's usually the case i know i know that's usually i've","timestamp":4824.302},{"speaker":"Staš Romih","text":"i know i know how this is i know how it looks and i know also know that josh isn't some guru that promises uh some marketing results it's Not a course, it's a system that is built for you that also has a community that you can rely on and also has us on it because we know that that's important. We know that step is important. Like you said yourself, you know partnerships are important. We won't say we're your partner, but we are here alongside with you. And no, you're not left on your own. You're not left in a course because you get the system built.","timestamp":4846.745},{"speaker":"Paul T","text":"right you get it you it's already built you just plug it in what um i don't know if you can answer this and i'm not sure how relevant it actually is yes of course that's why i'm here but what drove josh is the founder right is this company yes josh is the founder what drove just to select marketing agencies, ad agencies as the target for this? What's his background? What's his credibility?","timestamp":4889.24},{"speaker":"Staš Romih","text":"So he started, he was in computer science in college and on the way to be a pro volleyball player. And he started out working as a marketing agency. So he was doing, what's the appropriate term in English? I'm sorry, SMMA and social media management. And he then dabbled into using high level. I don't know if you're familiar with the CRM tool, high level. And wanted to work as an agency owner first. And then he had his first real break when he started to... when he had a shift in focus when he saw that he needs to structure his offer in a certain way he needs to approach certain people in a certain way and that's how these the system slowly started building not actually being built but actually started being built in his head and after he had his first success then actually had the first few clients and actually seen that this can be done and she was starting to book appointments that's where He said, OK, if I can do this, I can build the same system and do it for other people as well. And that's where this part of the company started from, because he knew how to do it. He went through that process. He failed countless times. Of course, like everybody fails. It's part of life. And it's from his experience. And the last 18 months have been perfecting this into the system it is now. And the first few clients were not in the community, not in the course. They were just, you know, a system. And then calls like this, going back and forth, seeing what we've seen that is so much more effective, actually putting everybody in the same boat. And then we're all growing together and you have us there, you have the other people there. And it's much more effective for the... individual in the group because you're no longer in the individual you're a part of 150 105 people who are doing the same thing right that's how the entire that's how where we are right now claiming to be um part of his like um like he started yeah probably the same reason why every single one of us has started his own agency like i have my own smaller agency that i run and how i got connected to josh with is he helped me out with my own systems and you know I still do it but I like working with him. and will continue to do so because I do believe him and I do believe in his vision.","timestamp":4929.49},{"speaker":"Paul T","text":"Are there any references I can talk to in terms of someone who's gone through it last three months? Say, hey, what's your take? How's it worked for you?","timestamp":5108.442},{"speaker":"Staš Romih","text":"I will show you. I will send you. You're active on LinkedIn or not? oh yeah it's the only one i use right oh there we go this will probably be better i don't know why i had such a weird link with something that is next to it uh i will send this here to you on chat and you can reach out to him right now okay oh no the chat is Here I brought the wrong button He was one of the first people to join and he is running a very very successful agency and To tell you the results of his work shit is in Berlin. Yeah, and Sabir is booking 60 extra appointments in his first 52 days. I'll also send you our results tab here. Sabir is here. I said Sabir because I know people have reached out to him and he is a big member, he's a big part of the community, he has been very active in it. okay and if he does not reply then there's also donovan he's very prominent now donovan he went from making a hundred and one thousand five hundred monthly to now making over twenty thousand in his first two months just because he restructured his offer and he started outreach in an effective way, actually making sure he is targeting people. And basically, Sabir and Sebastian, the one that I'm sending you. Oh, no, is this Sebastian? Yes, it is. Sabir Berlin, freak from the Netherlands.","timestamp":5120.369},{"speaker":"Paul T","text":"I'm going to tell him you don't know how to pronounce his name.","timestamp":5277.906},{"speaker":"Staš Romih","text":"Donovan, he's US-based. Yeah, Carolina. Carlos actually is our head sales now, and he used to run his own content agency, and he is with us now. He's been the longest. Now I've sent you the...","timestamp":5282.767},{"speaker":"Paul T","text":"few guys and the results i got donovan's and when did you send there's one after donovan or not um yeah there's i didn't send him a freak i","timestamp":5307.154},{"speaker":"Staš Romih","text":"don't see it yeah yeah my bad i closed it didn't send it accidentally because I sent you the results tab instead. He's from Oorschot, North Brabant, Netherlands. I don't know how to properly pronounce it, so sorry, Frick. But he's a really good guy who's really making an effort.","timestamp":5324.624},{"speaker":"Paul T","text":"Frick de Bresse. Yeah. I know the practice, but it's easy.","timestamp":5350.483},{"speaker":"Staš Romih","text":"De Bresse. De Bresse, yeah. A very better way to pronounce it than me. and Caleb here and Caleb is from Canada also send you him there we go okay awesome I'll reach out to them whoever","timestamp":5355.868},{"speaker":"Paul T","text":"responds first gets the golden cookie these guys are really good like this","timestamp":5384.334},{"speaker":"Staš Romih","text":"I see them active and yeah.","timestamp":5395.47},{"speaker":"Paul T","text":"it's easier to get first-hand information right yeah see how it works all right well let's do that let me reach out to them and then once i'll give you a day or two and i'll get back to you by monday oh yeah i guess that was a question um is that rolling intake or do you like do it beginning of each month","timestamp":5401.392},{"speaker":"Staš Romih","text":"Sorry, I didn't catch this question.","timestamp":5428.768},{"speaker":"Paul T","text":"Is it rolling intake or is it beginning of each month?","timestamp":5431.73},{"speaker":"Staš Romih","text":"No, we take on as we go. We take on as we go. Ideally, we want to start you as soon as you can because it does make a difference to get through the onboarding and stuff. Thank you for saying it. But you'll see. You'll see what Sabir and Frick, Caleb, Donovan can tell you. They have been, I don't know if the longest, but they are members that came to mind and would send to you.","timestamp":5435.713},{"speaker":"Paul T","text":"Alright, I'll do that. Alright, cool. Let me reach out to them and I'll cycle back.","timestamp":5485.339},{"speaker":"Staš Romih","text":"Alright, I will. Do you want to schedule a call tomorrow? You have time.","timestamp":5498.996},{"speaker":"Paul T","text":"Do you think I'll hear back from them? One's overnight in Europe, two of them are in Berlin and Holland.","timestamp":5507.898999999999},{"speaker":"Staš Romih","text":"Yeah, it's eight o'clock right now. I'm close to Berlin.","timestamp":5517.503},{"speaker":"Paul T","text":"Where are you?","timestamp":5524.718},{"speaker":"Staš Romih","text":"I'm in Slovenia.","timestamp":5526.379},{"speaker":"Paul T","text":"That's it.","timestamp":5530.522},{"speaker":"Staš Romih","text":"Look, if you are serious about making this step, I know you have to make sure. I do understand that. That's why we have the guarantee. That's why we have people like these. I think I sent you four guys, maybe five. You can talk to, you can reach out to, you can vet, see how it goes, see what's what. And that is the point of it, right? And we are here to make a difference for you.","timestamp":5539.588},{"speaker":"Paul T","text":"We can meet tomorrow, but my morning is booked. It would have to be afternoon my time.","timestamp":5575.304},{"speaker":"Staš Romih","text":"All right. When is a good time for you in the... Are you in the Eastern time zone?","timestamp":5580.42},{"speaker":"Paul T","text":"Central.","timestamp":5586.963},{"speaker":"Staš Romih","text":"Central time zone, my bad.","timestamp":5588.224},{"speaker":"Paul T","text":"It's 1.30 right now.","timestamp":5589.964},{"speaker":"Staš Romih","text":"All right. When is a good time for you in your time zone?","timestamp":5592.385},{"speaker":"Paul T","text":"You're what? Eight hours ahead? Seven hours ahead?","timestamp":5603.49},{"speaker":"Staš Romih","text":"i'm seven hours ahead it's eight o'clock with me right now but don't worry about it seven and a half hours ahead yeah no six and a half hours ahead oh yeah so no it's 8 30 my bad it's 8 30.","timestamp":5607.952},{"speaker":"Paul T","text":"oh seven hours um yeah well if you want to meet at 9 30 i can do 2 30.","timestamp":5620.121},{"speaker":"Staš Romih","text":"say uh 9 30 p.m right 9 p.m central time all right your time so 2 30 my time how to 30 your time yes of course i can do that okay um you know what i will book you in right now and we can see there we go um just one second i'm just gonna name this so this is with me all right the time zone is to the term america phoenix tijuana arizona chicago chicago america chicago okay gmt i never figured these gmt time stops okay slow six hours behind gmc Okay, you know what? I'll do it here because I have it blocked out on my calendar in my CRM. So I'm just going to book you in right here.","timestamp":5625.806},{"speaker":"Paul T","text":"That's what you do all the time.","timestamp":5708.41},{"speaker":"Staš Romih","text":"We're going to... There we go. All right, Paul. And we start 9 p.m. my time. let me just get your email address here so i don't book okay all right do you have any questions for me regarding us or is it you just have to be sure you're making the right choice that is what i'm seeing right yes And you want to check with the guys so that you are sure. Because you have been burned in the past. I understand that. I do understand that. Okay. Did you get a confirmation?","timestamp":5710.791},{"speaker":"Paul T","text":"Not yet. All right.","timestamp":5793.528},{"speaker":"Staš Romih","text":"You should be getting it done. It's going to be from... And there we go. All right. Now, I'm still going to ask you to take a deposit with me if that is something you're willing to do. It is a commitment from your end and from my end so that we can go forward on tomorrow's call. And if you do not agree, you get the deposit back.","timestamp":5796.030000000001},{"speaker":"Paul T","text":"No, not until I've heard back from one of these guys.","timestamp":5831.327},{"speaker":"Staš Romih","text":"You're a hard sell, Paul. I appreciate that.","timestamp":5836.591},{"speaker":"Paul T","text":"I've been there before.","timestamp":5839.374},{"speaker":"Staš Romih","text":"All right. I do. I won't press you. I won't press you. I understand. I do. I do. So let me know.","timestamp":5843.136},{"speaker":"Paul T","text":"to hear from sabir um paul or donovan or we'll do i mean if i don't hear i mean if i don't hear back i'll let you know we can reschedule to meeting um sure thing but yeah","timestamp":5852.832},{"speaker":"Staš Romih","text":"hopefully i'll hear something from them sure thing all right well Paul T was pleasure talking to you it was a pleasure meeting you and learning more about you and i can't wait to see you in","timestamp":5869.019},{"speaker":"Paul T","text":"Okay, well hopefully everything works out. Hopefully they are positive and it becomes a no-brainer.","timestamp":5882.824000000001},{"speaker":"Staš Romih","text":"All right, have a nice rest of your day and we'll see you tomorrow, okay?","timestamp":5891.537},{"speaker":"Paul T","text":"Alrighty, thanks. Bye-bye.","timestamp":5895.984},{"speaker":"Staš Romih","text":"All right, bye.","timestamp":5897.347}]},"webhookUrl":"https://oneclick-x5dz.onrender.com/webhook-test/ec95e6a4-43cf-4263-b348-b39f3fa00b83","executionMode":"test"}}],"Edit Fields":[{"json":{"call":"120 Appointments Paul Terrizzi X JKD Agency","Time":"2025-05-22T16:58:20.327Z","prospect":"paul terrizzi","prospect email":"paul@indigo-one.com","rep":"Staš Romih","call recording":"https://storage.googleapis.com/saved-meeting-recording.prod.circleback.ai/meeting_1941269.mp4?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=circleback-ai%40appspot.gserviceaccount.com%2F20250523%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20250523T075042Z&X-Goog-Expires=28800&X-Goog-SignedHeaders=host&X-Goog-Signature=4653310ad12823f2f6a97e154c3b9b6ec9b70990b18b4424109f0161297ee6ba34c10932946bfc01296ebb5c0e00ffc2f0c4132d1305e7a1b178a5d5ea5b3c328865d2b4285d52fbba3d0a691be39ce985c648bcc0f8d59f5512b3906c0e963f0b2d4ffe5e415efca22f71894e30f3010bbcf175136836648360b92ddce50d3b713263ea8158618722b698ea9b60eb467ec1c35f191ba9315e755afa53ebb644ddbf6245482611c63e2c55d11d56e53fac05368a592e407513a0f9873eb117fbd1feb6cc2cbeae4808e945b285fffd1cfec86f7e1bebb9a91acde3199d427e4ec7cdc282d259fc95656356d2ec3853ea9c87c69fdeb982f0c3dfbf8275cb601f","call notes":"#### Overview\n* Paul is seeking a predictable appointment setting system after losing a major client that represented significant revenue when they were acquired\n* JKD Agency offers a \"done with you\" appointment setting system for **$4,500** one-time fee with a results guarantee\n* The system uses AI for personalization and targeting specific decision-makers at companies with **3-600** employees\n* Paul agreed to contact **4** JKD client references before making a decision\n* Follow-up call scheduled for **May 23rd, 2025** at **2:30 PM** Central Time\n\n#### Paul's agency background and client needs\n* Paul has **23** years of agency experience plus **10** years of international experience with large agency networks\n* indigoOne previously worked with a client for **9** years across **8-10** different verticals before losing them after acquisition\n* Paul wants to diversify client base to spread risk and avoid having **60-70%** of revenue tied to one client\n* Paul's agency is multidisciplinary, offering comprehensive marketing services rather than specialized in one area\n* Paul targets companies with marketing budgets of **$500,000** to **$1 million+** annually\n\n#### JKD Agency's appointment setting system\n* JKD Agency currently has **106** marketing and advertising agency clients in their program\n* Staš showed their booking calendar with **10-15** appointments per day\n* System includes a community platform where members can share experiences and get support\n* Program includes weekly Q&A calls and one-on-one coaching sessions with Josh (JKD founder)\n* JKD Agency focuses exclusively on marketing and advertising agencies\n\n#### AI personalization approach\n* System uses AI to identify and pre-qualify leads that match the ideal client profile\n* AI creates personalized first lines in outreach messages based on prospect's website, case studies, or recent posts\n* Staš explained they use tools like Clay for lead qualification and Instantly for email delivery\n* System maintains high deliverability through proper email warm-up and management\n* Paul expressed concern about maintaining control over messaging and brand voice\n\n#### Program structure and community support\n* Program starts with a one-on-one call with Josh to structure outreach strategy and offer\n* Members receive access to a community of other agency owners for support and idea sharing\n* JKD provides two weekly coaching calls and one-on-one support\n* Program includes training on how to build and manage the outreach system independently\n* Staš emphasized it's \"done with you\" rather than \"done for you\" to ensure knowledge transfer\n\n#### Pricing and guarantee\n* One-time cost of **$4,500** for the program\n* Includes **1 year** of community access\n* JKD offers a guarantee of refund if the system doesn't produce results\n* Staš claimed they've never had to issue a refund\n* Paul is also considering a \"done for you\" service at **$300-400** per month as an alternative\n\n#### References\n* Staš provided **4** references for Paul to contact:\n    * Sabir from Berlin\n    * Friek de Bresse from Netherlands\n    * Donovan from Carolina\n    * Caleb from Canada\n* Staš highlighted Donovan's results, growing from **$1,500** to **$20,000** monthly in his first two months\n* Paul agreed to reach out to references before making a decision\n* Paul scheduled a follow-up call for **May 23rd** at **2:30 PM** Central Time","follow up task":"Send the summary notes from this meeting to Paul."}}]},"versionId":"addace21-4ecf-4f82-ba53-e703613905d6","triggerCount":0,"tags":[]}