n8n_autobackup_workflows-copy-D0ZNDEKcNAUI6OEK.json
{"createdAt":"2025-04-23T16:49:33.621Z","updatedAt":"2025-04-23T16:49:33.621Z","id":"D0ZNDEKcNAUI6OEK","name":"n8n_autobackup_workflows copy","active":false,"nodes":[{"parameters":{"options":{}},"id":"fa0d0a71-ff01-4fd2-8362-e704247aeb0c","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[700,120]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"6b03c533-f213-44e7-a9e7-62624aeddded","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[900,120]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"66cf7253-c106-46cc-8a21-982dcee11e47","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[1100,120]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"Stas-Tyr","mode":"list","cachedResultName":"Stas-Tyr","cachedResultUrl":"https://github.com/Stas-Tyr"},"repository":{"__rl":true,"value":"n8n-main-backup","mode":"list","cachedResultName":"n8n-main-backup","cachedResultUrl":"https://github.com/Stas-Tyr/n8n-main-backup"}},"id":"56b0b889-bc19-48f1-a906-ce7aa0017aa8","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1300,120],"alwaysOutputData":true,"credentials":{}},{"parameters":{"filters":{},"requestOptions":{}},"id":"78246afd-eb15-4a46-90ec-b5171c24306e","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1700,120],"credentials":{}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"6ad89909-c013-4172-81ad-94c6813d54d5","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1900,120]},{"parameters":{"batchSize":1,"options":{}},"id":"1b47c258-4e79-4534-87db-6f6849d4ef5a","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[2140,120]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"d8243325-de64-48bb-8e9b-c2a34f02a7e6","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[2380,40]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"Stas-Tyr","mode":"list","cachedResultName":"Stas-Tyr","cachedResultUrl":"https://github.com/Stas-Tyr"},"repository":{"__rl":true,"value":"n8n-main-backup","mode":"list","cachedResultName":"n8n-main-backup","cachedResultUrl":"https://github.com/Stas-Tyr/n8n-main-backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"d730bf05-fe4d-4c94-82e5-296e415c0e24","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2600,-180],"credentials":{}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"Stas-Tyr","mode":"list","cachedResultName":"Stas-Tyr","cachedResultUrl":"https://github.com/Stas-Tyr"},"repository":{"__rl":true,"value":"n8n-main-backup","mode":"list","cachedResultName":"n8n-main-backup","cachedResultUrl":"https://github.com/Stas-Tyr/n8n-main-backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"ef9c7ac8-23a6-403b-8e70-6e06a54d80bd","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2600,240],"credentials":{}},{"parameters":{"content":"## Trigger\nYou can change it to [\"Schedule\" trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) to make backups on regular basis.","height":339.51767272727324,"width":182.4715262478496},"id":"d3a51143-043c-463e-955c-a33282527772","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,-60]},{"parameters":{"content":"## Set and format date/time\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.","height":339.42690909090965,"width":585.4045090909088},"id":"955493c1-eb3c-4c7e-b946-62235f03ca24","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[660,-60]},{"parameters":{"content":"## Make a list of existing files\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \"IF\" node (later in workflow) to check whether the backup files should be created or updated.","height":339.42690909090965,"width":389.89265454545443},"id":"21760550-72eb-4d51-bb82-ac65ac5d6d57","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1260,-60]},{"parameters":{"content":"## Retrieve workflows\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**","height":339.42690909090965,"width":384.14708363636373},"id":"d541158a-8f76-4132-8314-8ac47e800642","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1680,-60]},{"parameters":{"content":"## Upload backup\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.","height":731.633426614796,"width":703.8733020263451},"id":"ae879b8d-51ad-4f69-9196-c1c057cc7937","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2080,-300]},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[500,120],"id":"7d247c51-cd4f-4733-8b12-c364c44b197f","name":"Schedule Trigger"},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"de593c01-de57-4b25-85bf-f868954d3026","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1500,120]}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"df80fe26-0764-4bc0-92de-e9340f955ada","triggerCount":1,"tags":[{"createdAt":"2025-04-03T03:33:28.610Z","updatedAt":"2025-04-03T03:33:28.610Z","id":"33Fo2o3UoYyE9Rmq","name":"Template"}]}