oa-rag-chatbot-5VP8WTd8nKU1bnPg.json
{"createdAt":"2025-03-28T14:16:03.044Z","updatedAt":"2025-05-01T15:42:44.197Z","id":"5VP8WTd8nKU1bnPg","name":"OA RAG Chatbot","active":true,"isArchived":false,"nodes":[{"parameters":{"model":"gpt-4o","options":{"temperature":0.8}},"id":"59a65037-0826-4753-9a90-ebbffdef34f0","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1364,20],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"model":"gpt-4o","options":{}},"id":"2719d439-2774-49da-aa7c-bb840ef858c1","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-700,180],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').item.json.file_id }}"}]}}},"id":"82eebe89-24e9-4998-b1d1-af61c2d5265d","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-400,700]},{"parameters":{"model":"text-embedding-3-small","options":{"stripNewLines":true}},"id":"b35bf60e-b3bf-4976-b8a7-1b9b0fdf8719","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-580,760],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"name":"user_documents","description":"Contains all the user's documents that you can check for context to answer user questions.","topK":15},"id":"be40c858-1ffa-4326-bc77-315892b4905d","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-860,0]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"ee6f788e-3562-4d60-adc1-3d37b0f40001","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1100,560],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"ONECLICK - Google Drive"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1t2MvdaTNYDw7Yar_lXsbTu0xkgkCCQtO","mode":"list","cachedResultName":"OA asistent","cachedResultUrl":"https://drive.google.com/drive/folders/1t2MvdaTNYDw7Yar_lXsbTu0xkgkCCQtO"},"event":"fileCreated","options":{}},"id":"08e21b6a-541b-4f8d-8ef4-fbf50ec7af89","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1980,520],"credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"ONECLICK - Google Drive"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1t2MvdaTNYDw7Yar_lXsbTu0xkgkCCQtO","mode":"list","cachedResultName":"OA asistent","cachedResultUrl":"https://drive.google.com/drive/folders/1t2MvdaTNYDw7Yar_lXsbTu0xkgkCCQtO"},"event":"fileUpdated","options":{}},"id":"bbe8c9de-767e-44bd-8cf8-4bc6430a55ad","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1980,720],"credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"ONECLICK - Google Drive"}}},{"parameters":{"operation":"text","options":{"encoding":"utf8","stripBOM":true}},"id":"dbb84fe2-9ec7-4368-80f2-c4b22830d360","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-880,560],"alwaysOutputData":true},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"bbf96824-0258-4776-a2b4-e247a7369cff","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-920,320],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"tableName":"chat_history_osebna_asistenca_rag"},"id":"2404798b-80ab-4e0a-9436-126d8fe4ca2b","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-1200,60],"notesInFlow":false,"credentials":{"postgres":{"id":"k9zhdBNZqYVHhO1c","name":"ONECLICK-Postgres"}}},{"parameters":{"chunkSize":800,"chunkOverlap":400,"options":{"splitCode":"markdown"}},"id":"2a7e09bf-afb1-4214-8d8b-86af10c8db7f","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-280,840]},{"parameters":{"operation":"delete","tableId":"osebna_asistenca_rag","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"4c0cd422-c7c8-4d5b-bcd4-2feead1108a1","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1320,560],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"L5uqTMSc5f8WvP9K","name":"ONECLICK - Main"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"09eea045-bad5-4881-98cb-6f17c235400e","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1540,560]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":692.7866482806627},"id":"0f5532ec-67ad-4c2a-9c16-c8385e331d7e","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1754.5,-205]},{"parameters":{"public":true,"initialMessages":"Živjo! 👋\nMoje ime je Voa, kako lahko pomagam danes?","options":{"inputPlaceholder":"Kaj vas zanima..","loadPreviousSession":"memory","showWelcomeScreen":true,"getStarted":"Začni pogovor","subtitle":"Sem vaš asistent za vse stvari osebne asistence.","title":"Živjo! 👋","customCss":":root {\n  /* Colors */\n  --chat--color-primary: #4fb9d6; /* Send button background */\n  --chat--color-white: #ffffff;\n  --chat--color-light: #0b0f1a;\n  --chat--color-light-shade-50: #151c27;\n  --chat--color-light-shade-100: #1e2733;\n  --chat--color-dark: #09101c;\n  --chat--color-typing: #9a9d9e;\n\n  /* Fonts */\n  --chat--font-family: 'Open Sans', sans-serif;\n  --chat--heading--font-family: 'Nunito', sans-serif;\n\n  /* Layout & Dimensions */\n  --chat--spacing: 0.8rem;\n  --chat--border-radius: 1.2rem;\n  --chat--window--width: 100vw;\n  --chat--window--height: 100vh;\n  --chat--window--border: none;\n\n  /* Header */\n  --chat--header-height: auto;\n  --chat--header--padding: 0.5rem 1rem;\n  --chat--header--background: #09101b;\n  --chat--header--color: var(--chat--color-white);\n  --chat--heading--font-size: 1.5rem;\n  --chat--subtitle--font-size: 0.85rem;\n  --chat--header--heading--margin-bottom: 0.5rem; /* or 30px */\n  --chat--header--subtitle--margin-top: 0px;\n\n  /* Message bubbles */\n  --chat--message--font-size: 0.85rem;\n  --chat--message--padding: 1rem;\n  --chat--message--border-radius: 1.2rem;\n  --chat--message-line-height: 1.6;\n  --chat--message--margin-bottom: 1.3rem;\n  --chat--message--bot--background: #151c27;\n  --chat--message--bot--color: #ffffff;\n  --chat--message--user--background: #4fb9d6;\n  --chat--message--user--color: #ffffff;\n\n  /* Input */\n  --chat--input--background: #151c27;\n  --chat--input--text-color: #ffffff;\n  --chat--input--placeholder--color: #9a9d9e;\n  --chat--textarea--height: 48px;\n  --chat--input--border: none;\n  --chat--input--padding: 0.9rem;\n\n  /* Send button */\n  --chat--input--send--button--background: #4fb9d6;\n  --chat--input--send--button--color: #ffffff;\n  --chat--input--send--button--background-hover: #3caac6;\n  --chat--input--send--button--border-radius: 50px;\n  --chat--input--send--button--width: 44px;\n  --chat--input--send--button--height: 44px;\n\n  /* Chat background */\n  --chat--body--background: var(--chat--color-light);\n  --chat--footer--background: var(--chat--color-light);\n}\n\n/* Bubble style */\n.chat-message {\n  max-width: 90%;\n  font-family: 'Open Sans', sans-serif;\n  padding: 1rem 1.2rem !important;\n  margin-bottom: 1.3rem !important;\n  border-radius: 1.2rem !important;\n}\n\n/* Make the icon inside the send button white */\n.chat-input__send-button svg {\n  fill: #ffffff !important;\n}\n\n.chat-powered-by {\n  display: none !important;\n}\n\n.chat-button {\n  transition: \n    color 0.3s ease-in-out,\n    background-color 0.3s ease-in-out,\n    border-color 0.3s ease-in-out,\n    box-shadow 0.3s ease-in-out;\n  background-color: var(--chat--color-primary); /* starting color */\n  color: #ffffff; /* text color */\n}\n\n/* Hover state: white background, matching text color */\n.chat-button:hover {\n  background-color: #ffffff !important;\n  color: var(--chat--color-primary) !important;\n  border: 1px solid var(--chat--color-primary);\n}\n\n.chat-input-send-button[data-v-2a7fb1c3] svg {\n  fill: #ffffff !important;\n}\n"}},"id":"9121ee36-a482-47f0-8017-8e1e8a04f636","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1740,100],"webhookId":"e373f018-ba0a-47b8-859b-1bc19e7690d4"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"Ti si profesionalni virtualni pravni asistent, usposobljen na podlagi več kot 5.000 pravnih dokumentov.\n\nTvoja naloga je podajati resnične, jasno razložene odgovore, ki temeljijo izključno na vsebini dokumentov, do katerih imaš dostop.\n\nNe izmišljaj si, ne ugibaj in ne razlagaj zadev, ki niso neposredno zapisane v virih. Če odgovor ni zajet v dokumentih, to povej jasno in brez domnev.\n\nGovor vedno v slovenščini. Uporabljaj miren, strokoven in spoštljiv ton.\n\nPri razlagah skušaj dodati preprost resnični primer iz vsakdanjega življenja, če je to mogoče. Vedno poskušaj pomagati uporabniku razumeti pomen določbe.\n\nVsak odgovor mora vključevati:\n- Naziv pravnega dokumenta\n- Člen\n- Odstavek ali točko (če obstaja)\n\nTo uporabniku omogoča, da informacijo sam preveri in najde točen zapis.\n\nČe vprašanje ni zajeto v dokumentih, odgovori:\n\"Za to temo v pravnih dokumentih, ki jih imam na voljo, ni ustreznega zapisa. Priporočam, da se obrnete na pravnega strokovnjaka.\"\n\n### Primeri vprašanj in odgovorov za orientacijo\n\n1. Kakšen je minimalni odpovedni rok za osebnega asistenta?\n\nOdgovor: Po Zakonu o osebni asistenci (ZOA), 24. člen, 3. odstavek, je delodajalec dolžan zagotoviti 30 dni pisnega odpovednega roka, razen v primeru hujših kršitev pogodbenih obveznosti. \n\nPrimer: Če asistent pogosto zamuja brez opravičila, lahko to šteje kot kršitev, vendar je treba vse postopke ustrezno dokumentirati. \n\n(Vir: ZOA, 24. člen, 3. odstavek)\n\n2. Ali lahko izvajalec nadomešča osebnega asistenta z drugo osebo brez soglasja uporabnika?\n\nOdgovor: Ne. Po 16. členu ZOA, mora biti uporabnik vedno seznanjen z menjavo asistenta, razen v nujnih primerih (npr. nenadna odsotnost).\n\nPrimer: Če se asistent zboli, je začasna menjava dovoljena, vendar mora uporabnika o tem obvestiti izvajalec najkasneje isti dan.\n\n(Vir: ZOA, 16. člen)\n\n3. Koliko ur osebne asistence lahko dodelimo na mesec?\n\nOdgovor: Število ur je določeno z odločbo, ki jo izda MDDSZ glede na potrebe uporabnika. Po 11. členu ZOA, najvišje možno število ur je 24 ur dnevno, kar je redko in vezano na zelo zahtevne primere.\n\nPrimer: Uporabnik z motnjo gibanja, ki potrebuje pomoč pri vseh dnevnih opravilih, lahko prejme odločbo za 8 do 16 ur na dan.\n\n(Vir: ZOA, 11. člen)\n\n4. Ali moramo asistentu plačati potne stroške za prihod na delo?\n\nOdgovor: Da. Po ZDR-1, 130. člen, ima zaposleni pravico do povračila stroškov za prihod na delo in z dela, če ni drugače dogovorjeno v pogodbi o zaposlitvi.\n\nPrimer: Če asistent prihaja iz oddaljenega kraja, mora izvajalec povrniti stroške javnega prevoza ali kilometrino.\n\n(Vir: ZDR-1, 130. člen)\n\n5. Kako dolgo moramo hraniti kadrovsko dokumentacijo?\n\nOdgovor: Po Zakonu o varstvu dokumentarnega in arhivskega gradiva je treba pogodbe in kadrovske evidence hraniti 10 let po prenehanju delovnega razmerja.\n\nPrimer: Pogodbo za asistenta, ki je delal od 2021 do 2023, moramo hraniti do leta 2033.\n\n(Vir: ZVDAGA, 20. člen)\n\n6. Ali lahko uporabnik zavrne asistenta, če mu ni všeč?\n\nOdgovor: Da, vendar mora zavrnitev utemeljiti in se o tem obvezno obvesti izvajalca. Po ZOA, 15. člen, ima uporabnik pravico do soodločanja in zamenjave asistenta, če razlog temelji na osebni varnosti, neprimernem vedenju ali nezadovoljstvu z delom.\n\nPrimer: Če se uporabnik ne počuti varno ali če prihaja do osebnih konfliktov, lahko pisno zahteva zamenjavo.\n\n(Vir: ZOA, 15. člen)\n\n7. Kako prijavimo novo zaposlitev osebnega asistenta?\n\nOdgovor: Vsako zaposlitev je treba prijaviti v sistem e-VEM (SPOT) najpozneje en dan pred začetkom dela, skladno z ZDR-1, 40. členom.\n\nPrimer: Če novi asistent začne v ponedeljek, mora biti prijava oddana najkasneje v nedeljo.\n\n(Vir: ZDR-1, 40. člen)\n\n8. Ali lahko izvajalec uporablja podizvajalce za izvajanje osebne asistence?\n\nOdgovor: Ne. Po 6. členu ZOA izvajalec ne sme prenesti izvajanja osebne asistence na druge organizacije brez posebnega dovoljenja MDDSZ.\n\nPrimer: Če izvajalec ne more zagotoviti asistenta, mora rešitev najti znotraj svoje organizacije — ne sme sodelovati z zunanjimi s.p.-ji ali agencijami.\n\n(Vir: ZOA, 6. člen)\n\n9. Katere evidence smo kot izvajalec dolžni voditi?\n\nOdgovor: Po ZOA, 17. člen moramo voditi naslednje evidence:\n\n- Evidenco uporabnikov\n\n- Evidenco asistentov (vključno z delovnim časom)\n\n- Evidenco opravljenih ur\n\nPrimer: Za vsakega asistenta je treba imeti podpisano evidenco ur na mesečni ravni, usklajeno z uporabnikom.\n\n(Vir: ZOA, 17. člen)\n\n10. Kaj storimo, če uporabnik več dni ne sodeluje in ne odgovarja na klice?\n\nOdgovor: V primeru daljše odsotnosti uporabnika brez pojasnila je treba sprotno dokumentirati poskuse komunikacije in po 5 dneh obvestiti center za socialno delo in MDDSZ.\n\nPrimer: Če se uporabnik ne odziva od ponedeljka, pošiljamo dnevna obvestila in najkasneje v petek obvestimo CSD.\n\n(Vir: Interna navodila izvajalcev + ZOA, 22. člen)"}},"id":"6df8d99a-3e83-4fd0-8c5b-0b2c9a1b73e4","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-1332,-200]},{"parameters":{"tableName":{"__rl":true,"value":"osebna_asistenca_rag","mode":"list","cachedResultName":"osebna_asistenca_rag"},"options":{"queryName":"match_osebna_asistenca_rag"}},"id":"d46d96ab-2dcc-4e97-9b2f-2491b93e2a35","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-1000,180],"credentials":{"supabaseApi":{"id":"L5uqTMSc5f8WvP9K","name":"ONECLICK - Main"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"osebna_asistenca_rag","mode":"list","cachedResultName":"osebna_asistenca_rag"},"options":{"queryName":"match_osebna_asistenca_rag"}},"id":"bac9c876-1500-47e6-b060-b796613151d1","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-540,540],"credentials":{"supabaseApi":{"id":"L5uqTMSc5f8WvP9K","name":"ONECLICK - Main"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]},"Insert into Supabase Vectorstore":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File Created":{"lastTimeChecked":"2025-06-23T14:32:07Z"},"node:File Updated":{"lastTimeChecked":"2025-06-23T14:32:07Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"File Updated":[{"json":{"kind":"drive#file","fileExtension":"docx","copyRequiresWriterPermission":false,"md5Checksum":"7da52e9c5dbe703c9ee1693a3230752a","writersCanShare":true,"viewedByMe":true,"mimeType":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","parents":["1t2MvdaTNYDw7Yar_lXsbTu0xkgkCCQtO"],"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBOYYooJRKrAzC7inEatubrPVyNAaJ3vBNHLeVEGmdWRazvwXDKlOTujnD890a29djYBSERG_yuXV4jbQ2rcAYOyxvHrhK7eSSa6Dvqqe3kazvk=s220","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.openxmlformats-officedocument.wordprocessingml.document","shared":true,"lastModifyingUser":{"displayName":"Staš Romih","kind":"drive#user","me":true,"permissionId":"06432321999706225173","emailAddress":"hello@oneclick.si","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjUdZND0NLW767JgIgB3rgfG_brJvp1czW0KrYx8wYnB4fsFzKsEDRNQWfCl01_7D4MAICVgcNcIn40XsqAwAm1HDAnIIs0nekqqIFbX223qgnOYNKzDq_XM2S_r6Cku_M4awioiH1vpgnyjMxdTr48z85jHMFNj0lyT9C0mQCeLlvwTqr27AUh3f5_MALkmbJDFGQPv9HEVQ2RA7YuY1HQuRHtxp1Wh9GHX7OonPDTSispRXsG8wwP3_0XurksPAqwV8VWCa3eHUMqFZD7IDJ7m28yFNCZgAotS409o8T2JidJKHOjcCjyf1XF2ooda6tf3rhpsnznBrq_tHXMtjF0rK1FnuLCONQES6V1LN4CMHAc6-WRQMFlP5NxygdQdX2qw17BU1VhQhs7p8FOJ1_ZYG1T0uyPaGNAatPKCmdQXtWHWJCowPGBmGhpZwPJEKUrsb9w7J4UWHnkDJQ28TKIw1wZFGqROpsh5ONjVDbnwgOcUdB5vhQDGNmjX9b1hzALXzgNKgOOcMIdpgADyERy2qpXyerDT4enoTT_kl8ngpOcTdhJ-cCJHgxXPvhNF9ak5e00vDwGg2CKosOc_FGxEO2quSt0LW9VE7OfTRHLfCOeZCnB_JjPttEDREI9nS_Ur7F9SoZHWPQp3XcUwtfuw9FhnygTId27kdSGsyF8ULuTrXV8FbFvDNNVG7eKd42wSkl41gokAuaqKw9IjC0wbGOgMOU7KTkRAM1leybQGtPwoMqGIboCnYZi8-RDy1rW4swwRhdKh-LwxQPAPyF3du3nAA7TdYXYZVyb_tS0_85L_sED0fiWCagwKTFuB2sLRQj_vWv9a3rPFU5ATs4nHI8-VlUY5PfHFyKQSRMiHOWp5_OmCPt92vfQOAxTx-pf2Ng9F4pGcPiYv9K3Gvo3l71M7i8XZGjSF8f-Uf1SSHchTROv9AAjGXSMk06zab_RErC_dQNjbOL79Ce29rCHOA3c=s64"},"owners":[{"displayName":"Staš Romih","kind":"drive#user","me":true,"permissionId":"06432321999706225173","emailAddress":"hello@oneclick.si","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjUdZND0NLW767JgIgB3rgfG_brJvp1czW0KrYx8wYnB4fsFzKsEDRNQWfCl01_7D4MAICVgcNcIn40XsqAwAm1HDAnIIs0nekqqIFbX223qgnOYNKzDq_XM2S_r6Cku_M4awioiH1vpgnyjMxdTr48z85jHMFNj0lyT9C0mQCeLlvwTqr27AUh3f5_MALkmbJDFGQPv9HEVQ2RA7YuY1HQuRHtxp1Wh9GHX7OonPDTSispRXsG8wwP3_0XurksPAqwV8VWCa3eHUMqFZD7IDJ7m28yFNCZgAotS409o8T2JidJKHOjcCjyf1XF2ooda6tf3rhpsnznBrq_tHXMtjF0rK1FnuLCONQES6V1LN4CMHAc6-WRQMFlP5NxygdQdX2qw17BU1VhQhs7p8FOJ1_ZYG1T0uyPaGNAatPKCmdQXtWHWJCowPGBmGhpZwPJEKUrsb9w7J4UWHnkDJQ28TKIw1wZFGqROpsh5ONjVDbnwgOcUdB5vhQDGNmjX9b1hzALXzgNKgOOcMIdpgADyERy2qpXyerDT4enoTT_kl8ngpOcTdhJ-cCJHgxXPvhNF9ak5e00vDwGg2CKosOc_FGxEO2quSt0LW9VE7OfTRHLfCOeZCnB_JjPttEDREI9nS_Ur7F9SoZHWPQp3XcUwtfuw9FhnygTId27kdSGsyF8ULuTrXV8FbFvDNNVG7eKd42wSkl41gokAuaqKw9IjC0wbGOgMOU7KTkRAM1leybQGtPwoMqGIboCnYZi8-RDy1rW4swwRhdKh-LwxQPAPyF3du3nAA7TdYXYZVyb_tS0_85L_sED0fiWCagwKTFuB2sLRQj_vWv9a3rPFU5ATs4nHI8-VlUY5PfHFyKQSRMiHOWp5_OmCPt92vfQOAxTx-pf2Ng9F4pGcPiYv9K3Gvo3l71M7i8XZGjSF8f-Uf1SSHchTROv9AAjGXSMk06zab_RErC_dQNjbOL79Ce29rCHOA3c=s64"}],"headRevisionId":"0B3gp7SNPIy2IRzYzSmNUWjc4ejBYM1hnTnNpQzRPWHdXR0VNPQ","webViewLink":"https://docs.google.com/document/d/1GldIKFPXklI26lIjeOl1a_CcCEVF3Ubt/edit?usp=drivesdk&ouid=103688294071173744828&rtpof=true&sd=true","webContentLink":"https://drive.google.com/uc?id=1GldIKFPXklI26lIjeOl1a_CcCEVF3Ubt&export=download","size":"137973","viewersCanCopyContent":true,"permissions":[{"id":"anyoneWithLink","type":"anyone","kind":"drive#permission","role":"reader","allowFileDiscovery":false},{"id":"06432321999706225173","displayName":"Staš Romih","type":"user","kind":"drive#permission","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjV4ojKu7yP0AH7sck7sTwKUemypp94T1IZ5vanDQQ3yrAOe30-Uftaonrr6A2cF22xS53aGy2a9S3iI8WfV79Ys9TF75skJ2H1FFXo3bKj9zvDmgKqkD0BssncLYO8tz0BO0LS6tkT1RI4yNNNFU_zcwDjStiJ8lb40WBk6GV_mjB-Nu9zsADNrxwMUM9dbuaPbDHzntPEMXhnf-QXkyRzZ1S9I6d2syurkXzmYVnPvtFAwe_vfeSvRAuSaE2t440H8x4izNddlXTEU_ARfkm86QJV-iEARHUDaJAt20yaOQwaJ7ZXqlG3E3cK7N7gkKaQfUKX9WOvVHI5zYC1E6TDHqTvw5pqXOpUwdfltbxDDEZ53uzBqSATq1vApYEFz1jGoNguhhU0DuGgQTGherbkQFAa98KjkUT1iPM-7jpkN07Nkv6yLFbYDvq5x6b3mkT1Ll6O5o5Ofy6tMB8gjum_vrkR5jAWsz9Mb_wBVdh8TOqYs3EWg6Tcfc_UGL1fKp3Ll7qCk2EFS7sTdbkHZ9lujdMlTEJkJC8R-dk08nZuT5aVjLtjnuCjBBMxYaNnY7ksew8yyxmXtKsQVG6BnS45OKCHNcthxBKSnEFyUA0KbX2eGffb-xdMjgjw98BLHA_hv-I_jigmtSS4Ul-gd_QT1PiONKIob5L3RJUPNbP5W9ZDFzBG-A4O973aBZDjUKytKiUD2sjWlUA77yb4hejdkrNiVb9YmA3_B1KZAUKZl1RFzlncCfoe-jUq5C9O_ZXX2BeCtwN5Q2oOSgyNBf6OLsNTekJbg6_3zuuWLVGD0sP19KAirW6ls8IUBvvMSBXRjhcRr9FUZEJb2sbO3e_OPo3p157LbPLdk5h3FbqJ2cG4eBxpLX7qRIWwpNlCE_1DH2muge6y3WlszRSIsPhcpAGyNTznP3QQ_uO414rYsWTpJdl1o-uQSCYXHUmyvlw6Y-vtSQ8Qa4UwNa5_Q20sj3Yo=s64","emailAddress":"hello@oneclick.si","role":"owner","deleted":false,"pendingOwner":false}],"hasThumbnail":true,"spaces":["drive"],"id":"1GldIKFPXklI26lIjeOl1a_CcCEVF3Ubt","name":"Zakon o davku na dodano vrednost.docx","starred":false,"trashed":false,"explicitlyTrashed":false,"createdTime":"2025-04-02T08:10:15.195Z","modifiedTime":"2025-03-31T19:39:32.000Z","modifiedByMeTime":"2025-03-31T19:39:32.000Z","viewedByMeTime":"2025-04-02T08:10:15.195Z","quotaBytesUsed":"137973","version":"3","originalFilename":"Zakon o davku na dodano vrednost.docx","ownedByMe":true,"fullFileExtension":"docx","isAppAuthorized":false,"capabilities":{"canChangeViewersCanCopyContent":true,"canEdit":true,"canCopy":true,"canComment":true,"canAddChildren":false,"canDelete":true,"canDownload":true,"canListChildren":false,"canRemoveChildren":false,"canRename":true,"canTrash":true,"canReadRevisions":true,"canChangeCopyRequiresWriterPermission":true,"canMoveItemIntoTeamDrive":true,"canUntrash":true,"canModifyContent":true,"canMoveItemOutOfDrive":true,"canAddMyDriveParent":false,"canRemoveMyDriveParent":true,"canMoveItemWithinDrive":true,"canShare":true,"canMoveChildrenWithinDrive":false,"canModifyContentRestriction":true,"canChangeSecurityUpdateEnabled":false,"canAcceptOwnership":false,"canReadLabels":false,"canModifyLabels":false,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canRemoveContentRestriction":false,"canDisableInheritedPermissions":false,"canEnableInheritedPermissions":true},"thumbnailVersion":"1","modifiedByMe":true,"permissionIds":["anyoneWithLink","06432321999706225173"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"sha1Checksum":"70846f298f543a206e048408301ca3101b9ea797","sha256Checksum":"d4bab25db1de33936b5c2e68db297defac5e2fdda2ce80555edce30e9a90e61f","inheritedPermissionsDisabled":false}}]},"versionId":"95261130-b044-4bf6-bbcd-0e245fab610c","triggerCount":3,"tags":[{"createdAt":"2025-03-28T14:15:47.940Z","updatedAt":"2025-03-28T14:15:47.940Z","id":"iOnfYa6mdB3NBuhZ","name":"OA"}]}