oa-rag-chatbot-5VP8WTd8nKU1bnPg.json
{"createdAt":"2025-03-28T14:16:03.044Z","updatedAt":"2025-03-28T14:16:03.044Z","id":"5VP8WTd8nKU1bnPg","name":"OA RAG Chatbot","active":false,"nodes":[{"parameters":{"model":"gpt-4o","options":{"temperature":0.8}},"id":"59a65037-0826-4753-9a90-ebbffdef34f0","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1000,40],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"model":"gpt-4o","options":{}},"id":"2719d439-2774-49da-aa7c-bb840ef858c1","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-180,-20],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').item.json.file_id }}"}]}}},"id":"82eebe89-24e9-4998-b1d1-af61c2d5265d","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-40,520]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"b35bf60e-b3bf-4976-b8a7-1b9b0fdf8719","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-200,520],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"name":"user_documents","description":"Contains all the user's documents that you can check for context to answer user questions.","topK":15},"id":"be40c858-1ffa-4326-bc77-315892b4905d","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-400,-200]},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"02ed59a3-bd48-4971-96cd-f488cf8e0113","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-580,-320]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":671.8877842322804,"width":2070.8894079025763,"color":5},"id":"b0fa5134-1e0c-4f11-8a8a-dba99cb9be10","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1800,220]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"ee6f788e-3562-4d60-adc1-3d37b0f40001","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-700,400],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"ONECLICK - Google Drive"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1m5QadEtk-BWlKnnQ8lY90YWL7jNREpCv","mode":"list","cachedResultName":"Eznet-RAG-filesDEMO","cachedResultUrl":"https://drive.google.com/drive/folders/1m5QadEtk-BWlKnnQ8lY90YWL7jNREpCv"},"event":"fileCreated","options":{}},"id":"08e21b6a-541b-4f8d-8ef4-fbf50ec7af89","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1740,300],"credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"ONECLICK - Google Drive"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1m5QadEtk-BWlKnnQ8lY90YWL7jNREpCv","mode":"list","cachedResultName":"Eznet-RAG-filesDEMO","cachedResultUrl":"https://drive.google.com/drive/folders/1m5QadEtk-BWlKnnQ8lY90YWL7jNREpCv"},"event":"fileUpdated","options":{}},"id":"bbe8c9de-767e-44bd-8cf8-4bc6430a55ad","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1740,520],"credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"ONECLICK - Google Drive"}}},{"parameters":{"operation":"text","options":{}},"id":"dbb84fe2-9ec7-4368-80f2-c4b22830d360","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-440,400],"alwaysOutputData":true},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"bbf96824-0258-4776-a2b4-e247a7369cff","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-360,80],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"tableName":"chat_history_eznetscheduler_n8n"},"id":"2404798b-80ab-4e0a-9436-126d8fe4ca2b","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-860,40],"notesInFlow":false,"credentials":{"postgres":{"id":"k9zhdBNZqYVHhO1c","name":"ONECLICK-Postgres"}}},{"parameters":{"chunkSize":800,"chunkOverlap":400,"options":{}},"id":"2a7e09bf-afb1-4214-8d8b-86af10c8db7f","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-40,720]},{"parameters":{"operation":"delete","tableId":"documents_eznetscheduler_rag","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"4c0cd422-c7c8-4d5b-bcd4-2feead1108a1","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1000,400],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"L5uqTMSc5f8WvP9K","name":"ONECLICK - Main"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"09eea045-bad5-4881-98cb-6f17c235400e","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,400]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":692.7866482806627},"id":"0f5532ec-67ad-4c2a-9c16-c8385e331d7e","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1280,-260]},{"parameters":{"public":true,"initialMessages":"Hi there! 👋\nMy name is Mike. How can I help you today?","options":{},"path":"e373f018-ba0a-47b8-859b-1bc19e7690d4"},"id":"9121ee36-a482-47f0-8017-8e1e8a04f636","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1220,-180],"webhookId":"e373f018-ba0a-47b8-859b-1bc19e7690d4"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"You are a helpful and knowledgeable assistant for EZnet Scheduler, a powerful appointment scheduling platform.\n\nYour job is to provide concise, accurate, and direct answers to user questions about features, setup, integrations, pricing, or scheduling.\n\nMaintain a tone that is:\n\n    Friendly, yet focused\n\n    Supportive, yet efficient\n\n    Calm, clear, and never salesy\n\nAlways acknowledge user concerns or confusion. Then give straight-to-the-point help.\nAvoid small talk, filler, or unnecessary explanations unless clarification is requested.\n\nIf you're not sure, say so briefly and suggest the next best step.\n\nUser: \"Can I schedule recurring appointments at different locations?\"\nAgent: Yes, EZnet Scheduler supports recurring appointments across multiple locations. Each can be assigned separately to staff or resources.\n\nUser: \"I can’t figure out how to send voice reminders.\"\nAgent: No problem. Go to Settings → Notifications → Voice. From there, choose your trigger and record or type your message. Need a walkthrough?"}},"id":"6df8d99a-3e83-4fd0-8c5b-0b2c9a1b73e4","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-900,-180]},{"parameters":{"tableName":{"__rl":true,"value":"documents_eznetscheduler_rag","mode":"list","cachedResultName":"documents_eznetscheduler_rag"},"options":{"queryName":"match_documents_eznetscheduler_rag"}},"id":"d46d96ab-2dcc-4e97-9b2f-2491b93e2a35","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-520,-40],"credentials":{"supabaseApi":{"id":"L5uqTMSc5f8WvP9K","name":"ONECLICK - Main"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents_eznetscheduler_rag","mode":"list","cachedResultName":"documents_eznetscheduler_rag"},"options":{"queryName":"match_documents"}},"id":"bac9c876-1500-47e6-b060-b796613151d1","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-160,300],"credentials":{"supabaseApi":{"id":"L5uqTMSc5f8WvP9K","name":"ONECLICK - Main"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File Created":{"lastTimeChecked":"2025-03-27T13:38:12Z"},"node:File Updated":{"lastTimeChecked":"2025-03-27T13:38:12Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"10fd5d1e-14ba-4568-9eb2-2ded067272d4","triggerCount":4,"tags":[{"createdAt":"2025-03-28T14:15:47.940Z","updatedAt":"2025-03-28T14:15:47.940Z","id":"iOnfYa6mdB3NBuhZ","name":"OA"}]}