outbound---verify---if-fit-for-icp-8PuaPQBhhezpjk8s.json
{"createdAt":"2025-05-14T06:46:14.907Z","updatedAt":"2025-05-14T06:46:34.871Z","id":"8PuaPQBhhezpjk8s","name":"Outbound - verify - if fit for ICP","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"=https://api.mails.so/v1/validate?email={{ $json.email }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-mails-api-key"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1700,280],"id":"375a8472-5ef1-4f06-8aca-0774d1b54d61","name":"Email Verifier1","onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1920,600],"id":"0dbdd60f-3fd5-4917-b256-92ea39cbc766","name":"Loop Over Items4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"aa07797e-3855-4117-b837-763e3ae8754f","leftValue":"={{ $json.data.result }}","rightValue":"=deliverable","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1480,280],"id":"6a7a9834-1c16-4969-8c00-8ffda1d1c77a","name":"If2"},{"parameters":{"model":"gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[100,220],"id":"9ae7be22-6098-4f0e-beb5-961c3619d4e6","name":"Gpt 4o2"},{"parameters":{"promptType":"define","text":"=Reformat to Domain:{{ $('Email Verifier1').item.json.data.domain }} and Company Name: {{ $('Loop Over Items4').item.json['organization/name'] }} to highlight its most recognizable and distinctive element. Focus on the primary noun while preserving the original capitalization and spacing. The goal is to create a concise, natural abbreviation that employees might use in conversation. Return only the final reformatted name, with no additional text.\n\nBe respectful—do not alter the actual name. I need a shortened version that contains only the company name, without any extra words.\n\nFor example:\nCompso LLC becomes Compso\nAKN INFRATECH LLC becomes AKN INFRATECH\n\nThis is for personal research.\n\nInput Example:\nTulasi.com\nTulasi LLC\n\nOutput Example:\nTulasi\n\nYou can do this. I believe in you.\nlets think step by step. ","messages":{"messageValues":[{"message":"You are a helpful intelligent writing assistant. Who helps the user no matter what"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[0,0],"id":"dcf5c9fc-ab61-4f2f-b521-7fb896648d98","name":"Clean Company Name1"},{"parameters":{"assignments":{"assignments":[{"id":"ae626fd1-4899-45ff-abed-5656baa16f24","name":"Linkedin Text","value":"={{ $('EXA Company Linkedin1').item.json.results[0].text }}","type":"string"},{"id":"4a59d775-e03f-4c4b-8764-106e3ecc587d","name":"website","value":"={{ $json.results[0].text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-820,160],"id":"c4ee4041-b5d9-47ba-bb56-460c80e718cc","name":"Edit Fields3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"02d7486c-5379-41c5-963f-d3bf8152f694","leftValue":"={{ $json.text }}","rightValue":"Yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-220,160],"id":"98c41521-8ec8-49d8-9c98-fab08f33a577","name":"If ICP"},{"parameters":{"promptType":"define","text":"=Identify the variables for the template from this data.\n\n<Data>\nWebsite: {{ $('Edit Fields3').item.json.website }}\n\nLinkedIn: {{ $('Edit Fields3').item.json['Linkedin Text'] }}\n\nClean Company Name: {{ $json.text }}\n\n</Data> \n\nLet's think step by step","messages":{"messageValues":[{"message":"=[EXPERT PERSONA]\nYou are an Elite B2B Email Personalization Specialist with deep expertise in crafting high-converting, authentic outreach based on prospect pain signals and business context. On behalf of Arun, myBoringProcess\n\n[TASK DEFINITION]\nTransform provided business data and company-specific information into personalized, compelling Variables for the email given template framework with relevant, high-impact content.\n\n**Maintain authenticity throughout - should pass the \"would I respond to this?\" test**\n\nUse the template and company data, Provide just the variables filled with personalised content that would generate genuine interest and response.\n\n**OUTPUT: Should only be the Variables no start jargon just clean mail output**\n\noutputData = {\n    observation: parsed[ultra-specific observation about their recent work/content/achievement] : (Your Response) (Note: Start with - Impressed by/Loved how you [ultra-specific observation about their recent work/content/achievement])\n    dreamICP: ,\n    tiedToOffering: ,\n    endBenefit:\n  };\n\n\n**Variables should blend with the Template flawlessly**\n\nKeep the personalisation super short and tight.\n\n<Note> Outpt should be proper VALID JSON </Note>\n\nLet's think step by step\n"},{"message":"=Arun\n\nthis is my business context.\n<business>\nmyBoringProcess is leadGen business for b2b companies. We book 7 qualified meetings/month using cold email peersonalised outreach system.\n</business>\n"},{"message":"{{RANDOM|Hi|Hello|Hey}} {{firstName}},\n\nNoticed {{observation}}. Often, companies like {{companyName}} know their {{dreamICP}} but find consistently engaging those interested in {{tiedToOffering}} is the real hurdle.\n\nOur focus is implementing outbound systems that bridge that exact gap, driving relevant conversations and helping you reach {{endBenefit}}.\n\nWorth a quick, tailored example to show you how this could apply to {{companyName}}? Happy to share with no obligation.\n\nSincerely,\nArun\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[380,100],"id":"949f4dd2-ac8f-4dca-aaf7-3c2452ab8378","name":"Mail"},{"parameters":{"values":{"string":[{"name":"observation","value":"={{ $json.observation }}"},{"name":"dreamICP","value":"={{ $json.dreamICP }}"},{"name":"tiedToOffering","value":"={{ $json.tiedToOffering }}"},{"name":"endBenefit","value":"={{ $json.endBenefit }}"},{"name":"CompanyName","value":"={{ $('Clean Company Name1').item.json.text }}"},{"name":"firstName","value":"={{ $('Loop Over Items4').item.json.first_name }}"},{"name":"lastName","value":"={{ $('Loop Over Items4').item.json.last_name }}"},{"name":"email","value":"={{ $('If2').item.json.email }}"}]},"options":{"dotNotation":false}},"id":"f1f7a300-4fa7-4fbd-bf7f-812be30062b1","name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[980,100]},{"parameters":{"jsCode":"return items.map(item => {\n  // Get the raw text from the input item\n  let rawText = $input.first().json.text;\n  \n  // Remove code block markers (i.e. \"```json\" at the start and \"```\" at the end)\n  rawText = rawText.replace(/^```json\\s*|\\s*```$/g, '');\n  \n  // Parse the cleaned JSON string\n  let parsed;\n  try {\n    parsed = JSON.parse(rawText);\n  } catch (err) {\n    throw new Error(\"Invalid JSON provided\");\n  }\n  \n  // Check if the parsed object contains an `outputData` property.\n  // If it does, use it; otherwise, use the parsed object itself.\n  const data = parsed.outputData ? parsed.outputData : parsed;\n  \n  // Return exactly four keys as the output\n  return {\n    json: {\n      observation: data.observation,\n      dreamICP: data.dreamICP,\n      tiedToOffering: data.tiedToOffering,\n      endBenefit: data.endBenefit\n    }\n  };\n});\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[760,100],"id":"0e4c35d3-e510-4019-9086-28bb58366d47","name":"Code1"},{"parameters":{"model":"google/gemini-2.5-pro-preview-03-25","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-500,380],"id":"cd5bbc93-1225-4ee4-96f7-bc02e9f674ab","name":"OpenRouter Chat Model1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"","mode":"id"},"sheetName":{"__rl":true,"value":1166396529,"mode":"list","cachedResultName":"Sheet2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19o-RFRGpmtZi5GUtWpx5-YUHaof3Tg4CB0d1z1z2Ma8/edit#gid=1166396529"},"columns":{"mappingMode":"defineBelow","value":{"observation":"={{ $json.observation }}","dreamICP":"={{ $json.dreamICP }}","tiedToOffering":"={{ $json.tiedToOffering }}","endBenefit":"={{ $json.endBenefit }}","First Name":"={{ $json.firstName }}","Last Name ":"={{ $json.lastName }}","Clean Company Name":"={{ $json.CompanyName }}","Email Address":"={{ $('Loop Over Items4').item.json.email }}"},"matchingColumns":[],"schema":[{"id":"First Name","displayName":"First Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Last Name ","displayName":"Last Name ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Clean Company Name","displayName":"Clean Company Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email Address","displayName":"Email Address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"observation","displayName":"observation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"dreamICP","displayName":"dreamICP","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"tiedToOffering","displayName":"tiedToOffering","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"endBenefit","displayName":"endBenefit","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1200,100],"id":"c2c61fa7-c0bb-4a9f-802e-2e325b0a907f","name":"Google Sheets4"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"19o-RFRGpmtZi5GUtWpx5-YUHaof3Tg4CB0d1z1z2Ma8","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"RAW LEADS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19o-RFRGpmtZi5GUtWpx5-YUHaof3Tg4CB0d1z1z2Ma8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Loop Over Items4').item.json.row_number }}","LastSeen":"Not Done"},"matchingColumns":["row_number"],"schema":[{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization/linkedin_url","displayName":"organization/linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization/website_url","displayName":"organization/website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization/name","displayName":"organization/name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LastSeen","displayName":"LastSeen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[80,440],"id":"1efe23ef-1ed5-4155-ab9a-d1e0df9422ca","name":"Update"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2360,600],"id":"f678bf12-0777-4ae8-8648-ba6b1b0a1fb7","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"","mode":"id"},"sheetName":{"__rl":true,"value":"","mode":"list","cachedResultName":"","cachedResultUrl":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[-2140,600],"id":"b912eb38-6f56-4e80-9c55-a2614a72717d","name":"Get Leads3"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"RAW LEADS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19o-RFRGpmtZi5GUtWpx5-YUHaof3Tg4CB0d1z1z2Ma8/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Loop Over Items4').item.json.row_number }}","LastSeen":"Done"},"matchingColumns":["row_number"],"schema":[{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization/linkedin_url","displayName":"organization/linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization/name","displayName":"organization/name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization/phone","displayName":"organization/phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization/primary_domain","displayName":"organization/primary_domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization/website_url","displayName":"organization/website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LastSeen","displayName":"LastSeen","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1420,360],"id":"20429547-4286-4b49-819e-17324d9c51d8","name":"Update1"},{"parameters":{"model":"openai/gpt-4.1","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[480,320],"id":"f638a0c6-4df9-4707-8569-3ee0afc3b830","name":"OpenRouter Chat Model"},{"parameters":{"method":"POST","url":"https://api.exa.ai/contents","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer "}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"urls\": [\n    \"{{ $('Loop Over Items4').item.json['organization/website_url'] }}\"\n  ],\n  \"text\": true\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1040,160],"id":"9e3b147b-9322-458b-854e-1422e6dcfb8e","name":"EXA Clean Website Data","retryOnFail":true,"alwaysOutputData":true},{"parameters":{"method":"POST","url":"https://api.exa.ai/contents","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer "}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"urls\": [\n    \"{{ $('Loop Over Items4').item.json['organization/linkedin_url'] }}\"\n  ],\n  \"text\": true\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1260,160],"id":"97d6fa9f-f633-4e88-a306-ed3b6cf4dc9e","name":"EXA Company Linkedin1","retryOnFail":true,"alwaysOutputData":true},{"parameters":{"promptType":"define","text":"=**Lead Data Sources:**\n*   **Website :**{{ $json.website }}\n*   **LinkedIn :**{{ $json['Linkedin Text'] }}","messages":{"messageValues":[{"message":"=Analyze Lead for ICP Match\n\nObjective: Determine if the company fits my Ideal Customer Profile (ICP) based on the provided information.\n\nMy ICP Criteria:\n\nBusiness Type: B2B Marketing\n\nCompany Size: 10–150 employees\n\nLocation: US\n\nACV (Average Contract Value): Minimum $5K per client — their service should cost at least $5K\n\nTask:\n\nUsing only the provided company information, assess whether the company meets each ICP criterion listed above.\n\nOutput: Respond with ONLY \"Yes\" or \"No\". NOTHING ELSE.\n\nDo NOT include explanations or repeat the criteria. For example, \"Business Type: \"\n\nOutput: Respond with ONLY \"Yes\" or \"No\". NOTHING ELSE.\n"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[-600,160],"id":"cc41a865-6f19-4676-8cb6-30a4ba620fcb","name":"Identify ICP","retryOnFail":true,"onError":"continueRegularOutput"}],"connections":{"Email Verifier1":{"main":[[{"node":"If2","type":"main","index":0}]]},"Loop Over Items4":{"main":[[],[{"node":"Email Verifier1","type":"main","index":0}]]},"If2":{"main":[[{"node":"EXA Company Linkedin1","type":"main","index":0}],[{"node":"Update","type":"main","index":0}]]},"Gpt 4o2":{"ai_languageModel":[[{"node":"Clean Company Name1","type":"ai_languageModel","index":0}]]},"Edit Fields3":{"main":[[{"node":"Identify ICP","type":"main","index":0}]]},"If ICP":{"main":[[{"node":"Clean Company Name1","type":"main","index":0}],[{"node":"Update","type":"main","index":0}]]},"Clean Company Name1":{"main":[[{"node":"Mail","type":"main","index":0}]]},"Mail":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Set","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Identify ICP","type":"ai_languageModel","index":0}]]},"Set":{"main":[[{"node":"Google Sheets4","type":"main","index":0}]]},"Google Sheets4":{"main":[[{"node":"Update1","type":"main","index":0}]]},"Update":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Get Leads3","type":"main","index":0}]]},"Get Leads3":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Update1":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Mail","type":"ai_languageModel","index":0}]]},"EXA Clean Website Data":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"EXA Company Linkedin1":{"main":[[{"node":"EXA Clean Website Data","type":"main","index":0}]]},"Identify ICP":{"main":[[{"node":"If ICP","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"006b2bca-1765-42ff-a5c7-c584e3fb0961","triggerCount":0,"tags":[{"createdAt":"2025-05-14T06:45:39.929Z","updatedAt":"2025-05-14T06:45:39.929Z","id":"APOMdJtuSJAahNRo","name":"Youtube"}]}