personalizer-ai6nEW22ZFVp3HgN.json
{"createdAt":"2025-05-18T16:50:57.888Z","updatedAt":"2025-05-19T07:57:29.505Z","id":"ai6nEW22ZFVp3HgN","name":"Personalizer","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"5fb93c79-7cc6-4349-b31f-e369f14ae296","name":"When clicking ‘Test workflow’"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1020,200],"id":"ad95a70b-e58a-452c-8e2f-a92680c10803","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"maxItems":100},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[740,0],"id":"5ee2c133-c08c-4776-9a52-7bf9e7fc1233","name":"Limit"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f94b1cba-a29a-4baa-8c2d-90f61e45d12d","leftValue":"={{ $json.output }}","rightValue":"marketing","operator":{"type":"string","operation":"contains"}},{"id":"edadf668-2624-4125-bf95-b3f10ed797e6","leftValue":"={{ $json.output }}","rightValue":"agency","operator":{"type":"string","operation":"contains"}},{"id":"6bb93d57-30d9-45c3-8b5d-75c61ccf7d81","leftValue":"={{ $json.output }}","rightValue":"advertising","operator":{"type":"string","operation":"contains"}},{"id":"7a7d76c1-db85-43b0-a575-89faac785d4d","leftValue":"={{ $json.output }}","rightValue":"digital","operator":{"type":"string","operation":"contains"}},{"id":"c2dae62b-1d1f-4347-9379-1048d045a384","leftValue":"={{ $json.output }}","rightValue":"social","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1360,0],"id":"778491a6-3715-41b8-9dcc-b26d51296d44","name":"Industry ok?"},{"parameters":{"promptType":"define","text":"=Visit the website of this company at: {{ $json.company_domain }}, and do general research on the website to determine its industry. Be specific and use adjectives where appropriate (for exxample, automotive marketing, creative marketing, facebook ads, content creation, social marketing). I am looking for companies that are in the marketing and advertising industry.\n\nDo not return anything else other than the industry. Output the industry in no more than two words and in low caps.\n\nIf output does not fit marketing and advertising, output nothing.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1000,0],"id":"bc78d22c-48c2-4f3f-824c-f6757a1f7757","name":"Find Industry","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"ff8e7d1a-c702-4a0a-a6a3-649040c2f790","name":"row_number","value":"={{ $json.row_number }}","type":"number"},{"id":"e2c3b06e-d78b-482c-b45a-9ccd25dab39f","name":"first_name","value":"={{ $json.first_name }}","type":"string"},{"id":"0b281c31-0ce4-4053-a255-fb96d6d95d76","name":"full_name","value":"={{ $json.full_name }}","type":"string"},{"id":"a3cc0816-1b26-4159-a687-98a3e7fd3224","name":"linkedin","value":"={{ $json.linkedin }}","type":"string"},{"id":"c9c6b3d9-083e-402b-8286-3cbfcebc87d6","name":"open","value":"={{ $json.open }}","type":"boolean"},{"id":"c171e6b9-c64f-4267-8b9a-e7ae13f56958","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"d47f8aca-8bcf-4a0c-804e-3d25920bdb09","name":"location","value":"={{ $json.location }}","type":"string"},{"id":"74e2263d-a0a6-42b9-a2e5-6b2c7495df0f","name":"company_name","value":"={{ $json.company_name }}","type":"string"},{"id":"fd1b7725-45f8-4f41-b84c-df787e9c5b42","name":"company_domain","value":"={{ $json.company_domain }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"17972093-74f4-4a06-9ca5-6166a07f9536","name":"Set variables"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1WDdM9wRYUEPAJ8mSw_rzF6dGyNkMvIUV8QiHBHlRTrI","mode":"list","cachedResultName":"SyrviAI test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WDdM9wRYUEPAJ8mSw_rzF6dGyNkMvIUV8QiHBHlRTrI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1504304014,"mode":"list","cachedResultName":"appropriate","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WDdM9wRYUEPAJ8mSw_rzF6dGyNkMvIUV8QiHBHlRTrI/edit#gid=1504304014"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Limit').item.json.row_number }}","industry":"={{ $json.output }}"},"matchingColumns":["row_number"],"schema":[{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"full_name","displayName":"full_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedin","displayName":"linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"open","displayName":"open","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company_name","displayName":"company_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company_domain","displayName":"company_domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"personalisation","displayName":"personalisation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1620,0],"id":"e853cad0-f381-4f8d-9711-d95ad3df0671","name":"Update Industry","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"documentId":{"__rl":true,"value":"1WDdM9wRYUEPAJ8mSw_rzF6dGyNkMvIUV8QiHBHlRTrI","mode":"list","cachedResultName":"SyrviAI test","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WDdM9wRYUEPAJ8mSw_rzF6dGyNkMvIUV8QiHBHlRTrI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1504304014,"mode":"list","cachedResultName":"appropriate","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WDdM9wRYUEPAJ8mSw_rzF6dGyNkMvIUV8QiHBHlRTrI/edit#gid=1504304014"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[220,0],"id":"9b99d190-9b98-4f80-8a9b-1faa5fcb72da","name":"Get Rows","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"395df2be-f73e-4f11-82a0-eb321097b96f","leftValue":"={{ $('Get Rows').item.json.industry }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1860,0],"id":"e1a7df59-cdb5-48b3-8b0c-4f814cafe807","name":"Industry fits"},{"parameters":{"maxItems":10},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[2280,0],"id":"30bd4c4a-8dc1-4df1-98c4-43fe51338ea5","name":"Limit1"},{"parameters":{"promptType":"define","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[3020,-240],"id":"c9f7af98-71c0-419e-90c3-b476719fbe9c","name":"AI Agent"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/aYG0l9s7dbB7j3gbS/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer apify_api_tD1N21MwcM4PbmhVD5zVn3iHcLlAXC1pG6lV"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"aggressivePrune\": false,\n    \"clickElementsCssSelector\": \"[aria-expanded=\\\"false\\\"]\",\n    \"clientSideMinChangePercentage\": 15,\n    \"crawlerType\": \"playwright:adaptive\",\n    \"debugLog\": false,\n    \"debugMode\": false,\n    \"expandIframes\": true,\n    \"ignoreCanonicalUrl\": false,\n    \"keepUrlFragments\": false,\n    \"proxyConfiguration\": {\n        \"useApifyProxy\": true\n    },\n    \"readableTextCharThreshold\": 100,\n    \"removeCookieWarnings\": true,\n    \"removeElementsCssSelector\": \"nav, footer, script, style, noscript, svg, img[src^='data:'],\\n[role=\\\"alert\\\"],\\n[role=\\\"banner\\\"],\\n[role=\\\"dialog\\\"],\\n[role=\\\"alertdialog\\\"],\\n[role=\\\"region\\\"][aria-label*=\\\"skip\\\" i],\\n[aria-modal=\\\"true\\\"]\",\n    \"renderingTypeDetectionPercentage\": 10,\n    \"respectRobotsTxtFile\": true,\n    \"saveFiles\": false,\n    \"saveHtml\": false,\n    \"saveHtmlAsFile\": false,\n    \"saveMarkdown\": true,\n    \"saveScreenshots\": false,\n    \"startUrls\": [\n        {\n            \"url\": \"https://{{ $('Get Rows').item.json.company_domain }}\",\n            \"method\": \"GET\"\n        }\n    ],\n    \"useSitemaps\": false\n} ","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2780,20],"id":"2133069e-d1d5-49d7-b215-25d79e5899e0","name":"HTTP Request"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2500,0],"id":"a335a853-6696-4ef8-b067-b1f50121afd8","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"0e09ea6e-28b9-429c-a772-c8221c0a030f","name":"metadata.canonicalUrl","value":"={{ $json.metadata.canonicalUrl }}","type":"string"},{"id":"c53c4217-b553-45c0-ac2c-3e94223040ba","name":"metadata.title","value":"={{ $json.metadata.title }}","type":"string"},{"id":"c2ffafb7-e085-4406-84c6-3226e8697029","name":"metadata.description","value":"={{ $json.metadata.description }}","type":"string"},{"id":"45373501-ffe9-425a-9d92-aa837a8f6f38","name":"markdown","value":"={{ $json.markdown }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3000,20],"id":"f395a2b4-6156-4852-b423-eb4adf8a3429","name":"Edit Fields"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Get Rows","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Find Industry","type":"ai_languageModel","index":0}]]},"Limit":{"main":[[{"node":"Find Industry","type":"main","index":0}]]},"Industry ok?":{"main":[[{"node":"Update Industry","type":"main","index":0}]]},"Find Industry":{"main":[[{"node":"Industry ok?","type":"main","index":0}]]},"Set variables":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Update Industry":{"main":[[{"node":"Industry fits","type":"main","index":0}]]},"Get Rows":{"main":[[{"node":"Set variables","type":"main","index":0}]]},"Industry fits":{"main":[[{"node":"Limit1","type":"main","index":0}]]},"Limit1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"AI Agent":{"main":[[]]},"Loop Over Items":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9ca74b10-fcfa-442b-8f0d-49459a64fc4e","triggerCount":0,"tags":[{"createdAt":"2025-03-31T08:42:55.021Z","updatedAt":"2025-03-31T08:42:55.021Z","id":"Ajdrvo3Lktb90nw4","name":"Syrvi"}]}