rag-chatbot---jkd-WWOgumfBiFcpa7FX.json
{"createdAt":"2025-04-29T15:58:05.866Z","updatedAt":"2025-04-29T16:41:37.362Z","id":"WWOgumfBiFcpa7FX","name":"RAG chatbot - JKD","active":false,"nodes":[{"parameters":{"model":"gpt-4o","options":{"temperature":0.8}},"id":"11e245b2-8424-4d3b-a612-a357703f9cf2","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1364,20],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"model":"gpt-4o","options":{}},"id":"77709119-a532-42b5-b936-a652dfcff9b6","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-700,180],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').item.json.file_id }}"}]}}},"id":"39a381d7-0f99-4cfb-82e0-f343c9596092","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[-400,700]},{"parameters":{"model":"text-embedding-3-small","options":{"stripNewLines":true}},"id":"3b7f87d5-6741-4e43-9f57-664b485dccb8","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-580,760],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"name":"user_documents","description":"Contains all the user's documents that you can check for context to answer user questions.","topK":15},"id":"150e4559-5e97-497c-844f-23581bba15a5","name":"Retrieve Documents","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[-860,0]},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"64aca025-315b-4d5c-8a25-e36ec6f9e929","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1020,-60]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB\nAdd text files to google drive and have them auto upload to Supabase","height":672,"width":2251,"color":5},"id":"4298853c-7fd9-4fdd-8658-2b3110a70a53","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2300,320]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"05c47913-9151-4014-82ff-21b8faa68953","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1100,560],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"ONECLICK - Google Drive"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"11-wjxPZybdJdVAGDi0_GiCA6IYro355r","mode":"list","cachedResultName":"JKD - RAG bot","cachedResultUrl":"https://drive.google.com/drive/folders/11-wjxPZybdJdVAGDi0_GiCA6IYro355r"},"event":"fileCreated","options":{}},"id":"a31a1890-1439-426b-b314-db786941c8b8","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1980,520],"credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"ONECLICK - Google Drive"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"11-wjxPZybdJdVAGDi0_GiCA6IYro355r","mode":"list","cachedResultName":"JKD - RAG bot","cachedResultUrl":"https://drive.google.com/drive/folders/11-wjxPZybdJdVAGDi0_GiCA6IYro355r"},"event":"fileUpdated","options":{}},"id":"b85361b4-c3dc-4608-a714-73d3158117f6","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1980,720],"credentials":{"googleDriveOAuth2Api":{"id":"2HpbERcyLF4JlqQi","name":"ONECLICK - Google Drive"}}},{"parameters":{"operation":"text","options":{"encoding":"utf8","stripBOM":true}},"id":"5fb415df-48a4-4679-9cdf-035cbf1e57e9","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-880,560],"alwaysOutputData":true},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"0b9aa4d4-34a4-4a98-8494-d46f5104de6e","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[-920,320],"credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"tableName":"chat_history_JKDdocuments"},"id":"1b618d98-2760-4c00-b455-dbc00ebd00a5","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-1244,20],"notesInFlow":false,"credentials":{"postgres":{"id":"k9zhdBNZqYVHhO1c","name":"ONECLICK-Postgres"}}},{"parameters":{"chunkSize":800,"chunkOverlap":400,"options":{"splitCode":"markdown"}},"id":"d9547191-6a92-444f-994e-93b01e1e9af7","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[-280,840]},{"parameters":{"operation":"delete","tableId":"jkddocuments","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"c53797ab-1972-4fdf-bfa1-974cd73c335a","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1320,560],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"L5uqTMSc5f8WvP9K","name":"ONECLICK - Main"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"id":"992c023f-ff88-4169-8e9f-b5f9514dce75","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1540,560]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":692.7866482806627},"id":"dccf4036-4735-4b89-910a-bb924ba65572","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1754.5,-205]},{"parameters":{"public":true,"initialMessages":"HI! 👋\nHow can I help you today?","options":{"inputPlaceholder":"What do you want to know?","loadPreviousSession":"memory","showWelcomeScreen":true,"getStarted":"Start","subtitle":"","title":"Hi! 👋","customCss":":root {\n  /* Colors */\n  --chat--color-primary: #4fb9d6; /* Send button background */\n  --chat--color-white: #ffffff;\n  --chat--color-light: #0b0f1a;\n  --chat--color-light-shade-50: #151c27;\n  --chat--color-light-shade-100: #1e2733;\n  --chat--color-dark: #09101c;\n  --chat--color-typing: #9a9d9e;\n\n  /* Fonts */\n  --chat--font-family: 'Open Sans', sans-serif;\n  --chat--heading--font-family: 'Nunito', sans-serif;\n\n  /* Layout & Dimensions */\n  --chat--spacing: 0.8rem;\n  --chat--border-radius: 1.2rem;\n  --chat--window--width: 100vw;\n  --chat--window--height: 100vh;\n  --chat--window--border: none;\n\n  /* Header */\n  --chat--header-height: auto;\n  --chat--header--padding: 0.5rem 1rem;\n  --chat--header--background: #09101b;\n  --chat--header--color: var(--chat--color-white);\n  --chat--heading--font-size: 1.5rem;\n  --chat--subtitle--font-size: 0.85rem;\n  --chat--header--heading--margin-bottom: 0.5rem; /* or 30px */\n  --chat--header--subtitle--margin-top: 0px;\n\n  /* Message bubbles */\n  --chat--message--font-size: 0.85rem;\n  --chat--message--padding: 1rem;\n  --chat--message--border-radius: 1.2rem;\n  --chat--message-line-height: 1.6;\n  --chat--message--margin-bottom: 1.3rem;\n  --chat--message--bot--background: #151c27;\n  --chat--message--bot--color: #ffffff;\n  --chat--message--user--background: #4fb9d6;\n  --chat--message--user--color: #ffffff;\n\n  /* Input */\n  --chat--input--background: #151c27;\n  --chat--input--text-color: #ffffff;\n  --chat--input--placeholder--color: #9a9d9e;\n  --chat--textarea--height: 48px;\n  --chat--input--border: none;\n  --chat--input--padding: 0.9rem;\n\n  /* Send button */\n  --chat--input--send--button--background: #4fb9d6;\n  --chat--input--send--button--color: #ffffff;\n  --chat--input--send--button--background-hover: #3caac6;\n  --chat--input--send--button--border-radius: 50px;\n  --chat--input--send--button--width: 44px;\n  --chat--input--send--button--height: 44px;\n\n  /* Chat background */\n  --chat--body--background: var(--chat--color-light);\n  --chat--footer--background: var(--chat--color-light);\n}\n\n/* Bubble style */\n.chat-message {\n  max-width: 90%;\n  font-family: 'Open Sans', sans-serif;\n  padding: 1rem 1.2rem !important;\n  margin-bottom: 1.3rem !important;\n  border-radius: 1.2rem !important;\n}\n\n/* Make the icon inside the send button white */\n.chat-input__send-button svg {\n  fill: #ffffff !important;\n}\n\n.chat-powered-by {\n  display: none !important;\n}\n\n.chat-button {\n  transition: \n    color 0.3s ease-in-out,\n    background-color 0.3s ease-in-out,\n    border-color 0.3s ease-in-out,\n    box-shadow 0.3s ease-in-out;\n  background-color: var(--chat--color-primary); /* starting color */\n  color: #ffffff; /* text color */\n}\n\n/* Hover state: white background, matching text color */\n.chat-button:hover {\n  background-color: #ffffff !important;\n  color: var(--chat--color-primary) !important;\n  border: 1px solid var(--chat--color-primary);\n}\n\n.chat-input-send-button[data-v-2a7fb1c3] svg {\n  fill: #ffffff !important;\n}\n"}},"id":"29873144-4b26-4292-8ab5-88de30a86797","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1740,-80],"webhookId":"82c753b7-6160-4791-b476-56af152ddb27"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{"systemMessage":"You are an outreach assisstant for a coaching program called OSS, your role is to provide users with basic support answers and guide them on how to tackle common issues."}},"id":"90dc5f03-b880-4c6f-9082-76374b7d3f13","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-1340,-160]},{"parameters":{"tableName":{"__rl":true,"value":"jkddocuments","mode":"list","cachedResultName":"jkddocuments"},"options":{"queryName":"match_jkddocuments"}},"id":"02348726-cae9-4789-bd5f-adebb5455ce0","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-1000,180],"credentials":{"supabaseApi":{"id":"L5uqTMSc5f8WvP9K","name":"ONECLICK - Main"}}},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"jkddocuments","mode":"list","cachedResultName":"jkddocuments"},"options":{"queryName":"match_jkddocuments"}},"id":"5c111973-c9ad-477c-bc87-9b5798194332","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-540,540],"credentials":{"supabaseApi":{"id":"L5uqTMSc5f8WvP9K","name":"ONECLICK - Main"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Retrieve Documents","type":"ai_languageModel","index":0}]]},"Retrieve Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Retrieve Documents","type":"ai_vectorStore","index":0}]]},"Insert into Supabase Vectorstore":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File Created":{"lastTimeChecked":"2025-04-03T09:39:33Z"},"node:File Updated":{"lastTimeChecked":"2025-04-03T09:39:33Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b9ae7f17-58bd-4591-811b-d4529149d234","triggerCount":4,"tags":[{"createdAt":"2025-04-29T15:58:04.157Z","updatedAt":"2025-04-29T15:58:04.157Z","id":"kEe8OEqeuuq4Pf8s","name":"JKD"}]}