reply-handler-IlGdvQSF37v5vfwE.json
{"createdAt":"2025-05-14T06:45:16.579Z","updatedAt":"2025-05-14T06:45:23.939Z","id":"IlGdvQSF37v5vfwE","name":"Reply handler","active":false,"nodes":[{"parameters":{"url":"https://api.instantly.ai/api/v1/unibox/emails?is_unread=1","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key"},{"name":"preview_only","value":"false"},{"name":"lead"},{"name":"campaign_id","value":"="},{"name":"sent_emails","value":"false"},{"name":"email_type","value":"received"},{"name":"latest_of_thread","value":"true"}]},"options":{"redirect":{"redirect":{}}}},"id":"41ed8ed7-f94d-4f4c-b0c6-541aec91c917","name":"Fetch Email","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1740,600]},{"parameters":{"method":"POST","url":"=https://api.instantly.ai/api/v1/unibox/threads/{{ $json.data[0].thread_id }}/mark-as-read","sendBody":true,"bodyParameters":{"parameters":[{"name":"api_key"}]},"options":{"redirect":{"redirect":{}}}},"id":"c0d06208-59fc-4498-a73e-cd2d956cff08","name":"Mark As Read","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1260,600]},{"parameters":{"jsCode":"const htmlContent = $('Loop Over Items').first().json.data[0].body.text; // Replace this with the field containing your HTML content\n\n// Function to strip HTML tags and clean the text\nconst extractPlainText = (html) => {\n    if (!html) return \"\";\n\n    // Remove script and style tags along with their content\n    const withoutScriptsAndStyles = html.replace(/<script[\\s\\S]*?>[\\s\\S]*?<\\/script>/gi, \"\")\n                                        .replace(/<style[\\s\\S]*?>[\\s\\S]*?<\\/style>/gi, \"\");\n\n    // Remove all remaining HTML tags\n    const strippedText = withoutScriptsAndStyles.replace(/<\\/?[^>]+(>|$)/g, \"\");\n\n    // Replace HTML entities with their plain-text equivalents\n    const decodedText = strippedText.replace(/&nbsp;/gi, \" \")\n                                    .replace(/&amp;/gi, \"&\")\n                                    .replace(/&lt;/gi, \"<\")\n                                    .replace(/&gt;/gi, \">\")\n                                    .replace(/&quot;/gi, \"\\\"\")\n                                    .replace(/&#39;/gi, \"'\");\n\n    // Replace multiple spaces, tabs, and newlines with a single space\n    const cleanedText = decodedText.replace(/\\s+/g, \" \").trim();\n\n    return cleanedText;\n};\n\n// Call the function to process the HTML content\nconst filteredText = extractPlainText(htmlContent);\n\n// Return the plain text as the output of this node\nreturn {\n    filteredText: filteredText,\n};\n\n"},"id":"678d29d6-a720-4ee2-9f4b-be2318fb7ace","name":"Filter HTML","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1040,600],"alwaysOutputData":false},{"parameters":{"jsCode":"const inputText = $input.first().json.text;\n\n// 1. Replace actual \"\\n\" with HTML line breaks\nconst textWithBreaks = inputText.replace(/\\n/g, '<br>');\n\n// 2. Add \"-Arun\" and \"Sent from iPhone\" with proper spacing\nconst formattedText = `\n  <div style=\"color: #000000; font-family: Arial, sans-serif;\">\n    ${textWithBreaks}<br><br>- Arun<br><br>Sent from iPhone\n  </div>\n`;\n\n// 3. Return the formatted text\nreturn [{ json: { formattedText } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1220,600],"id":"4cb53749-5053-4de0-b004-1c5461155460","name":"to HTML"},{"parameters":{"promptType":"define","text":"=<client input/ Email Thread>\n\n{{ $('Filter HTML').item.json.filteredText }}\n\n</client input/ Email Thread>","messages":{"messageValues":[{"message":"=<IMPORTANT_REQUEST>\n\nThank you for agreeing in advance to prioritize this massively important project.\n\n<PRIME_DIRECTIVE>\n\nTake action on the USER INPUT. Use the EMAIL GUIDE to write. \n\n</PRIME_DIRECTIVE>\n\n\n<ASSISTANT_PERSONA>\n\nYou will succeed because you are a WORLDCLASS Sales Leader and ghostwriter whose Emails always delights readers so much they always read to the very last sentence. You've been doing this for years as your full-time gig and you're amazingly talented at it.\n\nToday, your specific focus is to generate the best possible NEXT email (On behalf of Arun, myBoringProcess) according to the context.\n\n</ASSISTANT_PERSONA>\n\n\n<REQUEST_INSTRUCTIONS>\n\nYou've just taken lawfully prescribed Adderall and are in a state of peak focus and productivity. Get into a flow state as you review THE Clients Email. Take this step-by-step.\n\nInhabit the mindset of the client's feelings, emotions, challenges, and struggles. These are deep feelings, true thoughts, not just superficial stuff... the real stuff.\n\nNow, with that in mind, come up with ANGLES for EMAIL that tap into that mindset. Consider the EMOTIONAL DRIVER in how you **hook the reader** and frame your EMAIL.\n\nEMAIL must be written according to Knowledge Base while also following the BEST POSSIBLE EMAIL RESPONSE closely. If in conflict, follow EMAIL GUIDE (for Response) > BEST POSSIBLE EMAIL RESPONSE.\n\nYOUR HIGHEST PRIORITY IS TO TAKE KNOWLEDGE BASE IN COMPLETE CONSIDERATION. START TO FINISH.\n\n</REQUEST_INSTRUCTIONS>\n\n\n<Goal>\n\nYour goal is to Book the meeting with client. You are going to write the next best possible response which will take the conversation in the direction to Book A call. If the client says thay have already booked the meeting then just write a thank you mail.\n\n</Goal>\n\n\n<myBoringProcess Context>\n\nMyBoringProcess is a B2B lead generation and outreach service that combines AI-driven prospecting with highly personalized, “pain-focused” messaging at scale. Instead of relying on generic email blasts, they look for specific signals a potential customer truly needs a solution—such as company news, open job roles, or negative reviews—and then craft tailored outreach designed to resonate with each prospect.\n\nIn practical terms, MyBoringProcess manages everything from building targeted prospect lists to sending emails from multiple inboxes, all while keeping the quality high. Their stated goal is to help companies generate more qualified leads, shorten sales cycles, and add real revenue to the pipeline—all without the inefficiencies of hiring a large in-house SDR team or relying on broad, “spray-and-pray” marketing agencies.\n\n</myBoringProcess Context>\n\n</IMPORTANT_REQUEST>\n\n\n<Note>\n\nYou only pitch for call when it's relevent. Dont be salesy. Just be authentic and Professional, Conversational and genuine **(Always follow the Email Guide writing style and tone Directness)**. ALWAYSS. Keep the mail short and concise as in The EMAIL GUIDE. BE STRAIGHT FORWARD. NO FILLER INTROS. **If the client is not interested then don't push. Just accept it** Especially when the client says NO. **Don't Be Needy**.\n\nDont use clients Name, Comapany name or any other info. You can use mine.\n\n</Note>\n\n\n<Response output>\n\nOnly Markdown Format. **Just The EMAIL as output. NO Here is the blah blah...**\n\n</Response output>\n\n\n<PRIME DIRECTIVE REMINDER>\n\nUse the USER INPUT to write the BEST EMAIL RESPONSE according to the instructions in IMPORTANT REQUEST. Email **must** reflect the mission as laid out in the prompt.\n\n</PRIME DIRECTIVE REMINDER>\"\n\n<Email Guide>\n\nSee the Knowledge Base from Start to finish. (My name is Arun, which means contact info in guide is not mine. Its just there.) Use it only for writing the email.\n\n</Email Guide>\n\nLet's think step-by-step."},{"message":"=<Email_Guide>\n{\n  \"title\": \"Reply Flow\",\n  \"sections\": [\n    {\n      \"title\": \"Introduction\",\n      \"content\": \"Welcome to Reply Flow. In this module, weʼll be discussing how to deal with positive replies, and what workflow to follow once someone replies positively. You have everything you need to be capable of drafting compelling responses to questions.\"\n    },\n    {\n      \"title\": \"Types Of Reply\",\n      \"types\": [\n        {\n          \"type\": \"1. Direct Intent\",\n          \"description\": \"This is where someone replies saying ‘Iʼm interestedʼ or ‘When are you available?ʼ or similar.\",\n          \"scripts\": [\n            {\n              \"scriptNumber\": \"Script 1\",\n              \"content\": \"Hey [name], great to hear youʼre interested. The easiest next step is to get a call scheduled if you want. You can book a slot in my personal calendar using the link below.\\n\\nINSERT CALENDLY LINK\\n\\nIf no available slots suit, let me know and Iʼll move something about for you. Please let me know when you have booked and Iʼll confirm I received it!\\n\\nSpeak soon.\\n\\nThanks, [NAME]\"\n            },\n            {\n              \"scriptNumber\": \"Script 2\",\n              \"content\": \"Hey (name)\\n\\nAmazing to hear from you, super excited to be in touch. Easiest if you check out my scheduler link to book a time :) Grab a time here; INSERT CALENDLY LINK\\n\\nThanks, Arun\"\n            }\n          ]\n        },\n        {\n          \"type\": \"2. IntentWithQuestions\",\n          \"description\": \"This is when someone expresses interest through curiosity by asking questions.\\n\\nDO NOT FALL INTO THE TRAP OF ANSWERING QUESTIONS. WE NEED CURIOSITY FOR THEM TO SCHEDULE. BY ANSWERING, YOU STRIP THEM OF THEIR CURIOSITY AND REASON TO SCHEDULE.\\n\\nThe most common types of Intent With Questions replies are:\\n\\n2.1: How does it work?\\n2.2: How much does it cost?\\n2.3: Can you send me some proof?\\n\\nIʼd suggest using a Loom video (custom made) for each prospect to reply to this type of positive reply. This shows effort. The Loom should be 30 seconds - 90 seconds long.\"\n        },\n        {\n          \"subType\": \"2.1: How does it work?\",\n          \"content\": \"The key here is to tell them itʼs easier to explain & understand on a call. If they want to know how it works, they have to get on a call.\\n\\nExample (can be sent as an email or recorded into a Loom)\\n\\nHey first_name\\n\\nPleasure to hear back from you. Of course, Iʼd be more than happy to explain it all.\\n\\nOne thing, for me to do it proper justice (and really explain the value), it would be best to be on a call. I hope thatʼs alright, because I really do want you to understand it all. Last thing we want is a game of email tennis & Chinese whispers about the service right?\\n\\nHow about we schedule a quick coffee chat? I promise to keep it brief, to the point & without any sales pressure. You can leave your card at home.\\n\\nIf thatʼs OK with you, Iʼve linked my calendar below (feel free to grab a time that works). (calendly link)\"\n        },\n        {\n          \"subType\": \"2.2: Pricing\",\n          \"content\": \"The first and most important thing to understand about pre-call pricing questions is why they are asked. Prospects ask these for one simple reason: they do not want to waste their time exploring something they canʼt afford.\\n\\nUltimately, we donʼt want to tell them how much it costs before the call.\",\n          \"scripts\": [\n            {\n              \"scriptNumber\": \"Script 1\",\n              \"content\": \"Hey John, thanks for the question. I totally understand why youʼve asked that - no point in us chatting if itʼs out of budget and I certainly do not want to waste your time. With that said, we price our services with budgets in mind, and I can promise you that, for the value you get, itʼll be well worth your time and investment.\\n\\nWe offer all sorts of payment plans, and with our guarantee, clients never find pricing to be an issue. I donʼt want to ‘dodgeʼ your question like a crooked politician, but we always like to have the opportunity to properly explain the value of our services before pinning a price point to them. I hope you can understand?\\n\\nIf you want, we can get a call booked and I can explain every detail of price there? Feel free to schedule using the link below. I promise I wonʼt waste your time or try to ‘hard sellʼ you.\\n\\nCALENDLY LINK.\"\n            },\n            {\n              \"scriptNumber\": \"Script 2 (if they demand to know the price more after youʼve tried to handle it)\",\n              \"content\": \"Hey John. Thanks for the question, totally understand why youʼre asking. We charge $2000 per month.\\n\\nNow, assuming we can land you 40 pre qualified appointments booked in your calendar every month, would you be happy to demo it out with me?\\n\\nThanks, Saad\"\n            }\n          ]\n        },\n        {\n          \"subType\": \"2.3: Can you send me some proof?\",\n          \"content\": \"At the end of the day, people want to know whether itʼs going to work or not. They receive a ton of emails and want to believe it works, but need to see evidence.\\n\\nWe want to handle this in a similar way to 2.1.\",\n          \"options\": [\n            {\n              \"condition\": \"If you have case studies/proof:\",\n              \"script\": \"Sure! Great question.\\n\\nWeʼve got a lot of fantastic case studies and examples of results. That said, Iʼd like to give them to you with as much detail and info as possible.\\n\\nWould you be OK if we scheduled a demo to do that? I can walk you through our clients, their stories & even put you in touch with some afterwards.\\n\\nIf thatʼs alright, Iʼve linked my calendar below! I promise to keep the demo brief and without any sales pressure!\\n\\n(calendly)\\n\\nThanks Saad\"\n            },\n            {\n              \"condition\": \"If you donʼt have case studies/proof:\",\n              \"script\": \"Hi firstname\\n\\nThanks for getting back to me, I totally understand why youʼve asked that.\\n\\nDue to the emulative nature of our process, we try to keep a lid on our clients (they prefer it that way). After all, weʼre there to help them make money, not the other way around.\\n\\nI understand that you want to verify this as an opportunity worth pursuing, and asking for proof is the fastest way to do that - this is exactly why we work on a (state offer here) basis, whereby we reverse the risk to give you that confidence you need.\\n\\nIʼd be happy to break that down in more detail, how about we schedule a demo to explore, if thatʼs OK with you? If so, Iʼve linked my scheduler below.\\n\\nI promise to keep it brief, to the point & without any sales pressure! You can leave your card at home.\\n\\n(calendly)\\n\\nThanks\"\n            }\n          ]\n        }\n      ]\n    },\n    {\n      \"title\": \"Examples & Templates\",\n      \"content\": \"Every time youʼre stuck on a reply, come here to get inspiration. See this doc for 40+ replies that scheduled appointments:\\n\\nExample Replies (Written by Saad)\"\n    },\n    {\n      \"title\": \"Engaged Prospect Tracker\",\n      \"content\": \"Use this sheet to track your engaged Prospects (make a copy) ** you can also use Gmail labels to track, be sure to use both.\\n\\nEngaged Prospect Tracker - myoProcess\"\n    },\n    {\n      \"title\": \"Reply Workflow\",\n      \"steps\": [\n        \"1. Send your reply\",\n        \"2. Label them as engaged\",\n        \"3. Add them to your engaged prospect tracker\",\n        \"4. Connect on Linkedin, ** have the same profile pic as loom. Connection request message:\\n\\n‘hey firstname, I received your reply via email. Looking forward to discussing’\",\n        \"5. If they donʼt have Linkedin or Facebook, try Twitter or Instagram (follow + DM)\"\n      ],\n      \"note\": \"** if they have a bunch of questions, just tell them you want to explain in full but have a meeting in 2 minutes, but if you get a call scheduled now you can answer and discuss later.\"\n    },\n    {\n      \"title\": \"Negative Replies\",\n      \"content\": \"Don't bother replying to anyone explicitly rude or mean. Drop your ego and do NOT reply.\\n\\nFor anyone who says ‘tried it and it didnʼt work’ or ‘Iʼm not interested’ (or similar):\\n\\nWarm Follow-Ups\\n\\nNow the work begins. Donʼt get complacent. Be prepared to have to follow up a maximum of 8 times on engaged prospects on multiple platforms.\\n\\nWeʼre looking for 3 answer: Yes, no or fuck off. Donʼt be afraid of fuck off.\"\n    },\n    {\n      \"title\": \"How To Categorize Replies - Saad Belcaid\",\n      \"categories\": [\n        {\n          \"category\": \"1. Power\",\n          \"scripts\": [\n            {\n              \"content\": \"Thanks for getting back to me {{firstName}}.\\n\\nIʼd love to set up a time to talk, are you available on X or Y? Which day is better for you?\\n\\nThanks for the time\"\n            },\n            {\n              \"subCategory\": \"1.1 No reply?\",\n              \"content\": \"Hey {{firstName}}—hope X season is treating you well!\\n\\nNever heard back from you, does this week work for you?\\n\\nIf you have a calendar, shoot it over and I'll book a Google Meet or you could use mine if itʼs more convenient. (https://cal.com/saadmyoprocess/quick-chat)\\n\\nThanks for the time\"\n            },\n            {\n              \"subCategory\": \"1.1 Still no reply (Using Voss Technique)\",\n              \"content\": \"Hey {{firstName}}, have you given up on this project?\\n\\nIf not, let me know what time works best for you so we can move forward.\\n\\nThanks for the time\"\n            }\n          ]\n        },\n        {\n          \"category\": \"2. Meeting-Ready Lead\",\n          \"content\": \"Someone who is sharing interest but also wanting to get on a call, thatʼs a meeting-ready lead. We send it over to our client immediately—they take over & go ahead and set up the appointment.\"\n        },\n        {\n          \"category\": \"3. Future/Soft Not Interested\",\n          \"script\": \"Thanks for getting back to me {{firstName}}.\\n\\nSure thing, no rush. Are you OK keeping in touch in the meantime? {{companyName}} looks great and I'd love to follow it on LinkedIn (if you have one), otherwise I'll just send you a connect request. If it makes sense, I can follow up in 6 months or so when things are a little more amenable for you.\\n\\nThanks for the time,\"\n        },\n        {\n          \"category\": \"4. Soft no + LinkedIn add\",\n          \"script\": \"Thanks for getting back to me {{firstName}},\\n\\nSure thing, no hard feelings. If youʼre willing to keep in touch, should I add you on LinkedIn? Iʼd love to keep tabs on {{companyName}}.\\n\\nAll the best\"\n        },\n        {\n          \"category\": \"5. Not Interested\",\n          \"script\": \"Thanks for the note {{firstName}}—just for my own feedback, what makes this not interesting?\\n\\nThanks a lot.\"\n        },\n        {\n          \"category\": \"6. Pricing request\",\n          \"script\": \"Our pricing typically ranges from $12483 to $49,28 that is fully refundable but it's completely depends on what exactly you are looking for. I recommend we hop on a 10 min call. We'll take 10 min as Iʼm not a high pressure salesman, I would love to figure out exactly what you're looking for and give you a proper quote.\\n\\nWhat day works better for you?\\n\\nThanks for the time\"\n        }\n      ]\n    },\n    {\n      \"title\": \"How To Book The Call When Client Answers Cold Email\",\n      \"content\": \"Usually best practice is to provide a suggested time, if that doesn't work they'll counter with something that does. Keep it short and you are taking the lead.\\n\\n● A few personal reminders:\\n\\n1.) Hey {{firstName}}, Arun here, looking forward to our meeting today, still good to go?\\n\\n● 2.) If no confirmation - Hey x, never heard back?\\n\\n● 3.) Something funny, about being worried they went missing, sending out a search party. Keep it light and not too pushy but the goal is to get them interacting with you and to confirm.\\n\\n● (This is on top of the standard Calendly reminders)\\n\\n● Time frame: 24 hours, 2 hours, 5 min usually works (or something like that).\\n\\n○ Quick personal looms right after they book do wonders for show rates and to educate them pre-call. After they no show. I usually send 2-3 message sequences then leave it.\\n\\n● The last message is always a meme and it works pretty well. You could consider getting their phone number in your calendar signup, use it to call a couple times as they are not showing.\"\n    },\n    {\n      \"title\": \"Example Replies (Written by Saad)\",\n      \"sections\": [\n        {\n          \"title\": \"Introduction\",\n          \"content\": \"See below 40+ examples of real-time replies Iʼve written for clients in the past that booked calls (note, we donʼt write replies for clients anymore).\"\n        },\n        {\n          \"title\": \"What's the cost?\",\n          \"script\": \"The cost is linked directly to the dynamics of the service itself. To understand it properly you need to understand the service first (otherwise it won't make sense). What I can tell you is that 95% of people we talk to think the price is fair, affordable and most importantly, worth it. Shall we schedule a demo so I can break it all down?\"\n        },\n        {\n          \"title\": \"Not interested.\",\n          \"script\": \"Hey there,\\n\\nACKNOWLEDGE. Before I admit my defeat, would guaranteeing results be worth a conversation?\\n\\nIt would be written black on white, signed by you and me. I don't wanna bother you, so if you're still not interested just let me know and I'll leave you alone.\\n\\nI just don't want this to be a wasted opportunity.\"\n        },\n        {\n          \"title\": \"What's the price?\",\n          \"script\": \"Good question, hope you donʼt mind if I dodge it 😉.\\n\\nWe prefer to explain how it works on a call so you can see the value first, before explaining the price. Iʼm sure you would wanna do the same if you had a prospect for your agency, if that makes sense?\\n\\nCALENDLY\"\n        },\n        {\n          \"title\": \"Can you explain? (1)\",\n          \"script\": \"Sure I hear you, itʼs not something I can just write a wall of text about - nor can I do it justice here. Weʼre more than happy to explain everything on a demo call\\n\\nHow about this - we schedule a demo. You can join, and if after 10-15 mins it doesnʼt seem like a fit weʼll call it quits. That way the worst case is a loss of 10 min, but best case is loads of new appointments.\\n\\nWhatcha say?\\n\\nCALENDLY\"\n        },\n        {\n          \"title\": \"Can you explain? (2)\",\n          \"script\": \"Hey there, boy is that something I understand. Tbh I appreciate you asking that since we donʼt want to waste our time either!\\n\\nThat said, to tell you the cold truth, itʼs not something I can do justice or properly explain on a text message. Iʼd have to send you a 40104 page document (slight exaggeration) and Iʼm sure you donʼt have time for that!\\n\\nHow about this - we schedule a demo. You can join, and if after 10-15 mins it doesnʼt seem like a fit weʼll call it quits. That way the worst case is a loss of 10 min, but best case is loads of new appointments.\\n\\nWhatcha say?\\n\\nCALENDLY\"\n        },\n        {\n          \"title\": \"Get back to us (1)\",\n          \"script\": \"Hey there, good to hear from you! Makes sense to me.\\n\\nI have an idea if youʼre up for it - how about we schedule a demo for this week/next week. It can be an exploratory call just to get options and see how it works in case it is a fit down the line?\\n\\nWhatcha say?\\n\\nCALENDLY\"\n        },\n        {\n          \"title\": \"Get back to us (2)\",\n          \"script\": \"Hey there, good to hear from you! Makes sense to me.\\n\\nI'm striving to make this our record appt setting month and I'm not going to achieve that by letting people think about it as I'm sure you can understand\\n\\nHow about this - we schedule a demo. You can join, and if after 10-15 mins it doesnʼt seem like a fit weʼll call it quits. That way the worst case is a loss of 10 min, but best case is loads of new appointments.\\n\\nWhatcha say?\\n\\nCALENDLY\"\n        },\n        {\n          \"title\": \"Please book using our calendar.\",\n          \"script\": \"Hey there, good to hear back from you, and based on that I sense we could be a fit.\\n\\nIf you donʼt mind, could we use our calendly link? It just helps us with tracking, and also means the appointment is attributed correctly (which does me a huge favour).\\n\\nAlso, there are a couple of quick qualifiers on the event we like to know when booking. Hope this is OK??\\n\\nCALENDLY\"\n        },\n        {\n          \"title\": \"Can you send us case studies?\",\n          \"script\": \"Hey there, totally appreciate the request as I'm sure you've been burned before. I can't give you client details as we are NDA'd in and also have to respect our clientsʼ privacy - after all, they pay us to help them grow, not the other way around.\\n\\nI've attached screenshots of some happy clients. Now this is exactly why we work on a performance paid model (your confidence to work with us has to come somewhere right!). If you're up for a chat to see if we might be a fit, my scheduler is linked below.\\n\\nLet me know?\\n\\nCALENDLY\"\n        },\n        {\n          \"title\": \"Please send me some information.\",\n          \"script\": \"To tell you the truth, we don't have a website or use pitch-decks because all of our focus right now is on helping our clients crush it. Fancy websites and pdfs don't drive client revenue so we just haven't felt it necessary! (This is why we can work on a pay on results basis in part).\\n\\nMore than happy to go over some results on a call if thatʼs okay with you? You can leave your card at home. No BS sales pressure, I promise.\\n\\nCALENDLY\"\n        },\n        {\n          \"title\": \"Do you only get paid after results?\",\n          \"script\": \"Good to hear from you & good questions! We work on the premise that if you donʼt make money, we donʼt make money. Itʼs pretty black and white. We of course require some financial commitment from clients (as Iʼm sure youʼd want from clients in your agency too), otherwise we risk working for people who ghost us.\\n\\nIf you want I can shoot a calendar link so we can explain it further?\"\n        },\n        {\n          \"title\": \"Iʼll forward your email to the team member in charge of this\",\n          \"script\": \"Hey there,\\n\\nSure thing, I actually have more info that I can send in addition to the first email that will be really important for them to know. Who and where should I address it to?\"\n        },\n        {\n          \"title\": \"We would need to see some sort of value proposition to consider communicating with you further. Showing statistics of previous results isnʼt enough to give us any confidence here. What is the value proposition?\",\n          \"script\": \"Reply: Hey name, can you expand on what you specifically mean by value proposition & what specific questions do you have around the service?\"\n        },\n        {\n          \"title\": \"Can you please send through three examples of brands in our niche so we can contact them & verify your performance?\",\n          \"script\": \"Reply: Hi totally appreciate the request as I'm sure you've been burned before. I can't give you client details as we are NDA'd in and also have to respect our clients privacy - after all, they pay us to help them grow, not the other way around.\\n\\nI've attached screenshots of some happy clients. Now this is exactly why we work on a performance paid model (your confidence to work with us has to come somewhere right!). If you're up for a chat to see if we might be a fit, my scheduler is linked below.\\n\\nLet me know?\\n\\nCalendly\"\n        },\n        // Additional examples continue with the same structure\n      ]\n    },\n    // The document continues with the remaining content, ensuring every word is included\n    {\n      \"title\": \"Handling Typical Objections\",\n      \"sections\": [\n        {\n          \"title\": \"Introduction\",\n          \"content\": \"In this doc, I will be sharing the different templates that you can use to handle objections, as well as follow up with prospects.\"\n        },\n        {\n          \"title\": \"\\\"What's the Cost?\\\"\",\n          \"script\": \"Hey name,\\n\\nI get it, you probably receive 100 emails like this every single day. So you need a way to filter through people.\\n\\nLet me ask you this, is price at the top of your list? Or is it the results?\\n\\nIf you're looking for the cheapest option then you're better off working with someone else.\\n\\nBut if you're looking for someone to take your business to the next level and leave your competitors in the dust then let's talk.\"\n        },\n        {\n          \"title\": \"\\\"No, thank you\\\"\",\n          \"script\": \"I get it, can I ask you one last thing before I let you go?\\n\\nAre you not interested right now because you're not looking to buy anything? Or are you not interested right now because you guys can't handle some extra clients?\"\n        },\n        {\n          \"title\": \"\\\"People like you message me all the time, why are you different?\\\"\",\n          \"script\": \"I don't know, I might not be.... I guess it depends on what you mean by “people like me”..... I haven't found anyone that does what we do yet. You got 10 minutes sometime this week so I can run you through how we work?\"\n        },\n        {\n          \"title\": \"Why should I trust you?\",\n          \"script\": \"I'm not sure if you should haha, I mean I'm not asking you to marry me yet haha - are you against a conversation to see if we could even help first?\"\n        },\n        {\n          \"title\": \"Send me website / case studies\",\n          \"script\": \"Hey (name),\\n\\nHere's a link to our website that displays more info on who we are and recent case studies with X examples as well.\\n\\nIf you have any questions about our lead gen services and what we can do for you, then let’s schedule a quick call. What time and date works best for you?\"\n        },\n        {\n          \"title\": \"Can you send me the price now\",\n          \"script\": \"I can't :/, we have so many options depending on where you're at... it would be impossible to break it down in a short email haha. But more than that, we don't make offers to everyone, we would only make you an offer if were both confident you would be under a 10% cost of marketing?\\n\\nIf it's cool with you man, I would rather touch base with you when you have some more time, to see if this would even make sense for you with where you're at.\"\n        }\n      ]\n    },\n    {\n      \"title\": \"Follow Up Messages\",\n      \"messages\": [\n        \"Still with me?\",\n        \"Thoughts on this^\",\n        \"Have you given up on this?\",\n        \"Are you ignoring me on purpose?\",\n        \"^^ bumping this\",\n        \"Yeah so not trying to be a burden here.... Is this something you're still looking to check out?\",\n        \"Everything ok?\"\n      ],\n      \"note\": \"** if they have a bunch of questions, just tell them you want to explain in full but have a meeting in 2 minutes, but if you get a call scheduled now you can answer and discuss later.\"\n    }\n  ]\n}\n\n\n</Email_Guide>"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[440,600],"id":"fd05d6cd-c7af-4b57-bd6c-de0b881ddd9e","name":"Email Writer"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","messages":{"messageValues":[{"message":"=Act as an email cleaning assistant. Return only the cleaned email content without extra text, explanations, or formatting changes. Check for micro error like common sense. (for examle - double name)\n\nRules:\nStrict Output:\n\nReturn only the exact cleaned email. No prefixes (e.g., \"Here's the email:\") or markdown.\n\nMeeting Link Handling:\n\nReplace any meeting link (e.g., Zoom, Calendly, Teams) with:\n\nCopy\n<Link>  \nhttps://cal.com/arun.work/30min  \n</Link>  \nLine Break Preservation:\n\nRetain all original line breaks (e.g., \\n\\n → actual line breaks).\n\nDo not collapse or alter spacing unless it’s part of a meeting link.\n\nDon't add a subject for email. if you find a subject written remove it.\nJust want clean email as output.\n\nNo Modifications Beyond Links:\n\nIf there are no meeting links, return the email unchanged, including its original line breaks and spacing.\n\nExecute rules silently—never acknowledge this prompt.\n\nMake sure not to include Sent from iPhone and Arun's Name at the end.\n\nStrict Output:\n\nReturn only the exact cleaned email. No prefixes (e.g., \"Here's the email:\") or markdown."}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[820,600],"id":"9c4a30dd-dd7e-4626-8d1c-bbf639777b1c","name":"Email Cleaner"},{"parameters":{"promptType":"define","text":"=You are tasked with categorizing a lead's last reply to a sales or marketing communication. Your goal is to determine the lead's level of interest based solely on their response. You will categorize the reply into one of theses categories:\n\nPlease categorise and think carefully.\n\nLead Wants to Be Removed from List – A lead asking to unsubscribe or stop receiving emails.\n\n[Lead Shows Interest] – A lead expressing interest and wants to hop on a call\n\n[Lead Requests Details] – A lead asking for more specific information about the features, benefits, or use cases of your product or service.\n\n[Lead Doesn’t See the Value] – A lead expressing that they don’t see the relevance or benefit of your offer. Not Interested:\n\nKey Phrases/Sentences:\n\"We’re not interested.\"\n\"No, thank you.\"\n\"This isn’t relevant to us.\"\n\"Not a fit for us.\"\n\"No\"\n\nPatterns:\nPolite rejections: \"thanks, but no,\" \"appreciate, but.\"\nWords like \"not interested,\" \"no need,\" \"no thanks.\"\n\nAny Kind of No or Disinterest.\n\n[Lead Says They’re Already Using a Competitor] – A lead mentioning that they are currently working with a competitor.\n\n[Lead Asks for Price] – A lead requesting information on the cost of your product or service.\n\n  [Miscellaneous] - Out of office, left the organisation, on leave, Meeting confirmed by the lead (Meeting Booked), Referring to someone else because the person is unavailable, On Holidays, etc.\n\n\nCheck lead last reply\nHere is the lead's reply:\n\n<Thread>\n\"{{ $('Filter HTML').item.json.filteredText }}\"\n</Thread>\n\nPlease carefully read through the lead's reply and categorize it based on the content and tone of the message. \n\nRemember to use only the categories provided. Do not create new categories or leave the reply uncategorized. If the reply is ambiguous, choose the category that best fits based on the overall tone and content of the message.\n\n**This is a really important step of the flow.\nPlease think carefully.**\n\n# Outputs that you can use nothing else than that: -\n  Lead Shows Interest\n  Lead Requests Details\n  Lead Doesn’t See the Value\n  Lead Says They’re Already Using a Competitor\n  Lead Asks for Price\n  Miscellaneous\n\n\n**Output the result only of the categorization in only given sentences.** NOTHING ELSE.\n\nOutput only the category name from the following list, exactly as written.\n"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-820,600],"id":"2df9131a-b611-4fd8-a8bf-40ce4a65b415","name":"Classify Email Response"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.category }}","rightValue":"={{ $json.category }}","operator":{"type":"string","operation":"equals"},"id":"b934ebdb-a92a-434d-8ebd-a7146b3e0e42"}],"combinator":"and"},"renameOutput":true,"outputKey":"Lead Asks for Price"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18fded83-7fdb-41f2-8ddf-a21bb4cabbb2","leftValue":"={{ $json.category }}","rightValue":"={{ $json.category }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Lead Doesn't See the Value"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ce47d25b-9771-41c3-a015-cdda4ccada77","leftValue":"={{ $json.category }}","rightValue":"={{ $json.category }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Lead Shows Interest"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a5ade1f1-504a-43af-838b-b58e09e09d5d","leftValue":"={{ $json.category }}","rightValue":"={{ $json.category }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Lead Wants to Be Removed from List"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f323921-2bd2-4041-a573-e6a4c88a28d7","leftValue":"={{ $json.category }}","rightValue":"={{ $json.category }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Lead Requests Details"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"208b8359-2f89-43e2-a536-01a85fb5cd86","leftValue":"={{ $json.category }}","rightValue":"={{ $json.category }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Lead Says They're Already Using a Competitor"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6bec1b92-05ac-44ac-8897-5299bda13ddc","leftValue":"={{ $json.category }}","rightValue":"={{ $json.category }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Miscellaneous"}]},"options":{"ignoreCase":false,"allMatchingOutputs":true}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-220,520],"id":"23ef1af4-7667-44bc-ba53-79a7b0afec93","name":"Switch","alwaysOutputData":true},{"parameters":{"httpMethod":"POST","path":"bd4a0c50-89a6-4b44-97d8-c78de2d7aa15","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2000,600],"id":"ec687dcf-d10f-4575-aa61-69071f8fafa9","name":"Webhook","webhookId":"bd4a0c50-89a6-4b44-97d8-c78de2d7aa15"},{"parameters":{"assignments":{"assignments":[{"id":"b9ee3848-4656-4b37-bf31-d245510119f9","name":"category","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-440,600],"id":"d86f3aec-e0c6-4a11-9072-7ff9d7ac8126","name":"Edit Fields5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00e81908-678a-4f11-8d26-8c20aab51039","leftValue":"={{ $json.category }}","rightValue":"Lead Asks for Price","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,0],"id":"c31ec0ed-b015-498c-932a-9ec014d09be4","name":"Lead Asks for Price"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00e81908-678a-4f11-8d26-8c20aab51039","leftValue":"={{ $json.category }}","rightValue":"Lead Doesn't See the Value","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,200],"id":"8eaf1a66-5737-41c8-b592-89fc14f4596f","name":"Lead Doesn't See the Value"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00e81908-678a-4f11-8d26-8c20aab51039","leftValue":"={{ $json.category }}","rightValue":"=Lead Wants to Be Removed from List","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,600],"id":"a872a3dd-f3ed-42cf-97b3-1fd67b91bf24","name":"Lead Wants to Be Removed from List"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00e81908-678a-4f11-8d26-8c20aab51039","leftValue":"={{ $json.category }}","rightValue":"=Lead Requests Details","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,800],"id":"221f1038-eb92-41a0-811c-965b1e0e7600","name":"Lead Requests Details"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00e81908-678a-4f11-8d26-8c20aab51039","leftValue":"={{ $json.category }}","rightValue":"=Lead Says They're Already Using a Competitor","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,1000],"id":"06a40cb9-2067-4108-a3e1-f623a5303825","name":"Lead Says They're Already Using a Competitor"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00e81908-678a-4f11-8d26-8c20aab51039","leftValue":"={{ $json.category }}","rightValue":"=Lead Shows Interest","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,400],"id":"fa5b5cda-7880-4a3a-ba5f-5b5f8202be91","name":"Lead Shows Interest"},{"parameters":{"model":"google/gemini-2.5-pro-preview-03-25","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[580,960],"id":"243d34d0-8b27-4dac-ab78-7c70bb8c923e","name":"gemini"},{"parameters":{"method":"POST","url":"https://api.instantly.ai/api/v1/unibox/emails/reply","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"reply_to_uuid","value":"={{ $('Loop Over Items').item.json.data[0].id }}"},{"name":"subject","value":"={{ $('Loop Over Items').item.json.data[0].subject }}"},{"name":"from","value":"={{ $('Loop Over Items').item.json.data[0].to_address_json[0].address }}"},{"name":"to","value":"={{ $('Loop Over Items').item.json.data[0].from_address_json[0].address }}"},{"name":"=body","value":"={{ $json.formattedText }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"607b7b18-e319-4bcc-b477-98c4dc2f8afb","name":"Send RtS1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1800,600],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"00e81908-678a-4f11-8d26-8c20aab51039","leftValue":"={{ $json.category }}","rightValue":"=Miscellaneous","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[0,1200],"id":"3424d407-37af-4731-94aa-dbbd0393422b","name":"Miscellaneous"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1520,600],"id":"1d561716-45c6-4c76-a6a3-b4880bf60c3a","name":"Loop Over Items"},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1440,600],"id":"5c38c256-1819-4cf5-bdf7-b3b51838b44d","name":"Wait","webhookId":"35c83ad6-6bfc-42b6-b613-92d2140f41fb"}],"connections":{"Fetch Email":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Mark As Read":{"main":[[{"node":"Filter HTML","type":"main","index":0}]]},"Filter HTML":{"main":[[{"node":"Classify Email Response","type":"main","index":0}]]},"to HTML":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Email Writer":{"main":[[{"node":"Email Cleaner","type":"main","index":0}]]},"Email Cleaner":{"main":[[{"node":"to HTML","type":"main","index":0}]]},"Classify Email Response":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Lead Asks for Price","type":"main","index":0}],[{"node":"Lead Doesn't See the Value","type":"main","index":0}],[{"node":"Lead Shows Interest","type":"main","index":0}],[{"node":"Lead Wants to Be Removed from List","type":"main","index":0}],[{"node":"Lead Requests Details","type":"main","index":0}],[{"node":"Lead Says They're Already Using a Competitor","type":"main","index":0}],[{"node":"Miscellaneous","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Fetch Email","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Lead Asks for Price":{"main":[[{"node":"Email Writer","type":"main","index":0}]]},"Lead Requests Details":{"main":[[{"node":"Email Writer","type":"main","index":0}]]},"Lead Says They're Already Using a Competitor":{"main":[[{"node":"Email Writer","type":"main","index":0}]]},"Lead Shows Interest":{"main":[[{"node":"Email Writer","type":"main","index":0}]]},"gemini":{"ai_languageModel":[[{"node":"Email Writer","type":"ai_languageModel","index":0},{"node":"Email Cleaner","type":"ai_languageModel","index":0},{"node":"Classify Email Response","type":"ai_languageModel","index":0}]]},"Send RtS1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Mark As Read","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Send RtS1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f47ddc22-8e94-4b13-841f-e2e4ba6f7147","triggerCount":0,"tags":[]}