scraping-skool-group-nBpFpORq10LqUZCJ.json
{"createdAt":"2025-03-26T19:53:13.038Z","updatedAt":"2025-03-27T13:41:37.882Z","id":"nBpFpORq10LqUZCJ","name":"Scraping skool group","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-40],"id":"97ac3053-63ef-4567-a5a1-eafa40d14f45","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://www.skool.com/_next/data/1742925527548/aminos/-/members.json?group=aminos","sendQuery":true,"queryParameters":{"parameters":[{"name":"p","value":"={{ $json.page }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"*/*"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Accept-Language","value":"en-US,en;q=0.5"},{"name":"Connection","value":"keep-alive"},{"name":"Cookie","value":"auth_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDc0OTE1NzAsImlhdCI6MTcxNTk1NTU3MCwidXNlcl9pZCI6ImY5ZDhjY2IzMDRkMjQ1MmM4N2YxYjVkY2M5M2YwZWFjIn0.Fr1_ldTcSYF3nAJjxQeTYVgx40DgKg_rRVePE6UnrU0"},{"name":"User-Agent","value":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:136.0) Gecko/20100101 Firefox/136.0"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,-100],"id":"a4e5ff11-e3f8-4897-ac0e-f834ac5f52ba","name":"HTTP Request"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Jr5kDjupFusz6fTJI2QGWywT-kGSKJgno6hs8cPt0Qs","mode":"list","cachedResultName":"Skool scraper - Aminos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Jr5kDjupFusz6fTJI2QGWywT-kGSKJgno6hs8cPt0Qs/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Jr5kDjupFusz6fTJI2QGWywT-kGSKJgno6hs8cPt0Qs/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"firstName":"={{ $json.firstName }}","lastName":"={{ $json.lastName }}","email":"={{ $json.email }}","facebook":"={{ $json.linkFacebook }}","instagram":"={{ $json.linkInstagram }}","linkedIn":"={{ $json.linkLinkedin }}","twitter":"={{ $json.linkTwitter }}","website":"={{ $json.linkWebsite }}","youtube":"={{ $json.linkYoutube }}","location":"={{ $json.location }}"},"matchingColumns":[],"schema":[{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"facebook","displayName":"facebook","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"instagram","displayName":"instagram","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"linkedIn","displayName":"linkedIn","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"twitter","displayName":"twitter","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"website","displayName":"website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"youtube","displayName":"youtube","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1780,-40],"id":"cb35df7c-f2a1-4018-903e-7dced2f19bda","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"Google Sheets ONECLICK"}}},{"parameters":{"assignments":{"assignments":[{"id":"aff06e7b-1872-43f2-8f23-645b53b70d55","name":"users","value":"={{ $json.pageProps.users }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,-40],"id":"2bfcdf40-ff7e-492c-bc7c-435d77d5c08f","name":"Edit Fields1"},{"parameters":{"fieldToSplitOut":"users","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1320,-40],"id":"c81c3ae8-e6ab-4ebb-8b17-c05555f166aa","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"fe84e6c8-4985-408e-9f25-0a284db463f9","name":"firstName","value":"={{ $json.firstName }}","type":"string"},{"id":"15de67bb-734e-4b8a-8788-f16adc1b5f15","name":"lastName","value":"={{ $json.lastName }}","type":"string"},{"id":"8f906f14-4ded-4ba1-851b-62689e5059cd","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"2dbf314f-0a6a-4066-9d1a-0434018ab34d","name":"linkFacebook","value":"={{ $json.metadata.linkFacebook }}","type":"string"},{"id":"37346432-53fc-4ac6-b1c8-1baf9aae210f","name":"linkInstagram","value":"={{ $json.metadata.linkInstagram }}","type":"string"},{"id":"2e74be32-226e-44b2-a9fa-33d5cd9a40dd","name":"linkLinkedin","value":"={{ $json.metadata.linkLinkedin }}","type":"string"},{"id":"f8d29491-7119-4fe4-9b0f-5fd25e6ae553","name":"linkTwitter","value":"={{ $json.metadata.linkTwitter }}","type":"string"},{"id":"a6dbc2b5-580e-445a-9c91-baaeff84ac39","name":"linkWebsite","value":"={{ $json.metadata.linkWebsite }}","type":"string"},{"id":"f8b79c5a-fb77-4026-9815-71345c6d1f57","name":"linkYoutube","value":"={{ $json.metadata.linkYoutube }}","type":"string"},{"id":"c2c5908c-f6b5-4f78-b7a0-a157a9b31d80","name":"location","value":"={{ $json.metadata.location }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1540,-40],"id":"42768ff6-dc3f-44a7-9b0a-5cf2c93972e7","name":"Edit Fields2","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"amount":"={{ Math.floor(Math.random() *  (45 - 30 + 1)) + 30 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1120,360],"id":"7063db44-991e-4be3-9766-13f63045f9c1","name":"Wait","webhookId":"e95eaf97-27af-4f2f-99b2-ae388059daef"},{"parameters":{"jsCode":"const pages = [];\nfor (let i = 93; i <= 190; i++) {\n  pages.push({ json: { page: i } });\n}\nreturn pages;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,-40],"id":"31a5bb6f-96d2-4663-bd3f-33c579b1b328","name":"Code"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[400,120],"id":"8afa34b0-0f7a-49dd-a401-78b6d5d7a436","name":"Loop Over Items","onError":"continueRegularOutput"},{"parameters":{"amount":"={{ Math.floor(Math.random() *  (25 - 15 + 1)) + 15 }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[580,-140],"id":"5a38d869-11bb-4da8-976d-81e18665802f","name":"Wait1","webhookId":"b7a982c5-d522-4a62-8e17-a415243609be"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[680,240],"id":"cae20670-5a03-4ace-9dec-053001ad49c9","name":"No Operation, do nothing"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"50375543-dccb-46d6-ab1d-ea5bfb056f7c","triggerCount":0,"tags":[]}