scraping-skool-group-nBpFpORq10LqUZCJ.json
{"createdAt":"2025-03-26T19:53:13.038Z","updatedAt":"2025-03-26T19:58:46.055Z","id":"nBpFpORq10LqUZCJ","name":"Scraping skool group","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"97ac3053-63ef-4567-a5a1-eafa40d14f45","name":"When clicking ‘Test workflow’"},{"parameters":{"url":"https://www.skool.com/aminos/-/members","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"*/*"},{"name":"Accept-Encoding","value":"gzip, deflate, br, zstd"},{"name":"Accept-Language","value":"en-US,en;q=0.5"},{"name":"User-Agent","value":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:136.0) Gecko/20100101 Firefox/136.0"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"a4e5ff11-e3f8-4897-ac0e-f834ac5f52ba","name":"HTTP Request"},{"parameters":{"html":"={{ $json.data }}","options":{}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[440,0],"id":"e07122ab-f9d3-45ed-b4a3-289b0db3dadc","name":"Markdown"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Markdown","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"554a6a61-f882-4079-8994-e1c2dde1fbd1","triggerCount":0,"tags":[]}