speed-to-lead-for-syrvi-Vu9A0ONOAFTRuDIw.json
{"createdAt":"2025-04-11T12:29:38.829Z","updatedAt":"2025-04-14T16:39:01.477Z","id":"Vu9A0ONOAFTRuDIw","name":"Speed to lead for Syrvi","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"☀️ Solar Consultation Request Form","formDescription":"Fill in a few quick details, and one of our advisors will be in touch shortly to discuss your options.","formFields":{"values":[{"fieldLabel":"First Name","placeholder":"Luke","requiredField":true},{"fieldLabel":"Last Name","placeholder":"Skywalker","requiredField":true},{"fieldLabel":"Phone Number","fieldType":"number","placeholder":"+44 1273 092387","requiredField":true},{"fieldLabel":"Email Address","fieldType":"email","placeholder":"luke@empire.sw","requiredField":true},{"fieldLabel":"Postcode","placeholder":"E1 7DB","requiredField":true},{"fieldLabel":"Property Type","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Detached"},{"option":"Semi-detached"},{"option":"Terraced"},{"option":"Flat"},{"option":"Commercial"}]}},{"fieldLabel":"Average Monthly Electricity Bill (£)","fieldType":"number","placeholder":"690"},{"fieldLabel":"Are you the homeowner?","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Yes"},{"option":"No"}]}},{"fieldLabel":"Additional information for us:","fieldType":"textarea","placeholder":"Specific questions or desires"}]},"options":{"appendAttribution":false,"buttonLabel":"Submit","ignoreBots":true,"useWorkflowTimezone":true,"customCss":":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,0],"id":"2eb1d649-42ee-4649-99f7-8a09554cb2a1","name":"On form submission","webhookId":"b115b8a5-ace7-4fd6-9a32-55b0cf0b5835"},{"parameters":{"sendTo":"={{ $json['Email Address'] }}","subject":"={{ $json['First Name'] }} with Solar ECO","emailType":"text","message":"=Hi  {{ $json['First Name'] }}, \n\nMindy here from Solar ECO – thanks for reaching out!\n\nI just saw your form submission. One of our reps will be giving you a quick call shortly. If you’re unavailable at the moment, just let me know when works best for you — or if there’s anything I can help with in the meantime.\n\nLooking forward to speaking soon!\n\nBest regards,\nMindy\nFrom Solar ECO","options":{"appendAttribution":false,"senderName":"Solar ECO","replyTo":"stas@oneclick.si"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[660,0],"id":"c2f61598-62b4-44f3-9ffe-39cb53687b09","name":"Gmail","webhookId":"f987f25f-d094-417c-b467-1f99e4f669de","credentials":{"gmailOAuth2":{"id":"iX8qfUXdQMjweLGs","name":"ONECLICK - Gmail"}}},{"parameters":{"amount":72},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[440,0],"id":"f21b30ef-7a52-4f8c-a827-e1720f1eab9d","name":"Wait","webhookId":"dcf226b4-6a46-4317-b5e2-39919a0b2ab3"},{"parameters":{"from":"+16206791339","to":"+447356208633","message":"=New lead submission from {{ $json['First Name'] }} {{ $json['Last Name'] }}, for {{ $json['Property Type'] }} at {{ $json.Postcode }} with average monthly bill of {{ $json['Average Monthly Electricity Bill (£)'] }}£.\n\nContact at: {{ $json['Phone Number'] }}\n\nAdditional information: {{ $json['Additional information for us:'] }}\nSumbitted at: {{ $json.submittedAt }}","options":{}},"type":"n8n-nodes-base.twilio","typeVersion":1,"position":[220,0],"id":"f6e48d86-7eee-426f-89db-53c206cc0002","name":"Twilio","credentials":{"twilioApi":{"id":"pfUtN7irM4rk3Wyb","name":"Twilio account"}}}],"connections":{"On form submission":{"main":[[{"node":"Twilio","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Twilio":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Gmail":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"82aca1a5-78bf-4293-b08a-8a27d13e058d","triggerCount":1,"tags":[]}