speed-to-lead-for-syrvi-copy-fGFipXq6TqRFPB2U.json
{"createdAt":"2025-04-23T16:49:54.305Z","updatedAt":"2025-04-23T16:49:54.305Z","id":"fGFipXq6TqRFPB2U","name":"Speed to lead for Syrvi copy","active":false,"nodes":[{"parameters":{"formTitle":"☀️ Solar Consultation Request Form","formDescription":"Fill in a few quick details, and one of our advisors will be in touch shortly to discuss your options.","formFields":{"values":[{"fieldLabel":"First Name","placeholder":"Luke","requiredField":true},{"fieldLabel":"Last Name","placeholder":"Skywalker","requiredField":true},{"fieldLabel":"Phone Number","fieldType":"number","placeholder":"+44 1273 092387","requiredField":true},{"fieldLabel":"Email Address","fieldType":"email","placeholder":"luke@empire.sw","requiredField":true},{"fieldLabel":"Postcode","placeholder":"E1 7DB","requiredField":true},{"fieldLabel":"Property Type","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Detached"},{"option":"Semi-detached"},{"option":"Terraced"},{"option":"Flat"},{"option":"Commercial"}]}},{"fieldLabel":"Average Monthly Electricity Bill (£)","fieldType":"number","placeholder":"690"},{"fieldLabel":"Are you the homeowner?","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Yes"},{"option":"No"}]}},{"fieldLabel":"Additional information for us:","fieldType":"textarea","placeholder":"Specific questions or desires"}]},"options":{"appendAttribution":false,"buttonLabel":"Submit","ignoreBots":true,"useWorkflowTimezone":true,"customCss":":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"},"path":"ab41834e-fc82-4936-b67f-560822abb9e2"},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,0],"id":"6d8c5356-18f0-452d-81fb-6271709f1b9d","name":"On form submission","webhookId":"ab41834e-fc82-4936-b67f-560822abb9e2"},{"parameters":{"sendTo":"={{ $json['Email Address'] }}","subject":"={{ $json['First Name'] }} with Solar ECO","emailType":"text","message":"=Hi  {{ $json['First Name'] }}, \n\nMindy here from Solar ECO – thanks for reaching out!\n\nI just saw your form submission. One of our reps will be giving you a quick call shortly. If you’re unavailable at the moment, just let me know when works best for you — or if there’s anything I can help with in the meantime.\n\nLooking forward to speaking soon!\n\nBest regards,\nMindy\nFrom Solar ECO","options":{"appendAttribution":false,"senderName":"Solar ECO","replyTo":"stas@oneclick.si"},"path":"a7c6e472-65f2-4e75-bc62-37e416ccc29f"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[660,0],"id":"089f274d-7efc-437b-97a9-7f468082b522","name":"Gmail","webhookId":"a7c6e472-65f2-4e75-bc62-37e416ccc29f","credentials":{"gmailOAuth2":{"id":"iX8qfUXdQMjweLGs","name":"ONECLICK - Gmail"}}},{"parameters":{"amount":72,"path":"e21f4c71-faef-44a0-81a2-e4a49665ba0b"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[440,0],"id":"7dfb70c6-cc43-43e0-84fd-41f4ee254f7e","name":"Wait","webhookId":"e21f4c71-faef-44a0-81a2-e4a49665ba0b"},{"parameters":{"from":"+16206791339","to":"+447356208633","message":"=New lead submission from {{ $json['First Name'] }} {{ $json['Last Name'] }}, for {{ $json['Property Type'] }} at {{ $json.Postcode }} with average monthly bill of {{ $json['Average Monthly Electricity Bill (£)'] }}£.\n\nContact at: {{ $json['Phone Number'] }}\n\nAdditional information: {{ $json['Additional information for us:'] }}\nSumbitted at: {{ $json.submittedAt }}","options":{}},"type":"n8n-nodes-base.twilio","typeVersion":1,"position":[220,0],"id":"7fff41aa-9c8e-4ae7-8c36-22c36163e4d8","name":"Twilio","credentials":{"twilioApi":{"id":"pfUtN7irM4rk3Wyb","name":"Twilio account"}}}],"connections":{"On form submission":{"main":[[{"node":"Twilio","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Twilio":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Gmail":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8b6a8f32-35fe-4c6c-bcad-456142e7a068","triggerCount":1,"tags":[{"createdAt":"2025-04-03T03:33:28.610Z","updatedAt":"2025-04-03T03:33:28.610Z","id":"33Fo2o3UoYyE9Rmq","name":"Template"}]}