syrvi---final-build-R4aXtiMGbH9r9vLq.json
{"createdAt":"2025-04-09T08:11:04.113Z","updatedAt":"2025-04-11T08:51:24.360Z","id":"R4aXtiMGbH9r9vLq","name":"Syrvi - final build","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2740,380],"id":"bfbc422c-01f4-47fb-a698-75c3698eec9a","name":"Loop Over Items"},{"parameters":{"url":"https://api.millionverifier.com/api/v3/","sendQuery":true,"queryParameters":{"parameters":[{"name":"api"},{"name":"email","value":"={{ $json.email }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2980,440],"id":"f71bcb13-ffed-43af-9647-ca9779501523","name":"Enrich with email","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"a79f777a-242d-44e9-852a-2c98c597e9fc","name":"first_name","value":"={{ $('Loop Over Items').item.json.first_name }}","type":"string"},{"id":"0dfe3c00-a80e-4774-a61c-3146746f4198","name":"last_name","value":"={{ $('Loop Over Items').item.json.last_name }}","type":"string"},{"id":"b96e92fb-2ba6-4ecf-a980-b567cf60c3fc","name":"name","value":"={{ $('Loop Over Items').item.json.name }}","type":"string"},{"id":"e4b000a3-d2e8-4343-be1f-fbd00480abb8","name":"linkedin_url","value":"={{ $('Loop Over Items').item.json.linkedin_url }}","type":"string"},{"id":"951d10d7-5596-4e3b-804a-8acadf89a8ca","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"749b333e-4840-460b-94ba-0df978b6a586","name":"title","value":"={{ $('Loop Over Items').item.json.title }}","type":"string"},{"id":"eb2f5eb4-d579-484e-8cda-af5d6234bf5e","name":"company_website","value":"={{ $('Loop Over Items').item.json.website_url }}","type":"string"},{"id":"6c7e361a-40cb-4fe8-b988-3901d2f8c497","name":"company_domain","value":"={{ $('Loop Over Items').item.json.primary_domain }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3440,420],"id":"26e6f07f-9e27-4174-97b2-cf672370bc6b","name":"Set variables","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer "}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a research specialist. I want you to research a person and give me usefull information that can be used for ice breaker in an email. IMPORTANT: output only the information of the person without any suggestions.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Research individual: {{ $json.name }}, Email: {{ $json.email }}, Company domain: {{ $json.company_domain }}, Company website: {{ $json.company_website }}, LinkedIn profile: {{ $json.linkedin_url }}\"\n }\n  ]\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3660,420],"id":"fec9e0e8-4aa1-4804-a1a1-e0d7a8b9c17a","name":"Research w-Perplexity"},{"parameters":{"promptType":"define","text":"=Here is the information of the person:\nPerson name: {{ $('Set variables').item.json.name }}\nLinkedin Profile URL: {{ $('Set variables').item.json.linkedin_url }}\nCompany domain: {{ $('Set variables').item.json.company_domain }}\n\nResearch information: {{ $json.choices[0].message.content }}","hasOutputParser":true,"options":{"systemMessage":"You are a cold outreach specialist.\n\nI want you to output an Ice Breaker first line for Email, a subject line to use for the email, and the first icebreaker message for LinkedIn in separate fields.\n\n- Only output the Icebreaker, Subject Line, LinkedIn message, and nothing else\n- Use the research information to create the icebreaker, subject line, and LinkedIn message\n- The icebreaker should be one line\n- The subject line should be relevant\n- Be spartan in tone\n- Write it as a human and use simple language\n- Create the IceBreaker, subject line, and message in a way that allows for continuation with an offer\n- Make the LinkedIn Icebreakera a maximum of 180 characters this includes all the spaces and signs\n- Do not use explanations or emojis in the subject line\n\n## Examples:\n\n- Subject line: Future boss is that you?\n- Icebreaker: Really resonated with your outlook on employment—especially the idea of retaining people by genuinely being their best opportunity, instead of just limiting their options. Refreshing to see a CEO with this mindset.\n- LinkedIn message: Hi 'name'—really resonated with your take on employment. Rare to see a CEO emphasize genuinely being the best opportunity rather than limiting people's options.\n\n- Subject line: Burning the Midnight Clay with Michel 🔥\n- Icebreaker: Loved the story about you building Clay tables with Michel at 11pm—especially how your late-night hustle to master AI Cold Outreach evolved into multiple five-figure offers. Major respect for that grind!\n- LinkedIn message: Hey Dan—still thinking about your late-night Clay table grind with Michel and how that hustle turned into multiple 5-figure offers. Big respect!\n\n- Subject line: +966K ARR in 30 days? What's your secret, Fivos?\n- Icebreaker: Loved your story of going from saving every one of Michel's posts to becoming a partner—and now driving nearly $1M in new ARR in a single month. Epic journey!\n- Hey Fivos—your journey from saving Michel’s posts to driving nearly $1M ARR in a month is awesome!\n\n- Subject line: Football scholarship ➜ ColdIQ Chief of Staff—epic journey 🚀\n- Icebreaker: Not every Chief of Staff goes from a football scholarship in the US to scaling sales-tech at ColdIQ in Barcelona—a seriously impressive path!\n- LinkedIn message: Hi Luca—going from a football scholarship in the US to scaling sales-tech at ColdIQ in Barcelona is impressive, man!"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[3860,420],"id":"86ec93b5-75d7-4133-a84a-60df7ca04e08","name":"Ice breaker","retryOnFail":true,"waitBetweenTries":5000,"onError":"continueErrorOutput"},{"parameters":{"model":{"__rl":true,"value":"claude-3-7-sonnet-20250219","mode":"list","cachedResultName":"Claude 3.7 Sonnet"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[3860,600],"id":"c29eedc2-13c3-4c0b-a27b-4a6cfcec8fdd","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"R577E9P3r5txdxYS","name":"Anthropic account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"Icebreaker\": \"California\",\n\t\"Subject line\": \"California\",\n    \"LinkedIn opener\": \"Hey love the profile.\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[4020,600],"id":"87c99e37-12e3-47cc-8eef-b5909c5cd853","name":"Structured Output Parser"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"={{ $json.spreadsheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $json.row_number }}","icebreaker":"={{ $('Merge1').item.json.output.Icebreaker }}","subject_line":"={{ $('Merge1').item.json.output['Subject line'] }}","linkedIn_message":"={{ $('Merge1').item.json.output['LinkedIn opener'] }}","perplexity_research":"={{ $('Research w-Perplexity').item.json.choices[0].message.content }}"},"matchingColumns":["row_number"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website_url","displayName":"website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization_phone_number","displayName":"organization_phone_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"primary_domain","displayName":"primary_domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"raw_address","displayName":"raw_address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"icebreaker","displayName":"icebreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedIn_message","displayName":"linkedIn_message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"subject_line","displayName":"subject_line","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"perplexity_research","displayName":"perplexity_research","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[5200,380],"id":"d1053408-20e3-4d40-a168-983f53a571bd","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"amount":"={{ $json.RandomNumber }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5760,580],"id":"a0aced0a-748c-44ca-9abb-d0376f520dbd","name":"Wait","webhookId":"10a1c124-eefb-485c-8ba9-5ce6d30d04e4"},{"parameters":{"jsCode":"items[0].json.RandomNumber = Math.floor(Math.random() * 8);\nreturn items;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5480,440],"id":"c8c67e85-5026-4237-9936-63fa9101f13d","name":"Randomizer"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2696c37c-6543-4512-b123-50a374ac1761","leftValue":"={{ $json.quality }}","rightValue":"=good","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3200,440],"id":"8eccbfa9-c8e4-4eae-a95e-e3d7ccc9ebc3","name":"If"},{"parameters":{"formTitle":"LinkedIn Lead Outreach Trigger","formDescription":"Insert an audience for your LinkedIn Outreach Campaign here.","formFields":{"values":[{"fieldLabel":"Describe your audience in plain English.","fieldType":"textarea","placeholder":"Company type, location, etc","requiredField":true},{"fieldLabel":"Name your search","placeholder":"Creative_agencies_USA(10-50)"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-100,325],"id":"fd11942b-d388-4008-b648-c0b7a26672a2","name":"On form submission","webhookId":"ecb5116a-1434-45b5-8f38-31393735a1b8"},{"parameters":{"method":"POST","url":"https://api.apify.com/v2/acts/jljBwyyQakqrL1wae/run-sync-get-dataset-items","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"Bearer "}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"getPersonalEmails\": true,\n    \"getWorkEmails\": true,\n    \"totalRecords\": 500,\n    \"url\": \"{{ $json.message.content.searchUrl }}\",\n    \"timeout\": \"600\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,320],"id":"7d64b50e-8643-4a11-871b-6ba2e26be473","name":"Run Apify Actor & Get Results","retryOnFail":true},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.5-preview","mode":"list","cachedResultName":"GPT-4.5-PREVIEW"},"messages":{"values":[{"content":"You're a helpful, intelligent sales assistant.","role":"system"},{"content":"Your task is to take as input a natural language description of a prospect audience, and turn that into an Apollo Search URL.\n\nHere's an example of an Apollo Search URL:\n\nhttps://app.apollo.io/#/people?personLocations[]=United%20States&sortAscending=false&sortByField=%5Bnone%5D&personTitles[]=owner&personTitles[]=ceo&personTitles[]=founder&personTitles[]=partner&page=1&qKeywords=creative%20agency&organizationNumEmployeesRanges[]=1%2C200\n\nThis URL describes a search for people that are\n- Located in the United States.\n- Hold the titles: Owner, CEO, Founder, or Partner.\n- Have a keyword association with “creative agency”.\n\nThese are the fields you can change:\n\norganizationLocations[], Keywords, personTitles[], and organizationNumEmployeesRanges[]\n\nDo not add or change any other fields. Use the above template\n\nReturn your response in JSON using this format:\n\n{\"searchUrl\":\"search url goes here\"}"},{"content":"={{ $('On form submission').item.json['Describe your audience in plain English.'] }}"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[120,325],"id":"880934aa-9927-4284-84eb-de051e2d8021","name":"Generate Search URL","credentials":{"openAiApi":{"id":"vMRM9Luu0p5qDyxw","name":"ONECLICK-MAIN"}}},{"parameters":{"content":"## COST per lead in USD = 0,0542\n0,0012 - scrape from Apollo\n0,003 - verify email with MillionVerifier\n0,04 - Research with Sonar-Pro (perplexity)\n0,01 - generating Icebreaker with Claude 3.7 Sonnet\n\n**1000 leads cost = $54,2**\n","height":180,"width":700,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-140,-280],"id":"de2bc52c-a1d3-45e6-8b8c-b81ca92e7ced","name":"Sticky Note10"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.spreadsheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"id","lookupValue":"={{ $('set data').item.json.data[0].id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[4780,460],"id":"d967a856-8c5c-4531-a27c-c1fa60748976","name":"Find row","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[936,325],"id":"cc5f2bcc-8acd-4420-a520-e5410fc5ea71","name":"Aggregate"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1620,420],"id":"fcdcde6f-99f2-45c8-a0ef-4c4e43df8818","name":"Split Out"},{"parameters":{"resource":"spreadsheet","title":"={{ $('On form submission').item.json['Name your search'] }}","sheetsUi":{"sheetValues":[{"title":"Sheet1"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1440,240],"id":"05bc4c32-80b7-4504-9326-2d9659613b0e","name":"Create spreadsheet","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"assignments":{"assignments":[{"id":"843125ec-d859-4a73-b5ca-43b2fe3cd5b4","name":"data","value":"={{ $json.data }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1156,325],"id":"e2152aee-c01a-4dbf-9006-2d595e646a01","name":"set data"},{"parameters":{"assignments":{"assignments":[{"id":"2a674bcd-c09c-46af-a22d-2b82432c246d","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"5309d703-a0ea-4f59-88c3-45254b605388","name":"first_name","value":"={{ $json.first_name }}","type":"string"},{"id":"5e8cf665-fdf7-4d5b-ad52-e40e52124938","name":"last_name","value":"={{ $json.last_name }}","type":"string"},{"id":"ba888230-455a-473d-b093-0ae816dc760d","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"39f17993-032e-4819-a9b3-7bfc15074524","name":"title","value":"={{ $json.title }}","type":"string"},{"id":"738d703f-05d5-4b22-b852-676ffdcd47f5","name":"linkedin_url","value":"={{ $json.linkedin_url }}","type":"string"},{"id":"01aa642f-9e5a-4688-89b3-c95d26ee24d8","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"f8ed7e69-37a6-4080-a07b-20e8d4afdd0f","name":"organization_website_url","value":"={{ $json.organization.website_url }}","type":"string"},{"id":"b49c2419-a2d3-4848-b35b-e3c66c66cefe","name":"organization_linkedin_url","value":"={{ $json.organization.linkedin_url }}","type":"string"},{"id":"f116d499-bd20-4d4f-84af-9c8b16bb96c7","name":"organization_phone_number","value":"={{ $json.organization.primary_phone.sanitized_number }}","type":"string"},{"id":"1ccc2afc-6081-4d3a-ac2e-3fbad345855b","name":"organization_phone","value":"={{ $json.organization.phone }}","type":"string"},{"id":"03893d47-6f7a-4665-97f0-c98c57fec29b","name":"primary_domain","value":"={{ $json.organization.primary_domain }}","type":"string"},{"id":"746c4985-75b1-4d76-a0f6-4579313d97fc","name":"raw_address","value":"={{ $json.organization.raw_address }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[716,325],"id":"0ccf6443-68c6-47ab-97c4-599a1cacacaa","name":"set variables"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1800,420],"id":"f7f1c77a-524e-4cea-8e11-485010a7e731","name":"Wait1","webhookId":"ba3d492e-72ae-4bf5-ab1f-cccfdca31e30"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1440,420],"id":"d3e8e600-feef-42e9-8304-dfa060048cb0","name":"Wait2","webhookId":"a9243143-f6e9-450a-8f8f-5730a4f8969e"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"={{ $('set spreadsheet ID').item.json.spreadsheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id }}","first_name":"={{ $json.first_name }}","last_name":"={{ $json.last_name }}","name":"={{ $json.name }}","title":"={{ $json.title }}","linkedin_url":"={{ $json.linkedin_url }}","email":"={{ $json.email }}","website_url":"={{ $json.website_url }}","organization_linkedin_url":"={{ $json.organization_linkedin_url }}","organization_phone_number":"={{ $json.organization_phone_number }}","primary_domain":"={{ $json.primary_domain }}","raw_address":"={{ $json.raw_address }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website_url","displayName":"website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization_phone_number","displayName":"organization_phone_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"primary_domain","displayName":"primary_domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"raw_address","displayName":"raw_address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"icebreaker","displayName":"icebreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedIn_message","displayName":"linkedIn_message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"subject_line","displayName":"subject_line","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"perplexity_research","displayName":"perplexity_research","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2480,380],"id":"d36fe2c0-1732-4ab7-882c-023809eacf5e","name":"Add leads to Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2300,380],"id":"95e3553e-4da5-4904-836a-e4f7af1ab743","name":"Merge"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"={{ $('Create spreadsheet').item.json.spreadsheetId }}","mode":"id"},"sheetName":{"__rl":true,"value":"Sheet1","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedin_url","displayName":"linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"website_url","displayName":"website_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization_linkedin_url","displayName":"organization_linkedin_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"organization_phone_number","displayName":"organization_phone_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"primary_domain","displayName":"primary_domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"raw_address","displayName":"raw_address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"icebreaker","displayName":"icebreaker","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"linkedIn_message","displayName":"linkedIn_message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"subject_line","displayName":"subject_line","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"perplexity_research","displayName":"perplexity_research","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1980,240],"id":"98db53bb-9be6-4bfa-b261-0ed979c13d24","name":"Create headers","credentials":{"googleSheetsOAuth2Api":{"id":"x0hNyWm5H4QES6uR","name":"ONECLICK - Google Sheets"}}},{"parameters":{"assignments":{"assignments":[{"id":"3b5de993-3bb5-4511-aebb-42673d7766b9","name":"id","value":"=","type":"string"},{"id":"51318b4d-a0a4-42c3-8109-9386cd4e5f87","name":"first_name","value":"=","type":"string"},{"id":"29ab6b2f-a815-4120-8253-f094b442a75c","name":"last_name","value":"=","type":"string"},{"id":"f3cdde9f-bca4-4dbd-a0dd-47ccdc12f7be","name":"name","value":"=","type":"string"},{"id":"6880c826-1d31-47a9-97d8-e33374d0286c","name":"title","value":"=","type":"string"},{"id":"9030819b-a6c2-47d6-ab0e-bf31e7147ec6","name":"linkedin_url","value":"=","type":"string"},{"id":"b6e23824-f806-4dbc-9dbf-d750f382f5b8","name":"email","value":"=","type":"string"},{"id":"c192650f-f7e0-4f35-98a5-629ac26ec750","name":"website_url","value":"=","type":"string"},{"id":"c6f39143-a720-4922-85bc-945e0d5caa8b","name":"organization_linkedin_url","value":"=","type":"string"},{"id":"4837bab2-4940-49da-97d7-bbfc343651bb","name":"organization_phone_number","value":"=","type":"string"},{"id":"c5c6148b-60a5-4aa2-9fee-b1278c10fcd6","name":"primary_domain","value":"=","type":"string"},{"id":"34fa59b2-549b-4690-b114-4a24018e529b","name":"raw_address","value":"=","type":"string"},{"id":"b60f2ab5-b665-4f98-b3fe-5b0f301691b1","name":"icebreaker","value":"","type":"string"},{"id":"d6c11964-ed2e-41e6-ae4f-137104344573","name":"linkedIn_message","value":"","type":"string"},{"id":"8d024f76-f8fd-493b-93f5-15888f987cc2","name":"subject_line","value":"","type":"string"},{"id":"4669499a-441e-4f67-9982-bff7509b8ad6","name":"perplexity_research","value":"","type":"string"}]},"includeOtherFields":true,"include":"selected","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1800,240],"id":"0bb90a6f-a365-4d1b-a6e6-8dbe91a1464a","name":"set headers"},{"parameters":{"assignments":{"assignments":[{"id":"51900cf3-387a-45c8-bcbe-a45758caf396","name":"spreadsheetId","value":"={{ $json.spreadsheetId }}","type":"string"},{"id":"61f71b90-b9c3-4b56-893b-ac422caa62ac","name":"spreadsheetUrl","value":"={{ $json.spreadsheetUrl }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1620,140],"id":"8f671eed-7d74-4756-8c97-e96321b869d8","name":"set spreadsheet ID"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[4340,360],"id":"2ae2c1ff-023e-4964-b897-baa5e3750994","name":"Merge1"},{"parameters":{"assignments":{"assignments":[{"id":"bd4a8a84-13e0-479f-b0b9-625b4af184ce","name":"output.Icebreaker","value":"={{ $json.output.Icebreaker }}","type":"string"},{"id":"1e0e2a0b-52cd-408d-865c-8f36f2f0c102","name":"output['Subject line']","value":"={{ $json.output['Subject line'] }}","type":"string"},{"id":"e1427887-6f40-4785-b70a-04bf6e31f1b7","name":"output['LinkedIn opener']","value":"={{ $json.output['LinkedIn opener'] }}","type":"string"},{"id":"dcaf143a-fc27-4ed9-b49d-2da4514ee4a2","name":"spreadsheetId","value":"={{ $json.spreadsheetId }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4580,360],"id":"392ec188-09a5-469a-9ca9-b55cb7670fda","name":"Edit Fields"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[5000,380],"id":"21c9ea13-69fc-400b-ac2d-e24e46d3c3e8","name":"Merge2"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Enrich with email","type":"main","index":0}]]},"Enrich with email":{"main":[[{"node":"If","type":"main","index":0}]]},"Set variables":{"main":[[{"node":"Research w-Perplexity","type":"main","index":0}]]},"Research w-Perplexity":{"main":[[{"node":"Ice breaker","type":"main","index":0}]]},"Ice breaker":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Ice breaker","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Ice breaker","type":"ai_outputParser","index":0}]]},"Randomizer":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Randomizer","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Set variables","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"On form submission":{"main":[[{"node":"Generate Search URL","type":"main","index":0}]]},"Run Apify Actor & Get Results":{"main":[[{"node":"set variables","type":"main","index":0}]]},"Generate Search URL":{"main":[[{"node":"Run Apify Actor & Get Results","type":"main","index":0}]]},"Find row":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Aggregate":{"main":[[{"node":"set data","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Create spreadsheet":{"main":[[{"node":"set spreadsheet ID","type":"main","index":0}]]},"set data":{"main":[[{"node":"Create spreadsheet","type":"main","index":0},{"node":"Wait2","type":"main","index":0}]]},"set variables":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Wait2":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Add leads to Sheet","type":"main","index":0}]]},"Add leads to Sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create headers":{"main":[[{"node":"Merge","type":"main","index":0}]]},"set headers":{"main":[[{"node":"Create headers","type":"main","index":0}]]},"set spreadsheet ID":{"main":[[{"node":"set headers","type":"main","index":0},{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Find row","type":"main","index":0},{"node":"Merge2","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Watch lead list":{"documentId":"19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE","sheetId":0,"lastRevision":1391,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=19bG7lIMS4S82x0Lrf7YYUMKX1yza9UAQ9qZp_3bswTE&revision=1391&exportFormat=xlsx"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8956155e-21d4-470b-9faf-9400bf46a2d1","triggerCount":3,"tags":[]}